<div class="row">
    <div class="col-md-12">
        <p>{{ article.prose|BBcode }}</p>
        {% if article.sidenotes %}
			<hr>
			<p>{{ article.sidenotes|BBcode }}</p>
        {% endif %}
        {{ article.footnotes|BBcode }}
	</div>
</div>

<style>
	.article-content {
		font-size: 1.5em;
		line-height: 1.8em;
	}
</style>
