.system-dungeonworld h1, h2, h3 {
  font-family:'Yanone Kaffeesatz',serif;
}

.system-dungeonworld h1 {
  font-size: 40px;
  font-variant: small-caps;
}

.system-dungeonworld h2 {
  font-size: 30px;
  font-variant: small-caps;
}

.system-dungeonworld h3 {
  font-size: 23px;
  font-weight: 200;
}

.system-dungeonworld body{
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
}

.system-dungeonworld .monster-box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 4px 0px;
  padding: 20px;
}

.system-dungeonworld .monster-table {
  font: serif;
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.system-dungeonworld .name {
    font-weight: bold;
    font-variant: small-caps;
    font-size: larger;
}

.system-dungeonworld .tags {
  font-style: italic;
  text-align: right;
  font-size: 12px;  
}

.system-dungeonworld .monster-damage {
  width: 60%;
  font-size: 14px;
}

.system-dungeonworld .monster-hp {
  width: 20%;
  font-size: 14px;
  text-align: center;
}

.system-dungeonworld .monster-armor {
  width: 20%;
  font-size: 14px;
  text-align: right;
}

.system-dungeonworld .damage-tags {
  font-style: italic;
  font-size: 12px;
}

.system-dungeonworld .special-qualities {
  font-size: 14px;
}