<div class='container-fluid sheet-cosmere'>
  <div class="row">
    <div class='col-12'>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>{{variables.name|default}}</div>
        <div class='card-body c'>
          Level {{variables.level|default}} {{variables.ancestry|default}} {{variables.paths|default}}
        </div>
      </div>
    </div>
  </div>
</div>