.container-fluid {
  --white: #ffffff;
  --varod: #ffffff;
  --varev : #dff3ff;
  --lblod: #cbe1ef;
  --lblev : #acc9e0;
  --c4 : #99bdde;
  --c5 : #85aedc;
  --c6 : #6b9ad7;
  --c7 : #4a7eca;
  --c8 : #295ba2;
  --darkblue : #093256;
  --f1 : Grenze;
  --f2 : IM Fell Great Primer SC;
  color: var(--darkblue) !important;
  background-color: var(--white) ;
  font-size: 20px !important;
  font-family: var(--f1) !important;
  letter-spacing: -0.05em;
  word-spacing: 0.1em;
  padding: 20px;}
 .logo {
  width: 100%}
 .table td,  .table th,  .table > tbody > tr > td {
  border: none}
 .table {
  width: 100%;
  border-spacing: 2px;
  margin-bottom: 0}
 .table td {
  padding: 2px;
  background-color: var(--white) !important}
 th {
  letter-spacing: -0.01em;
  word-spacing: 0.1em;}
 .form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: var(--f1) !important;
  color: var(--darkblue) !important;
  background-color: var(--white)}
 .card {
  background-color: var(--darkblue) ;
  margin: 5px;
  color: var(--darkblue) !important;
  border: 1px solid var(--darkblue) ;
  border-radius: 0}
 .card-header {
  color: var(--white) ;
  background-color: var(--darkblue) !important;
  font-family: var(--f2) !important;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  margin: 0px;
  margin-bottom: 2px;
  border: 1px solid var(--darkblue) ;
  border-bottom: 0}
 .card-body {
  color: var(--darkblue) !important;
  background-color: var(--white) !important;
  font-family: var(--f1) ;
  font-weight: 400;
  font-size: 20px;
  padding: 8px;
  margin: 0px;}
 .lbl,  .ilbl {
  font-weight: 800;
  letter-spacing: -0.01em;
  padding: 0px 3px;}
 .ilbl-shadow,  .lbl-shadow {
  margin-top: 2px}
 th.ilbl,  .lbl,  .ilbl {
  background-color: #BDA178 !important;
  padding-left: 10px;
  padding-right: 10px}
 .ilbl {
  padding-top: 10px}
 td.var,  td.ivar {
  padding-left: 10px}
 .var,  .ivar {
  padding: 0px 3px;
  color: var(--darkblue) !important;
  background-color: var(--white)}
 .ivar {
  padding: 10px}
 .lbl.ev,  .ilbl.ev {
  background-color: var(--lblev) !important;
  color: var(--darkblue) !important;}
 .lbl.od,  .ilbl.od {
  background-color: var(--lblod) !important;
  color: var(--darkblue) !important;}
 .var.ev,  .ivar.ev {
  background-color: var(--varev) !important;
  color: var(--darkblue) !important;}
 .var.od,  .ivar.od {
  background-color: var(--varod) !important;
  color: var(--darkblue) !important;}
 .pd2 {
  padding: 2px !important}
 .npd {
  padding: 0px !important}
 .c {
  text-align: center}
 .l {
  text-align: left}
 .r {
  text-align: right}
 .of {
  overflow: auto}
 .ofh {
  overflow: hidden}
 .small,  .small a {
  font-size: 18px}
 .attributes .card-body {
  text-align: center;
  padding: 0}
 .attributes .var {
  line-height: .8em;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  border: 2px solid var(--darkblue) ;
  text-align: center;
  background-color: #F0E8E3;
  overflow: hidden;
  margin: 10px auto;
  color: var(--darkblue) ;
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold}
 .attributes .var.ev.var-defense {
    border-radius: 50% 50% 49% 51% / 0% 0% 100% 100%}
 .data .var {
  text-align: center}
 .fa-square {
  padding: 0px 1px !important;}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a {
  font-size: 16px}
 input[required] {
  border: 2px solid #FF0000 !important}
 select.form-control {
  padding: 0px 2px}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0}
 input[type=number],  input[type=number]:focus {
  -moz-appearance: textfield;
  text-align: center}
 input.form-control,  select.form-control {
  background-color: var(--white) !important;
  border: 1px solid var(--darkblue)}
 .label-roller {
  font-size: 16px;
  background: var(--darkblue) !important;
  color: var(--white)}
 .var-talent,  .var-talent-desc {
  letter-spacing: -0.04em;
  word-spacing: 0.1em;}
 .shield {
    background: none !important;
    width: 100%;
    background-image: url(https://wa-cdn.nyc3.cdn.digitaloceanspaces.com/user-data/production/941edb9b-c7e3-4ec1-8ced-ff869ec44011/uploads/images/f4f9ed13aec4997c68942074863a0181.svg)}
 .btn-link,  .btn-link:hover { background: none; border:none; color: var(--darkblue)}
 ::-webkit-input-placeholder {
  opacity: .5;
  color: var(--darkblue)}
