<div class='container-fluid sheet-cosmere'>
  <div class="row">
    <div class='col-12 col-md-6'>
      <div class='card conditions' id='card-conditions'>
        <div class='card-header conditions'>Conditions</div>
        <div class='card-body of'>
          <div class='ivar od ivar-conditions'><div class='iContent'><textarea class='form-control ivar ivar-conditions' id='conditions' name='conditions' rows='3'>{{variables.conditions|default}}</textarea></div></div>
        </div>
      </div>
    </div>
    <div class='col-12 col-md-6'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Notes</div>
        <div class='card-body of'>
          <div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes' id='notes' name='notes' rows='3' >{{variables.notes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>