/* ===== */
/* FONTS */
/* ===== */

@font-face {
  font-family: Zeyada;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/zeyada/v7/11hAGpPTxVPUbgZzM2ys.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: PIrata;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/imfelldwpicasc/v7/0ybjGCAu5PfqkvtGVU15aBhXz3EUrnTm_xKL.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: UM;
  font-style: normal;
  font-weight: 400;
  src:url(https://fonts.gstatic.com/s/unifrakturmaguntia/v8/WWXPlieVYwiGNomYU-ciRLRvEmK7oaVemGZM.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ==== */
/* BODY */
/* ==== */

.page {
    background: RGB(235, 235, 235);
    background-image: url(https://worldanvil.com/uploads/images/17be5390e317a5b35003244a03afe225.png);
    box-shadow: 0px 0px 12px RGB(100, 100, 100);
    font-size: 110%;
    font-family: Pirata;
    color:  rgb(45, 37, 37);
} /* This is for changing the body of the entire site */

.presentation-interface {
    background: RGB(30, 30, 30);
    background-image: url(https://www.worldanvil.com/uploads/images/775f9ae2e1f4cdacc9fe4b45b6e7a72f.jpg);
} /* This is for changing the background of the entire site. */

/* ======== */
/* HEADINGS */
/* ======== */

.page h1 {
    font-size: 80px;
    text-align: center;
    font-family: UM;
    background: rgb(48, 15, 21);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} /* This is the title text. */

.user-css h1,
.user-css-extended h1 {
    font-size: 80px;
    text-align: center;
    font-family: UM;
    color: rgb(48, 15, 21);
} /* This is the Title Text */

.user-css h2,
.user-css-extended h2 {
    font-family: UM;
    color: rgb(48, 15, 21);
} /* This is H1 */

.user-css h3,
.user-css-extended h3 {
    font-family: UM;
    color: rgb(89, 19, 32);
} /* This is H2 */


.user-css h4,
.user-css-extended h4 {
    font-family: UM;
    text-transform: none;
    color: rgb(89, 19, 32);
} /* This is H3 */

.user-css h5,
.user-css-extended h5 {
    font-family: UM;
    text-transform: none;
    color: rgb(89, 19, 32);
} /* This is H4 */ 

/* ==== */
/* TEXT */
/* ==== */

.page p {
    font-family: Pirata;
    color: rgb(45, 37, 37);
} /* This is the normal text. */

.page dt {
    font-family: Pirata;
    color: rgb(45, 37, 37);
} /* This is the normal table text. */

.page b {
    font-family: Pirata;
    color: rgb(45, 37, 37);
} /* This is the bold text. */

.page dd {
    font-family: Pirata;
    color: rgb(45, 37, 37);
} /* This is the bold table text. */

.page a {
    font-family: Pirata;
    color: rgb(62, 62, 104);
} /* This is the link text. */

.page a:hover {
    font-family: Pirata;
    color: rgb(25, 25, 51);
	text-decoration: none;
	border-bottom: 1px solid RGB(90, 100, 110);
} /* This is the link text when hovering over it. */

.page .text-danger {
    font-family: Pirata;
    color: rgb(45, 37, 37);
} /* This is the very bottom text. */

/* ========== */
/* SIDE PANEL */
/* ========== */

.user-css .panel {
    background: RGBA(161, 147, 81, 0.2);
    border-left: 0px ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
} /* This is the sidebar for articles */

/* ======== */
/* METADATA */
/* ======== */

.user-css-extended .nav-tabs li.active a{
    background-color: RGB(131, 117, 51);
}

/* ============== */
/* COMMENT BUTTON */
/* ============== */

.page .btn-primary {
  color: #fff;
  background-color: RGB(131, 117, 51);
  border-color: RGB(0, 0, 0);
} /* This is the comment button. */

.page .btn-primary:focus,
.page .btn-primary.focus {
  color: #fff;
  background-color: RGB(141, 127, 61);
  border-color: RGB(0, 0, 0);
} /* This is for clicking on the comment button. */

.page .btn-primary:hover {
  color: #fff;
  background-color: RGB(141, 127, 61);
  border-color: RGB(0, 0, 0);
} /* This is for hovering over the comment button. */

/* ========= */
/* FORMATING */
/* ========= */
 
.user-css hr {
    border-color: RGB(181, 167, 101);
} /* This is the HR for articles. */
 
.user-css blockquote {
    background: RGBA(161, 147, 81, 0.2);
    padding: 20px;
    margin: 10px;
    border-left: 10px RGB(181, 167, 101) solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.6em;
    line-height: 0.8em;
    font-size: 30px;
    font-style: italic;
    font-family: Zeyada;
    color: RGB(100, 100, 100);
} /* This is the Quote box. */

.user-css .quote-author {
    display: block;
    font-size: 14px;
    font-family: Pirata;
    font-style: normal;
    color: RGB(100, 100, 100);
} /* This is the Author for both the Quote Box and Main Page. */

/* =========== */
/* BACKTOWORLD */
/* =========== */
 
.user-css div .backtoworld a {
    background: RGB(181, 167, 101);
    font-family: Pirata;
    font-size: 12px;
    color: RGB(235, 235, 235);
    box-shadow: 2px 1px 1px RGB(0, 0, 0);
} /* This is the button to go back to the Main Page. */

.user-css div .backtoworld a:hover {
    background-color: RGB(151, 137, 71);
    border: none;
} /* This is the button to go back to the Main Page while hovering over it. */

/* ========= */
/* NAV STRIP */
/* ========= */

.user-css .nav-strip {
    padding:10px;
    background-color: RGB(181, 167, 101);
} /* This is the long to go back to the previous section. */

.user-css .nav-strip:hover {
    background-color: RGB(151, 137, 71);
} /* This is the long button to go back to the previous section while hovering over it. */

.user-css .nav-strip a {
    font-family: Pirata;
    font-size: 12px;
    color: RGB(235, 235, 235);    
} /* This is the text color on the long button to go back to the previous section. */

.user-css .nav-strip a:hover {
    border: none;
} /* This simplifies the text on the long button to go back to the previous section. */

/* ============ */
/* MENU CONTROL */
/* ============ */

.user-css .menu-control {
    height: 50px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: RGBA(90, 90, 90, 0.7);
    border-left: 1px RGB(60, 60, 60) solid;
    border-right: 1px RGB(60, 60, 60) solid;
    border-bottom: 2px RGB(60, 60, 60) solid;
} /* This is menu button, minus the image. */


/* ======= */
/* ARTICLE PANEL */
/* ======= */

.user-css .article-panel {
    padding: 10px;
    background: RGBA(161, 147, 81, 0.2);
    margin-bottom: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border-radius: 0px;
} /* This is the Article Boxes found on categories. */

.user-css .article-panel img {
    border-radius: 0px;
} /* This is just to make the Article Boxes not round. */

/* ========== */
/* BOOK COVER */
/* ========== */

.user-css .bookcover a .booktitle {
    background-color: RGBA(230, 230, 230, 0.9);
    color: RGBA(60, 60, 60, 0.9);
    border-right: 8px RGB(30, 30, 30) solid;
    transition: background-color 0.4s,color 0.4s, border-right 0.4s;
} /* This is the title box over books. */

.user-css .bookcover a:hover .booktitle {
    background-color: RGBA(151, 137, 71, 0.9);
    color: RGBA(230, 230, 230, 0.9);
    border-right: 8px RGB(181, 167, 101) solid;
} /* This is the title box over books while hovering over it. */

.user-css .bookcover a img {
    opacity: 1;
    transition: opacity 0.4s;
} /* This is the image for books. */

.user-css .bookcover a:hover img {
    opacity: 0.35;
} /* This is the image for books while hovering over it. */

/* ======= */
/* MAP BOX */
/* ======= */

.user-css .map-box {
    padding: 10px;
    background: RGBA(161, 147, 81, 0.2);
    margin-bottom: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border-radius: 0px;
} /* This is the Map Boxes found on the site. */ 

/* ========== */
/* SEARCH BAR */
/* ========== */

/* THIS STUFF IS COMPLICATED IF YOU HAVE QUESTIONS, ASK ONERIWIEN. */

.user-css .search-form .typeahead-input {
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: rgba(190,190,190,0.7);
    background-image: none;
    border: 1px solid;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.user-css .typeahead  li .text-muted {
	color: #555;
}

.user-css .typeahead  li.active a {
	background: RGB(211, 187, 131);
	color: RGB(230, 230, 230);
}

.user-css .typeahead  li.active a {
	background: RGB(211, 187, 131);
	color: RGB(230, 230, 230);
}

/* ======== */
/* TIMELINE */
/* ======== */
/* This section is hard to explain. */

.page-timeline h1 {
    text-transform: none;
    font-size: 50px;
    font-family: UM;
    background: -webkit-linear-gradient(RGB(171, 157, 91), RGB(161, 147, 81), RGB(141, 127, 61), RGB(131, 117, 51), RGB(141, 127, 61));
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} /* This is the Title and Era text for Timelines. */

.timeline li .timeline-panel {
    text-transform: none;
    border: none;
    border-radius: 0px;
    background: RGBA(120, 120, 120, 0.2);
} /* This it the timeline boxes */

.timeline .milestone {
    text-transform: none;
    background: RGB(190, 190, 190);
    color: RGB(90, 90, 90);
} /* This is for the milestones box. */

.timeline .milestone p {
    text-transform: none;
    padding-top: 3px;
    color: RGB(90, 90, 90);
} /* This is for the milestones text. */

.timeline .milestone small {
    text-transform: none;
    color: RGB(90, 90, 90);
} /* This is for the milestones small text. */

.timeline .milestone h3 {
    text-transform: none;
    color: RGB(90, 90, 90);
} /* This is for H2. */

.timeline:before {
    background-color: RGB(70, 70, 70);
} /* This is the line that goes down the timelines. */

.timeline li .tl-circ {
    border: 3px solid RGB(70, 70, 70);
} /* This is the small square boxes on the line that goes down the timeline. */

.user-css .article-panel h5, .user-css .timeline h4, .user-css-extended .timeline h4 {
  text-transform: none;
}
/* ====================== */
/* TIMELINE SQUARE COLORS */
/* ====================== */

.timeline .major .timeline-panel{
  border-top: 8px RGB(120, 40, 40) solid;
} /* RED COLOR */

.timeline .major .header-icon {
  border: 8px RGB(120, 40, 40) solid;
  color: RGB(120, 40, 40);
} /* RED COLOR */

.timeline .important .timeline-panel {
  border-top: 8px RGB(200, 140, 50) solid;
} /* YELLOW COLOR */

.timeline .important .header-icon {
  border: 8px RGB(200, 140, 50) solid;
  color: RGB(200, 140, 50);
} /* YELLOW COLOR */

.timeline .minor .timeline-panel {
  border-top: 8px RGB(30, 120, 30) solid;
} /* GREEN COLOR */

.timeline .minor .header-icon {
  border: 8px RGB(30, 120, 30) solid;
  color: RGB(30, 120, 30);
} /* GREEN COLOR */

.timeline .trivial .timeline-panel{
  border-top: 8px RGB(40, 120, 130) solid;
} /* TEAL COLOR */

.timeline .trivial .header-icon {
  border: 8px RGB(40, 120, 130) solid;
  color: RGB(40, 120, 130);
} /* TEAL COLOR */

/* ============ */
/* TIMELINE FIX */
/* ============ */

.user-css .timeline li:nth-child(odd) .header-icon
{
    left: -55px;
}

.user-css .timeline li:nth-child(even) .header-icon
{
    right: -55px;
}

.user-css .milestone .header-icon
{
    right: auto;
    left: calc(50% - 40px) !important;
}