
{% macro printWodStat(score, max) %}
    {% if score is defined %}
        {% for i in range(0,max) %}
            {% if score >= i %}
                <span class="full-dot"></span>
            {% else %}  
               <span class="empty-dot"></span>
            {% endif %}                 
        {% endfor %}                 
    {% endif %}   
{% endmacro %}

{% macro printWodNamedStats (stringtable, max) %}
    {% if stringtable is defined %}
        {% set stringTab = string|split(',') %} 
        {% for string in stringTab %}
            <div class="row">
            {% if string is defined %}
                {% set valueTab = string|split('|') %} 
                <div class="col-md-6">{{ valueTab[0] }}</div>
                <div class="col-md-6">
                    {% set score = valueTab[1]|number_format %}
                    {% for i in range(0,max) %}
                        {% if score >= i %}
                            <span class="full-dot"></span>
                        {% else %}  
                        <span class="empty-dot"></span>
                        {% endif %}                 
                    {% endfor %}                 
                </div>
            {% endif %}
            </div>
        {% endfor %}S
    {% endif %}   
{% endmacro %}