@font-face {
    font-family: PT Sans Narrow; font-style: normal; font-weight: 400; src: url(https://worldanvil-static.sfo2.cdn.digitaloceanspaces.com/fonts/PTSansNarrow-Regular.ttf)
}
@font-face {
    font-family: IM Fell Great Primer SC;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/imfellgreatprimersc/v6/A313vRj97hMMGFjt6rgSJtRg-ciw1Y27JeXb2Zv4lZQ.ttf)
}
@font-face {
    font-family: Grenze;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/grenze/v1/O4ZTFGb7hR12BxqH-GIm.woff2)
}