
                /*
============================================================================

Opulent CSS THEME
by TJ Trewin / @SneakyTJ#7507 / https://www.worldanvil.com/author/tjtrewin
- free to use and modify

============================================================================
*/

/* Fonts */

/* latin */
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: Averia Serif Libre;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/averiaseriflibre/v7/neIWzD2ms4wxr6GvjeD0X88SHPyX2xYOoguP.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: Averia Serif Libre;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/averiaseriflibre/v7/neIVzD2ms4wxr6GvjeD0X88SHPyX2xYGGS6axq0r.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: Vast Shadow;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vastshadow/v7/pe0qMImKOZ1V62ZwbVY9dce9I9s.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: Stint Ultra Expanded;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/stintultraexpanded/v5/CSRg4yNNh-GbW3o3JkwoDcdvMKMf0oBAd3qvCzU.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: Metamorphous;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/metamorphous/v7/Wnz8HA03aAXcC39ZEX5y133EOyqs.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: Caveat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveat/v4/Wnz6HAc5bAfYB2Q7ZjYY.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* Page */

.page { 
	background: #312b36;
    color:#a6a49c;
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
}

.presentation-interface {
    background: #181a24;
}

.user-css .panel,
.user-css-extended .panel {
    background: #59363f;
    margin-bottom: 20px;
    border: 0px solid #ddd;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05) ;
    box-shadow: 0 0px 0px rgba(0,0,0,.5) ;
} 


/* Headers */

.page .world-title {
    font-size: 50px;
	font-family: Vast Shadow;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#a67132, #d99d57, #a67132, #804033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #a67132;
    margin-top: 40px;
    padding-bottom: 5px;
}

.page h1 {
    font-size: 40px;
	font-family: Vast Shadow;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#a67132, #d99d57, #a67132, #804033);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #a67132;
    margin-top: 40px;
    padding-bottom: 5px;
}

.page h2 {
    background: -webkit-linear-gradient(#d99d57, #9b5d53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d99d57;
	font-family: Vast Shadow;
    font-size: 25px;
    text-transform: capitalize;
    border-bottom: 0px solid;
	padding-top: 5px;
    padding-bottom: 1px;
}

    .page h2, blockquote, img {
        -webkit-column-span: all;
        column-span: all;
    }

.page h3 {
    color:#d99d57;
    font-family: Stint Ultra Expanded;
    font-size: 22px;
    text-transform: capitalize;
    border-bottom: 1px solid;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-bottom: 10px
}

    .page h3.world-currentDate{
        font-family: Metamorphous;
        font-style: normal;
        color: #9b5d53;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 0px solid;
    }
.page h4 {
    color:#9b5d53;
	font-family: Averia Serif Libre;
	font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page h5 {
    color:#9b5d53;
	font-family: Averia Serif Libre;
	font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page h6 {
    color:#9b5d53;
	font-family: Averia Serif Libre;
	font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/* Text */

.page p {
    color:#a6a49c;
	font-family: Open Sans;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
}

.page a, a:focus {
    color: #a6324a;
}

.page a:hover {
    color: #d95772;
}

.page hr {
    border-color: #804033;
}

.page blockquote {
    background: #59363f;
    padding: 20px;
    margin: 10px;
    border-left: 10px #d99d57 solid;
	font-family: Caveat;
    font-size: 22px;
    line-height: 1.15em;
}

.user-css blockquote .author {
    display: block;
    font-size: 15px;
	font-family: Metamorphous;
    font-style: normal;
    color: #d99d57;
    padding-top: 15px;
}  

.page .author {
    display: block;
    font-size: 28px;
	font-family: Caveat;
    font-style: normal;
}

.page .text-danger{
	color: #a6324a;
}
            
.page pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #a6a49c;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #59363f;
    border: 0px solid #ccc;
    border-radius: 4px;
}

.page .dropcap{
  font-family: caveat;
}

/* Nav Strip */

.user-css .nav-strip {
    padding:10px;
    background: #a6324a ;
}

.user-css .nav-strip:hover {
    background: #a6324a;
}

.user-css .nav-strip a {
    font-family: Stint Ultra Expanded;
    font-size: 13px;
	text-transform: uppercase;
    color: #fffce5;
}

.user-css .nav-strip:hover a{
    border: none;
    color: #f3e78b;
}

/* Tabs */ 

.user-css-extended .nav-tabs li a{
    font-family: Vast Shadow;
	text-transform: uppercase;
    background: #3f3659;
    box-shadow: inset 0px -7px 11px 0px rgba(0, 0, 0, 0.19);
	color: #d99d57;
    
}

.user-css-extended .nav-tabs li a:hover{
	background:#a6324a;
    box-shadow: inset 0px -7px 11px 0px rgba(0, 0, 0, 0.19);
	border: 1px #a6324a solid;
	color:#f3e78b;
}

.user-css-extended .nav-tabs li.active a{
	background-color: #333a80;
	box-shadow: 0px 0px 0px black;
	border: 1px #333a80 solid;
}

.user-css-extended .nav-tabs {
    border-bottom: 0px solid #ddd;
}

.user-css ul.character-menu {
        border: 0px;
}
.user-css ul.character-menu li a {
    font-family: Vast Shadow;
    font-size: 12px;
	text-transform: uppercase;
    background: #3f3659;
    box-shadow: inset 0px -7px 11px 0px rgba(0, 0, 0, 0.19);
	color: #d99d57;
    
}

.user-css ul.character-menu li a:hover {
    font-family: Vast Shadow;
    font-size: 12px;
	text-transform: uppercase;
	background:#a6324a;
    box-shadow: inset 0px -7px 11px 0px rgba(0, 0, 0, 0.19);
	border: 1px #a6324a solid;
	color:#f3e78b;
    
}

.user-css ul.character-menu li.active a {
	background-color: #333a80;
	box-shadow: 0px 0px 0px black;
	border: 1px #333a80 solid;
}



/* Back To World and Menu Control */

.page div .backtoworld a {
	background:#a6324a;
	color:#fffce5;
    font-family: Stint Ultra Expanded;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.5);
}

.page div .backtoworld a:hover {
	background:#a6324a;
	color:#f3e78b;
    font-family: Stint Ultra Expanded;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.5);
}

.page .menu-control {
	height: 50px;
	width: 50px;
	right: 30px;
	top: 0px;
	color: #fffce5;
	background: #a6324a;
	box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.5);
}

.page-map div .backtoworld a {
	left: -30px;
	background:#a6324a;
	color:#fffce5;
    font-family: Stint Ultra Expanded;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 1px 1px 3px rgba(68, 68, 68, 0.5);
}

/* Search */

.page .search-form .form-group {
    position: relative;
}

.page .search-form button {
    position: relative;
    top:  0px;
    right: 38px;
}

.page .search-form .typeahead-input {
	width: 200px;
	height: 25px;
	padding: 2px 5px;
	font-family: Averia Serif Libre;
    color: #a67132;
	font-size: 16px;
	text-transform: capitalize;
	background-color: #59363f;
    border: 0px;
	background-image: none;
	border-radius: 5px;
	box-shadow: 0px 0px 0px #444444;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.page .typeahead  li .text-muted {
	color: #a6a49c;
}

.page .typeahead  li.active a {
	background: #804033;
	color: #a6a49c;
}

.page .search-form button {
    color: #a67132;
    position: relative;
    top: 0px;
    right: 38px;
}

.page .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #59363f;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  
}

.page .dropdown-item{
        color: #d9d7cc;
}

/* Article Boxes */

.page .article-panel {
	padding: 10px;
	background-color: #43444d;
	margin-bottom: 15px;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border: 0px;
	border-radius: 0px;
}

.page .article-panel .heading {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #d99d57;
    text-align: center;
    border-bottom: 1px solid;
}

.page .article-panel img{
	border-radius: 0px 0px 0px 0px;
}
  
/* Map Box */

.map-box {
  padding: 0px;
  background: transparent;
  margin-bottom: 20px;
}

.map-box small {
    font-size: 100%;
}

.map-box img{
    padding-bottom: 5px;
}
  
/* Organization Relation Score */

.page .relation{
    border-top: 0px;
}

.page .relation .relationScore {
    border: 0px #312b36 solid;
    background: #312b36;
}

.page .relation .text-danger {
    color: #a6324a;
}

.page .relation .text-warning {
    color: #d99d57;
}

.page .relation .text-success {
    color: #338052;
}

/* Book Cover */

.page .bookcover {
    margin: 10px;
    display: inline-block;
    width: 300px;
    text-align: center;
	color: #43444d;
    position: relative;
    height: 400px;
    background: transparent;
}

.page .bookcover .excerpt {
    display: none;
}

.page .bookcover a:hover img {
    opacity: 0.10;
}

.page .bookcover a .booktitle {
    background-color: #43444d;
    color: #d99d57;
	font-family: Vast Shadow;
	font-size: 15px;
	text-transform: uppercase;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
    
.page .bookcover a:hover .booktitle {
    background-color: #a6324a;
    color: #fffce5;
	font-family: Vast Shadow;
	font-size: 15px;
	text-transform: uppercase;
}

.page .bookcover a:hover .excerpt {
    display: block;
    position: absolute;
    top: 40%;
    width: 200px;
    left: 50px;
    color: #d95772;
    text-align: center;
}
            
/* Followers */

.user-css .followers-list a {
    border-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.user-css .followers-list img {
    border-radius: 0px;
}

/*Comment Box */
.comment-box {

    border: 0px #bdb191 solid;
    background: rgba(0, 0, 0, 0.1);

}

.page .comment-form textarea {

    background: rgba(255, 255, 255, 0.1);
	  border: 0px;
	color: #a6a49c;

}

.page .form-control:focus {
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 8px rgba(166,50,74,1);
}

.page .form-control {
	background: rgba(255, 255, 255, 0.1);
	border: 0px;
}

.page .comment-box .comment-box-author {
    font-family: Caveat;  
	  font-size: 22px;
    font-weight: bold;
}

.page .btn-success {
    background-color: #338052 !important;
    border: 1px solid #338052 !important;
    color: #2e2237 !important;
}

.page .btn-danger {
    background-color: #a6324a !important;
    border: 1px solid #a6324a !important;
    color: #2e2237 !important;
}

.page .btn-primary {    
	  background: -webkit-linear-gradient(#a67132, #d99d57, #a67132, #804033);
    background-color: #a67132 !important;
    border: 0px solid #a67132 !important;
	  font-family: Averia Serif Libre;
	  font-weight: 700;
    color: #59363f !important;
}

.page .btn-primary:hover {    
	  background: -webkit-linear-gradient(#804033, #a67132, #804033, #59363f);
    background-color: #a67132 !important;
    border: 0px solid #a67132 !important;
	  font-family: Averia Serif Libre;
	  font-weight: 700;
    color: #d99d57 !important;
}

.page .img-circle {

    border-radius: 0px;
}


/* Timelines */


.timeline li .timeline-panel {
    border: none;
    border-radius: 0px;
    background: #3d3940;
} /* This it the timeline boxes */

.timeline .milestone {
    background: #3d3940;
} /* This is for the milestones box. */

.timeline .milestone p {
    padding-top: 3px;
} /* This is for the milestones text. */

.timeline:before {
    background-color: #d99d57;
} /* This is the line that goes down the timelines. */

.timeline li .tl-circ {
    border: 3px solid #d99d57;
    background: #312b36;
} /* This is the small square boxes on the line that goes down the timeline. */

/* Timeline Colours */

.timeline .timeline-entry-milestone {
    border: 8px #d99d57 solid;
 }

.timeline .timeline-entry-milestone .header-icon {
    border: 8px #d99d57 solid;
    color: #d99d57;
    background-color: #312b36;
}

.timeline .major .timeline-panel{
    border-top: 8px #a6324a solid;
} /* RED COLOR */

.timeline .major .header-icon {
    border: 8px #a6324a solid;
    color: #a6324a;
    background-color: #312b36;
} /* RED COLOR */

.timeline .important .timeline-panel {
    border-top: 8px #d99d57 solid;
} /* YELLOW COLOR */

.timeline .important .header-icon {
    border: 8px #d99d57 solid;
    color: #d99d57;
    background-color: #312b36;
} /* YELLOW COLOR */

.timeline .minor .timeline-panel {
    border-top: 8px #338052 solid;
} /* GREEN COLOR */

.timeline .minor .header-icon {
    border: 8px #338052 solid;
    color: #338052;
    background-color: #312b36;
} /* GREEN COLOR */

.timeline .trivial .timeline-panel{
    border-top: 8px #535b9b solid;
} /* TEAL COLOR */

.timeline .trivial .header-icon {
    border: 8px #535b9b solid;
    color: #535b9b;
    background-color: #312b36;
} /* TEAL COLOR */

.timeline .no-importance .timeline-panel{
    border-top: 8px #9b5d53 solid;
}

.timeline .no-importance .header-icon {
    border: 8px #9b5d53 solid;
    color: #9b5d53;
    background-color: #312b36;
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 32px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #3d3940;
  border-right: 0 solid #3d3940;
  border-bottom: 15px solid transparent;
  content: &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot; &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot;;
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 33px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #3d3940;
  border-right: 0 solid #3d3940;
  border-bottom: 14px solid transparent;
  content: &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot; &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;quot;;
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.page .alert-warning {
    color: #a6a49c;
    background-color: #59363f;
    border: 0px;
    border-radius: 0px;
}

/* RPG Stuff */

.page .campaign-panel .details {
    background: rgb(30, 30, 30, 0.8);
    color: #fff;
    padding: 15px;
    margin-top: 35px;
}

.page .campaign-panel .btn-primary {
    color: #d99d57;
    background-color: #43444d;
    border: 0px;
}

.page div.campaign-protagonists a {
    color: #a6324a;
    font-family: Caveat;
    font-size: 24px;
}

.page div.character-portrait-data small {
    color: #a6a49c;
    font-family: Open Sans;
    font-size: 14px;
}

.page div.character-portrait-data h5 {
    color: #d99d57;
}

.page div.journal- {
    padding: 20px;
    background: rgb(30, 30, 30, 0.8);
    border-bottom: 3px #804033 solid;
    margin-bottom: 30px;
}

.page div.campaign-protagonists {
    padding: 25px;
    background: #2e2237;
    margin-left: -25px;
    margin-right: -25px;
}

.page div.session-panel {
    padding: 20px;
    background: #3f3659;
    margin-bottom: 20px;
    border: 0px #000 solid;
    border-radius: 5px;
}

.page div.session-panel h5 {
    font-family: Caveat;
    font-size: 25px;
    color: #d99d57;
    margin-bottom: 15px;
}

.page div.session-panel .session-date-indicator {
    border-radius: 10px;
    background-color: #181a24;
    padding: 5px 10px;
}

.page div.session-panel .img-avatar {
    border: 0px #000 solid;
    margin-right: 5px;
}

.user-css .table-striped td
{
    padding: 4px 8px 4px 8px;
    text-align: justify;
    line-height: 1em;
	vertical-align: middle;
	border-bottom: 1px #463d4d solid;
    border-top: 1px #463d4d solid;
	background: #5d5266;
}

.user-css .table-striped th
{
    text-align: center;
	background-color: #a6324a;
	color: #2e2237;
	border: 1px #802638 solid;
}


.user-css .table-striped tr ~ tr th{
	background-color: #8c2a3e;
    vertical-align: middle;
}

.user-css .table-striped:nth-of-type(even){
    	background-color: #463d4d !important;;
}

.user-css .table tr:nth-of-type(odd) {
    background-color: #463d4d;
}

.user-css .table-striped:nth-of-type(odd){
    	background-color: #5d5266;
}


.system-dnd5e.statblock {
    background: #524759;
    color: #a6a49c;
    border: 0px solid #760809;
    padding: 20px;
    position: relative;
}

.system-dnd5e h1{
    background: -webkit-linear-gradient(#d99d57, #9b5d53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #d99d57;
}

.page .system-dnd5e {
    background: #524759;
    border-radius: 8px;
    border: 0px;
}


.system-dnd5e .contentContainer {
    border: 0px black solid;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #463d4d;
}

.system-dnd5e hr.hr-dark {
    border: 1px #804033 solid;
}

.label-roller {
    background-color: #d99d57;
    color: #59363f;
    padding: 5px;
    cursor: pointer;
}

.system-dnd5e .inputContent {
    font-weight: bold;
	font-family: Open Sans;
    font-size: 18px;
    padding-left: 5px;
    color: #a6a49c;
}

.system-dnd5e.statblock h1 {
    font-family: Caveat;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 0px;
}

.notifyjs-bootstrap-roller-alert {
    border: 1px #d99d57 solid;
    background-color: #d99d57 !important;
    padding: 5px !important;
    color: #59363f;
    text-shadow: none !important;
}

.system-dnd5e .statblock-source {
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
    color: #807e78;
    position: absolute;
    top: 20px;
    right: 20px;
}

.system-dnd5e .table-striped td
{
    padding: 4px 8px 4px 8px;
    text-align: justify;
    line-height: 1em;
	vertical-align: middle;
	border-bottom: 1px #463d4d solid;
    border-top: 1px #463d4d solid;
	background: #5d5266;
}

.system-dnd5e .table-striped th
{
    text-align: center;
	background-color: #a6324a;
	color: #2e2237;
	border: 1px #802638 solid;
}


.system-dnd5e .table-striped tr ~ tr th{
	background-color: #8c2a3e;
    vertical-align: middle;
}

.system-dnd5e .table-striped:nth-of-type(even){
    	background-color: #463d4d !important;;
}

.system-dnd5e .table tr:nth-of-type(odd) {
    background-color: #463d4d;
}

.system-dnd5e .table-striped:nth-of-type(odd){
    	background-color: #5d5266;
}

/* Spoiler */

.page .spoiler-content{
  background: rgb(0, 0, 0,0.3);
  border: 0px;
}

/* Tags */
.page .label-default {
    background-color: #2e2237;
}

/* Secret Low*/
.page .panel-heading{
    background: #463d4d;
    border: 0px;
}
            
