 * {
  border: 0;
  position: relative;
  letter-spacing: -0.04em}
 .sheet-tales-of-the-old-west-sheet,  .sheet-tales-of-the-old-west-tracker {
  -webkit-box-decoration-break: slice;
  -o-box-decoration-break: slice;
  box-decoration-break: slice;
  color: #222 !important;
  background: url(/i/5530250/render)}
 .hdr,  .lbl,  .var { font-family: PT Sans Narrow}
 .card { background: none; border: 1px solid #222; margin-bottom:1em; padding:0px}
 .card-body { padding: 0px; background: none; color: #222 !important; -webkit-text-fill-color: #222}
 .c { text-align: center; align-content: center}
 .r { text-align: right}
 .l { text-align: left}
 .of { overflow: hidden}
 .od { background-color:#81281C30!important}
 .ev { background-color:#81281C05!important}
 .hdr { font-size:24px; text-align: center; background-color: #00000030}
 .lbl,  .ilbl { font-size: 20px; padding: 0px 5px; font-weight:800; background-color: #00000030}
 .var,  .ivar { font-size: 20px; padding: 0px 5px}
 .lbl.att,  .ilbl.att { text-align: center; text-transform: uppercase; font-size: 20px; color: #fff; -webkit-text-fill-color: #fff; background-color: #222}
 .attv { font-size:28px; font-weight: 800}
 .txt { font-size: 16px}
 input[required] { border: 2px solid red!important}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 h1,  .small,  .small a,  .artist-credits,  .artist-credits a { color: #404040; -webkit-text-fill-color: #222}
 ::-webkit-input-placeholder { opacity: .5}
 .form-control { border: 1px solid #222; color: #222}
 .form-control,  .form-control:focus { font-size: 16px!important; padding:2px 2px 2px 4px; color:#222; background-color :#ffffff60 !important}
 select.form-control,  select.form-control option { height: 2.45rem!important; width:150px; margin: 1px 1px 1px 1px; padding:0px 2px 0px 2px; color:#404040; background-color: #ffffff30 !important}
 input,  textarea { caret-color: #404040 !important}
 .artist-credits,  .credit-artist-name { text-align: center; font-size:10px !important}
 table { width: 100%}
 .var-notes,  .var-background,  .var-gear { border: 1px solid #222}
 .minimize.btn-link { background: none; color: #222}
 .card.tracker { margin-top: 6px; border: none}
 .sheet-tales-of-the-old-west-tracker .ilbl,  .sheet-tales-of-the-old-west-tracker .ivar { font-size: 14px !important}
 .sheet-tales-of-the-old-west-tracker .form-control { margin-bottom: 0px; height: 20px}
 .cb { width: 15px; display: inline}