/*

,__ __              _             _         , _                _              _   
 /|  |  |          \_|_)  o        | |       /|/ \              | |            | |  
  |  |  |            |      _|__|_ | |  _     |   |   __ _|_  _ | |   __   __  | |  
  |  |  |  |   |    _|    |  |  |  |/  |/     |   |  /  \_|  |/ |/ \_/  \_/  \_|/_) 
  |  |  |_/ \_/|/  (/\___/|_/|_/|_/|__/|__/   |   |_/\__/ |_/|__/\_/ \__/ \__/ | \_/
              /|                                                                    
              \|                                                                    

My Little Notebook; A theme by Oneriwien (Damion Otter)*/
/* ====== */
/* GLOBAL */
/* ====== */

* {
    --heading-font: CinzelDecorative;
    --primary-font: Lora;
    --secondary-font: Times;
    
    --primary-color: RGB(20, 20, 20);
    --secondary-color: RGB(150, 150, 150);
    --highlight-color: RGB(160, 160, 160);
    
    --shadow-color: RGBA(150, 150, 150, 0.9);
    --lightshadow-color: RGBA(180, 180, 180, 0.9);
}

/* ===== */
/* FONTS */
/* ===== */

@font-face {
  font-family: CinzelDecorative;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cinzeldecorative/v6/daaCSScvJGqLYhG8nNt8KPPswUAPni7TTMw.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/lora/v12/4vqKRIwnQQGUQQh-PnvdMA.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* ==== */
/* BODY */
/* ==== */

.page {
    background: RGB(240, 240, 240);
    background-image: none;
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.presentation-interface {
    background: RGB(30, 30, 30);
    background-image: url(https://www.worldanvil.com/uploads/images/5e9fc7284f733e2c68de0455e0d65027.jpg);
    color: var(--primary-color);
}

/* ======== */
/* HEADINGS */
/* ======== */

.user-css h1, .user-css h2, .user-css h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.user-css h4, .user-css h5 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.user-css-extended h1, .user-css-extended h2, .user-css-extended h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.user-css-extended h4, .user-css-extended h5 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

/* ==== */
/* TEXT */
/* ==== */

.user-css a, .user-css a:focus,
.user-css-extended a, .user-css-extended a:focus {
    color: var(--secondary-color);
    text-shadow: 0px 0px 0px var(--shadow-color);
    transition: color 0.4s, text-shadow 0.4s;
}

.user-css a:hover,
.user-css-extended a:hover {
    color: var(--highlight-color);
	text-decoration: none;
    text-shadow: 3px 3px 3px var(--lightshadow-color);
}

.user-css .text-danger,
.user-css-extended .text-danger {
    color: var(--secondary-color);
}

/* ========= */
/* FORMATING */
/* ========= */
 
.user-css hr, .user-css-extended hr {
    border-color: var(--primary-color);
}
 
.user-css blockquote {
    background: RGBA(160, 160, 160, 0.1);
    border-left: 8px var(--primary-color) solid;
    font-family: var(--secondary-font);
    color: RGB(140, 140, 140);
}

.user-css blockquote a, .user-css blockquote a:hover, .user-css blockquote b {
    font-family: var(--secondary-font);
}

.user-css blockquote .author {
    display: block;
    font-size: 14px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-style: normal;
}

/* ======= */
/* SECRETS */
/* ======= */

.user-css-secret {
    padding: 0px;
    background-color: transparent;
}

/* ============ */
/* MENU CONTROL */
/* ============ */

.user-css-extended .menu-control,
.user-css .menu-control {
    background: url(https://worldanvil.com/uploads/images/ef9ab8177d6a0f8d94110f0a07b423be.png);
    background-size: cover;
}

/* =========== */
/* BACKTOWORLD */
/* =========== */
 
.user-css div .backtoworld a {
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 1px 1px 1px var(--lightshadow-color);
    transition: background 0.4s;
}

.user-css div .backtoworld a:hover {
    background: var(--highlight-color);
    border: none;
    box-shadow: 1px 1px 1px var(--lightshadow-color);
}

/* ========= */
/* NAV STRIP */
/* ========= */

.user-css .nav-strip {
    background-color: var(--secondary-color);
    transition: background-color 0.4s;
}

.user-css .nav-strip:hover {
    background-color: var(--highlight-color);
}

.user-css .nav-strip a:hover {
    border: none;
}

/* ========== */
/* BOOK COVER */
/* ========== */

.user-css .bookcover a .booktitle {
    background-color: RGB(230, 230, 230);
    border-right: 8px var(--primary-color) solid;
    transition: border-right 0.4s;
}

.user-css .bookcover a:hover .booktitle {
    color: var(--highlight-color);
    background-color: RGB(230, 230, 230);
    border-right: 8px var(--primary-color) solid;
}

.user-css .bookcover a img {
    opacity: 1;
    box-shadow: 3px 3px 3px RGB(90, 90, 90);
    transition: opacity 0.4s, box-shadow 0.4s;
}

.user-css .bookcover a:hover img {
    opacity: 0.8;
    box-shadow: 4px 4px 8px RGB(90, 90, 90);
}

/* ======== */
/* METADATA */
/* ======== */

.user-css-extended .nav-tabs li.active a {
    color: var(--primary-color);
    background-color: RGB(220, 220, 220);
    box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.28);
}

/* ============== */
/* COMMENT SECTION */
/* ============== */

.page textarea {
    color: black;
}
.page .btn-primary {
    background-color: RGB(100, 100, 100);
    transition: background-color 0.4s;
}

.page .btn-primary:focus,
.page .btn-primary.focus {

    background-color: RGB(120, 120, 120);
}

.page .btn-primary:hover {
    background-color: RGB(120, 120, 120);
}

.page .comment-box {
    background: RGBA(160, 160, 160, 0.1);
    border: none;
    border-left: 8px var(--primary-color) solid;
    font-family: var(--secondary-font);
    color: RGB(140, 140, 140);
}
