/*

,__ __              _             _         , _                _              _   
 /|  |  |          \_|_)  o        | |       /|/ \              | |            | |  
  |  |  |            |      _|__|_ | |  _     |   |   __ _|_  _ | |   __   __  | |  
  |  |  |  |   |    _|    |  |  |  |/  |/     |   |  /  \_|  |/ |/ \_/  \_/  \_|/_) 
  |  |  |_/ \_/|/  (/\___/|_/|_/|_/|__/|__/   |   |_/\__/ |_/|__/\_/ \__/ \__/ | \_/
              /|                                                                    
              \|                                                                    

My Little Notebook; A theme by Oneriwien (Damion Otter)*/

/* ===== */
/* FONTS */
/* ===== */

@font-face {
  font-family: CinzelDecorative;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/cinzeldecorative/v6/daaCSScvJGqLYhG8nNt8KPPswUAPni7TTMw.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: EBGaramond;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/ebgaramond/v9/SlGUmQSNjdsmc35JDF1K5GR7SDktYw.woff2);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/lora/v12/4vqKRIwnQQGUQQh-PnvdMA.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* ========= */
/* Variables */
/* ========= */

.user-css, .user-css-extended, .page {
    
    /* Background */
    --backgroundMenu: RGBA(90, 90, 90, 0.7);
    
    
    /* = Colors = */
	
    /*Shadow*/
    --colorShadow: RGBA(150, 150, 150, 0.9);
    --colorLightShadow: RGBA(180, 180, 180, 0.9);
    
    /*Grayscale*/

    --colorWhite: RGB(255, 255, 255);
    --colorAlmostWhite: RGB(240, 240, 240);
    --colorHighlightGray: RGB(200, 200, 200);
    --colorLightGray: RGB(170, 170, 170);
    --colorGray: RGB(100, 100, 100);
    --colorDarkGray: RGB(60, 60, 60);
	--colorAlmostBlack: RGB(20, 20, 20);
	--colorBlack: RGB(0, 0, 0);
    
    /*Blue*/
    --colorLightBlue: RGB(100, 100, 200);
    --colorBlue: RGB(50, 50, 160);
    
/* Default Variables */
    --backgroundColor: var(--colorAlmostWhite);
        --fontBody: Lora;
            --fontColorBody: var(--colorAlmostBlack);
            --fontColorLink: var(--colorBlue);
            --fontColorLinkH: var(--colorLightBlue);
            --fontColorBold: var(--colorDarkGray);
            --fontColorDanger: var(--colorDarkGray);
    --fontHeader: EBGaramond; /* Replace with CinzelDecorative for fancier headers. */
        --fontColorH1: var(--colorAlmostBlack);
        --fontColorH2: var(--colorAlmostBlack);
        --fontColorH3: var(--colorAlmostBlack);
        --fontColorH4: var(--colorAlmostBlack);
        --fontColorH5: var(--colorAlmostBlack);
            --fontColorH5Secret: var(--colorAlmostBlack);
    --backgroundPanel: var(--colorWhite);
        --panelBorderColor: var(--colorHighlightGray);
    --backgroundQuote: RGBA(60, 60, 60, 0.08);
        --fontQuote: Lora;
        --fontQuoteAuthor: EBGaramond; /* Replace with CinzelDecorative for fancier headers. */
        --fontColorQuote: var(--colorAlmostBlack);
        --fontColorAuthor: var(--colorAlmostBlack);
        --quoteBorderColor: var(--colorGray);
    --backgroundMetaTab: var(--colorGray);
    --TableStuff: none;
        --backgroundTH: RGBA(60, 60, 60, 0.08);
        --fontColorTH: var(--colorAlmostBlack);
        --backgroundOdd: var(--colorAlmostWhite);
        --backgroundEven: var(--colorWhite);
    --backgroundTag: var(--colorWhite);
        --fontColorTag: var(--colorAlmostBlack);
    --ButtonStuff: none;
        --backgroundButton: var(--colorLightGray);
            --fontColorButton: white;
            --buttonBorderColor: var(--colorDarkGray);
        --backgroundButtonF: var(--colorGray);
            --fontColorButtonF: white;
            --buttonBorderColorF: black;
        --backgroundButtonH: var(--colorGray);
            --fontColorButtonH: white;
            --buttonBorderColorH: black;
    --NavigationStuff: none;
        --backgroundNavigation: var(--colorHighlightGray);
        --backgroundNavigationH: var(--colorLightGray);
        --fontNavigation: Lora;
        --fontColorNavigation: var(--colorBlack);
}

/* ============ */
/* Body Section */
/* ============ */

.user-css{
    font-family: var(--fontBody);
    color: var(--fontColorBody) !important;
    background: var(--backgroundColor);
    font-size: 15px;
    box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.28);
}

.user-css-extended {
    font-family: var(--fontBody);
    color: var(--fontColorBody) !important;
    font-size: 15px;
}

.user-css-extended .tab-pane {
    background: var(--backgroundColor);
    box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.28);
}

.user-css-extended #comments {
    background: var(--backgroundColor);
    box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.28);
    padding-bottom: 12px;
}

.presentation-interface {
    background-image: url(/themes/notebook/images/background.jpg);
    font-family: var(--fontBody);
    color: var(--fontColorBody) !important;
    background-attachment: fixed;
}

.user-css-extended .page {
	background: none;
	box-shadow: none;
}

/* ============ */
/* Text Section */
/* ============ */

/* Headings */

.world-title {
    font-size: 3.2em;
    border: none;
}

.user-css h1, .user-css-extended h1 {
	font-size: 3em;
    line-height: 1.5em;
    text-align: center;
    margin-top: 25px;
    font-family: var(--fontHeader);
    color: var(--fontColorH1);
    border: none;
}

.user-css h2, .user-css-extended h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    font-family: var(--fontHeader);
    color: var(--fontColorH2);
	font-weight: var(--fontBoldWeight);
    border-bottom: 1px var(--fontColorH1) solid;
}

.user-css h3, .user-css-extended h3 {
    font-size: 1.4em;
    padding-top: 5px;
    margin-bottom: 10px;
	font-weight: var(--fontBoldWeight);
    font-family: var(--fontBody);
    color: var(--fontColorH3);
    border: none;
}

.user-css h4, .user-css-extended h4 {
    font-size: 1.2em;
    font-weight: var(--fontBoldWeight);
    font-family: var(--fontBody);
    color: var(--fontColorH4);
    border: none;
}

.user-css h5, .user-css-extended h5 {
    font-size: 1.0em;
    font-family: var(--fontBody);
    color: var(--fontColorH5);
    text-transform: none;
    border: none;
}

.user-css .article-subheading {
    padding-top: 10px;
}

.user-css .article-subheading {
    padding-bottom: 5px;
    padding-top: 5px;
    font-style: oblique;
}

/* Text */

.user-css p, .user-css-extended p {
    line-height: 1.25em;
    text-align: justify;
    font-family: var(--fontBody);
    color: var(--fontColorBody);
}

.user-css .author p {
    text-align: center;
}

.user-css b, .user-css-extended b,
.user-css strong, .user-css-extended strong {
    font-family: var(--fontBody);
    color: var(--fontColorBold);
}

.user-css a, .user-css-extended a {
	font-size: 1em;
    font-family: var(--fontBody);
    font-weight: var(--fontBoldWeight);
	color: var(--fontColorLink);
    text-shadow: 0px 0px 0px var(--colorShadow);
    transition: color 0.4s, text-shadow 0.4s;
}

.user-css a:hover, .user-css-extended a:hover {
    text-decoration: underline;
    color: var(--fontColorLinkH);
    text-shadow: 3px 3px 3px var(--colorShadow);
}

.user-css li, .user-css-extended li {
    font-size: 1em;
    line-height: 1.3em;
    font-family: var(--fontBody);
    color: var(--fontColorBody);
}

.user-css small, .user-css-extended small {
    line-height: 0.85em;
}

.user-css .text-danger, .user-css-extended .text-danger {
    font-size: 1em;
    color: var(--fontColorDanger);
}

.user-css .article-content {
    font-size: 1.1em;
    line-height: 1.2em;
    text-align: justify;
}

/* Text Alt */

.user-css .overline {
    text-decoration: overline;
}

.user-css .text-right {
    text-align: right !important;
}

.user-css .text-center {
    text-align: center !important;
}


/* ================== */
/* Formatting Section */
/* ================== */

/* Article Side Panel */

.user-css .panel {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: var(--backgroundPanel);
    border: 1px var(--panelBorderColor) solid;
}

/* Quote Box */
 
.user-css blockquote {
    font-family: var(--fontQuote);
    color: var(--fontColorQuote);
    background: var(--backgroundQuote);
    border-left: 8px var(--quoteBorderColor) solid;
}

.user-css blockquote .author{
    display: block;
    font-size: 0.8em;
    font-style: normal;
    font-family: var(--fontQuoteAuthor);
    color: var(--fontColorAuthor);
}

/* Seeds */
.user-css .panel-body, .user-css-extended .panel-body {
color: var(--fontColorBody);
}

/* Info Block */

.infoblock {
    display: block;
    margin: 0px;
    background-color: #e8e5e5;
    border: 1px solid #e3e3e3;
    border-radius: 0px 0px 4px 4px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    box-shadow: inset 2px 2px 2px #8e8e8e;
}

.infoblock .phrase-key {
    font-size: 1.1em;
    padding: 3px;
    background-color: RGB(160, 165, 240);
    margin-top: 0px;
    font-variant: normal !important;
    margin-bottom: 0px;
    display: block;
    font-family: var(--fontBody);
    color: var(--colorDeepBlue);
    border-bottom: 1px (--colorSlatePurple) solid;
}

.infoblock blockquote {
    margin: 0px;
    border: 0px;
    background: RGBA(158, 166, 241, 0.2);
    line-height: 1em;
}

.infoblock p {
    padding: 5px;
}

/* Meta Tabs */

.user-css-extended .nav-tabs li.active a{
    background-color: var(--backgroundMetaTab);
}

/* Horizontal Rule */

.user-css hr {
    border-color: var(--fontColorBody);
}

/* Image */

.page-article img {
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.page-article .cover img {
 border-radius: 0px;
}

/* Image Credits */

div.artist-credits {
    padding: 5px;
    background: #ffffff45;
    transition: opacity 0.5s;
    font-size: 0.9em;
    margin-top: 5px;
    /* opacity: 0.2; */
    border: 1px solid black;
    border-radius: 5px;
}

/* Search Bar */

.user-css .search-form .typeahead-input {
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: rgba(190,190,190,0.7);
    background-image: none;
    border: 1px solid;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.user-css .typeahead  li .text-muted {
	color: #555;
}

.user-css .typeahead  li.active a {
	background: RGB(90, 100, 110);
	color: RGB(230, 230, 230);
}

.user-css .typeahead  li.active a {
	background: RGB(90, 100, 110);
	color: RGB(230, 230, 230);
}

/* Secret */

.user-css-secret{
	background-color: #08080814;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    background: url(https://worldanvil.com/uploads/images/41418de6a10a228689b2c45ce53a81ef.png);
    padding: 0px;
    box-shadow: inset 0 0 0 1000px rgba(250,100,100,.2);
    border: 1px solid darkred;
    border-left: 2px var(--colorMaroon) solid;
}

.user-css-secret h5{
    border-bottom: 1px solid;
    margin: 0px;
    padding-left: 10px;
    background: rgba(0,0,0,0.1);
    color: var(--colorMaroon);
}

.user-css-secret p{
    padding: 5px;
    margin-bottom: 0px;
}

.user-css .user-css-secret .secret-groups {
    padding-left: 5px;
    background: #ffa3bc70;
}

.user-css-secret .label-primary {
    color: black;
    background: none;
    padding: 3px;
    line-height: 1em;
    font-size: 0.9em;
}

.user-css.tag-core-lore .cover:after {
    /*Font Size is 24*/
	content: url(https://www.worldanvil.com/uploads/images/dcabe7f75e067712485a9e0f56629c1a.png);
    position: absolute;
    right: 0%;
    background: #bbbbbbbb;
    bottom: 3em;
    padding: 0.5em;
    border-radius: 5px 0px 0px 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 0px 0px 10px green;
}
.user-css.tag-extended-lore .cover:after {
	/*Font Size is 24*/
    content: url(https://www.worldanvil.com/uploads/images/492d95be0de1465648cd0c4c3334c915.png);
    position: absolute;
    right: 0%;
    background: #bbbbbbbb;
    bottom: 3em;
    padding: 0.5em;
    border-radius: 5px 0px 0px 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 0px 0px 10px orange;
}

/* Spoilers */

.user-css .inline-spoiler {
    background-color: black;
    color: transparent;
    cursor: default;
}

.user-css .inline-spoiler:hover{
    background-color: transparent;
    color: #A00000;    
}

/*spoiler-fullwidth*/
.user-css .spoiler-fullwidth .spoiler-button{
	border-radius: 3px;
	width: 100%;
    padding: 0px;	
	background: #9d6fbf;
	margin: 5px 0px 5px 0px;
}

.user-css .spoiler-fullwidth .well {
	padding: 5px;
    margin: 0px;
    background-color: #e8e5e5;
    border: 1px solid #e3e3e3;
    border-radius: 0px 0px 4px 4px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    box-shadow: inset 2px 2px 2px #8e8e8e;
}

/* Table */

.user-css .table-striped td
{
    padding: 4px 8px 4px 8px;
    text-align: justify;
    line-height: 1em;
	vertical-align: middle;
	border: none;
	color: var(--fontColorTableBody);
}

.user-css .table-striped th
{
    text-align: center;
	border: none;
	vertical-align: middle;
    background-color: var(--backgroundTH);
	color: var(--fontColorTH);
}

.user-css .table tr{
    vertical-align: middle;
    background-color: var(--backgroundEven);
}

.user-css .table-striped tr:nth-child(odd){
	background-color: var(--backgroundOdd);
}

/* Tag */

.user-css a.tag, .user-css-extended a.tag {
    font-size: 0.8em;
    opacity: 0.2;
    color: var(--fontColorTag);
    background-color: var(--backgroundTag);
    transition: opacity 0.5s;
}

.user-css a.tag, .user-css-extended a.tag:hover {
    opacity: 1.0;
}

/* Buttons */

.user-css .btn-primary, .user-css-extended .btn-primary {
    color: var(--fontColorButton);
    border-color: var(--buttonBorderColor);
    background-color: var(--backgroundButton);
}

.user-css .btn-primary:focus,
.user-css .btn-primary.focus,
.user-css-extended .btn-primary:focus,
.user-css-extended .btn-primary.focus {
    color: var(--fontColorButtonF);
    border-color: var(--buttonBorderColorF);
    background-color: var(--backgroundButtonF);
}

.user-css .btn-primary:hover, .user-css-extended .btn-primary:hover {
    color: var(--fontColorButtonH);
    border-color: var(--buttonBorderColorH);
    background-color: var(--backgroundButtonH);
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--colorLightGray); 
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    background: var(--colorLightGray);  
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: (--colorGray); 
}

/* Sub */

.user-css sub {
	position: relative;
    font-size: 75%;
    line-height: 0.75em;
    vertical-align: middle;
	bottom: 0em;
}

/* ================ */
/* Timeline Section */
/* ================ */

.page-timeline h1 {
    font-size: 60px;
    font-weight: bold;
}

/* ================== */
/* Front Page Section */
/* ================== */

/* Intro Column */

.user-css .ethnisintrocolumn{
    width: 50%;
    margin-left: 25%;
}

/* Book Covers */

.user-css .bookcover {
	width: 20%;
	height: auto;
}

/*Captions*/
.user-css .text-abbreviation, .user-css-extended .text-abbreviation {
    text-decoration: underline;
    border: none;
    display: inline-block;
}

.user-css .bookcover a .booktitle {
    background-color: RGBA(230, 230, 230, 0.9);
    color: RGBA(60, 60, 60, 0.9);
    border-right: 8px RGB(30, 30, 30) solid;
	transition:all 0.3s ease;
}

.user-css .bookcover a:hover .booktitle {
    background-color: RGBA(60, 60, 60, 0.9);
    color: RGBA(130, 230, 130, 0.9);
    border-right: 8px RGB(90, 90, 90) solid;
}

.user-css .bookcover a img {
    opacity: 1;
    transition: opacity 0.4s;
}

.user-css .bookcover a:hover img {
    opacity: 0.35;
}

/*  Table of Contents  */

.table-of-contents h4, .table-of-contents h5 {
    margin-top: 8px;
    margin-bottom: 3px;
}

/* Campaigns */

.user-css .world-campaigns,
.user-css .world-campaigns p,
.user-css .world-campaigns small {
    color: var(--colorAlmostWhite);
}

.user-css .world-campaigns h5 {
    color: var(--colorHighlightGray);
}

/* Articles */

.user-css .world-recent-articles, .user-css .world-featured-articles {
    padding: 0px;
    background-color: none;
    margin: 5px 0px 5px 0px;
}

.user-css .world-recent-articles h2, .user-css .world-featured-articles h2 {
    font-size: 1.5em;
    padding: 3px;
    font-variant: normal !important;
    margin-bottom: 12px;
    display: block;
    margin: 0px;
    border-bottom: 2px var(--colorGray) solid;
    background-color: var(--colorHighlightGray);
    font-family: var(--fontBody);
    color: var(--colorAlmostBlack);
}

.user-css .world-recent-articles ul.article-list,
.user-css .world-featured-articles ul.article-list{
    padding: 5px;
	list-style: none;
    padding-left: 0;
    max-height: 520px;
    overflow: auto;
    overflow-x: visible;
}

.user-css .article-panel {
    background-color: var(--colorWhite);
    margin: 5px;
    border: 1px var(--colorHighlightGray) solid;
    padding-bottom: 0px;
}

.user-css .article-panel .heading {
    display: block;
    font-size: 1.1em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
}

.user-css .article-panel .cover{
    margin-bottom: 0.5em;
}

.user-css .article-panel p{
    line-height: 1.1em;
    text-align: justify;
    font-size: smaller;
    font-family: var(--fontBody);
    color: var(--colorDeepBlue);
}

.user-css .article-panel img {
    /*border-radius: 0px;*/
}

.article-panel .subheading {
    display: none;
}

/* Maps */

.user-css .map-box {
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
    background-color: RGBA(120, 120, 120, 0.2);
    border-radius: 3px;
    box-shadow: 2px 2px 4px RGBA(70, 70, 70, 0.3);
    margin: 5px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-radius: var(--radiusBottom);
    border-bottom: 1px var(--colorGray) solid;
    border-right: 1px var(--colorGray) solid;
}

.user-css .map-box strong {
    display: block;
    font-size: 1.1em;
    color: black;
    text-transform: uppercase;
    padding: 5px 0px;
    font-family: var(--fontHeader);
}

/* ============ */
/* Maps Section */
/* ============ */

/* ================== */
/* Navigation Section */
/* ================== */

/* Back to World */
 
.user-css div .backtoworld a {
    font-size: 12px;
    box-shadow: 0px 0px 0px black;
    background: var(--backgroundNavigation);
    font-family: var(--fontNavigation);
    color: var(--fontColorNavigation);
    transition: background 0.4s;
}

.user-css div .backtoworld a:hover {
    border: none;
    background-color: var(--backgroundNavigationH);
} 

/* Navigation Strip */

.user-css .nav-strip {
    padding:10px;
    background-color: var(--backgroundNavigation);
    transition: background 0.4s;
}

.user-css .nav-strip:hover {
    background-color: var(--backgroundNavigationH);
}

.user-css .nav-strip a {
    font-size: 12px;
    font-family: var(--fontNavigation);
    color: var(--fontColorNavigation);  
}

.user-css .nav-strip a:hover {
    border: none;
}

/* Menu Control */

.user-css .menu-control {
    height: 50px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--backgroundMenu);
    border-left: 1px var(--colorDarkGray) solid;
    border-right: 1px var(--colorDarkGray) solid;
    border-bottom: 2px var(--colorDarkGray) solid;
    transition: height 0.4s;
}

.user-css .menu-control:hover {
    height: 70px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--backgroundMenu);
    border-left: 1px var(--colorDarkGray) solid;
    border-right: 1px var(--colorDarkGray) solid;
    border-bottom: 2px var(--colorDarkGray) solid;
}

/* Timeline Stuff */

.page-timeline h1 {
    font-size: 2.6em;
}

.page-timeline .ra-3x {
    font-size: 36px;
}

.phrase-key {
    padding-bottom: 5px;
}
