/* Color Theme: Midnight Dusk */
.user-css-presentation, .user-css-presentation .user-css-extended, .user-css-map-sidebar, .user-css-map, .map-wrapper {
    /* Default Color */
    --default1: #111121;
    --default2: #222232;
    --default3: #333343;
    --default4: #444454;
    --default5: #555565;
    --default6: #666676;
    --default7: #777787;
    --default8: #888898;
    --default9: #9999A9;
    --defaultA: #AAAABA;
    --defaultB: #BBBBCB;
    --defaultC: #CCCCDC;
    --defaultD: #DDDDED;
    --defaultE: #EEEEFE;

    --default1Muted: #111121;
    --default2Muted: #222232;
    --default3Muted: #333343;
    --default4Muted: #444454;
    --default5Muted: #555565;
    --default6Muted: #666676;
    --default7Muted: #777787;
    --default8Muted: #888898;
    --default9Muted: #9999A9;
    --defaultAMuted: #AAAABA;
    --defaultBMuted: #BBBBCB;
    --defaultCMuted: #CCCCDC;
    --defaultDMuted: #DDDDED;
    --defaultEMuted: #EEEEFE;

    --default1Transparent: rgba(17, 17, 33, 0.5);
    --default2Transparent: rgba(34, 34, 50, 0.5);
    --default3Transparent: rgba(51, 51, 67, 0.5);
    --default4Transparent: rgba(68, 68, 84, 0.5);
    --default5Transparent: rgba(85, 85, 101, 0.5);
    --default6Transparent: rgba(102, 102, 118, 0.5);
    --default7Transparent: rgba(119, 119, 135, 0.5);
    --default8Transparent: rgba(136, 136, 152, 0.5);
    --default9Transparent: rgba(153, 153, 169, 0.5);
    --defaultATransparent: rgba(170, 170, 186, 0.5);
    --defaultBTransparent: rgba(187, 187, 203, 0.5);
    --defaultCTransparent: rgba(204, 204, 220, 0.5);
    --defaultDTransparent: rgba(221, 221, 237, 0.5);
    --defaultETransparent: rgba(238, 238, 254, 0.5);

    /* Primary Color */
    --primary1: #112111;
    --primary2: #193019;
    --primary3: #224222;
    --primary4: #2A512A;
    --primary5: #336333;
    --primary6: #3C753C;
    --primary7: #448444;
    --primary8: #4E964E;
    --primary9: #57A857;
    --primaryA: #5FB75F;
    --primaryB: #68C968;
    --primaryC: #72DB72;
    --primaryD: #79EA79;
    --primaryE: #83FC83;

    --primary1Muted: #112111;
    --primary2Muted: #223222;
    --primary3Muted: #334333;
    --primary4Muted: #445444;
    --primary5Muted: #556555;
    --primary6Muted: #667666;
    --primary7Muted: #778777;
    --primary8Muted: #889888;
    --primary9Muted: #99a999;
    --primaryAMuted: #aabaaa;
    --primaryBMuted: #bbcbbb;
    --primaryCMuted: #ccdccc;
    --primaryDMuted: #ddeddd;
    --primaryEMuted: #eefeee;

    --primary1Transparent: rgba(17, 33, 17, 0.5);
    --primary2Transparent: rgba(25, 48, 25, 0.5);
    --primary3Transparent: rgba(34, 66, 34, 0.5);
    --primary4Transparent: rgba(42, 81, 42, 0.5);
    --primary5Transparent: rgba(51, 99, 51, 0.5);
    --primary6Transparent: rgba(60, 117, 60, 0.5);
    --primary7Transparent: rgba(68, 132, 68, 0.5);
    --primary8Transparent: rgba(78, 150, 78, 0.5);
    --primary9Transparent: rgba(87, 168, 87, 0.5);
    --primaryATransparent: rgba(95, 183, 95, 0.5);
    --primaryBTransparent: rgba(104, 201, 104, 0.5);
    --primaryCTransparent: rgba(114, 219, 114, 0.5);
    --primaryDTransparent: rgba(121, 234, 121, 0.5);
    --primaryETransparent: rgba(131, 252, 131, 0.5);

    /* Accent Color */
    --accent1: #112121;
    --accent2: #223232;
    --accent3: #334343;
    --accent4: #445454;
    --accent5: #556565;
    --accent6: #667676;
    --accent7: #778787;
    --accent8: #889898;
    --accent9: #99a9a9;
    --accentA: #aababa;
    --accentB: #bbcbcb;
    --accentC: #ccdcdc;
    --accentD: #ddeded;
    --accentE: #eefefe;

    --accent1Muted: #112121;
    --accent2Muted: #223232;
    --accent3Muted: #334343;
    --accent4Muted: #445454;
    --accent5Muted: #556565;
    --accent6Muted: #667676;
    --accent7Muted: #778787;
    --accent8Muted: #889898;
    --accent9Muted: #99a9a9;
    --accentAMuted: #aababa;
    --accentBMuted: #bbcbcb;
    --accentCMuted: #ccdcdc;
    --accentDMuted: #ddeded;
    --accentEMuted: #eefefe;

    --accent1Transparent: rgba(17, 33, 33, 0.5);
    --accent2Transparent: rgba(34, 50, 50, 0.5);
    --accent3Transparent: rgba(51, 67, 67, 0.5);
    --accent4Transparent: rgba(68, 84, 84, 0.5);
    --accent5Transparent: rgba(85, 101, 101, 0.5);
    --accent6Transparent: rgba(102, 118, 118, 0.5);
    --accent7Transparent: rgba(119, 135, 135, 0.5);
    --accent8Transparent: rgba(136, 152, 152, 0.5);
    --accent9Transparent: rgba(153, 169, 169, 0.5);
    --accentATransparent: rgba(170, 186, 186, 0.5);
    --accentBTransparent: rgba(187, 203, 201, 0.5);
    --accentCTransparent: rgba(204, 220, 220, 0.5);
    --accentDTransparent: rgba(221, 237, 237, 0.5);
    --accentETransparent: rgba(238, 254, 254, 0.5);

    /* Specialty Colors */
    --midPrimaryAccentA: #85B98D; /* Used for h3 */
    --midPrimaryAccent8: #6B9773; /* Used for h3 small */
    --midDefaultAccentA: #AAB2BA; /* Used for h5 */
    --midDefaultAccent8: #889098; /* Used for h5 small */
}
