/* Color Theme: Monochrome Blue */
.user-css-presentation, .user-css-presentation .user-css-extended, .user-css-map-sidebar, .user-css-map, .map-wrapper {
    /* Default Color */
    --default1: #111921;
    --default2: #222a32;
    --default3: #333b43;
    --default4: #444c54;
    --default5: #555d65;
    --default6: #666e76;
    --default7: #777f87;
    --default8: #889098;
    --default9: #99a1a9;
    --defaultA: #aab2ba;
    --defaultB: #bbc3cb;
    --defaultC: #ccd4dc;
    --defaultD: #dde5ed;
    --defaultE: #eef6fe;

    --default1Muted: #111921;
    --default2Muted: #222a32;
    --default3Muted: #333b43;
    --default4Muted: #444c54;
    --default5Muted: #555d65;
    --default6Muted: #666e76;
    --default7Muted: #777f87;
    --default8Muted: #889098;
    --default9Muted: #99a1a9;
    --defaultAMuted: #aab2ba;
    --defaultBMuted: #bbc3cb;
    --defaultCMuted: #ccd4dc;
    --defaultDMuted: #dde5ed;
    --defaultEMuted: #eef6fe;

    --default1Transparent: rgba(17, 25, 33, .5);
    --default2Transparent: rgba(34, 42, 50, .5);
    --default3Transparent: rgba(51, 59, 67, .5);
    --default4Transparent: rgba(68, 76, 84, .5);
    --default5Transparent: rgba(85, 93, 101, .5);
    --default6Transparent: rgba(102, 110, 118, .5);
    --default7Transparent: rgba(119, 127, 135, .5);
    --default8Transparent: rgba(136, 144, 152, .5);
    --default9Transparent: rgba(153, 161, 169, .5);
    --defaultATransparent: rgba(170, 178, 186, .5);
    --defaultBTransparent: rgba(187, 195, 203, .5);
    --defaultCTransparent: rgba(204, 212, 220, .5);
    --defaultDTransparent: rgba(221, 229, 237, .5);
    --defaultETransparent: rgba(238, 246, 254, .5);

    /* Primary Color */
    --primary1: #000f1e;
    --primary2: #001830;
    --primary3: #002142;
    --primary4: #002951;
    --primary5: #003263;
    --primary6: #003b75;
    --primary7: #004284;
    --primary8: #004b96;
    --primary9: #0054a8;
    --primaryA: #005cb7;
    --primaryB: #0065c9;
    --primaryC: #006edb;
    --primaryD: #0075ea;
    --primaryE: #007efc;

    --primary1Muted: #111921;
    --primary2Muted: #222a32;
    --primary3Muted: #333b43;
    --primary4Muted: #444c54;
    --primary5Muted: #555d65;
    --primary6Muted: #666e76;
    --primary7Muted: #777f87;
    --primary8Muted: #889098;
    --primary9Muted: #99a1a9;
    --primaryAMuted: #aab2ba;
    --primaryBMuted: #bbc3cb;
    --primaryCMuted: #ccd4dc;
    --primaryDMuted: #dde5ed;
    --primaryEMuted: #eef6fe;

    --primary1Transparent: rgba(0, 15, 30, .5);
    --primary2Transparent: rgba(0, 24, 48, .5);
    --primary3Transparent: rgba(0, 33, 66, .5);
    --primary4Transparent: rgba(0, 41, 81, .5);
    --primary5Transparent: rgba(0, 50, 99, .5);
    --primary6Transparent: rgba(0, 59, 117, .5);
    --primary7Transparent: rgba(0, 66, 132, .5);
    --primary8Transparent: rgba(0, 75, 150, .5);
    --primary9Transparent: rgba(0, 84, 168, .5);
    --primaryATransparent: rgba(0, 92, 183, .5);
    --primaryBTransparent: rgba(0, 101, 201, .5);
    --primaryCTransparent: rgba(0, 110, 219, .5);
    --primaryDTransparent: rgba(0, 117, 234, .5);
    --primaryETransparent: rgba(0, 126, 252, .5);

    /* Accent Color */
    --accent1: #111921;
    --accent2: #192530;
    --accent3: #223242;
    --accent4: #2a3e51;
    --accent5: #334b63;
    --accent6: #3c5975;
    --accent7: #446484;
    --accent8: #4e7296;
    --accent9: #758fa8;
    --accentA: #5f8bb7;
    --accentB: #6899c9;
    --accentC: #72a7db;
    --accentD: #79b2ea;
    --accentE: #83c0fc;

    --accent1Muted: #111921;
    --accent2Muted: #222a32;
    --accent3Muted: #333b43;
    --accent4Muted: #444c54;
    --accent5Muted: #555d65;
    --accent6Muted: #666e76;
    --accent7Muted: #777f87;
    --accent8Muted: #889098;
    --accent9Muted: #99a1a9;
    --accentAMuted: #aab2ba;
    --accentBMuted: #bbc3cb;
    --accentCMuted: #ccd4dc;
    --accentDMuted: #dde5ed;
    --accentEMuted: #eef6fe;

    --accent1Transparent: rgba(17, 25, 33, .5);
    --accent2Transparent: rgba(25, 37, 48, .5);
    --accent3Transparent: rgba(34, 50, 66, .5);
    --accent4Transparent: rgba(42, 62, 81, .5);
    --accent5Transparent: rgba(51, 75, 99, .5);
    --accent6Transparent: rgba(60, 89, 117, .5);
    --accent7Transparent: rgba(68, 100, 132, .5);
    --accent8Transparent: rgba(78, 114, 150, .5);
    --accent9Transparent: rgba(117, 143, 168, .5);
    --accentATransparent: rgba(95, 139, 183, .5);
    --accentBTransparent: rgba(104, 153, 201, .5);
    --accentCTransparent: rgba(114, 167, 219, .5);
    --accentDTransparent: rgba(121, 178, 234, .5);
    --accentETransparent: rgba(131, 192, 252, .5);

    /* Specialty Colors */
    --midPrimaryAccentA: #3074b7; /* Used for h3 */
    --midPrimaryAccent8: #275f96; /* Used for h3 small */
    --midDefaultAccentA: #859fb9; /* Used for h5 */
    --midDefaultAccent8: #6b8197; /* Used for h5 small */
}
