/* Color Theme: Monochrome Red */
.user-css-presentation, .user-css-presentation .user-css-extended, .user-css-map-sidebar, .user-css-map, .map-wrapper {
    /* Default Color */
    --default1: #211111;
    --default2: #322222;
    --default3: #433333;
    --default4: #544444;
    --default5: #655555;
    --default6: #766666;
    --default7: #877777;
    --default8: #988888;
    --default9: #a99999;
    --defaultA: #baaaaa;
    --defaultB: #cbbbbb;
    --defaultC: #dccccc;
    --defaultD: #eddddd;
    --defaultE: #feeeee;

    --default1Muted: #211111;
    --default2Muted: #322222;
    --default3Muted: #433333;
    --default4Muted: #544444;
    --default5Muted: #655555;
    --default6Muted: #766666;
    --default7Muted: #877777;
    --default8Muted: #988888;
    --default9Muted: #a99999;
    --defaultAMuted: #baaaaa;
    --defaultBMuted: #cbbbbb;
    --defaultCMuted: #dccccc;
    --defaultDMuted: #eddddd;
    --defaultEMuted: #feeeee;

    --default1Transparent: rgba(33, 17, 17, .5);
    --default2Transparent: rgba(50, 34, 34, .5);
    --default3Transparent: rgba(67, 51, 51, .5);
    --default4Transparent: rgba(84, 68, 68, .5);
    --default5Transparent: rgba(101, 85, 85, .5);
    --default6Transparent: rgba(118, 102, 102, .5);
    --default7Transparent: rgba(135, 119, 119, .5);
    --default8Transparent: rgba(152, 136, 136, .5);
    --default9Transparent: rgba(169, 153, 153, .5);
    --defaultATransparent: rgba(186, 170, 170, .5);
    --defaultBTransparent: rgba(203, 187, 187, .5);
    --defaultCTransparent: rgba(220, 204, 204, .5);
    --defaultDTransparent: rgba(237, 221, 221, .5);
    --defaultETransparent: rgba(254, 238, 238, .5);

    /* Primary Color */
    --primary1: #1e0000;
    --primary2: #300000;
    --primary3: #420000;
    --primary4: #510000;
    --primary5: #630000;
    --primary6: #750000;
    --primary7: #840000;
    --primary8: #960000;
    --primary9: #a80000;
    --primaryA: #b70000;
    --primaryB: #c90000;
    --primaryC: #db0000;
    --primaryD: #ea0000;
    --primaryE: #fc0000;

    --primary1Muted: #211111;
    --primary2Muted: #322222;
    --primary3Muted: #433333;
    --primary4Muted: #544444;
    --primary5Muted: #655555;
    --primary6Muted: #766666;
    --primary7Muted: #877777;
    --primary8Muted: #988888;
    --primary9Muted: #a99999;
    --primaryAMuted: #baaaaa;
    --primaryBMuted: #cbbbbb;
    --primaryCMuted: #dccccc;
    --primaryDMuted: #eddddd;
    --primaryEMuted: #feeeee;

    --primary1Transparent: rgba(30, 0, 0, .5);
    --primary2Transparent: rgba(48, 0, 0, .5);
    --primary3Transparent: rgba(66, 0, 0, .5);
    --primary4Transparent: rgba(81, 0, 0, .5);
    --primary5Transparent: rgba(99, 0, 0, .5);
    --primary6Transparent: rgba(117, 0, 0, .5);
    --primary7Transparent: rgba(132, 0, 0, .5);
    --primary8Transparent: rgba(150, 0, 0, .5);
    --primary9Transparent: rgba(168, 0, 0, .5);
    --primaryATransparent: rgba(183, 0, 0, .5);
    --primaryBTransparent: rgba(201, 0, 0, .5);
    --primaryCTransparent: rgba(219, 0, 0, .5);
    --primaryDTransparent: rgba(234, 0, 0, .5);
    --primaryETransparent: rgba(252, 0, 0, .5);

    /* Accent Color */
    --accent1: #211111;
    --accent2: #301919;
    --accent3: #422222;
    --accent4: #512a2a;
    --accent5: #633333;
    --accent6: #753c3c;
    --accent7: #844444;
    --accent8: #964e4e;
    --accent9: #a87575;
    --accentA: #b75f5f;
    --accentB: #c96868;
    --accentC: #db7272;
    --accentD: #ea7979;
    --accentE: #fc8383;

    --accent1Muted: #211111;
    --accent2Muted: #322222;
    --accent3Muted: #433333;
    --accent4Muted: #544444;
    --accent5Muted: #655555;
    --accent6Muted: #766666;
    --accent7Muted: #877777;
    --accent8Muted: #988888;
    --accent9Muted: #a99999;
    --accentAMuted: #baaaaa;
    --accentBMuted: #cbbbbb;
    --accentCMuted: #dccccc;
    --accentDMuted: #eddddd;
    --accentEMuted: #feeeee;

    --accent1Transparent: rgba(33, 17, 17, .5);
    --accent2Transparent: rgba(48, 25, 25, .5);
    --accent3Transparent: rgba(66, 34, 34, .5);
    --accent4Transparent: rgba(81, 42, 42, .5);
    --accent5Transparent: rgba(99, 51, 51, .5);
    --accent6Transparent: rgba(117, 60, 60, .5);
    --accent7Transparent: rgba(132, 68, 68, .5);
    --accent8Transparent: rgba(150, 78, 78, .5);
    --accent9Transparent: rgba(168, 117, 117, .5);
    --accentATransparent: rgba(183, 95, 95, .5);
    --accentBTransparent: rgba(201, 104, 104, .5);
    --accentCTransparent: rgba(219, 114, 114, .5);
    --accentDTransparent: rgba(234, 121, 121, .5);
    --accentETransparent: rgba(252, 131, 131, .5);

    /* Specialty Colors */
    --midPrimaryAccentA: #b73030; /* Used for h3 */
    --midPrimaryAccent8: #962727; /* Used for h3 small */
    --midDefaultAccentA: #b98585; /* Used for h5 */
    --midDefaultAccent8: #976b6b; /* Used for h5 small */
}
