.user-css-presentation, .user-css-presentation .user-css-extended, .user-css-map-sidebar, .user-css-map, .map-wrapper {
    /* Default Color */
    --default1: #112119;
    --default2: #22322a;
    --default3: #33433b;
    --default4: #44544c;
    --default5: #55655d;
    --default6: #66766e;
    --default7: #77877f;
    --default8: #889890;
    --default9: #99a9a1;
    --defaultA: #aabab2;
    --defaultB: #bbcbc3;
    --defaultC: #ccdcd4;
    --defaultD: #ddede5;
    --defaultE: #eefef6;

    --default1Muted: #112119;
    --default2Muted: #22322a;
    --default3Muted: #33433b;
    --default4Muted: #44544c;
    --default5Muted: #55655d;
    --default6Muted: #66766e;
    --default7Muted: #77877f;
    --default8Muted: #889890;
    --default9Muted: #99a9a1;
    --defaultAMuted: #aabab2;
    --defaultBMuted: #bbcbc3;
    --defaultCMuted: #ccdcd4;
    --defaultDMuted: #ddede5;
    --defaultEMuted: #eefef6;

    --default1Transparent: rgba(17, 33, 25, .5);
    --default2Transparent: rgba(34, 50, 42, .5);
    --default3Transparent: rgba(51, 67, 59, .5);
    --default4Transparent: rgba(68, 84, 76, .5);
    --default5Transparent: rgba(85, 101, 93, .5);
    --default6Transparent: rgba(102, 118, 110, .5);
    --default7Transparent: rgba(119, 135, 127, .5);
    --default8Transparent: rgba(136, 152, 144, .5);
    --default9Transparent: rgba(153, 169, 161, .5);
    --defaultATransparent: rgba(170, 186, 178, .5);
    --defaultBTransparent: rgba(187, 203, 195, .5);
    --defaultCTransparent: rgba(204, 220, 212, .5);
    --defaultDTransparent: rgba(221, 237, 229, .5);
    --defaultETransparent: rgba(238, 254, 246, .5);

    /* Primary Color */
    --primary1: #001e0f;
    --primary2: #003018;
    --primary3: #004221;
    --primary4: #005129;
    --primary5: #006332;
    --primary6: #00753b;
    --primary7: #008442;
    --primary8: #00964b;
    --primary9: #00a854;
    --primaryA: #00b75c;
    --primaryB: #00c965;
    --primaryC: #00db6e;
    --primaryD: #00ea75;
    --primaryE: #00fc7e;

    --primary1Muted: #112119;
    --primary2Muted: #22322a;
    --primary3Muted: #33433b;
    --primary4Muted: #44544c;
    --primary5Muted: #55655d;
    --primary6Muted: #66766e;
    --primary7Muted: #77877f;
    --primary8Muted: #889890;
    --primary9Muted: #99a9a1;
    --primaryAMuted: #aabab2;
    --primaryBMuted: #bbcbc3;
    --primaryCMuted: #ccdcd4;
    --primaryDMuted: #ddede5;
    --primaryEMuted: #eefef6;

    --primary1Transparent: rgba(0, 30, 15, .5);
    --primary2Transparent: rgba(0, 48, 24, .5);
    --primary3Transparent: rgba(0, 66, 33, .5);
    --primary4Transparent: rgba(0, 81, 41, .5);
    --primary5Transparent: rgba(0, 99, 50, .5);
    --primary6Transparent: rgba(0, 117, 59, .5);
    --primary7Transparent: rgba(0, 132, 66, .5);
    --primary8Transparent: rgba(0, 150, 75, .5);
    --primary9Transparent: rgba(0, 168, 84, .5);
    --primaryATransparent: rgba(0, 183, 92, .5);
    --primaryBTransparent: rgba(0, 201, 101, .5);
    --primaryCTransparent: rgba(0, 219, 110, .5);
    --primaryDTransparent: rgba(0, 234, 117, .5);
    --primaryETransparent: rgba(0, 252, 126, .5);

    /* Accent Color */
    --accent1: #112119;
    --accent2: #193025;
    --accent3: #224232;
    --accent4: #2a513e;
    --accent5: #33634b;
    --accent6: #3c7559;
    --accent7: #448464;
    --accent8: #4e9672;
    --accent9: #75a88f;
    --accentA: #5fb78b;
    --accentB: #68c999;
    --accentC: #72dba7;
    --accentD: #79eab2;
    --accentE: #83fcc0;

    --accent1Muted: #112119;
    --accent2Muted: #22322a;
    --accent3Muted: #33433b;
    --accent4Muted: #44544c;
    --accent5Muted: #55655d;
    --accent6Muted: #66766e;
    --accent7Muted: #77877f;
    --accent8Muted: #889890;
    --accent9Muted: #99a9a1;
    --accentAMuted: #aabab2;
    --accentBMuted: #bbcbc3;
    --accentCMuted: #ccdcd4;
    --accentDMuted: #ddede5;
    --accentEMuted: #eefef6;

    --accent1Transparent: rgba(17, 33, 25, .5);
    --accent2Transparent: rgba(25, 48, 37, .5);
    --accent3Transparent: rgba(34, 66, 50, .5);
    --accent4Transparent: rgba(42, 81, 62, .5);
    --accent5Transparent: rgba(51, 99, 75, .5);
    --accent6Transparent: rgba(60, 117, 89, .5);
    --accent7Transparent: rgba(68, 132, 100, .5);
    --accent8Transparent: rgba(78, 150, 114, .5);
    --accent9Transparent: rgba(117, 168, 143, .5);
    --accentATransparent: rgba(95, 183, 139, .5);
    --accentBTransparent: rgba(104, 201, 153, .5);
    --accentCTransparent: rgba(114, 219, 167, .5);
    --accentDTransparent: rgba(121, 234, 178, .5);
    --accentETransparent: rgba(131, 252, 192, .5);

    /* Specialty Colors */
    --midPrimaryAccentA: #30b774; /* Used for h3 */
    --midPrimaryAccent8: #27965f; /* Used for h3 small */
    --midDefaultAccentA: #85b99f; /* Used for h5 */
    --midDefaultAccent8: #6b9781; /* Used for h5 small */
}
