<div class='container-fluid sheet-eote'>
  <div class='row'>
    <div class="col-12 c">
      {{variables.name}} ({{variables.career|default}})<br>
      {{variables.species|default}}
    </div>
  </div>
</div>