.container-fluid {
  color: #000000 !important;
  background-color: #E0E0E0;
  background-image: url('/uploads/images/284545e2e9f6ca21a13b037d4e4b731c.jpg' ) ;
  font-size: 20px !important;
  font-family: PT Sans Narrow !important;
  padding: 20px;}
 .logo { width:100% }
 .table td,  .table th,  .table>tbody>tr>td { border: none}
 .table { width:100%; border-spacing: 2px; margin-bottom: 0}
 .table td { padding:2px; background-color:#FFFFFF !important}
 .form-control,  .form-control:focus {
  font-size: 20px !important;
  margin-bottom: 0px;
  font-family: PT Sans Narrow !important;
  color: #000000 !important;
  background-color: #F1E4D1}
 .card {
  background-color: #251C11;
  margin: 5px;
  color: #202020!important;
  border: 1px solid #251C11;
  border-radius: 0}
 .card-header {
  color: #D7D3C7;
  background-color: #4B5558!important;
  font-size: 24px;
  text-align: center;
  padding: 4px;
  margin: 0px;
  margin-bottom: 2px;
  border: 1px solid  #404040;
  border-bottom: 0}
 .card-body {
  color: #202020 !important;
  background-color: #FFFFFF !important;
  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 20px;
  padding: 0px;
  margin: 0px;}
td.var-portrait, .var-portrait .padding-10 { padding:0px !important }
 .lbl,  .ilbl { font-weight:800; padding: 0px 3px;}
 .ilbl-shadow,  .lbl-shadow { margin-top:2px}
 th.ilbl,  .lbl,  .ilbl { color: #212529 !important; background-color:#BDA178 !important; padding-left:10px; padding-right:10px}
 .ilbl { padding-top:10px}
 td.var,  td.ivar { padding: 2px 5px; }
 .var,  .ivar { padding: 0px 3px; color: #404040 !important; background-color:#FFFFFF }
 .ivar { padding: 10px}
 .lbl.ev,  .ilbl.ev { background-color: #A0A0A0 !important }
 .lbl.od,  .ilbl.od { background-color: #A8A8A8 !important }
.card.misc .lbl.ev, .card.misc .ilbl.ev { background-color: #88CBDB !important}
.card.misc .lbl.od, .card.misc .ilbl.od { background-color: #6C1B18 !important; color: #FFFFFF !important }
 .var.ev,  .ivar.ev { background-color: #00000000 !important}
 .var.od,  .ivar.od { background-color: #00000010 !important}
 .pd2 { padding: 2px !important}
 .c { text-align:center}
 .l { text-align:left}
 .of { overflow:auto}
 .small,  .small a { font-size:10px}
 .attributes .card-body { text-align:center; padding: 0; background-color: #54624B !important }
 .attributes .card-body .var { background-color: #FFFFFF !important }
 .attributes .var {
   line-height: .8em;
   border-radius: 80px;
   width: 80px;
   height: 80px;
   border: 2px solid #404040;
   text-align: center;
   background-color: #F0E8E3;
   overflow: hidden;
   margin: 10px auto;
   color: #000000;
   padding-top: 20px;
   font-size: 40px;
   font-weight: bold
}
 .attributes .ivar {
    line-height: .8em;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #F0E8E3;
    overflow: hidden;
    margin: 0px auto;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 40px !important;
    font-weight: bold;
}
 .data .var { text-align:center}
 .fa-square { padding: 0px 1px!important;}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a { font-size:12px}
 input[required] { border: 2px solid #FF0000 !important}
 select.form-control { padding: 0px 2px}
.motivations textarea.form-control {
    min-height: 2em!important;
}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control,  select.form-control {
  background-color: white !important;
  border: 1px solid #202020}
select.form-control:not([size]):not([multiple]) {
    height: 3rem;
}
::-webkit-input-placeholder { opacity: .5; color:  #202020}