.container-fluid {
  color: #63302C !important;
  background-color: #F8F7F5;
  font-size: 20px !important;
  font-family: PT Sans Narrow !important;
  padding: 20px;}
 .table td,  .table th,  .table>tbody>tr>td { border: none}
 .table { width:100%; border-spacing: 2px; margin-bottom: 0}
/* .table td { padding:2px; background-color:#F8F7F5 !important} */
 .form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: PT Sans Narrow !important;
  color: #63302C !important;
  background-color: #F8F7F5}
.card {
  background-color: #251C11;
  margin: 5px;
  color: #63302C!important;
  border: 2px solid #63302C;
  border-radius: 0}
.card-header {
  color: #63302C !important;
  background-color: #F8F7F5;
  font-size: 30px;
  text-align: center;
  padding: 8px 2px;
  margin: 0px;
  margin-bottom: 2px;
  border: 0}
 .card-body {
  color: #63302C !important;
  background-color: #F8F7F5 !important;
  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 20px;
  padding: 0px;
  margin: 0px;}
 .lbl,  .ilbl { font-weight:800; padding: 0px 3px;}
 .ilbl-shadow,  .lbl-shadow { margin-top:2px}
 th.ilbl,  .lbl,  .ilbl { color: #63302C !important; background-color:#F8F7F5 !important; padding-left:10px; padding-right:10px}
 .ilbl { padding-top:10px}
 td.var,  td.ivar { padding-left:10px }
 th.lbl, th.ilbl, td.var, td.ivar, th.slbl, td.svar { border-left: 1px solid #63302C !important }
 th.lbl:first-child,   th.slbl:first-child,  th.ilbl:first-child,  td.var:first-child,  td.svar:first-child,  td.ivar:first-child { border-left:0 !important }
 .var,  .ivar { padding: 0px 3px; color: #63302C !important; background-color:#F8F7F5}
 .ivar { padding: 10px}
 .lbl.od,  .ilbl.od { background-color: #63302C40 !important}
 .lbl.ev,  .ilbl.ev { background-color: #63302C30 !important}
 .var.od,  .ivar.od { background-color: #63302C10 !important}
 .var.ev,  .ivar.ev { background-color: #63302C00 !important}
 .pd2 { padding: 2px !important}
 .c { text-align:center}
 .l { text-align:left}
 .of { overflow:auto}
 .small,  .small a { font-size:10px}
 .attributes .card-body { text-align:center; padding: 0}
 .attributes .var {
   line-height: .8em;
   border-radius: 80px;
   width: 80px;
   height: 80px;
   border: 2px solid #63302C;
   text-align: center;
   background-color: #F8F7F5;
   overflow: hidden;
   margin: 10px auto;
   color: #63302C;
   padding-top: 20px;
   font-size: 40px;
   font-weight: bold}
 .data .var { text-align:center}
 .fa-square { padding: 0px 1px!important;}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a { font-size:12px}
 input[required] { border: 2px solid #FF0000 !important}
 select.form-control { padding: 0px 2px}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control,  select.form-control {
  background-color: #F8F7F5 !important;
  border: 1px solid #63302C}
 textarea.form-control {
     min-height: 3em!important;}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control {
   background-color: #F8F7F5 !important;
   border: 1px solid #63302C;
   height: 30px;}
.float-right { float:right }
.grey { color: grey !important; font-style:italic }
.table.skills .lbl, .table.skills .var { padding-left:0; padding-right:0 }
.table.skills tbody tr:nth-of-type(odd )
{
   background-color: #63302C10 !important}
.card-header:first-child { border-radius: 0 }
 ::-webkit-input-placeholder { opacity: .5; color:  #63302C }