<div class="bar"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
			{% if (variables.source is defined and variables.source|length > 0) or meta.block.isSRD %}
			<p class="statblock-source" title="Source">
				{% if variables.source is defined and variables.source|length > 0 %}{{ variables.source }}{% endif %}
				{% if meta.block.isSRD %}SRD{% endif %}
			</p>
			{% endif %}
			<h1 class="dnd5e-sheet-header">
				{{ variables.name }}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 col-lg-8">
			{% if variables.overview is defined and variables.overview != "" %}
			<div class="statblock-stat desc">{{ variables.overview}}</div>
			{% endif %}
		</div>
	</div>
	{% if variables.traits is defined and variables.traits != "" %}
	<hr>
	<div class="row">
		<div class="col-12 col-md-12">
			<div class="statblock-stat"><strong>traits:</strong><br>
			<span>{{ variables.traits}}</span></div>
		</div>
	</div>
	{% endif %}
</div>
<div class="bar"></div>