{
    color: #222222!important;
    background: #B4D0DC!important;
    margin: 0px!important
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif!important;
    font-size: 13px;
}

body, p {
    color: #222222!important;
    background: #B4D0DC!important;
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
}

h2, h4, h5 {
    color: #222222!important
}

.btn {
    color: #fff!important;
    background: none!important;
    border: none!important
}

th {
    padding: 6px 6px 6px 6px!important;
    background-color: #B4D0DC!important;
    border: 2px solid white;
    color: #222222
}

td {
    padding: 0px 6px 0px 6px!important;
    background: white!important;
    color: #222222!important;
}

th, td {
    border: 1px solid #666666
}

b {
    color: #222222!important
}

small {
    padding: 15px
}

em {
    font-size: large
}

span.label.label-roller.rolldice, .rolldice em {
    background: #B4D0DC;
    color: #005971
}

.mytable {
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    color: #005971
}

.statblock p, .list-group-item, small, a {
    color: #222222!important
}

.logocontainer {
    height: 175px
}

.logo {
    background: url(https://www.worldanvil.com/i/1118238/render) center center no-repeat;
    background-size: contain;
    height: 170px;
    margin-top: 20px;
    background-color: #B4D0DC
}

span.copyright {
    text-align: center;
    display: block;
    width: 100%;
    padding: 4px
}

.header {
    font-size: 20px;
    color: #841C04;
    text-align: center
}

.padding-left {
    padding-left: 16px
}

.list-group {
    width: 100%px!important
}

.list-group-item {
    text-align: left;
    border-radius: 0px;
    background: white
}

.line-spacer {
    padding: none!important;
    margin: none!important
}

.card {
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, .125)!important;
    border-radius: .25rem!important;
}

.card-header {
    padding: 2px;
    padding-left: 0.10em;
    background-color: #005971!important;
    color: white!important;
    font-family: Iceberg;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1
}

.card-body, .collapse {
    padding: 0px!important;
    width: 100%;
    background: #B4D0DC!important;
    color: #222222
}

.list-small li {
    padding: 0px 4px 0px 4px!important
}

.list-small {
    margin-top: 15px;
    width: 100%
}

.label-roller {
    position: relative;
    top: -3px
}

.skill, .cypher, .ability {
    margin-right: 20px!important
}

.comment {
    font-style: italic;
    padding: 10px!important
}

.alertlist {
    float: none;
    padding: 3px 12px 3px 12px;
    margin: -5px -5px -5px 12px!important
}

.alert {
    line-height: 2.5em;
    float: none;
    padding: 5px 12px 5px 12px;
    margin: 10px
}

.form-header-title {
    text-transform: none
}

.form-control {
    width: auto;
    height: 22px!important;
    padding: 2px 2px 2px 2px;
    margin: 1px 10px 0px 10px;
    display: inline
}

.input-small {
    width: 60px!important
}

input {
    margin: 3px!important
}

textarea {
    width: 95%!important
}

.form-wrapper .list-group-item {
    padding-top: 0px;
    padding-bottom: 0px
}

.weapontable {
    background: white;
    text-align: center;
    width: 100%
}

.weapontable td {
    padding: 4px!important;
    color: #222222!important
}

.of {
    overflow-y: auto;
    width: 100%
}

.abilites {
    background: white
}

.abilityvalue {
    text-align: center;
    font-size: 20px!important
}

.abilityname {
    font-weight: 800;
    font-size: 18px;
    background: white!important
}

.txt, strong {
    background: white!important;
    color: #222222!important
}

.num {
    background: white;
    text-align: right;
    font-size: 20px
}

.warn {
    background: #ffd0d0;
    text-align: right;
    font-size: 20px;
    color: black
}

.novpad {
    padding-top: 0px;
    padding-bottom: 0px
}

strong {
    font-weight: 800;
    font-size: 16px
}

.badge-pill {
    float: right;
    padding: 2px;
    margin-top: 3px
}

.rolldice {
    font-size: 24px!important;
    width: 50px;
    height: 40px
}

em {
    font-size: 28px;
    padding: 2px
}

pre {
    margin: 10px
}

.pd {
    padding: 10px!important
}

.c {
    text-align: center
}

.l {
    text-align: left
}

input[type=number] {
    width: 100px!important;
    height: 30px!important;
    text-align: right
}

.conditions {
    min-height: 100px
}

h1, h2, h3, h4, h5, small, strong, b {
    color: #404040!important;
    -webkit-text-fill-color: #404040!important
}

.small, small, small a {
    font-size: 10px!important
}

.strong, b {
    font-weight: 800
}

select.form-control:not([size]):not([multiple]) {
    height: 30px!important
}