{
   border: 0;
   position: relative;
   xcolor: #404040!important;
   x-webkit-text-fill-color: #404040;
   padding: 0px!important;
   font-family: Alegreya Regular;
   font-weight: 400;
   font-size: 16px;}
  div.lua5e-sheet {
   -webkit-box-decoration-break: slice;
   -o-box-decoration-break: slice;
   box-decoration-break: slice;}
  .logo {
     background: url(/uploads/images/4a4feaa724048bc41b1a6c56c735d596.webp) center center no-repeat!important;
     height: 100px;
     background-size: contain!important;
     border: none}
  body,  p,  div,  a,  small,  strong,  h1,  h2,  h3,  h4,  b {
   font-family: Alegreya Regular!important;
   font-weight: 400}
  .form-control {
   height: unset}
  a {
   color: #b32f2f;}
  a:hover {
   color: #000;
   text-decoration: underline;}
  input::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;}
  input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;}
  input[type=number] {
   -moz-appearance: textfield;
   font-size: 12px;}
  input.form-control {
   background-color: white !important;
   border: 1px solid #202020 !important;
   border-radius: 5px !important;
   color: #444 !important;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;}
  .dnd-sheet-box .form-control:focus {
   background-color: white!important;
   color: #000!important;}
  textarea.form-control {
   background-color: white !important;
   border: 1px solid #202020 !important;
   border-radius: 5px !important;
   color: #444 !important;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;}
  textarea.form-control:focus {
   background-color: white!important;
   color: #000!important;
   border: 1px solid #202020;
   border-radius: 5px;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;}
  input.form-control:focus {
   background-color: white!important;
   color: #000!important;
   border: 1px solid #202020;
   border-radius: 5px;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;}
  .content .form-control {
   margin-bottom: 10px;
   font-size: 15px;
   line-height: 18px;
   overflow-y: auto!important;
   white-space: pre-wrap;
   word-wrap: break-word;}
  .dnd-sheet-container {
   background: #e0ded480;
   padding: 10px;
   margin-bottom: 1em;}
  .form-group {
   margin: 0;
   background-color:#00000010;}
  .footer-row div {
   margin-bottom: 10px;}
  .full-sheet {
   background: #f0efe6;
   color: #282828;
   padding: 15px;
   border-radius: 5px;
   margin-bottom: 20px;}
  .top-row {
   padding: 0px 0px 0px 10px;}
  .top-row .col-md-3 .col-md-12 {
   padding: 0px 10px 0px 0px;}
  .top-row .col-md-3 .col-md-9 {
   padding: 0px 30px 0px 10px;}
  .top-row .col-md-3 .col-md-3 {
   padding: 0px 10px 0px 10px;}
  .top-row .col-md-2 {
   padding: 0px 20px 0px 20px;}
  .dnd-sheet-box .form-group {
   padding: 0px 10px;}
  .mainbox {
   padding: 20px 20px 10px 20px;
   background-color: #e0ded5;
   border-radius: 10px;
   border: 3px solid white;
   margin-bottom: 20px;
   text-align: center;}
  .ac-hp-init-speed .dnd-sheet-box {
   margin-bottom: 1em;}
  .ac-hp-init-speed input {
   border-radius: 10px;
   width: 100%;
   height: 60px;
   text-align: center;
   background: white!important;
   overflow: hidden;
   margin: 0px auto;}
  .profbonus {
   text-align: center;}
  .profbonus .form-control {
   text-align: center;
   margin-bottom: 0px!important;}
  .main-content-row .mainstats .dnd-sheet-box {
   background-color: #e0ded5;
   padding: 10px;
   text-align: center;
   border-radius: 10px;
   border: 3px solid white;
   margin-bottom: 1em;}
  .main-content-row .mainstats .dnd-sheet-box .form-control {
   border-radius: 10px;
   width: 100%;
   height: 60px;
   text-align: center;
   background: white !important;
   overflow: hidden;
   margin: auto;
   color: #000}
  .main-content-row .col-md-8 .col-md-12 {
   padding-left: 30px;}
  .skillslist .form-group {
   margin-bottom: 1em;}
  hr {
   margin: 0;
   color: #770808;
   border: 1px #c9ad6a solid;
   margin-top: 12px;
   margin-bottom: 12px;}
  hr.hr-dark {
   border: 1px #58180d solid;}
  .statblock-source {
   text-align: right;
   font-size: 0.7em;
   font-style: italic;
   color: #424242;
   position: absolute;
   top: 20px;
   right: 20px;}
  h1 {
   font-size: 1.6rem;
   color: #58180d;
   margin: 0;
   padding: 0;}
  h2 {
   font-size: 20px;
   color: #58180d;
   border-bottom: 2px solid #c9ad6a;}
  h3 {
   margin: 0;
   margin-top: 15px;
   color: #7b2516;
   font-size: 20px;}
  h4 {
   margin: 0;
   color: #770808;
   font-family: 'Cinzel',  serif;
   font-size: 14px;
   text-transform: uppercase;}
  .subheading {
   font-size: 12px;
   font-style: italic;
   margin: 0;
   margin-bottom: 12px;
   padding: 0;}
  .modifiers {
   padding-left: 20px;
   padding-right: 20px;}
  .statblock-stat {
   margin: 1px 0;
   padding: 0;}
  .statblock-attribute {
   display: inline-block;
   height: 18px;
   width: 54px;
   margin-top: 0;
   margin-bottom: 0;
   text-align: center;}
  .inputContent {
   font-weight: bold;
   font-size: 18px;
   padding: 0px;
   color: #58180d}
  .inputLabel {
   display: block;
   border-top: 1px #404040 dotted;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 800;
   padding-top: 2px;
   padding-left: 2px;
   margin-top: 3px;}
  .inputLabelTop {
   text-align:center;
   display: block;
   border-bottom: 1px #404040 dotted;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 800;
   padding-top: 2px;
   padding-left: 2px;
   margin-top: 3px;}
  .contentContainer {
   border: 1px #404040 solid;
   padding: 2px 10px;
   position: relative;
   margin-bottom: 10px;
   border-radius: 4px;
   background: #5a41250f;}
  .listContainer {
     border: 1px #404040 solid;
     padding: 2px 2px;
     position: relative;
     margin-bottom: 10px;
     border-radius: 4px;
     background: #5a41250f;}
  .contentContainer-attribute .inputLabel {
   border: 0;
   margin: 0;
   padding: 0;
   display: block;
   text-transform: uppercase}
  .contentContainer-attribute {
   text-align: center;
   font-size: 24px;}
  .contentContainer-data {
   text-align: center;
   font-size: 18px;}
  .contentContainer-attribute .subContainer {
  font-size: 0.7em;
   display: inline;}
  .contentContainer-side .inputLabel {
   text-align: left;
   border: 0;
   padding: 0;
   padding-left: 10px;
   margin-left: 25px;
   margin-top: 3px;
   display: block;
   text-transform: uppercase}
  .contentContainer-standard .inputLabel {
   text-align: center;
   padding: 0;
   padding-top: 3px;
   display: block;
   text-transform: uppercase}
  .contentContainer-standard td {
   border: 0;
   padding: 4px;}
  label {
   padding-left:5px;
   color: #751c13;}
  h1 {
   color: #751c13;}
  h2 {
   color: #751c13;}
  h3 {
   color: #751c13;}
  h4 {
   color: #751c13;}
  h5 {
   color: #751c13;}
  h6 {
   color: #751c13;}
  h1 p {
   margin: 0;}
  h2 p {
   margin: 0;}
  h3 p {
   margin: 0;}
  h4 p {
   margin: 0;}
  h5 p {
   margin: 0;}
  h6 p {
   margin: 0;}
  h1.lua5e-sheet-header {
   font-size: 2.5rem;}
  p.lua5e-sheet-description {
   margin: 0 0 10px;
   color: #8e8d88;
   background-color: #59a36530;
   padding-left: 10px;
   border-left: 10px #59a365 solid;
   font-size: 0.9em;
   padding-top: 5px;
   padding-bottom: 5px;}
  .lua5e-sheet {
   padding: 20px;
   background-color: #f0efe6;
   border: 1px solid #760809;}
  .trackable {
   background-color: #f0efe6;
   padding: 20px;}
  p.trackable-label {
   font-size: 13px;
   margin-top: 2px;
   color: #761a0e;
   text-align: right;
   margin-bottom: 15px;}
  h4.trackable-header {}
  .label-roller {
   background: #59190e;}
  .hpcontainer strong {
   font-size: 1.2em;}
  .pd5 {
   padding: 5px}
  .in-sm {
   width: 50px;
   display: inline-flex;}
  .in-md {
   width: 100px;}
  .in-mx {
   width: 100%;
   display: inline-flex;}
  .floatright {
   float: right}
  .pb {
   width: 15px;
   height: 25px}
  .c {
   text-align: center !important}
  .r {
   text-align: right}
  .l {
   text-align: left !important}
  .hpcontainer strong {
   font-size: 1.2em}
  .of {
     overflow-y: auto;
     width: 100%}
  .attacktable td,  .attacktable th {
   padding: 5px}
  .w30 { width: 30px}
  .w60 { width: 60px}
  .w90 { width: 90px}
  a { color: #404040!important; -webkit-text-fill-color: #404040}
  .contentContainer {
   -webkit-box-shadow: 0 8px 6px -6px #404040;
   -moz-box-shadow: 0 8px 6px -6px #404040;
   box-shadow: 0 8px 6px -6px #404040}
  .artist-credits,  .artist-credits a {
   font-size: 10px!important}
  .rolldice {
   font-size: 16px!important;
   background: #59190e!important;
   -webkit-text-fill-color: #fff;
   padding: 2px 4px 2px 4px!important}
  .strong,  b {
   font-weight: 800}
  h1,  h2,  h3,  h4,  h5,  small,  strong,  em,  b {
   -webkit-text-fill-color: #404040}
  .small,  .small a {
   font-size: 12px!important}
  textarea.form-control {
     min-height: 5em!important;}
  select.form-control {
     height: 2.6rem!important; background-color:#fff; padding: 0px;
     border: 1px solid #202020 !important;
     border-radius: 5px !important;}
  input.form-control,  textarea.form-control,  textarea.form-control:focus,  input.form-control:focus,  select.form-control {
   font-size: 16px!important;}
  tr { background:none!important}
  th {  background-color: #ffffffa0}
  .inputLabel { margin: 0px 0px 12px 0px; -webkit-text-fill-color: var(--off-white)}
  .skilltable tr:nth-of-type(1n  ) 
 {
     background-color: #00000010!important;}
  .skilltable tr:nth-of-type(2n  ) 
 {
     background-color: #00000000!important;}
  .hdr {  background-color: #00000020!important;}
  .od {  background-color: #00000010!important;}
  .ev {  background-color: #00000000!important;}
  .b { font-weight: 800; -webkit-text-fill-color:red}
  .attmod .rolldice { font-size:24px!important}
  .att .rolldice {
    font-size: 30px!important;
    background:none!important;
    color: #404040!important;
    -webkit-text-fill-color: #404040;
    font-family: Alegreya Regular!important;
    border:none;
    padding: 0px!important;
    margin: 0px!important}
  .class {
    font-weight: bold;
    font-size: 18px;}
  .circle {
   line-height: .8em;
   border-radius: 60px;
   width: 60px;
   height: 60px;
   border: 3px solid #000000;
   text-align: center;
   background: #FFFFFF;
   overflow: hidden;
   margin: auto;
   color: #000000;
   padding-top: 15px;
   font-size: 20px;}
  .attmod {
     line-height: .8em;
     border-radius: 80px;
     width: 80px;
     height: 80px;
     border: 2px solid #808080;
     text-align: center;
     background-color: #F0E8E3;
     overflow: hidden;
     margin: 0px auto 5px auto;
     color: #000000;
     padding-top: 7px;
     font-size: 40px;
     display: block;}
  .pd0 { padding:0}
  .pdl10 { padding-left:10px}
  .pblist {
     border: 0;
     padding-left: 0px !important;
     margin-left: 0px !important;
     margin-top: 12px;
     display: block;
     text-transform: uppercase;}
  .attmod .rolldice {
     font-size: 50px!important;
     background: none !important;
     -webkit-text-fill-color: #59190e !important;
     border: none;
     font-family: Alegreya Regular!important;}
  .faded { -webkit-text-fill-color: #40404080; font-style:italic;}
  .faded .rolldice { background-color: #40404080!important}
  input[required] { border: 2px solid red!important;}
  .CodeMirror-buttonsPanel button,  .button { color:black!important; -webkit-text-fill-color: black!important; background-color:white!important; text-shadow:none}
  .block-form strong,  .cm-s-lesser-dark.CodeMirror { color:#404040!important; -webkit-text-fill-color: white!important; background-color:#404040!important; text-shadow:none}
  .btn-link,  .btn-link:hover,  .btn-dark,  .btn-dark:hover { color:#404040!important; -webkit-text-fill-color: white!important; background-color:none; text-shadow:none; border:none; background:none}
  a { text-decoration:underline}
  ::-webkit-input-placeholder { opacity: .5} 