<div class="container-fluid sheet-umbra-rpg-character badge">
    <div class="row">
        <div class="col-12">
            <b>{{variables.name|default|trim}}</b>, {{variables.ancestry|default|trim}}
        </div>
    </div>
</div>