{% import _self as sheet %}
{# -------------------------------------------------------------- #}
{% macro getClanLogo( clan = '' ) %}{% if clan != '' %}
    {% if clan == "Drenchen"  %}{% set id = "3578333" %}{% endif %}
    {% if clan == "Dousan"    %}{% set id = "3578332" %}{% endif %}
    {% if clan == "Grottan"   %}{% set id = "3578334" %}{% endif %}
    {% if clan == "Sifa"      %}{% set id = "3578336" %}{% endif %}
    {% if clan == "Spriton"   %}{% set id = "3578337" %}{% endif %}
    {% if clan == "Stonewood" %}{% set id = "3578338" %}{% endif %}
    {% if clan == "Vapra"     %}{% set id = "3578339" %}{% endif %}
	[img:{{id}}|center|50]
{% endif %}{% endmacro getClanLogo %}
{# -------------------------------------------------------------- #}
<div class="container-fluid dark-crystal-sheet">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of box">
                <div class="card-body c">
{{ variables.name is defined ? variables.name }} of clan {{ variables.clan is defined ? variables.clan }}
<span class="badge">{{ sheet.getClanLogo(variables.clan|default('')) }}</span>
                </div>
            </div>
        </div>
    </div>
</div>