@font-face {
    font-family: SvevaVersal;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/Timespool/Fonts/39ec531d9969e5965c0e6ad857ce9259a5760fbb/astype-SvevaVersal.woff2 ) ;
}
@font-face {
    font-family: Goudos;
    font-style: normal;
    font-weight: 400;
    src: url(https://rawcdn.githack.com/Timespool/Fonts/39ec531d9969e5965c0e6ad857ce9259a5760fbb/GOUDOS.woff2 ) ;