* {
   --HeaderFont: SvevaVersal;
   --BodyFont: Goudos;
   --ColorPrime: #E3DEC8;
   --ColorSec-1: #F7F6EF;
   --ColorSec-2: #F7F6EF;
   --ColorTert-1: #834368;
   --ColorTert-2: #8E7D64;
   --BodyColor: #231E20;
   --MuteColor: #8E7D64;
   --Shadow: rgba(0,  0,  0,  0.6) ;
   --SoftShadow: rgba(0,  0,  0,  0.2) ;
   --Border-N: none;
   --Border-1: 3px solid var(--ColorTert-2) ;
   --Border-1-W: 3px 2px 3px 2px;
   --Border-3: 3px solid var(--ColorTert-1) ;
   --BorderRad: 0px;
   --BoxShad-1: 0px 0px 5px 0px var(--SoftShadow) ;
   --Transit: all .3s; 
   overflow-wrap: break-word;}
.dark-crystal-sheet {
   background: url(https://www.worldanvil.com/uploads/images/04d9d8801fd1487d0c4bc25aceeaa85c.jpg) ;
   background-size: contain;
   box-shadow: 0px 0px 15px 1px rgba(43,  32,  28,  0.6) ;
   padding: 5px 5px;}
table { border:none }
div,  p {
   font-size: 20px;
   font-family: var(--BodyFont) ;
   color: var(--BodyColor) ;}
.logo {
   background: url(https://www.worldanvil.com/uploads/images/2e52f2f1c70a7aa2f298a282aa90e9bb.webp) center center no-repeat!important;
   height: 200px;
   background-size: contain!important;
   border: none
}
.card-body {
   background-color: var(--ColorSec-1) ;
   border: none
}
.card-header { border-bottom:none }
.head-bar {
   font-size:23px;
   font-family: var(--HeaderFont) ;
   font-weight: 800;
   color: var(--ColorTert-1) ;
   background-color: var(--ColorSec-1) ;
   text-align: center;
   padding-top: 15px;
   letter-spacing: 2px;
   text-transform: lowercase;
   text-transform: capitalize;}
.skilltable { margin: 10px auto 10px auto}
.skilllabel {
   -webkit-transform: rotate(270deg) ;
   -moz-transform: rotate(270deg) ;
   -ms-transform: rotate(270deg) ;
   -o-transform: rotate(270deg) ;
   transform: rotate(270deg) ;}
.copyright-attribution {
   background: var(--ColorPrime) ;
   border: var(--Border-1) ;
   border-width: var(--Border-1-W) ;
   padding: 5px; margin:10px}
dd,  dt { font-size:8px}
th,  td { padding: 5px 2px;}
.tabsep { border-bottom: 1px solid var(--MuteColor)}
.box {
   background: var(--ColorSec-1) ;
   border: 3px solid var(--ColorTert-1) ;
   border-radius: var(--BorderRad) ;
   outline: 3px solid var(--ColorTert-1) ;
   outline-offset: 2px;
   transition: var(--Transit) ;
   margin: 15px 6px;}
hr {
   opacity: 1;
   background: url(https://www.worldanvil.com/uploads/images/d2ea95ce654fda83e4e0b6056a8a8a43.svg) round;
   border: 0!important;
   background-size: contain;
   background-repeat: repeat-x;
   background-position: center;
   height: 25px;}
.lbl,  .txt { padding: 0px 5px;}
.od {  background-color: #ffffff90!important; padding: 0px 5px;}
.ev {  background-color: #00000010!important; padding: 0px 5px;}
.w30 { width:30px;}
.nopd2 { padding:0px!important}
.nopd { padding:0px!important; border: 1px solid #444}
.w70p { width:70%; float:right}
.c { text-align: center}
.r { text-align: right}
.l { text-align: left}
.card-body { padding: 0.5rem}
.fa-solid,  .fa-regular,  .ra { -webkit-text-fill-color: var(--ColorTert-2)!important}
.glbl,  th,  .head-bar { color: var(--ColorTert-1)!important ;}
.rolldice { background-color: var(--ColorTert-2)!important}
.badge { background-color: transparent;}
th { background-color: #00000020!important;}
b { color: var(--ColorTert-1)!important ;}
textarea.form-control {
   background-color: #e0ded5 !important;
   border: 0px solid #c5c4bb !important;
   border-radius: 5px !important;
   color: #444 !important;}
textarea.form-control:focus{    
 background-color: #d6d4ca!important;
   border: 0px solid #c5c4bb;
   border-radius: 5px;
   color: #000!important;}
.CodeMirror-buttonsPanel button,  .button { color:black!important; -webkit-text-fill-color: black!important; background-color:white!important; text-shadow:none}
.btn-dark,  .block-form strong,  .cm-s-lesser-dark.CodeMirror { color:#404040!important; -webkit-text-fill-color: white!important; background-color:#404040!important; text-shadow:none}
::-webkit-input-placeholder { opacity: .5}
.form-control-description { color: var(--ColorTert-1) ; font-size:16px}
.form-control:not([size]):not([multiple]) {
   height: 2.35rem;}
