<div class="container-fluid dark-crystal-sheet">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2 of box">
                <table width="100%">
                    <tr><td class="lbl l" width="40%" title="Health">Health</td><td class="txt l">
                        {% set health = variables.health|default('d6') %}
                        <select class="form-control" required="required" id="health" name="health">
                            <option value="d4" {% if health == 4 %}selected="selected" {% endif %} >d4</option>
                            <option value="d6" {% if health == 6 %}selected="selected" {% endif %} >d6 (default for most)</option>
                            <option value="d8" {% if health == 8 %}selected="selected" {% endif %} >d8</option>
                        </select>
                    </td></tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2 of box">
                <table width="100%">
                    <tr><td class="lbl l" title="Experience Points">XP</td><td class="txt l"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control" id="xp" name="xp" placeholder="Experience Points" type="text" /></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of box">
                <div class="card-header head-bar"><i class="ra ra-quill-ink"></i> Notes</div>
                <div class="card-body">
                    <textarea class="form-control" id="notes" name="notes" rows="2" placeholder="Put your notes here.">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>