<div class="container-fluid dark-crystal-sheet">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2 of box">
                <table width="100%">
                    <tr><td class="lbl l" width="40%" title="Health">Health</td><td class="txt l"><input value="{{ variables.health is defined ? variables.health }}" class="form-control" id="health" name="health" placeholder="Health" type="text" /></td></tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card my-2 of box">
                <table width="100%">
                    <tr><td class="lbl l" title="Experience Points">XP</td><td class="txt l"><input value="{{ variables.xp is defined ? variables.xp }}" class="form-control" id="xp" name="xp" placeholder="Experience Points" type="text" /></td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card my-2 of box">
                <div class="card-header head-bar">Notes</div>
                <div class="card-body">
                    <textarea class="form-control" id="notes" name="notes" rows="2" placeholder="Put your notes here.">{{ variables.notes is defined ? variables.notes }}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>