<div class="card of">
    <div class="card-header head-bar">{{ variables.name|default('') }}</div>
    <div class="card-body od">
        <table width="100%">
            <tr><td class="hdr c" width="30%">Concept</td><td class="txt l od">{{ variables.concept|default('') }}</td></tr>
            <tr><td class="hdr c">Race</td><td class="txt l ev">{{ variables.race|default('') }}</td></tr>
        </table>
    </div>
</div>