{
  background: url(https://www.worldanvil.com/uploads/images/150a80046f86c6adab909b9219b416e1.jpg) !important;
  padding: 3px!important;
  font-family: Teko Regular;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8em;
  letter-spacing: .04em;}
 .fallout-sheet,  a,  body,  .descriptor,  .type,  .focus,  small,  strong,  h1,  h2,  h3,  h4,  h5,  .btn {
  background-color: white;
  color: #222;
  font-family: Teko Regular!important;
  font-weight: 400;
  font-size: 20px}
 .fallout-sheet { color:white!important;
background: url(https://www.worldanvil.com/uploads/images/150a80046f86c6adab909b9219b416e1.jpg) !important;}
 a,  small,  .small { color:white!important; background: none!important;}
 .logocontainer {
  height: 175px;}
 .logo {
  background: url(https://www.worldanvil.com/uploads/images/350e46698b9262568bbe685b089021cc.webp) center center no-repeat;
  background-size: contain;
  height: 150px;}
 .header {
  font-size: 24px;
  text-transform: uppercase;}
 .padding-left {
  padding-left: 16px}
 textarea .form-control,  .list-group {
  width: 100%!important}
 .form-control {
  height: 22px!important}
 .list-group-item {
  text-align: left;
  border-radius: 0px}
 .line-spacer {
  padding: none!important;
  margin: none!important}
 .form-control {
  width: auto!important;
  padding: 2px 2px 2px 2px;
  margin: 1px 10px 0px 10px;
  display: inline}
 .card {
  margin: 0px 0px 1px 0px;
  border: 1px solid #222!important;
  border-radius: 0px}
 .card-header {
  text-align: center;
  padding: 0px;
  padding-left: 20px;
  border-radius: 0px}
 .card-body,  .collapse {
  padding: 1px!important;
  background-color:white;
  color: #222;
  width: 100%}
 .label-roller {
  position: relative;
  top: -3px}
 input[type=number],  .input-small {
  width: 60px!important}
 input {
  margin: 3px!important}
 small {
  padding: 5px;
  line-height: 1.8em;}
 .skill,  .ability {
  margin-right: 20px!important}
 .botrow {
  border-bottom: 2px solid #b0b0b0;
  margin-bottom: 7px}
 .bg-simple {
  background-color: #e0e0e0!important;
  color: #222}
 .bg-dark {
  background-color: #d0d0d0!important;
  color: #222}
 .copyright,  .copyright a {
  color: #888;
  font-size: 12px;}
 th,  td {
  padding-left: 10px;
  padding-right: 10px}
 h3 {
  font-size: 30px text-transform: uppercase;}
 .table-striped {
  border: 1px solid #ccc}
 span.hdr,  span.txt {
  display: inline-block;
  margin-bottom: 5px;
  min-width: 150px}
 .hdr {
  text-transform: uppercase;
  color: #fff!important;
  background: #444!important;
  padding: 2px 8px 2px 8px;
  border: 1px solid #222;}
 .txt {
  color: #222!important;
  background: #fff!important;
  padding: 2px 8px 2px 8px;
  border: 1px solid #222;}
 .al-warning {
  color: #DC9256!important;
  padding: 2px 8px 2px 8px;
  border: 1px solid #222;}
 .al-danger {
  color: #FF0D0D!important;
  padding: 2px 8px 2px 8px;
  border: 1px solid #222;}
 .attr {
  letter-spacing: normal;
  font-size: 28px!important;
  padding: 5px 5px 5px 5px;
  width: 100%}
 .form-horizontal .attr,  .form-horizontal .hdr {
  font-size: 20px!important;
  font-weight: 400;}
 .str,  .combat,  .gear {
  background-color: #89AA91!important;
  color: white}
 .per,  .weapons {
  background-color: #8B7A5C!important;
  color: white}
 .end,  .perks {
  background-color: #5ABBCA!important;
  color: white}
 .cha,  .skills,  .ammo {
  background-color: #DC9256!important;
  color: white}
 .int,  .attributes {
  background-color: #B7B3A1!important;
  color: white}
 .agi,  .notes {
  background-color: #D7A896!important;
  color: white}
 .luck {
  background-color: #B1ABBC!important;
  color: white}
 .c {
  text-align: center}
 .l {
  text-align: left}
 .r {
  text-align: right}
 .table {
  border-collapse: separate;
  border-spacing: 5px}
 .far,  .fas,  .fa {
  color: #222!important}
 .skillstxt {
  color: #DC9256}
 .od {
  background-color: #fff!important}
 .ev {
  background-color: #eee!important}
 .rolldice {
  color: #222!important;
  font-family: Teko Regular!important;
  font-weight: 400!important;
  font-size: 20px!important;
  margin-top: 7px!important;
  padding: 6px 10px 4px 10px!important;
  background-color: #ddd!important;
  border: 1px solid black}
 .artist-credits,  .artist-credits a,  .small,  .small a {
  font-size: 16px!important;
  color: #fff;
  line-height: 1.2em;
  margin-top: 5px}
 .of {
  overflow-y: auto;
  width: 100%}
 .my-2 {
  margin-top: 10px}
 .dice {
  padding-left: 1px;
  padding-right: 1px;}
 .dice .rolldice {
  padding: 6px 4px 4px 4px!important;}
 .form-control,  .form-control:focus,  select option {
  width: 100%!important;
  background-color: white !important;
  color: #000!important;
  border: 1px solid #202020;
  font-size: 16px!important;
  line-height: 1.6em;
  min-height: 40px;}
 .w98 {
  width: 98%!important}
 .form-control {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%}
 .np {
  padding: 0!important}
 .nw0,  .nw0:focus {
  width: 60px!important}
 .nw1,  .nw1:focus {
  width: 80px!important}
 .nw2,  .nw2:focus {
  width: 160px!important}
 .wa,  .wa:focus {
  width: auto!important}
 .lg {
  background-color: #e8e8e8!important}
 .pd {
  padding: 10px!important}
.plain { background: #fff; margin:-3px; text-align:center }