<div class="form-wrapper">
    <div class="fallout-sheet">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-2">
                <div class="card hdr attr c">xp earned</div>
                <div class="card txt attr c lg"><input value="{{ variables.xp_earned is defined ? variables.xp_earned }}" class="form-control c" id="xp_earned" name="xp_earned" type="text" /></div>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <div class="card hdr attr c">luck points</div>
                <div class="card txt attr c lg"><input value="{{ variables.luck_points is defined ? variables.luck_points }}" class="form-control c" id="luck_points" name="luck_points" type="text" /></div>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <div class="card hdr attr c">health</div>
                <div class="card txt attr c lg"><input value="{{ variables.health_curr is defined ? variables.health_curr }}" class="form-control c" id="health_curr" name="health_curr" type="text" /></div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header notes">Notes</div>
                    <div class="card-body pd">
                        <textarea class="form-control w98" id="notes" name="notes" rows="3" placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>