.system-cod .full-dot {
    height: 10px;
    width: 10px;
    background-color: #3c3c3c;
    border-radius: 50%;
    border: 1.5px solid black;
    display: inline-block;
}

.system-cod .empty-dot {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1.5px solid black;
    display: inline-block;
}

.system-cod .split-line
{
    border-bottom: solid 2px #3c3c3c;
}