{
   padding: 0px!important}
.pf2-generic-block {
   font-family: Tauri Regular;
   font-size: 14px;
   letter-spacing: -0.03em;
   line-height: 2em;
   background: #fffcf5;
   color: #27241f;
   flex-flow: row wrap}
.generic-name {
   display: block;
   border-bottom: 1px solid;
   font-family: Eczar Bold;
   font-size: 1.5em;
   font-weight: bold;
   font-variant: small-caps;
   padding: 2px;
   letter-spacing: 1px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;}
.descriptor,  th {
   font-weight: bold;
   font-size: 1.1em;
   color: black!important}
.divider {
   border-top: 1px solid;}
.spelltext {
   padding-left: 5px;}
.pf-red-bg {
   background: #460606;
   color: #f6d49f!important}
.form-section-content {
   padding: 5px;
   padding-top: 10px;}
.btn-link {
   margin-bottom: 5px;
   font-weight: bold;
   font-variant: small-caps;
   font-size: 1.2em;}
a {
   color: #460606;}
.form-control {
   background: #fffcf5 !important;
   color: #27241f !important;
   border: 1px solid !important;}
label {
   color: #27241f !important;
   font-weight: bold;
   padding-left: 10px;}
.description,  .text-muted {
   color: #27241f !important;
   margin-top: -10px !important;
   margin-bottom: 5px !important;
   opacity: 0.5;}
.trait {
   text-transform: uppercase;
   padding: 4px 10px 4px 10px;
   border: 2px solid #D9C484;
   margin: 10px 10px 15px 0px;
   background-color: #5E0000;
   color: white!important;
   line-height: 2.4em!important;}
.alignment { background-color: #576293; }
.size { background-color: #3B7B59; }
.rarity { background-color: #98513D; }
.r_common { background-color: #3B7B59}
.r_uncommon { background-color: #98513D}
.r_rare { background-color: #002664}
.r_unique { background-color: #800080}
.trait-form {
   padding: 12px}
.level {
   float: right;}
.table,  .table td,  .table th,  .table-striped,  .table-striped td,  .table-striped th {
   font-family: Tauri Regular!important;
   line-height: 1.6;
   font-size: 14px;
   flex-flow: row wrap;
   border: none!important;
   box-shadow: none;}
span {
   font-size: 14px;
   flex-flow: row wrap;}
.pf-red-bg,  span.level {
   background: #460606;
   color: #f6d49f;
   font-family: Eczar Bold!important;
   font-size: 21px;
   font-weight: bold;
   text-transform: uppercase;}
.subheader,  h4 {
   background: #460606 !important;
   color: #f6d49f !important;
   font-family: Eczar Bold!important;
   font-size: 18px !important;
   font-weight: bold !important;
   padding: 5px 10px 2px 10px!important;}
.card {
   background-color: #fffcf5 !important;
   color: #27241f;
   border: #fffcf5;
   padding: 5px}
.card-header {
   font-family: Eczar Bold!important;
   font-size: 21px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 8px 20px 5px 20px;
   letter-spacing: 1px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;}
.card-body {
   color: #27241f!important;
   background: #fffcf5!important;
   padding: 10px;
   border: 1px solid}
.card-body .row {
   margin-left: -2px;
   margin-right: -2px}
.table {
   margin-bottom: 0px;
   width: 100%;
   border: none;}
.table-striped {
   min-width: 100%!important}
.c {
   text-align: center}
.l {
   text-align: left!important;
   padding-right: 30px!important;}
.b {
   font-weight: 800;
   color: black!important}
.form-control {
   display: inline-flex;
   width: 100%;
   color: black}
.form-short {
   width: 100px;
   margin-right: 20px}
.form-medium {
   width: 500px;
   margin-right: 20px}
.rolldice {
   background-color: #460606!important;
   color: #F6D49F!important;
   font-size: 16px;}
.label-roller {
   box-shadow: none}
.user-css-image-thumbnail {
   width: 200px;
   float: right}
.table-striped th {
   text-align: center!important;
   text-transform: none!important;
   background: #460606!important;
   color: #f6d49f!important;
   font-family: Eczar Bold!important;
   padding: 0px 15px 0px 15px!important;}
.table-striped td {
   text-align: center}
.trait,  b {
   font-family: Tauri Regular!important;}
.descriptor, b {
   color: #27241f!important;
   font-weight:900;
   padding: 0px 2px;
   background-color: #00000010;}
hr { margin-top: 1px;
   margin-bottom: -14px;
   border: 0;
   border-top: 1px solid #00000060;}