.img-fluid {
    width: 100%;
    height: auto;
}

.system-thechapter .thechapter-stat-weapon {
    background: #000000;
}

.system-thechapter .thechapter-stat-weapon-heading {
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
}

.system-thechapter .thechapter-stat-weapon-category-icon {
    display: flex;
}

.system-thechapter .thechapter-stat-weapon-heading h2 {
    text-shadow: 0px 0px 4px #fff;
    -webkit-animation: whiteNeon 1.5s ease-in-out infinite alternate;
    -moz-animation: whiteNeon 1.5s ease-in-out infinite alternate;
    animation: whiteNeon 1.5s ease-in-out infinite alternate;
}

.system-thechapter .thechapter-stat-weapon-heading h2 span {
    vertical-align: text-top;
}

.system-thechapter .thechapter-stat-weapon-heading-category {
    margin-top: 0;
    color: red;
    text-shadow: 0 0 2px rgba(255,0,0,0.2), 0 0 4px rgba(255,0,0,0.2), 0 0 6px rgba(255,0,0,0.2), 0 0 8px rgba(255,0,0,0.2), 0 0 30px rgba(255,0,0,0.2), 0 0 35px rgba(255,0,0,0.2), 0 0 50px rgba(255,0,0,0.2), 0 0 60px rgba(255,0,0,0.2);
}

.system-thechapter .thechapter-stat-weapon-stats-wrapper {
    display: flex;
    padding-bottom: 30px;
}

.system-thechapter .thechapter-stat-weapon-stats {
    color: #ffffff;
    text-transform: uppercase;
        text-shadow: 0 0 1px rgba(255,255,255,0.1), 0 0 2px rgba(255,255,255,0.1), 0 0 3px rgba(255,255,255,0.1), 0 0 4px rgba(255,255,255,0.1), 0 0 5px rgba(255,255,255,0.2), 0 0 6px rgba(255,255,255,0.2), 0 0 7px rgba(255,255,255,0.2), 0 0 8px rgba(255,255,255,0.2);
}

.system-thechapter .thechapter-stat-weapon-stats h4 {
    font-weight: 700;
    text-align: right;
}

.system-thechapter .thechapter-stat-weapon-stats .progress {
    background-color: #447d7d;
    height: 10px;
}

.system-thechapter .thechapter-stat-weapon-stats .progress-bar {
    background-color: #ffffff;
}

@-webkit-keyframes whiteNeon {
  from {
    text-shadow: 0 0 2px rgba(255,255,255,0.5), 0 0 4px rgba(255,255,255,0.5), 0 0 6px rgba(255,255,255,0.5), 0 0 8px rgba(255,255,255,0.5), 0 0 30px rgba(255,255,255,0.5), 0 0 35px rgba(255,255,255,0.5), 0 0 50px rgba(255,255,255,0.5), 0 0 60px rgba(255,255,255,0.5);
  }
  to {
    text-shadow: 0 0 1px rgba(255,255,255,0.5), 0 0 2px rgba(255,255,255,0.5), 0 0 3px rgba(255,255,255,0.5), 0 0 4px rgba(255,255,255,0.5), 0 0 15px rgba(255,255,255,0.5), 0 0 17px rgba(255,255,255,0.5), 0 0 20px rgba(255,255,255,0.5), 0 0 30px rgba(255,255,255,0.5);
  }
}
