{
    padding: 0px!important
}

.uesrpg-sheet {
    padding: 5px;
    color: #222!important;
    background: #f0e8e0;
    font-family: Alegreya Regular;
    font-weight: 400;
    font-size: 16px
}

.uesrpg-sheet .card-body {
    font-family: Alegreya Regular;
    font-weight: 400;
    font-size: 16px
}

.uesrpg-sheet .head-bar {
    font-family: Alegreya Regular;
    font-weight: 800;
    font-size: 24px
}

.uesrpg-sheet .hdr {
    font-family: Alegreya Regular;
    font-weight: 800;
    font-size: 16px
}

.uesrpgform-sheet {
    color: #222!important;
    background: #f0e8e0;
    font-family: Alegreya Regular;
    font-weight: 400;
    font-size: 14px
}

.uesrpgform-sheet .card-body {
    font-family: Alegreya Regular;
    font-weight: 400;
    font-size: 14px
}

.uesrpgform-sheet .head-bar {
    font-family: Alegreya Regular;
    font-weight: 800;
    font-size: 20px
}

.uesrpgform-sheet .hdr {
    font-family: Alegreya Regular;
    font-weight: 800;
    font-size: 14px
}

h4,
h5 {
    color: #6d562c
}

th {
    padding: 6px 6px 6px 6px!important;
    background-color: #FFF4D3!important;
    border: 2px solid white;
    color: #222
}

td {
    padding: 6px 6px 6px 6px!important
}

th,
td {
    border: 1px solid #666666
}

small,
small a,
small a:hover {
    color: #222
}

small {
    padding: 15px
}

em {
    font-size: large
}

span.label.label-roller.rolldice,
.rolldice em {
    background: #f0daa0;
    color: #7c6439
}

.mytable {
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    color: #796338
}

.statblock p,
.list-group-item {
    color: #222!important
}

.logocontainer {
    height: 175px
}

span.copyright {
    text-align: center;
    display: block;
    width: 100%;
    padding: 4px
}

.bg-simple {
    background-color: #FFF4D3!important;
    color: #222
}

.header {
    font-size: 20px;
    color: #b38e85
}

.padding-left {
    padding-left: 16px
}

.list-group {
    width: 100%px!important
}

.list-group-item {
    text-align: left;
    border-radius: 0px
}

.line-spacer {
    padding: none!important;
    margin: none!important
}

.card {
    color: #222;
    margin: 2px;
    border: 1px solid #222!important;
    padding: 2px;
    border-radius: .25rem!important;
}

.card-header {
    padding: 2px;
    padding-left: 0.10em;
    color: #222
}

.card-body,
.collapse {
    color: #222;
    padding: 0px!important;
    width: 100%;
    background: #fffbf1;
    border: none!important
}

.list-small li {
    padding: 0px 4px 0px 4px!important
}

.list-small {
    margin-top: 15px;
    width: 100%
}

.label-roller {
    position: relative;
    top: -3px
}

.skill,
.cypher,
.ability {
    margin-right: 20px!important
}

.comment {
    font-style: italic
}

.badge-pill {
    float: right
}

.alert {
    float: right;
    padding: 5px 12px 5px 12px;
    margin: 0px
}

.alertlist {
    float: none;
    padding: 3px 12px 3px 12px;
    margin: -5px -5px -5px 12px!important
}

.form-header-title {
    text-transform: none
}

.form-control {
    width: 80%;
    height: 25px!important;
    padding: 2px 2px 2px 2px;
    margin: 1px 10px 0px 10px;
    display: inline;
    background-color: white!important;
    color: #222!important
}

input[type=number] {
    width: 60px!important;
    padding-right: 0px
}

.input-small {
    width: 60px!important
}

.input-med {
    width: 120px!important
}

input {
    margin: 3px!important
}

textarea {
    width: 95%!important;
    height: 60px!important
}

.form-wrapper .list-group-item {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white
}

.weapontable,
.of {
    overflow-y: auto
}

.armortable {
    margin: 10px auto 10px auto
}

.l {
    text-align: left;
    padding-left: 10px
}

.c {
    text-align: center
}

.r {
    text-align: right;
    padding-right: 10px
}

.ev {
    background-color: #e0d8d0
}

.od {
    background-color: #f0e8e0
}

.hdr {
    background: #E7D8B7;
    padding: 2px 10px 2px 10px;
    border: 1px solid #404040
}

.txt {
    padding: 2px 5px 2px 10px;
    border: 1px solid #404040
}

.head-bar {
    background: #FAF4DC;
    text-align: center;
    text-transform: uppercase
}

.lbl {
    background: #FAF4DC;
    padding: 2px 10px 2px 10px;
    border: 1px solid #404040
}

.hdr {
    background: #E7D8B7;
    padding: 2px 10px 2px 10px;
    border: 1px solid #404040;
    font-size: 18px
}

.att {
    background: #b38e85;
    padding: 2px 10px 2px 10px;
    border: 1px solid #404040
}

.nb {
    border: none
}

.center {
    margin-left: auto;
    margin-right: auto
}

.pd10 {
    padding: 10px!important
}

.mt10 {
    margin-top: 10px
}

.lg {
    font-size: 24px;
}

.red,
.crushing,
.severe,
.moderate {
    color: #a00000
}

em {
    padding: 0px 8px 0px 3px;
    color: #222!important
}

.die {
    padding: 2px 2px 2px 2px!important
}

.sm {
    font-size: 12px
}

.strong,
b {
    font-weight: 800
}

h1,
h2,
h3,
h4,
h5,
small,
strong,
em,
b {
    -webkit-text-fill-color: #404040
}

.small,
.small a {
    font-size: 12px!important
}