 .starfinder-rpg-character
{
    border-radius: 25px;
    background-color: #03141f;
    padding:12px;
    padding-left: 20px;
    color: #e4e4e4;}
 /*-------------------------DISPLAY-CSS----------------------*/
.sheet-menu
{
    background-color: #141414;
    border-radius: 25px;
    padding:2px;
    padding-left: 30px;
    font-size: 1.3em;}
 .sheet-menu-item
{
    padding-right: 5px;}
 .nav-pills .nav-link.active
{
  background-color: #002164;}
 .sheet-section
{
    padding: 3.5px;}
 .page-title
{
    color: white;}
 .card
{
    padding: 3.5px;
    margin: 0px;
    margin-bottom: 10px;
    background-color: slategrey;}
 .card-header
{
    color: #f8863d;
    font-weight: bolder;
    font-size: 1.2em;
    font-family: Impact, .template-starfinder_character_sheet-gorkamworka-3 'Arial Narrow Bold', .template-starfinder_character_sheet-gorkamworka-3 sans-serif;
    background-color: #072643;
    padding-left: 20px;
}
 .card-content
{
    padding: 15px;
    font-size: 1.3em;
    background:#141414;
    color: #e4e4e4;}

.sheet-section th
{
    text-align: center;
    color: #7899b7;
    text-transform: uppercase;
    font-size: 0.8em;
}

 .sheet-section .table-roll-label
{
    background: #e3622b;
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 6px;
    border-radius: 10%/35%;
    cursor: pointer;
    margin: 4px;
    text-shadow: 0px 0px 5px #000000;
}
 .sheet-section .table-label,  .sheet-section .dr-label
{
    text-align: left;
    font-weight: bold;
    font-size: 0.8em;
    color: #e4e4e4;}
 .sheet-section .table-total
{
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
    width: 18%;
    color: #41bbf1;}
 .sheet-section .dr-value
{
    text-align: left;
    font-weight: bolder;
    font-size: 1em;
    width: 18%;
    color: #41bbf0;}
 .sheet-section .table-value
{
    text-align: center;
    font-size: 1.2em;
    color: #e4e4e4;}
 .class-level-value,  .info-value
{
    color: #e4e4e4;
    font-size: 1em;}
 .bba-label
{
    color: #e4e4e4;
    padding: 2px;
    font-size: 0.8em !important;}
 .info-label
{
    color: #94c8e7;
    border-top: solid 1px #1484ec;
    text-transform: uppercase;
    font-size: 0.65em;
    margin-top: 2px;
    padding-top: 3px;
}
 /*-------------------------FORM-CSS----------------------*/
.form-section-header
 {
    font-size: 1.25em;
    font-weight: bold;
    color: #ffffff;
    background: #072643;}
 .form-section-header .btn-link
 {
    font-size: 1.25em;
    font-weight: bold;
    color: #ffffff;}
 .form-section-header .btn-link:hover
 {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: #f8863d;}
 .form-section-header .btn-link:focus
 {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: #f8863d;}
 .form-section-content
 {
    padding-top: 12px;
    font-size: 1.1em;
    color: #072643;
    background: #141414;
    padding-bottom: 25px;}
 .form-section
 {
     display: inline block;}
.form-row
{
    padding: 5px;
}
 .form-row .form-control
 {
     margin: 0px!important;}
 .form-section-content label
 {
     font-weight: bold;
     padding: 5px;
     color: whitesmoke;
     text-align: center;
     margin: 0px!important;}
.form-section-content input
{
    font-size: 1.1em;
    background: #272727!important;
    color: #f8863d !important;
    border-radius: 15px;
    padding-left: 12px;
}
 .form-section-content input::placeholder
 {
     color: #976c6c!important;
     font-size: 1em;}
 .form-section-content textarea
 {
     font-size: 1.1em;
     background: #272727!important;
     color: #f8863d!important;
     border-radius: 15px;
     padding-left: 12px;}
 .form-section-content textarea::placeholder
 {
     color: #976c6c!important;
     font-size: 1em;}
 .description
{
    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;}
 .skill-table
{
    margin: 0px;
    width: 100%;}
 .skill-table th
{
    text-align: center;}
 .skill-table .skill-form-value
{
    padding-top: 12px;}
 .skill-table .skill-form-value input
{
    text-align: center;}
 .spell-table
{
    margin: 0px;
    width: 100%;}
 .spell-table th
{
    text-align: center;}
 .spell-table .spell-form-value
{
    padding-top: 12px;}
 .spell-table .spell-form-value input
{
    text-align: center;}
 /*-------------------------character-badge-CSS----------------------*/
.badge-bar
{
    font-weight: bold;
    margin: 0px!important;
    padding: 5px;}
 .badge-bar .bar-label
{   
    color: whitesmoke;
    text-align: center !important;
    font-size: 1em;
    padding: 5px;}
 .badge-bar .bar-value
{
    font-size: 1em;
    text-align: center !important;}
 .character-badge-sucess
{
    color: #009e42;}
 .character-badge-info
{
    color: #61d2ff;}
 .character-badge-alert
{
    color: #ffb032;}
 .character-badge-danger
{
    color: #d80909;}
 

 .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(114, 145, 174, 0.08);
}