.template-character-dnd5e {
    margin-top: 20px;
    border: 2px solid #58180d;
    display: block;
    background-color: #e3dbc6;
    border: 1px solid #760809;
    padding: 20px;
    position: relative;
    color: #000;
    background-image: url(/images/parchment.jpg)
}
.template-character-dnd5e hr {
    margin: 0;
    color: #770808;
    border: 1px #c9ad6a solid;
    margin-top: 12px;
    margin-bottom: 12px;
}
.template-character-dnd5e hr.hr-dark {
    border: 1px #58180d solid;
}
.template-character-dnd5e .statblock-source {
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
    color: #424242;
    position: absolute;
    top:20px;
    right: 20px;
}
.template-character-dnd5e h1 {
    font-family: "Crimson Text";
    font-size: 1.6rem;
    color: #58180d;
    margin: 0;
    padding: 0;
}
.template-character-dnd5e h2 {
    font-family: "Crimson Text";
    font-size: 20px;
    color: #58180d;
    border-bottom: 2px solid #c9ad6a;
}
.template-character-dnd5e h3 {
    margin: 0;
    margin-top: 15px;
    color: #7b2516;
    font-family: "Crimson Text";
    font-size: 20px;
}
.template-character-dnd5e h4 {
    margin: 0;
    color: #770808;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    text-transform: uppercase;
}
.template-character-dnd5e .subheading {
    font-size: 12px;
    font-style: italic;
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
}
.template-character-dnd5e .modifiers {
    padding-left: 20px;
    padding-right: 20px;
}
.template-character-dnd5e .statblock-stat {
    margin: 1px 0;
    padding: 0;
}
.template-character-dnd5e .statblock-attribute {
    display: inline-block;
    height: 18px;
    width: 54px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.template-character-dnd5e .inputContent {
    font-weight: bold;
    font-family: "Crimson Text";
    font-size: 18px;
    padding-left: 5px;
    color: #58180d;
}
.template-character-dnd5e .inputLabel {
    display: block;
    border-top: 1px black dotted;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 2px;
    padding-left: 2px;
    margin-top: 3px;
}
.template-character-dnd5e .contentContainer {
    border: 1px black solid;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    background: #ffffffba;
}
.template-character-dnd5e .contentContainer-attribute .inputLabel {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
}
.template-character-dnd5e .contentContainer-side .inputLabel {
    text-align: left;
    border: 0;
    padding: 0;
    padding-left: 10px;
    margin-left: 25px;
    margin-top: 3px;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
}
.template-character-dnd5e .contentContainer-standard .inputLabel {
    text-align: center;
    padding: 0;
    padding-top: 3px;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
}
.template-character-dnd5e .contentContainer-standard td {
    border:0;
    padding:4px;
}
.template-character-dnd5e .contentContainer-attribute {
    text-align: center;
    font-size: 24px;
 }
.template-character-dnd5e .contentContainer-attribute .rolldice {
    font-size: 0.9rem;
}
.template-character-dnd5e .contentContainer-attribute .subContainer {
    font-size: 0.7em;
    display: block;
}
.template-character-dnd5e .dsts {
    background-image: url(/images/bg-dark.jpg)
}
.template-character-dnd5e .dsts .card {
    background-color: #ffffffba;
}
.template-character-dnd5e .trackable input {
    width: 4rem;
}
.template-character-dnd5e .trackable .trackable-value {
    font-size: 1.1rem;
}
.template-character-dnd5e .trackable span {
    width: 4rem;
    display: inline-block;
}
.template-character-dnd5e .trackable h4 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 1rem;
}
.template-character-dnd5e .trackable h5 {
    font-size: 0.85rem;
    text-transform: uppercase;
}