{
   padding: 3px!important;
   font-family: Teko Regular;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.8em;
   letter-spacing: .04em;
   background-color: white;}
  .fallout-sheet,  a,  body,  .descriptor,  .type,  .focus,  small,  strong,  h1,  h2,  h3,  h4,  h5,  .btn,  p {
   background-color: white;
   color: #222!important;
   font-family: Teko Regular!important;
   font-weight: 400;
   font-size: 20px}
  .fallout-sheet {
   color: white!important;}
  h1,  h2,  b { color: #222!important}
  p { font-family: Teko Regular!important;
   font-weight: 400;
   font-size: 20px}
  a,  small,  .small {
   color: white!important;
   background: none!important;}
  .header {
   font-size: 24px;
   text-transform: uppercase;}
  .padding-left {
   padding-left: 16px}
  textarea .form-control,  .list-group {
   width: 100%!important}
  .form-control {
   height: 22px!important}
  .list-group-item {
   text-align: left;
   border-radius: 0px}
  .line-spacer {
   padding: none!important;
   margin: none!important}
  .form-control {
   width: auto!important;
   padding: 2px 2px 2px 2px;
   margin: 1px 10px 0px 10px;
   display: inline}
  .card {
   background-color: white;
   margin: 0px 0px 1px 0px;
   border: none;}
  .card-header {
   text-align: center;
   padding: 0px;
   padding-left: 20px;
   border-radius: 0px}
  .card-body,  .collapse {
   padding: 1px!important;
   background-color: white;
   color: #222;
   width: 100%;
   border:none;}
  .label-roller {
   position: relative;
   top: -3px}
  input[type=number] {
   width: 60px!important}
  .input-small {
   width: 60px!important}
  input {
   margin: 3px!important}
  small {
   padding: 5px;
   line-height: 1.8em;}
  .skill,  .ability {
   margin-right: 20px!important}
  .botrow {
   border-bottom: 2px solid #b0b0b0;
   margin-bottom: 7px}
  .bg-simple {
   background-color: #e0e0e0!important;
   color: #222}
  .bg-dark {
   background-color: #d0d0d0!important;
   color: #222}
  .copyright,  .copyright a {
   color: #888;
   font-size: 12px;}
  th,  td {
   padding-left: 10px;
   padding-right: 10px}
  h3 {
   font-size: 30px text-transform: uppercase;}
  table {
   width:100%;}
  span.hdr,  span.txt {
   display: inline-block;
   margin-bottom: 5px;
   min-width: 150px}
  .hdr {
   text-transform: uppercase;
   color: #fff!important;
   background: #444!important;
   padding: 2px 8px 2px 8px;
   border: 1px solid #222;}
  .txt {
   color: #222!important;
   background: #fff!important;
   padding: 2px 8px 2px 8px;
   border: 1px solid #222;}
  .c {
   text-align: center}
  .l {
   text-align: left}
  .r {
   text-align: right}
  .table {
   border-collapse: separate;
   border-spacing: 5px;}
  .of {
   overflow-y: auto;
   width: 100%}
  .my-2 {
   margin-top: 10px}
  .form-control,  .form-control:focus,  select option {
   background-color: white !important;
   color: #000!important;
   border: 1px solid #202020;
   font-size: 16px!important;
   line-height: 1.6em;
   min-height: 40px;}
  .form-control {
   padding-left: 10px;
   padding-right: 10px;
   width: 100%}
  .card { padding:10px}
  h1 {
   padding: 5px 0px 5px 20px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   font-family: Teko Regular;
   font-size: 30px;}
  h2 {
   font-style: italic;
   font-size: 24px!important;
   font-weight: 800;}
  .description {
     letter-spacing: .01em;}
  .lt { background-color: #E2EFE6!important;}
  .dk { background-color: #C4DECC!important;}
  .ltg { background-color: #efefef!important;}
  .dkg { background-color: #dfdfdf!important;}
  .skilltable tr:nth-of-type(1n  ) 
 { background-color: #E2EFE6!important;}
  .skilltable tr:nth-of-type(2n  ) 
 { background-color: #C4DECC!important;}
  .skilltable .txt { background:none!important}
  .CodeMirror-buttonsPanel button {
     background-color: #FFF; border: 1px solid #888; padding: 2px 4px;}
  .int,  .normal {
   background-color: #B7B3A1!important;
   color: white}
  .str, .mighty {
   background-color: #89AA91!important;
   color: white}
  .luc, .legendary {
   background-color: #B1ABBC!important;
   color: white}
  .agi, .notable {
   background-color: #D7A896!important;
   color: white}
  .cha, .major {
   background-color: #DC9256!important;
   color: white}
  .per {
   background-color: #8B7A5C!important;
   color: white}
  .end {
   background-color: #5ABBCA!important;
   color: white}
 .sbox { padding: 2px 4px 2px 4px!important }
 em { font-size: 10px; }
 .artist-credits, .artist-credits a { text-align:center; color: #222!important; font-size:12px!important; text-decoration:none }