{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h3>{{variables.name}}</h3>
<p>
{% if variables.short %}
	{{variables.short }}<br>
{% endif %}
{% if variables.prerequisites is defined or variables.prerequisites %}
	<strong>&nbsp;Prerequisites: </strong>{{variables.prerequisites }}<br>
{% endif %}
	<strong>&nbsp;Benefit: </strong>{{ variables.benefit }}
</p>

{% endblock %}