@font-face {
    font-family: Skranji; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/Skranji-Regular.ttf) ;
}
@font-face {
    font-family: Eczar; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/Eczar-Regular.ttf) ;
}