{
  border: 0;
  position: relative;
  color: #404040!important;
  -webkit-text-fill-color: #404040;
  font-family: Eczar;
  font-weight: 400;
  font-size: 20px;
  padding:0px!important}
 div.fl-sheet {
  -webkit-box-decoration-break: slice;
  -o-box-decoration-break: slice;
  box-decoration-break: slice;
  background-color: #222;
  background: url(https://www.worldanvil.com/uploads/images/d653062d0f88879ccc1962405f3ad51d.jpg)}
 .logo {
    background: url(https://www.worldanvil.com/uploads/images/97a20f80bdc2323d89ec47652a3914a4.webp) center center no-repeat!important;
    height: 200px;
    margin-top:20px;
    background-size: contain!important;
    border: none!important}
 .noback {
    background-color: transparent!important}
 body,  p,  div,  a,  span,  small,  strong,  h3,  h4,  b,  .small {
  font-family: Eczar!important;
  font-size: 20px;
  font-weight: 400;
  color: #404040;}
.small, .small a { font-size:16px }
 h1,  h2 {
  font-family: Skranji Regular!important;
  font-size: 20px;
  font-weight: 400;
  color: #404040;}
 .contentContainer {
  border: 1px #404040 solid;
  padding: 2px 10px 4px 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;
  text-align: center;
  background: #81281C20;}
 .inputContainer {
  padding: 2px 10px 4px 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;}
 .headerContainer {
  padding: 2px 10px 4px 10px;
  position: relative;
  text-align: center;
  background: #81281C20;}
 .contentContainer { margin:8px}
 .textContainer { padding: 2px}
 .attributeContainer {
 background: #81281C; padding: 5px 0px}
 .skillCard { padding:0px;}
 .skillContainer {
  border: 1px #A7D4BF solid;
  padding: 0px 0px;
  margin-bottom:10px;
  border-radius: 4px;
  background: #81281C20;}
 .skillContainer .badge { border:0;}
 .inputLabel {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  padding: 2px 8px;
  margin-top: 3px;}
 .contentContainer .inputLabel {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-align:left;
  text-transform: uppercase}
 .contentContainer .inputContent {
  font-size: 20px;
  color: #58180d;}
 .headerContainer {
  background: #81281C;
  text-align: left;
  padding: 10px 20px;}
 .card,  .img-fluid {
  padding:0px;
  background: transparent;
  border: 1px solid #404040;
  border-radius: 0px;}
 .headerContent {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #e0e0e0!important;
  -webkit-text-fill-color: #e0e0e0;
  padding: 0px 0px 0px 10px}
 .headerContainer .headerContent {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #404040;}
 .list {
  text-align:left;
  font-size: 20px;
  line-height:2em;}
 .c {
  text-align: center}
 .r {
  text-align: right}
 .l {
  text-align: left}
 .of {
    overflow-y: auto;
    width: 100%}
 .ev { background-color:#81281C20!important;}
 .odd { background-color:#ffffff20!important;}
 input[required] { border: 2px solid red!important;}
 .att { font-size: 20px; padding: 2px}
 .attu { font-size: 20px; padding: 2px; background:#60606050!important}
 .cond { font-size: 20px; padding: 2px}
 .txt { font-size: 20px}
 .lbl { font-size: 20px; font-weight:800; padding-left:10px}
 .lblf { font-size: 20px; font-weight:800}
 .hdr { font-size:20px; background: #60606050 }
 .alttable {
 padding-top:5px;
 border-spacing: 2px;
 border-collapse: separate;}
 .badge {
   font-size: 20px; background:#fff; padding: 5px 20px 1px 20px!important;
   color: #404040; -webkit-text-fill-color: #404040;
   border: 1px solid #404040; float:right; letter-spacing: 0.1pt; margin-top: 3px; margin-right:10px}
 .float {
   font-size: 20px; padding: 1px 1px 5px 20px!important;
   float:right; letter-spacing: 0.1pt; margin-top: 3px}
 h1 { font-size:48px; text-align:center; font-weight:800; padding-top:20px}
 b,  .bold { font-weight: 800}
 .rolldice {
   font-size: 20px!important;
   background: #81281C!important;
   color: #e0e0e0;
   -webkit-text-fill-color: #e0e0e0;
   padding: 6px 10px 1px 10px!important}
 .attributeContainer .rolldice {
   background: #e0d9d4!important;
   -webkit-text-fill-color: black!important;}
 .marked {
   font-weight:400;
   color:red!important;
   font-style:italic}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}
 h1,  .small,  .small a,  .artist-credits,  .artist-credits a { color: #404040; -webkit-text-fill-color: #404040;}
 .form-control,  .form-control:focus { font-size: 20px!important; padding:2px 2px 2px 4px; color:#404040; background:#fff;}
 input.form-control { margin: 1px 1px 1px 1px}
 textarea.form-control { margin: 10px 1px 0px 0px}
 .sm { width:100px!important}
 .smf,  .smf:focus { font-size: 20px!important}
.btn, .btn-dark, .btn-default {-webkit-text-fill-color: #fff; background: #444; }
 ::-webkit-input-placeholder { opacity: .5}
 textarea.form-control { min-height: 3em!important;}
 select.form-control:not([size]):not([multiple]) { height: 2.45rem!important; width:150px; margin: 1px 1px 1px 1px; padding:0px 2px 0px 2px; color:#404040; background-color:#fff!important;}