{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<div class="talent">
    <h6>{{ variables.name|capitalize }}</h6>
    <span><b>Tier: </b> {{ variables.tier }}</span>
    <br>
    <span><b>Activation: </b> {{ variables.activation }}</span>
    <br>
    <span><b>Ranked: </b> {% if variables.ranked %}Yes{% else %}No{% endif %}</span>
    <br>
    <span>
    {{ variables.description }}
    </span>
</div>
{% endblock %}