{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

<h6 class="genesys">{{ variables.name|capitalize }}</h6>
<span class="genesys"><b class="genesys">Tier: </b> {{ variables.tier }}</span>
<br>
<span class="genesys"><b class="genesys">Activation: </b> {{ variables.activation }}</span>
<br>
<span class="genesys"><b class="genesys">Ranked: </b> {% if variables.ranked %}Yes{% else %}No{% endif %}</span>
<br>
<span class="genesys">
{{ variables.description }}
</span>

{% endblock %}