@font-face {
    font-family: PT Sans Narrow; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/PTSansNarrow-Regular.ttf)
}
@font-face {
    font-family: Amarante; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/Amarante-Regular.ttf) ;
}