<div class="container-fluid sheet-capharnaum pd2">
    <div class="col-12">
        <div class="card">
            <div class="card-body c">
                <b>{{variables.name|default}}</b>
                {% if variables.occupation|default != "" %}<br>{{variables.occupation|default}}{% endif %}
            </div>
        </div>
    </div>
</div>