{
    color: #444!important;
    background: #eee!important;
    margin: 0px!important;
    padding: 5px!important;
    font-family: Teko Regular!important;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em
}

.cogent-sheet,
a,
body,
.descriptor,
.type,
.focus,
small,
strong,
h1,
h2,
h3,
h4,
h5,
.btn,
.rolldice,
.table,
table,
td,
th {
    color: #444;
    background: #eee;
    font-family: Teko Regular!important;
    letter-spacing: 0.02em;
    line-height: 1.4em;
    font-weight: 400;
    font-size: 18px
}

.rolldice {
    font-size: 18px!important
}

td,
th {
    color: #444;
    background: #fff;
}

.logocontainer {
    height: 250px;
}

.logo {
    background: url(https://www.worldanvil.com/uploads/images/ff70f3673d687aa49944bb8af3872a6c.png) center center no-repeat;
    background-size: contain;
    height: 250px;
}

.header {
    font-size: 18px;
    text-transform: uppercase;
}

.padding-left {
    padding-left: 16px
}

textarea .form-control,
.list-group {
    width: 100%!important
}

.form-control {
    height: 22px!important
}

.list-group-item {
    text-align: left;
    border-radius: 0px
}

.line-spacer {
    padding: none!important;
    margin: none!important
}

.form-control {
    width: 100%;
    padding: 2px 2px 2px 2px;
    margin: 1px 10px 0px 10px;
    display: inline
}

.card {
    margin-top: 5px;
    color: #444;
    background: #fff;
    border-radius: 0;
}

.card-header {
    padding: 0px;
    padding-left: 20px
}

.card-body,
.collapse {
    color: #444;
    background: #fff;
    padding: 8px!important;
    width: 100%
}

.label-roller {
    position: relative;
    top: -3px
}

input[type=number],
.input-small {
    width: 60px!important
}

input {
    margin: 3px!important
}

small {
    padding: 5px;
    line-height: 1.8em;
}

.skill,
.ability {
    margin-right: 20px!important
}

.botrow {
    border-bottom: 2px solid #b0b0b0;
    margin-bottom: 7px
}

.copyright,
.copyright a {
    color: #888;
    font-size: 18px;
}

th,
td {
    padding-left: 10px;
    padding-right: 10px
}

.hdr {
    text-transform: uppercase;
    color: #fff!important;
    background: #2A305B!important;
    padding: 2px 8px 2px 8px;
    border: 1px solid #2A305B;
    font-weight: bold;
}

.sub {
    color: #444!important;
    font-weight: bold!important;
    background: #ccc!important;
    padding: 2px 4px 2px 4px!important! border: 1px solid #444!important
}

span.hdr,
span.txt {
    display: inline-block;
    margin-bottom: 5px;
    min-width: 150px;
}

.lbl {
    text-transform: capitalize;
    vertical-align: middle;
    padding: 2px 8px 2px 8px;
    border: none
}

.txt {
    color: #444!important;
    padding: 2px 8px 2px 8px;
    background: #fff!important;
    border: none
}

.boxes {
    background: #fff;
    padding: 2px 2px 2px 2px;
    border: none
}

.c {
    text-align: center!important
}

.l {
    text-align: left!important
}

.r {
    text-align: right!important
}

.table {
    background: #fff;
}

.rolldice {
    margin-top: 7px;
    padding: 6px 10px 4px 10px!important;
    font-weight: bold;
    border: 1px solid #ccc;
    color: #fff!important;
    background: #2A305B!important;
}

.sm {
    font-size: 14px!important
}

.of {
    overflow-y: auto;
    width: 100%
}

.lgsq {
    font-size: 24px!important
}

.blsq {
    color: #888!important
}

.grsq {
    color: #bbb!important
}

.rdsq {
    color: #f00!important
}

.form-control,
.form-control:focus {
    height: 2.2em!important;
    margin: 2px;
    color: #444!important;
    font-size: 18px!important;
    background: #fff!important;
}

textarea.form-control {
    width: 92%!important
}

.tracker {
    min-height: 3em!important;
    padding: 2px!important
}

.table.trackertable {
    margin: 0px;
    width: 100%
}

.box_marked {
    background-color: #444;
    color: #fff;
    border: 1px solid #444;
    padding: 2px;
    vertical-align: middle
}

.box_marked_red {
    background-color: #a00;
    color: #fff;
    border: 1px solid #444;
    padding: 2px;
    vertical-align: middle
}

.box {
    background-color: #fff!important;
    color: #444!important;
    border: 1px solid #444!important;
    padding: 2px;
    vertical-align: middle
}

.box_roll {
    border: none;
    padding: 2px;
    vertical-align: middle
}

.thick {
    border: 3px solid #444;
    padding: 2px
}

.small {
    max-width: 70px
}

.midi {
    max-width: 150px
}

.bx {
    text-align: right;
    border: 0;
    width: 30px
}

.card-header:first-child {
    border-radius: 0
}

.table td,
.table th {
    padding: 2px 4px 2px 4px;
    vertical-align: middle;
}

.box_roll.alert-error i,
.box_roll.alert-error .rolldice {
    background: #aa0000!important;
    color: white!important
}

.na {
    text-align: center!important;
    margin-top: 7px;
    padding: 6px 15px 4px 15px;
}

.boxtable .th,
.boxtable .td {
    padding: 0px 0px 0px 0px!important
}

.fntsm {
    font-size: 18px;
    padding-left: 1px;
    padding-right: 1px
}

.blbl {
    padding-left: 4px!important
}

.form-control.small {
    width: 60px
}

.table {
    border: none
}