{
    padding: 0px!important;
    color: #404040!important;
    font-family: "IM Fell Double Pica";
    font-size: 18px
}

.tdl, body, p {
    color: #404040!important;
    font-family: "IM Fell Double Pica";
    font-size: 18px
}

.coc-sheet {
    color: #404040!important;
    background-color: #f0e8e0;
    background: url(https://www.worldanvil.com/uploads/images/96ae752e8dff11cd5941cd94dcd215d9.jpg)
}

.logocontainer {
    height: 100px;
    width: 240px
}

.logo {
    width: 100%;
    opacity: 0.5;
    height: 100px;
    margin-bottom: 20px;
    background: url(https://www.worldanvil.com/uploads/images/5f8a196fd049aceb57492b70e7f4952e.png) center center no-repeat;
    background-size: contain;
    margin-top: 20px;
    height: 100px;
}

.alert {
    padding: 2px 8px 2px 8px;
    margin: 0px 10px 0px 20px
}

.alert-danger {
    background: #e06060;
    color: white;
}

.marginsm {
    margin: 15px 0px 15px 0px
}

.card-header {
    color: #404040!important;
    padding: 2px
}

.card-body {
    color: #404040!important;
    padding: 2px;
    background: #fff
}

.card {
    box-shadow: 1px 1px 1px 1px #aaa;
    margin-top: 20px
}

.head-bar {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    background: #e0d8d0;
    text-shadow: 2px 2px 4px #808080;
}

.w80 {
    width: 80px
}

.btn-dark.btn-block {
    color: #fff
}

td {
    padding: 7px
}

.txt {
    padding: 7px;
    background: #fff;
    line-height: 1.7
}

th {
    height: 20px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase
}

.pl {
    padding-left: 5px
}

.tdc {
    text-align: center
}

.tdb {
    height: 40px;
    font-size: 18px;
    text-align: center;
    padding: 0px 10px 0px 5px;
}

.tdl {
    height: 40px;
    font-size: 18px;
    text-align: left;
    padding: 0px 10px 0px 15px
}

.tdr {
    height: 40px;
    font-size: 18px;
    text-align: left;
    padding: 0px 10px 0px 20px;
    border-bottom: 1px dotted grey
}

.tdr_form {
    height: 40px;
    font-size: 18px;
    text-align: left;
    padding: 0px 10px 0px 20px
}

.tdbbl {
    width: 15%;
    height: 40px;
    font-size: 28px;
    text-align: center;
    background: #e0e0ff;
    border-bottom: 1px solid #c0c0c0
}

.tdbbl_form {
    width: 80px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    background: #e0e0ff;
    border-bottom: 1px solid #c0c0c0
}

.form-control {
    padding: 2px 2px 2px 4px;
    color: #404040!important;
    background: transparent!important;
}

.al {
    text-align: right
}

.sk {
    padding: 0px 7px 0px 7px
}

.tdm {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center
}

.tdsu {
    width: 40px;
    min-width: 40px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    background: #e0d8d0;
    border-top-right-radius: 22px 50%
}

.tdsl {
    width: 40px;
    min-width: 40px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    background: #e0d8d0
}

.tdskn {
    width: 70%;
    height: 30px;
    font-size: 18px;
    text-align: left;
    padding-left: 10px
}

.tdskv {
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0
}

.tdskvf {
    width: 40px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0
}

.tdsku {
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #c0c0c0;
    border-top-right-radius: 15px 50%
}

.tdskl {
    width: 20px;
    height: 20px;
    font-size: 15px;
    text-align: center
}

.ev {
    background-color: #e0d8d0
}

.od {
    background-color: #f0e8e0
}

.skilltable {
    border-spacing: 8px!important;
    width: 100%
}

.emptypill {
    display: inline-block;
    font-size: 14px;
    color: #404040;
    background: #f8f8f8;
    border: 1px solid #c0c0c0;
    border-top-left-radius: 15px 50%;
    border-bottom-left-radius: 15px 50%;
    border-top-right-radius: 15px 50%;
    border-bottom-right-radius: 15px 50%;
    text-align: center;
    width: 30px;
    height: 23px;
    margin: 2px 3px 2px 2px
}

.solidpill {
    display: inline-block;
    font-size: 14px;
    color: #404040;
    border: 1px solid #c0c0c0;
    background: #c0c0c0;
    border-top-left-radius: 15px 50%;
    border-bottom-left-radius: 15px 50%;
    border-top-right-radius: 15px 50%;
    border-bottom-right-radius: 15px 50%;
    text-align: center;
    width: 30px;
    height: 23px;
    margin: 2px 3px 2px 2px
}

.weapontable {
    overflow-y: auto
}

.of {
    overflow-y: auto;
    width: 100%
}

a {
    color: #404040!important;
}
