{
   letter-spacing: -0.03em;
   border: none;
   padding: 0px!important;}
body,  div,  p {
   color: black!important;
   font-size: 20px;
   font-family: PT Sans Narrow}
em { color: white!important; padding: 0px 10px 0px 3px }
.btn em { color: #d0d0d0!important; padding:none }
a {
   color: #202020!important}
.noback {
   background-color: transparent!important}
.noborder {
   border: none!important}
.card {
   background-color: #E9F7FC;
   margin-top: 20px;
   color: #202020!important;
   border: 0;}
.card-header {
   background-color: #E9F7FC!important;
   padding: 2px;
   margin: 0px;
   margin-bottom: 2px;
   color: white;}
.card-body {
   background-color: white!important;
   padding: 0px;
   margin: 0px;
   font-family: PT Sans Narrow;
   font-weight: 400;
   font-size: 20px;
   color: #202020!important}
.form-control {
   margin-top: 1px;
   padding: 2px 2px 2px 4px}
.sff {
   max-width: 80px;}
.btn {
   color: #202020!important;
   background: none!important;
   border: none!important}
.btn-dark.btn-block {
   color: white}
td {
   padding: 0px}
th {
   height: 20px;
   font-size: 20px;
   text-align: center;
   text-transform: uppercase}
.l {
   text-align: left;
   padding-left: 10px}
.c {
   text-align: center}
.r {
   text-align: right;
   padding-right: 10px}
.pd10 {
   padding: 10px}
.pd {
   padding: 2px}
.mt10 {
   margin-top: 10px}
.lbl {
   background: #CAA0A0;
   padding: 2px 10px 2px 10px;
   font-family: PT Sans Narrow;
   font-weight: 400;
   font-size: 20px}
.num {
   padding: 2px 15px 2px 10px;
   text-align: right;}
.hdr {
   background-color: #e2e2e2;
   color: black;
   padding: 2px 10px 2px 10px;
   font-family: PT Sans Narrow;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 20px;}
.att {
   margin-top: 5px;
   background-color: black;
   color: white;}
.txt {
   background: white;
   color: black;
   padding: 2px 5px 2px 10px;
   border: 1px solid #a0a0a0;
}
.ev {
   background-color: white}
.od {
   background-color: #E0EDF9}
.tdr {
   padding: 2px 5px 2px 10px}
.center {
   margin-left: auto;
   margin-right: auto}
textarea.form-control {
   min-height: 2em!important;}
a {
   text-decoration: underline}
small,  small a {
   color: black!important; font-size: 14px }
.inputLabel {
   display: block;
   border-top: 1px #0D4B64 dotted;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 800;
   padding: 2px 0px 2px 0px;
   margin-top: 3px;}
.contentContainer {
   padding: 0;
   position: relative;
   margin-bottom: 10px;
   border: 0;
   background: white!important}
.contentContainer-attribute .inputLabel {
   border: 0;
   margin: 0;
   padding: 0;
   display: block;
   text-transform: uppercase}
.contentContainer-attribute,  .contentContainer-attribute .rolldice {
   text-align: center;
   font-size: 22px;}
.contentContainer-attribute .strong {
   font-family: Orbitron}
.penalty {
   color: #0D4B64}
.form-control,  .form-control:focus { margin: 2px 0px!important; color:black!important;
   font-size: 20px!important; background-color:#f8f8f8!important; border: 1px solid #c0c0c0!important }
.nb { border: 0}
.head-bar {
   color: white!important;
   text-align: center;
   font-family: PT Sans Narrow!important;
   font-weight: 600!important;
   font-size: 22px!important;
   text-transform: uppercase;}
.form-wrapper .head-bar {
   background-color: black!important}
b {color:black!important}
.artist-credits,  .artist-credits a { font-size:14px!important}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0 }
input[type=number], input[type=number]:focus { -moz-appearance: textfield; text-align:center }
.txt em { color: black!important; }
.rolldice em { color: white!important; padding-left: 8px; font-size:24px }
.small { font-size: 14px!important }
.btn-dark.btn-block { color: black!important; background: white!important; border: a0a0a0!important; padding:5px }
input[required] { border: 2px solid red!important;}
.stashed { color: #a0a0a0 }