<section class="gurps-sheet">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    <div class="card my-2 of">
                        <div class="card-body" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>