.container-fluid {
  font-family: IM Fell Double Pica;
  font-size: 20px !important;
  color: #000000 !important;
  background: url(https://www.worldanvil.com/i/5530015/render) ;
  background-size: contain;
  padding: 20px;}
.logo {
  background: url(https://www.worldanvil.com/i/4653188/render) center center no-repeat!important;
  height: 150px;
    background-size: contain!important;
    border: none}
.table td,  .table th,  .table>tbody>tr>td { border: none}
.table { width:100%; border-spacing: 2px; margin-bottom: 0}
.table td { padding:2px; background-color:#F1E4D1 !important}
.form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: IM Fell Double Pica;
  color: #000000 !important;
  background-color: #F1E4D1}
.card {
  background-color: transparent;
  margin: 5px;
  color: #202020!important;
  border: 0 }
.card-header {
  font-family: IM Fell Double Pica;
  font-size: 32px;
  color: #202020;
  background: #e0d8d0;
  text-shadow: 2px 2px 4px #808080;
  text-align: center;
  padding: 2px;
  margin: 0px;
  border-radius: 0;}
.card-body {
  font-family: IM Fell Double Pica;
  font-weight: 400;
  font-size: 20px;
  color: #202020 !important;
  background-color: #f0e8e0 !important;
  padding: 10px;
  margin: 0px;
  border: none;}
.lbl,  .ilbl { font-weight:800; padding: 0px 6px;}
.ilbl-shadow,  .lbl-shadow { margin-top:2px}
td.var,  td.ivar,  .cContainer .var { padding-left:10px}
.var,  .ivar { padding: 0px 3px; color: #212529 !important; background-color:#F1E4D1}
.var.ev { background-color: #00000000 !important}
.var.od { background-color: #00000010 !important}
th.lbl.ev,  th.ilbl.ev { background-color: #00000020 !important}
th.lbl.od,  th.ilbl.od { background-color: #00000030 !important}
.pd0 { padding: 0px !important}
.pd2 { padding: 2px !important}
.c { text-align:center; padding: 2px}
.l { text-align:left}
.of { overflow:auto}
.sm { width:50px;display: inline-flex;}
.md { width:150px;display: inline-flex;}
.small,  .small a { font-size:10px}
.attributes .card-body { text-align:center; padding: 0}
.attribute .var {
  font-family: Skranji;
   font-size: 50px;
   background-color: #FFF !important;
   color: #000000;
   line-height: .8em;
   text-align: center;
   overflow: hidden;
   border: 1px dotted #BDA178;
   border-radius: 30px;
   width: 60px;
   height: 60px;
   margin: 10px auto;
   padding-top: 12px;}
.data .var { text-align:center}
.credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a,  a { font-size:12px; color: #000000 !important}
input[required] { border: 2px solid #FF0000 !important}
input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
input.form-control {
  background-color: white !important;
  border: 1px solid #202020;
  height: 30px;}
::-webkit-input-placeholder { opacity: .3 !important; color:  #000000 !important}
.table.armour { margin-top:2px}
.table { background: none!important}
.table tr { background: none!important}
.magic .ivar { padding-left:10px !important}
.personal .lbl,  .personal .var,  .personal .ilbl,  .personal .ivar { font-size:20px}
.personal .ilbl { padding-top:12px !important}
.ilbl { padding-top:10px}
.ilbl-max-init { padding-top:0px !important}
.tracker .left .ilbl,  .tracker .left .ivar { height:30px}
.tracker .left .ilbl { padding-top:12px}
.magic .card { margin:1px}
.user-css-image-thumbnail.padding-10 { padding:0px}
.var-portrait { padding:0px}
.artist-credits { text-align:center; padding:3px}
.attribute .lbl { font-size:24px}
textarea.form-control {
    min-height: 3em!important;}
.gr { color: #909090!important}
.rd { color: #840013!important}
.tag {
   font-size: 10px;
   border: 1px #000 solid;
   display: inline-block;
   padding: 5px 6px;
   margin: 1px 3px;
   color: #fff;
   font-family: Helvetica !important;
   font-weight: 600;}
.bgred { background-color: #840013;}
.bgblue { background-color: #130084;}
.label { margin-bottom: 0px !important}
.ilbl-armor-tags,  .ilbl-weapon-tags,  .ivar-armor-tags,  .ivar-weapon-tags { border-bottom: 1px solid black!important}
.ilbl { padding-top:5px !important; padding-bottom:0px !important; line-height:1em !important}
input { margin-top: 3px; margin-bottom: 3px;}