<div class="container-fluid sheet-dragonbane pd2">
    <div class="col-12">
        <div class="card">
            <div class="card-body c">
                <b>{{variables.name|default}}</b>
                {% if variables.kin|default != "" %}<br>{{variables.kin|default}}{% endif %}
                {% if variables.profession|default != "" %}<br>{{variables.profession|default}}{% endif %}
            </div>
        </div>
    </div>
</div>