{
  color: #000000;
  font-size: 20px;
  font-family: PT Sans Narrow;}
 .container-fluid {
  color: #000000 !important;
  background-color: #E0E0E0;
  background-image: url('/uploads/images/4b8ac5f8174dc145f24a2632af1acb62.webp' ) ;
  font-size: 20px !important;
  font-family: Amarante;
  padding: 20px;}
 .logo {
    background: url(/uploads/images/18484251b1a6aae0556f9af38af90fa9.webp) center center no-repeat!important;
    height: 100px;
    background-size: contain!important;
    border: none}
 .table td,  .table th,  .table>tbody>tr>td { border: none}
 .table { width:100%; border-spacing: 2px; margin-bottom: 0}
 .table td { padding:2px; background-color:#F1E4D1 !important}
 .form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: PT Sans Narrow !important;
  color: #000000 !important;
  background-color: #F1E4D1}
 .card {
  background-color: #9B8564;
  margin: 5px;
  color: #202020!important;
  border: 1px solid #404040;
  border-radius: 0}
 .card-header {
  color: #FFFFFF;
  background-color: #9B8564!important;
  font-size: 24px;
  text-align: center;
  padding: 2px;
  margin: 0px;
  margin-bottom: 2px;
  border-bottom: none}
 .card-body {
  color: #202020 !important;
  background-color: #F1E4D1 !important;
  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  border: none;}
 .lbl,  .ilbl { font-weight:400; padding: 0px 6px; background-color: #359176; font-family: Amarante;}
 .ilbl-shadow,  .lbl-shadow { margin-top:2px}
 th.ilbl,  .lbl,  .ilbl { color: #FFFFFF !important; background-color:#359176!important; padding-left:10px; padding-right:10px}
 td.var,  td.ivar,  .cContainer .var { padding-left:10px}
 .var,  .ivar { padding: 0px 3px; color: #212529!important; background-color:#F1E4D1}
 .ivar { padding: 10px}
 .ilbl.ev { background-color: #CFBA9C !important; color:#000000!important}
 .ilbl.od { background-color: #BDA178 !important; color:#000000!important}
 .var.ev { background-color: #00000000 !important; color:#000000!important}
 .var.od { background-color: #00000010 !important; color:#000000!important}
 th.lbl.ev,  th.ilbl.ev { background-color: #00000020 !important; color:#000000!important}
 th.lbl.od,  th.ilbl.od { background-color: #00000030 !important; color:#000000!important}
 .pd2 { padding: 2px !important}
 .c { text-align:center; padding-left:0px!important}
 .l { text-align:left}
 .r { text-align:right}
 .of { overflow:auto}
 .sm { width:50px;display: inline-flex;}
 .md { width:100px;display: inline-flex;}
 .small,  .small a { font-size:10px}
 .attributes .card-body { text-align:center; padding: 0}
 .lbl.att,  .lbl.cond { background-color: #359176!important; color: #ffffff!important}
 .attributes .cContainer { background-color: #CBB594 !important}
 .var.att,  .ivar.att {
   line-height: .8em;
   border-radius: 40px;
   width: 80px;
   height: 80px;
   border: 3px dotted #BDA178;
   text-align: center;
   background-color: #F0E8E3;
   overflow: hidden;
   margin: 0px auto;
   color: #000000;
   padding-top: 22px;
   padding-right: 14px;
   font-size: 40px;
   font-weight: bold}
 .ivar.att { padding-top:12px}
 .data .var { text-align:center}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a,  a { font-size:12px; color: #000000 !important}
 input[required] { border: 2px solid #FF0000 !important}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control {
  background-color: white !important;
  border: 1px solid #202020}
 ::-webkit-input-placeholder { opacity: .5; color:  #202020}
 .table.armour { margin-top:2px}
 .table { background: none!important}
 .table tr { background: none!important}
 .magic .ivar { padding-left:10px !important}
 .personal .lbl,  .personal .var,  .personal .ilbl,  .personal .ivar { font-size:24px}
 .personal .ilbl { width: 20%}
 .personal .ilbl { padding-top:12px !important}
 .other .ilbl,  .classes .ilbl,  .heroism .ilbl,  .ivar-max-init,  .ilbl-armour,  .ilbl-hit-points,  .ilbl-soak,  .path-ability .ilbl,  .belongings .ilbl { padding-top:18px}
 .ilbl-max-init { padding-top:0px !important}
 .magic .card { margin:1px}
 .ivar-skill-value,  .ivar-weapon-skill-value,  .ivar-sec-skill-value { width: 60px}
 select.ivar-sec-skill-att {
    height: 2.15rem !important}
 .lbl-skill-value { width:30px}
 .pt,  .ivar-skill-check,  .ivar-weapon-skill-check { padding-top: 15px}
 .minimize.btn { background:none!important; border:none}
 .var-skill-value { padding-right:20px !important}
 .em { font-weight:800}
 .tracker .form-control { height:25px}
 .tracker .ilbl-hit-points,  .tracker .ilbl-wil-points,  .tracker .ilbl-money { padding-top:8px}
 .tracker td.ivar { padding-left:0px}
 .tracker textarea.form-control { font-size:14px !important}
 .tracker .table.dr { border-top: 1px solid black; border-bottom: 1px solid black}
input[type=checkbox] { color: #359176 }
input.form-control:focus, 
textarea.form-control:focus {
    color: white !important;
    background-color: #404040 !important;
}
input.form-control, textarea.form-control,input.form-control:focus, textarea.form-control:focus {
    font-size: 20px !important;
    font-family: PT Sans Narrow !important;
}