<div class="container-fluid dungeonworld-sheet">
	<div class="row">
		<div class="col-12 col-md-12 col-lg-12">
			<div class="card my-2">
                {{ variables.name|default('John Doe') }}, {{ variables.class|default('?') }}, Level {{ variables.level|default('1') }}
            </div>
        </div>
    </div>
</div>