{
   border: 0;
   position: relative;
   font-family: Alegreya Regular;
   font-weight: 400;
   font-size: 16px;
   padding:10px!important;}
 div.dungeonworld-sheet {
   background: #FFFFFF;
   -webkit-box-decoration-break: slice;
   -o-box-decoration-break: slice;
   box-decoration-break: slice;}
 .contentContainer {
   padding: 2px 10px 4px 10px;
   position: relative;
   text-align: center;
   background: #FFFFFF}
 .contentContainerSmall {
   border: 1px #000000 solid;
   padding: 2px 10px 4px 10px;
   position: relative;
   margin: 10px;
   border-radius: 6px;
   text-align: center;
   background: #FFFFFF}
 .headerContainer {
   border: 1px #000000 solid;
   padding: 2px 10px 4px 10px;
   position: relative;
   margin-bottom: 10px;
   border-radius: 6px;
   text-align: center;
   background: #FFFFFF}
 .textContainer { padding: 2px}
 .attributeContainer {
   color: #FFFFFF;
   background: #000000;
   padding: 5px 0px}
 .skillCard { padding:0px;}
 .skillContainer {
   border: 1px #000000 solid;
   padding: 0px 0px;
   margin-bottom:10px;
   border-radius: 4px;
   background: #FFFFFF}
 .skillContainer .badge { border:0px;}
 .inputLabel {
   display: block;
   text-transform: uppercase;
   font-size: 12px!important;
   font-weight: 800!important;
   line-height:1.0em!important;
  border-bottom: 1px dotted black!important;}
 .contentContainer .inputLabel {
   border: 0;
   margin: 0;
   padding: 0;
   display: block;
   text-align:left;
   text-transform: uppercase}
 .inputContent {
   font-size: 20px;
   color: #000000}
 .headerContainer {
   background: #000000;
   color: #FFFFFF;
   text-align: left;
   padding: 10px 20px;}
 .img-fluid {
   -webkit-box-shadow: 0 8px 6px -6px #000000;
   -moz-box-shadow: 0 8px 6px -6px #000000;
   box-shadow: 0 8px 6px -6px #000000;
  padding:0px;
  background: #E4E4E4;
  border: 1px solid #222;
  border-radius: 0px;}
 .card {
    margin: 1em;
    padding: 1em;
    background-color: #e4e4e4;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 29px -15px #000000;
    -moz-box-shadow: 10px 10px 29px -15px #000000;
    box-shadow: 10px 10px 29px -15px #000000;
    color: black;
    border: 1px solid #c7c7c7;}
 .headerContent {
   font-weight: bold;
   font-size: 24px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FFFFFF;
   padding: 0px 0px 0px 10px}
 .headerContainer .headerContent {
   font-weight: bold;
   font-size: 24px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #382F28;}
 .list {
   text-align:left;
   line-height:2em;}
 .c {
   text-align: center}
 .r {
   text-align: right}
 .l {
   text-align: left}
 .of {
     overflow-y: auto;
     width: 100%}
 .odd {  background-color: #E4E4E4!important;}
 input[required] { border: 2px solid red!important;}
 .att { font-size:18px; background:#FFFFFF; padding: 2px 4px; border: 1px solid #000000;}
 .attf { font-size:18px; background:#FFFFFF}
 .cond { font-size:18x; padding: 2px}
 .txt { font-size:18px}
 .lbl { font-size:18px; font-weight:800; padding-left:10px}
 .lblf { font-size:18px; font-weight:800}
 .hdr { font-size:18px; font-weight:800; background: #000000; color: #FFFFFF}
 .alttable {
  padding-top:5px;
  border-spacing: 2px;
  border-collapse: separate;}
 .badge {
    font-size:22px; background:#FFFFFF; padding: 1px 20px 5px 20px!important;
    border: 1px solid #000000; float:right; letter-spacing: 0.1pt; margin-top: 3px; margin-right:10px}
 .float {
    font-size:22px; padding: 1px 1px 5px 20px!important;
    float:right; letter-spacing: 0.1pt; margin-top: 3px}
 h1 { font-size:72px; text-align:center; font-weight:800}
 .bold,  b { font-weight: 800}
 .rolldice {
    font-size: 22px!important;
    background: #000000!important;
    -webkit-text-fill-color: #FFFFFF;
    padding: 1px 10px 5px 10px!important;
    border: 1px #000000 solid;}
 .attributeContainer .rolldice {
    background: #e0d9d4!important;
    -webkit-text-fill-color: #000000!important;}
 .attbox {
 border: 1px solid black;
 border-collapse: collapse;
 margin-bottom:10px;
 padding:5px;
 background: #C1C1C1;
 color: #000000;}
 div.btext {
   line-height:.8em;
   border-radius: 80px;
   width: 80px;
   height: 80px;
   border: 3px solid #000000;
   text-align: center;
   background: #FFFFFF;
   overflow: hidden;
   margin: auto;
   color: #000000;
   padding-top:15px;
   font-size: 28px;
   font-weight: bold;}
 .dark { background: #000000 !important;}
 .top23 { padding-top:23px!important}
 .marked {
    font-weight:400;
    color:red!important;
    font-style:italic}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;}
 .form-control,  .form-control:focus { font-size: 18px!important; padding:2px 2px 2px 4px;
   color: #000000!important;
   background: #FFFFFF!important;}
 input.form-control { margin: 1px 1px 1px 1px}
 textarea.form-control { margin: 10px 1px 0px 0px}
 .sm { width:100px!important}
 .smf,  .smf:focus { font-size:18px!important}
 .moveform {
width: 75%;
display: inline-flex;}
 ::-webkit-input-placeholder { opacity: .5}
 textarea.form-control {
  min-height: none!important;}
 .small,  .small a { color:#000000!important; font-size:14px!important }
 