.mainstats {
    text-align: center;
    margin-bottom: 1em;
}

.full-sheet {
    color: black;
}

.full-sheet input[type=checkbox], input[type=radio] {
    width: 1.5em;
    height: 1.5em;
}

.classChangeWarning {
    font-weight: bold;
    color: red;
}

.info {
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
}

.charNameAndExp {
    font-size: 2em;
    font-weight: bold;
}

.charNameAndExp input[type=text] {
    height: 2em;
    font-weight: bold;
}

.infoSmall {
    text-align: center;
    margin-bottom: 1em;
}

.dataBox {
    border: 2px solid black;
    border-radius: 40px 10px 40px 10px;
    margin: 3px;
    background-color: #c1c1c1;
}

.infoSmall .dataBox {
    height: 4em;
}

.infoSmall .dataBox .input {
    height: 3em;
    border-radius: 20px;
    width: 5em;
    height: 50px;
    border: 3px solid black;
    text-align: center;
    background: white !important;
    overflow: hidden;
    margin: auto;
    color: #000;
    font-size: large;
    font-weight: bold;
}

.dataContainer {
    margin: 1em;
    padding: 1em;
    background-color: #e4e4e4;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 29px -15px #000000;
    -moz-box-shadow: 10px 10px 29px -15px #000000;
    box-shadow: 10px 10px 29px -15px #000000;
    color: black;
    border: 1px solid #c7c7c7;
}

.sideClassName h1 {
    writing-mode: vertical-rl;
    font-size: 7em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}

.module {
    background: #222;
    color: white;
    padding: 2rem;
}

.classMove {
    border-radius: 5px;
    border: 1px solid grey;
    height: 100%;
    background-color: #efefef;
}

.info label {
    font-size: larger;
    font-weight: bold;
}

.mainstats label {
    font-size: larger;
    font-weight: bold;
}

.info .form-group .form-control {
    border-radius: 80px;
    width: 80px;
    height: 80px;
    border: 3px solid black;
    text-align: center;
    background: white !important;
    overflow: hidden;
    margin: auto;
    color: #000;
    font-size: x-large;
    font-weight: bold;
}

.infoSmall .form-group .form-control {
    border-radius: 20px;
    width: 5em;
    height: 50px;
    border: 3px solid black;
    text-align: center;
    background: white !important;
    overflow: hidden;
    margin: auto;
    color: #000;
    font-size: large;
    font-weight: bold;
}

.info .form-group .dmgDice {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #000;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    border: 4px solid black;
    background: white !important;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.info .form-group .dmgDice h4 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.subContainer {
    padding-top: 1em;
}

.mainstatsBadge .dataBox h4 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.main-content-row .mainstats .dw-stat-box .form-control {
    border-radius: 80px;
    width: 80px;
    height: 80px;
    border: 3px solid black;
    text-align: center;
    background: white !important;
    overflow: hidden;
    margin: auto;
    color: #000;
    font-size: x-large;
    font-weight: bold;
}

.mainstats .dw-stat-box .debility {
    margin-top: 20px;
}

.mainstats .dw-stat-box .debility .form-control {
    text-align: left;
    font-size: small;
    height: auto;
}

.mainstats .dw-stat-box .debility label {
    font-style: italic;
    text-align: left;
    font-size: small;
    height: auto;
}

hr {
    margin: 0;
    color: #681e1e;
    border: 1px #681e1e solid;
    margin-top: 12px;
    margin-bottom: 12px;
}

h1 {
    font-family: "Crimson Text";
    font-size: 1.6rem;
    color: black;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Crimson Text";
    font-size: 20px;
    color: #444444;
}

h3 {
    margin: 0;
    margin-top: 15px;
    color: #444444;
    font-family: "Crimson Text";
    font-size: 20px;
}

h4 {
    margin: 0;
    color: #444444;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    text-transform: uppercase;
}

.containerHeading h2 {
    color: white;
    top: 14px;
    font-size: 35px;
    margin: auto;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.badgeHeading h2 {
    font-size: 2em;
    text-align: center;
}

.selectClassInfo {
    font-size: 5em;
    color: black;
    font-weight: bold;
}
