/*
  __                 _                           _                        
 (_ \               (_|   |          |          (_|   |          |        
    /  _   _  _       |   |  __,   __|   __,      |   |  __,   __|   __,  
   /  |/  / |/ |      |   | /  |  /  |  /  |      |   | /  |  /  |  /  |  
  /__/|__/  |  |_/     \_/|/\_/|_/\_/|_/\_/|_/     \_/|/\_/|_/\_/|_/\_/|_/
   /|                    /|                          /|                   
   \|                    \|                          \|                                                                           

Zen Yada Yada; A theme by Oneriwien (Damion Otter)*/
/* ====== */
/* GLOBAL */
/* ====== */

* {
    --heading-font: 'Nanum Brush Script', Lora;
    --primary-font: Lora;
    --secondary-font: Times;
    
    --primary-color: RGB(90, 110, 80);
    --font-color: RGB(80, 80, 80);
    --secondary-color: RGB(120, 100, 80);
    --highlight-color: RGB(140, 120, 100);
    --border-color: RGB(70, 80, 60);
    --gray-color: RGB(60, 60, 60);
    
    --lightmenu-background: RGB(250, 230, 210);
    --menu-background: RGB(220, 200, 180);
    
    --lightbox-background: RGBA(250, 230, 210, 0.7);
    --box-background: RGBA(220, 200, 180, 0.7);
    
    --trans-image: url(/themes/zen/images/boximage.png);
}

/* ===== */
/* FONTS */
/* ===== */

@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script');

@font-face {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/lora/v12/4vqKRIwnQQGUQQh-PnvdMA.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* ==== */
/* BODY */
/* ==== */

.page {
    background: RGBA(230, 230, 230, 0.8);
    background-image: none;
    font-family: var(--primary-font);
    color: var(--font-color);
    font-size: 16px;
    
}

.presentation-interface {
    background: RGB(0, 0, 0);
    background-image: url(/themes/zen/images/background.png);
    background-repeat: no-repeat;
	
    background-attachment: fixed;
    background-size: cover;
    color: var(--font-color);
}

/* ======== */
/* HEADINGS */
/* ======== */

.user-css h2, .user-css h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.user-css h4, .user-css h5 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.user-css-extended h2, .user-css-extended h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.user-css-extended h4, .user-css-extended h5 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.user-css h1, .user-css-extended h1 {
    margin-top: 20px;
    font-family: var(--heading-font);
    font-size: 80px;
    color: var(--primary-color));
}

.user-css h2, .user-css-extended h2 {
    font-size: 30px;
    border-bottom: 2px var(--primary-color) solid;
}

.user-css h3, .user-css-extended h3 {
    font-size: 25px;
}

/* ==== */
/* TEXT */
/* ==== */

.user-css b, .user-css-extended b {
    color: RGB(80, 90, 80);
}

.user-css a, .user-css a:focus,
.user-css-extended a, .user-css-extended a:focus {
    color: var(--secondary-color);
    transition: color 0.4s;
}

.user-css a:hover,
.user-css-extended a:hover {
    color: var(--highlight-color);
	text-decoration: none;
}

.user-css .text-danger,
.user-css-extended .text-danger {
    color: var(--secondary-color);
}

/* ========= */
/* FORMATING */
/* ========= */
 
.user-css hr, .user-css-extended hr {
    border-color: var(--primary-color);
}
 
.user-css blockquote {
    background: var(--box-background);
    background-image: var(--trans-image);
    border-left: 8px var(--primary-color) solid;
    font-family: var(--secondary-font);
    color: var(--border-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.user-css blockquote a, .user-css blockquote a:hover, .user-css blockquote b {
    font-family: var(--secondary-font);
}

.user-css blockquote a, .user-css blockquote a:hover, .user-css blockquote b {
    font-family: var(--secondary-font);
}

.user-css blockquote .author {
    display: block;
    font-size: 14px;
    font-family: var(--secondary-font);
    color: var(--border-color);
    font-style: normal;
}

/* ========== */
/* SIDE PANEL */
/* ========== */

.user-css .panel {
    background: var(--box-background);
    background-image: var(--trans-image);
    border-top: 14px var(--primary-color) solid;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* ============= */
/* ARTICLE PANEL */
/* ============= */

.user-css .article-panel {
    background: var(--box-background);
    background-image: var(--trans-image);
    border-left: 8px var(--primary-color) solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

/* ======= */
/* MAP BOX */
/* ======= */

.user-css .map-box {
    background: var(--box-background);
    background-image: var(--trans-image);
}

/* ======= */
/* SECRETS */
/* ======= */

.user-css-secret {
    padding: 0px;
    background-color: transparent;
}

/* ====== */
/* TABLES */
/* ====== */

.page .table th {
    border-top: 3px var(--primary-color) solid;
}

.page .table td {
    border: none;
}

.user-css .table-striped tr:nth-child(even) {
    background-color: RGBA(220, 200, 180, 0.55);
}

.user-css .table-striped tr:nth-child(odd) {
    background-color: RGBA(70, 80, 60, 0.45);
}

/* ============ */
/* MENU CONTROL */
/* ============ */

.user-css .menu-control {
    height: 50px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--box-background);
    background-image: var(--trans-image);
    border-left: 1px var(--gray-color) solid;
    border-right: 1px var(--gray-color) solid;
    border-bottom: 2px var(--gray-color) solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: height 0.6s;
}

.user-css .menu-control:hover {
    height: 80px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--box-background);
    background-image: var(--trans-image);
    border-left: 1px var(--gray-color) solid;
    border-right: 1px var(--gray-color) solid;
    border-bottom: 2px var(--gray-color) solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* =========== */
/* BACKTOWORLD */
/* =========== */
 
.user-css div .backtoworld a {
    background: var(--menu-background);
    color: var(--primary-color);
    transition: background 0.4s;
    box-shadow: 0px 0px 0px black;
}

.user-css div .backtoworld a:hover {
    background: var(--lightmenu-background);
    border: none;
}

/* ========= */
/* NAV STRIP */
/* ========= */

.user-css .nav-strip {
    background-color: var(--menu-background);
    transition: background-color 0.4s;
    box-shadow: 0px 0px 0px black;
}


.user-css .nav-strip:hover {
    background-color: var(--lightmenu-background);
}

.user-css .nav-strip a:hover {
    border: none;
}

/* ========== */
/* BOOK COVER */
/* ========== */

.user-css .bookcover a .booktitle {
    color: var(--primary-color);
    background: var(--box-background);
    background-image: var(--trans-image);
    border-right: 8px var(--primary-color) solid;
    transition: border-right 0.4s;
}

.user-css .bookcover a:hover .booktitle {
    color: var(--primary-color);
    background: var(--box-background);
    background-image: var(--trans-image);
    border-right: 8px var(--border-color) solid;
}

.user-css .bookcover a img {
    opacity: 1;
    transition: opacity 0.4s;
}

.user-css .bookcover a:hover img {
    opacity: 0.8;
}

/* ======== */
/* METADATA */
/* ======== */

.user-css-extended .nav-tabs li.active a {
    color: var(--primary-color);
    background-color: RGB(220, 220, 220);
}

/* ============== */
/* COMMENT SECTION */
/* ============== */

.page .btn-primary {
    background-color: var(--primary-color);
    transition: background-color 0.4s;
}

.page .btn-primary:focus,
.page .btn-primary.focus {

    background-color: RGB(90, 90, 90);
}

.page .btn-primary:hover {
    background-color: RGB(90, 90, 90);
}

.page .comment-box {
    background: var(--box-background);
    background-image: var(--trans-image);
    border: none;
    border-left: 8px var(--primary-color) solid;
    font-family: var(--secondary-font);
    color: var(--border-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-radius: 0px;
}

/* ======== */
/* TIMELINE */
/* ======== */

.timeline:before {
    background-color: var(--primary-color);
}

.timeline li .tl-circ {
    border: 3px solid var(--primary-color);
}

.timeline hr {
    border: 1px var(--primary-color) solid;
}
