body,  div,  p { color: #222222!important; background: white; font-family:Marcellus Regular; font-size: 16px}
.logocontainer { height: 175px}
.logo { background: url(https://www.worldanvil.com/uploads/images/e77d3c48c2c8b84351b8cd3d0eb68e42.png) center center no-repeat; background-size: contain; height: 170px; margin-top:20px; background-color: #B4D0DC}
span.copyright { text-align: center; display: block; width: 100%; padding: 4px}
h2,  h4,  h5 { color: #222222!important}
.btn { color: #fff!important; background:none!important; border:none!important}
th { padding: 6px 6px 6px 6px!important; background-color: #B4D0DC!important; border: 2px solid #F8FBFF; color: #222222}
td { padding: 0px 6px 0px 6px!important; word-break: normal!important }
th,  td { border: 1px solid #666666}
b { color:#222222!important}
small { padding:15px}
em {font-size:large}
span.label.label-roller.rolldice,  .rolldice em { background: #B4D0DC; color: #84C1FF}
.mytable { width: 100%; background-color: #F8FBFF; margin-bottom: 20px; color: #84C1FF}
.statblock p,  .list-group-item { color: #222222!important}
.padding-left { padding-left: 16px}
.list-group { width:100%px!important}
.list-group-item { text-align:left; border-radius:0px; background: #F8FBFF}
.line-spacer { padding:none!important; margin:none!important}

.card { border: 1px solid #add6ef!important; border-radius: .25rem!important; box-shadow: 5px 5px 5px grey }
.card-header { padding: 2px; padding-left: 0.10em; background-color:#eeecf1; color:black; font-family:Marcellus Regular; text-transform: uppercase; font-size:24px; font-weight:800; line-height: 1em; text-align:center; box-shadow: inset 0 -1em 1em lightgrey }
.card-body,  .collapse { padding: 0px!important; width:100%; background: #F8FBFF; color:#222222}

.psi-header { padding:6px!important; background-color:#eeecf1; color:black; font-family:Marcellus Regular; text-transform: uppercase; font-size:20px; font-weight:800; line-height: 1em; text-align:center; box-shadow: inset 0 -1em 1em lightgrey }

.red { color:#841C04 }
.hdr { background-color:#add6ef; font-weight:800; ; box-shadow: inset 0 -.5em .5em #95b8cf }
.list-small li { padding: 0px 4px 0px 4px!important}
.list-small { margin-top:15px; width:100%}
.label-roller { position: relative; top: -3px}
.skill,  .cypher,  .ability { margin-right:20px!important}
.comment { font-style: italic; padding:10px!important}
.alert { float:none; padding: 5px 12px 5px 12px; margin: 10px}
.alertlist { float:none; padding: 3px 12px 3px 12px; margin: -5px -5px -5px 12px!important}
.form-header-title { text-transform:none}

.form-header-title { text-transform:none}
.form-control { width:80%; height:25px!important; padding: 2px 2px 2px 2px; margin: 1px 10px 0px 10px; display:inline; background-color:white!important; color:#222222!important }
input[type=number] { width: 60px; padding-right:0px; text-align:right}
.input-small { width: 60px!important}
.input-med { width: 120px!important}
input { margin: 3px!important}
textarea { width:95%!important; height:60px!important }
.form-wrapper .list-group-item { padding-top:0px; padding-bottom:0px; background-color:white}

.weapontable { background:white; text-align:center; width:100%}
.weapontable td { padding:4px!important}
.of { overflow-y: auto; width:100%}
.txt,  .die { background: white!important}
.ev { background-color:white!important}
.od { background-color:#c0c0c0!important}
.num { background: white; text-align:right; font-size:20px}
.warn { background: #ffd0d0; text-align:right; font-size:20px; color:black}
.novpad { padding-top:0px; padding-bottom:0px}
strong { font-weight:800; font-size:16px}
.badge-pill { float:right; padding: 2px; margin-top:3px}
.rolldice { font-size: 20px; height:40px;margin-top:6px; background-color:white!important; color:black!important}
em { font-size:24px; padding: 2px; color:black!important; background: none}
.pd10 { padding:10px!important}
.mg10 { margin:10px!important}
.c { text-align:center}
.l { text-align:left}
.r { text-align:right}
.sk { text-transform:uppercase}
.txt,  .num { padding-top:4px!important; padding-bottom:4px!important}
.bld { font-weight:800; text-transform:uppercase}
