.row
{
	width: 100%;
}

.col-20
{
	width: 20%;
	float: left;
}

.col-40
{
	width: 40%;
	float: left;
}

.col-50
{
	width: 50%;
	float: left;
}

.col-60
{
	width: 60%;
	float: left;
}

.col-80
{
	width: 80%;
	float: left;
}

.sectiontitle
{
	background: black;
	border-radius: 8px 0 8px 0;
	color: white;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	border: 2px solid rgba(255,255,255,0);
}

table td
{
	border: 2px solid black;
	margin: 2px 2px 2px 2px;
}

#fatelogo img
{
	max-width: 100%;
}

.attribution
{
	clear: both;
	margin-top: 30px;
}