body {
}

.zweihander-contents {
    padding: 20px;
    background-color: #e5dfc1;
    border: 1px solid #504717;
}

.system-zweihander .zwei-top-row {
    font-weight: bold;
    color: white;
    background-color: lightslategray;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.system-zweihander .zwei-value {
    font-weight: bold;
    color: white;
    background-color: lightslategray;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

.system-zweihander .zwei-label {
    align-self: center;
    color: white;
    background-color: dimgray;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}


.system-zweihander .zwei-result {
    align-self: center;
    color: black;
    background-color: burlywood;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.system-zweihander .zwei-skills {
    font-style: italic;
    align-self: center;
    color: black;
    background-color: beige;
    border: 1px solid black;
    
}

.system-zweihander .zwei-traits {
    font-style: italic;
    align-self: center;
    color: black;
    background-color: beige;
    border: 1px solid black;
}

.system-zweihander .zwei-trappings-result {
    font-style: italic;
    align-self: center;
    color: black;
    background-color: beige;
    border: 1px solid black;
}

.system-zweihander .zwei-attack-result {
    align-self: center;
    color: black;
    background-color: beige;
    border: 1px solid black;
}

.system-zweihander .zwei-attack {
    align-self: center;
    color: white;
    background-color: dimgray;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
