<html>
    <head>
        <link rel="stylesheet" href="../../css/dnd35e/dnd35e.css" type="text/css" media="screen" />
    </head>
    <body>
        <div class="system-dnd35e">
          
            {% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
{% macro statModifier(score) %}
	{% set mod = (score - 10)//2 %}
    [roll:1d{{dice}}{{ mod }}|{{ mod }}
{% endmacro %}
{% import _self as macros %}
<div class="row">
    <h1>{{ variables.name }}</h1>
<div>
<div class="row">
<div class="char-img"></div>
    <div class="char-info">
        <h2>Character Infos</h2>
        <div class="char-info-table">
            <div class="table-row">
                <div class="half-row-cell">
                    <div class="input-label">Character Name : </div>                    
                    <div class="input-value">{{ variables.name }}</div>                    
                </div>
                <div class="half-row-cell">
                    <div class="input-label">Race : </div>                    
                    <div class="input-value">{{ variables.race }}</div>                    
                </div>
            </div>
            <div class="table-row">
                <div class="half-row-cell">
                    <div class="input-label">Class : </div>                    
                    <div class="input-value">{{ variables.class }}</div>                    
                </div>
                <div class="half-row-cell">
                    <div class="input-label">Level : </div>                    
                    <div class="input-value">{{ variables.level }}</div>                    
                </div>
            </div>
            <div class="table-row">
                <div class="half-row-cell">
                    <div class="input-label">Experience : </div>                    
                    <div class="input-value">{{ variables.xp }}</div>                    
                </div>
                <div class="half-row-cell">
                    <div class="input-label">Malus Exp : </div>                    
                    <div class="input-value">{{ variables.malus_xp }}</div>                    
                </div>
            </div>
            <div class="table-row">
                <div class="quarter-row-cell">
                    <div class="input-label">Gender : </div>                    
                    <div class="input-value">{{ variables.sex }}</div>                    
                </div>
                <div class="quarter-row-cell">
                    <div class="input-label">Age : </div>                    
                    <div class="input-value">{{ variables.age }}</div>                    
                </div>
                  <div class="quarter-row-cell">
                    <div class="input-label">Height : </div>                    
                    <div class="input-value">{{ variables.height }}</div>                    
                </div> 
                <div class="quarter-row-cell">
                    <div class="input-label">Weight : </div>                    
                    <div class="input-value">{{ variables.weight }}</div>                    
                </div>
            </div>            
            <div class="table-row">
                <div class="third-row-cell">
                    <div class="input-label">Skin color : </div>                    
                    <div class="input-value">{{ variables.color_skin }}</div>                    
                </div>
                <div class="third-row-cell">
                    <div class="input-label">Eyes color : </div>                    
                    <div class="input-value">{{ variables.color_eyes }}</div>                    
                </div>
                  <div class="third-row-cell">
                    <div class="input-label">Hair color : </div>                    
                    <div class="input-value">{{ variables.color_hair }}</div>                    
                </div> 
            </div>
            <div class="table-row">
                <div class="third-row-cell">
                    <div class="input-label">Origin : </div>                    
                    <div class="input-value">{{ variables.origin }}</div>                    
                </div>
                <div class="third-row-cell">
                    <div class="input-label">Alignment : </div>                    
                    <div class="input-value">{{ variables.alignment }}</div>                    
                </div>
                <div class="third-row-cell">
                    <div class="input-label">Faith : </div>                    
                    <div class="input-value">{{ variables.faith }}</div>                    
                </div>
            </div>
            <div class="table-row">
                <div class="input-label">Background : </div>                    
                <div class="input-value">{{ variables.background }}</div>                    
            </div>
        </div>
    </div>
    <div class="char-attributs">
        <h2>Character Attributs</h2>
    </div>
<div class=""></div>
<div class=""></div>

</div>

        </div>
    </body>
</html>
