{
   background: none !important;
   padding: 0 !important;
   border: none !important;
   font-size: 16px
}
.form-horizontal {
   background-color: #ffffff
}
.header-title {
   color: #751c13;
}
.form-control-description {
   color: #4c0101;
}
input {
   background: #4a411f !important;
   color: #ffffff;
}
select {
   background: #4a411f !important;
   color: #ffffff;
}
textarea {
   background: #4a411f !important;
   color: #ffffff;
}
div,
p,
b,
em,
strong {
   color: black !important;
   font-family: Tauri Regular !important;
}
.inside-content {
   font-family: Tauri Regular !important;
   overflow: hidden;
   padding: 20px;
   color: #33322b;
   background-color: #ffffff;
   border-left: 1px solid #1E4B7D;
   border-right: 1px solid #1E4B7D;
   margin-left: 3px;
   margin-right: 3px
}
h1 {
   font-family: Eczar Bold !important;
   font-size: 36px;
   color: #1E4B7D !important;
   background: none !important;
   margin: 0;
   padding: 0;
}
h2 {
   border-bottom: 1px #6a0101 solid;
   font-family: "Crimson Text" !important;
   font-size: 24px;
   color: #1E4B7D !important;
   background: none !important;
   margin: 0 !important;
   padding: 0 !important
}
h3 {
   font-family: "Crimson Text" !important;
   font-size: 22px;
   color: #1E4B7D !important;
   background: none !important;
   margin: 0 !important;
   padding-bottom: 0 0 .5em 0 !important
}
.control-label {
   color: #520404;
   font-size: 1.2em;
   margin-bottom: 1px;
   font-weight: 500;
   margin-top: 10px;
}
.subheading {
   font-size: 1.3em;
   font-style: oblique;
   font-family: serif;
   font-weight: 600;
}
.text-muted {
   color: #615820 !important;
   margin-top: 5px !important;
   font-size: 0.9em;
}
h4 {
   font-family: "Crimson Text";
   color: #1E4B7D !important;
}
a {
   color: #1E4B7D !important;
}
a:hover {
   color: #1E4B7D !important;
   text-decoration: underline;
}
.ibox .ibox-content {
   padding: 0px;
   background: none;
   border: none;
}
.bar {
   height: 6px;
   width: 100%;
   border: 1px solid #000000;
   background-color: #1E4B7D;
   border-radius: 2px;
   margin: 0;
}
hr {
   border-top: solid 3px transparent;
   border-left: solid 315px #1E4B7D;
   border-bottom: solid 3px #1E4B7D;
   border-right: solid 315px transparent;
   margin: 10px 0px 10px 0px;
}
.statblock-attribute {
   text-align: center;
}
.label-roller {
   background: #a52b2b;
   vertical-align: text-top;
}
.lbl,
strong {
   font-weight: bolder;
   font-family: serif;
   color: #690101;
   font-size: 1.2em;
}
.no-border {
   border: 0px !important;
}
.form-horizontal {
   background: white;
   padding: 20px;
}
.artist-credits, .artist-credits a {
   padding-top:2px;
   text-align:center;
   font-size:12px;
}
.contentContainer-attribute .inputLabel {
   border: 0;
   margin: 0;
   padding: 0;
   display: block;
   text-transform: uppercase;
   font-size: 10px;
}
.contentContainer-attribute {
   text-align: center;
   font-size: 24px;
}
.contentContainer-attribute .rolldice {
   font-size: inherit;
}
.contentContainer-attribute .subContainer {
   margin-top: .1em;
   font-size: 0.7em;
   display: block;
}
.in-sm {
   width: 50px;
   display: inline-flex;
   margin-right: 40px
}
.in-md {
   width: 100px;
   display: inline-flex;
   margin-right: 40px
}
.in-lg {
   width: 200px;
   display: inline-flex;
   margin-right: 40px
}
.in-xl {
   width: 300px;
   display: inline-flex;
   margin-right: 40px
}
textarea.form-control {
   min-height: 0 !important
}
.c {
   text-align: center
}
.r {
   text-align: right
}
.l {
   text-align: left
}
.pb {
   width: 25px;
   height: 25px
}
input.form-control,
select.form-control {
   background-color: white !important;
   border: 1px solid #202020 !important;
   border-radius: 5px !important;
   color: #444 !important;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;
}
.valiant-sheet-box .form-control:focus {
   background-color: white !important;
   color: #000 !important;
}
textarea.form-control {
   background-color: white !important;
   border: 1px solid #202020 !important;
   border-radius: 5px !important;
   color: #444 !important;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;
}
textarea.form-control:focus {
   background-color: white !important;
   color: #000 !important;
   border: 1px solid #202020;
   border-radius: 5px;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;
}
input.form-control:focus {
   background-color: white !important;
   color: #000 !important;
   border: 1px solid #202020;
   border-radius: 5px;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none;
}
strong {
   text-transform: capitalize;
}
.form-control,
.form-control:focus,
select option {
   background-color: white !important;
   color: #000 !important;
   border: 1px solid #202020;
   font-size: 16px !important;
   line-height: 1.6em;
   min-height: 40px;
}
p.statblock-source,
p.statblock-source a {
   float: right;
   font-size: 0.7em;
   padding: 4px 8px 4px 8px;
   color: white !important;
   -webkit-text-fill-color: white !important;
   background: #1E4B7D;
   font-weight: 800
}
.statblock-stat .btn-primary {
   background-color: #00000020 !important;
   border: 1px solid #212529 !important;
   margin: 4px
}
.table,
.table tr {
   color: #212529 !important;
   background: none !important;
   background-color: none !important
}
.table-striped td {
   color: #212529 !important
}
.table-striped th {
   color: #ffffff !important;
   background: #1E4B7D !important
}
.table-striped tbody tr:nth-of-type(odd) {
   color: #212529 !important;
   background-color: #00000020 !important;
}
.spoiler-content {
   background: #ffffff40 !important
}
.card {
   color: #212529 !important;
   background-color: #ffffff
}
.desc {
   background-color: #ffffff60 !important;
   padding: 15px;
   margin: 10px 0px 10px 0px
}
.trait {
   text-transform: uppercase;
   padding: 4px 10px 4px 10px;
   border: 2px solid #D9C484;
   margin: 10px 10px 10px 0px;
   margin-bottom: 10px;
   background-color: #98513D;
   color: white !important;
   margin-top: 10px
}
strong {
   text-transform: capitalize;
}
.CodeMirror-buttonsPanel button {
   color: black !important;
   background-color: white !important;
}
.CodeMirror-buttonsPanel button:hover {
   color: white !important;
   background-color: black !important;
}
.CodeMirror-linenumber,
.CodeMirror pre.CodeMirror-line {
   color: white !important
}
div,
p,
b,
em {
   font-family: Tauri Regular !important;
}