{
  --gold: #d1a347;
  --alternate: #00000010;
  --s-white: #f8f8f8;
  --s-white-bg: #f8f8f840;
  --s-black: #404040;
  --s-black-bg: #40404040;
  --s-darkred: #5E0000;
  --s-blue: #1e4b7d;
  --s-blue2: #34649b
}
.dnd5e-2024-vintage { padding: 10px; color: var(--s-black) !important; background: url(/i/5530250/render) }
.dnd5e-2024 { padding: 10px; color: var(--s-black) !important; background-color: var(--s-white) !important }
.dnd5e-2024 .table, .dnd5e-2024 table, .dnd5e-2024 tr, .dnd5e-2024 td { color: var(--s-black) !important; background: var(--s-white) !important }
.dnd5e-2024 .bn-editor .table, .dnd5e-2024 .bn-editor table, .dnd5e-2024 .bn-editor tr, .dnd5e-2024 .bn-editor td { background: var(--s-black) !important }
.dnd5e-2024-vintage .table, .dnd5e-2024-vintage table, .dnd5e-2024-vintage tr, .dnd5e-2024-vintage td { color: var(--s-black) !important; background-color: inherit !important }
.dnd5e-2024 th, .dnd5e-2024 .bn-editor th { color: var(--s-white) !important; background-color: var(--s-blue) !important }
.dnd5e-2024-vintage th { background-color: var(--s-black-bg) !important }
.dnd5e-2024-vintage, .dnd5e-2024-vintage table { border: 4px double var(--s-darkred) !important; border-radius: 10px !important; border-collapse: inherit }
.dnd5e-2024, b, p { font-size: 16px}
.dnd5e-2024, b, p, h1, h2, h3, h4, h5, .var, .card, .card-body { font-family: Helvetica !important; color: var(--s-black) !important }
.card-body { background-color: var(--s-white)  }
.dnd5e-2024 th.lbl.ev, .dnd5e-2024 th.ilbl.ev { background-color: var(--s-blue2) !important }
.dnd5e-2024-vintage th.lbl.ev, .dnd5e-2024-vintage th.ilbl.ev { background-color: var(--alternate) !important }
.table { margin-top: 1rem }
.title { font-size: 28px; border-bottom: 2px solid var(--gold) }
.hdr, .ihdr { margin-top: 1em; margin-bottom: 1em; font-size: 24px; border-bottom: 1px solid var(--gold) }
.card-header { color: var(--s-white) !important; background-color: var(--s-blue) !important}
.card { border: 1px solid var(--gold) !important}
p a { color: var(--s-darkred) !important; text-decoration: underline !important}
.hdr2, .ihdr2 { margin-top: 1em; font-size: 20px; font-weight: 600 }
.lbl.table, .ilbl.table { font-size: 16px; font-weight: 600}
ul, ol { padding-left: 30px}
.of { overflow:auto}
.od { background-color: var(--alternate)}
.table-striped td, .table-striped th { text-align: center}
.table-striped tr:nth-of-type(odd) td, .dummy { background-color: var(--alternate) !important}
.artist-credits { text-align:center; font-size:12px}
p.statblock-source, p.statblock-source a {
  float: right;
  font-size: 0.7em;
  padding: 2px 8px 1px 8px;
  color: var(--s-white) !important;
  -webkit-text-fill-color: var(--s-white) !important;
  background: var(--s-blue) !important;
  font-weight: 400
}
.trait {
  text-transform: uppercase;
  padding: 4px 10px 4px 10px;
  border: 2px solid #D9C484;
  margin: 10px 10px 15px 0px;
  background-color: var(--s-darkred) !important;
  color: var(--s-white) !important;
  line-height: 2.4em!important
}
.alignment { background-color: #576293}
.size { background-color: #3B7B59;}
.rarity { background-color: #98513D;}
.r_common { background-color: #3B7B59}
.r_uncommon { background-color: #98513D}
.r_rare { background-color: #002664}
.r_unique { background-color: #800080}
.bn-editor, .form-control, .form-control:focus { font-size:16px !important; caret-color: var(--s-white) !important; color: var(--s-white) !important; -webkit-text-fill-color: var(--s-white) !important; background-color: var(--s-black) !important}
.description { font-size:12px; margin-top:0px}
div.ilbl label { font-size:24px; margin-top:20px}
h1, h2, h3, h4, h5, h6 { margin-top:20px; margin-bottom:10px; font-weight:400; font-style: normal; text-transform: none}
h1 { font-size: 32px !important}
h2 { font-size: 29px !important}
h3 { font-size: 26px !important}
h4 { font-size: 23px !important}
h5 { font-size: 20px !important}
h6 { font-size: 17px !important}
hr { border: 1px solid var(--gold)}
.form-control { margin-bottom: 0px !important}
.label { font-size: 14px;}
.label-roller { color: var(--s-white) ; background-color: var(--s-darkred) ; margin: 1px 0px }
.lbl1 { text-align: center}
.att1 { background-color: #00000030 !important; text-align: center; font-weight: bolder}
.att2 { background-color: #00000030 !important; text-align: center}
.mod { background-color: #00000010 !important; text-align: center}
input[required] { border: 2px solid #ff0000 !important}
.CodeMirror-buttonsPanel button:hover, .CodeMirror-buttonsPanel button, select, input, select:focus, input:focus { color: #ebefe8; background-color: #262626 !important; border: 1px solid #808080 !important}
select.form-control { height: 2.6rem !important }
.table > tbody > tr > th, .table > tbody > tr > td { vertical-align: middle }