{
  --gold: #d1a347;
  --alternate: #a7d6de30}
 .dnd5e-2024 {
   font-family: Helvetica;
   font-size: 16px;
   padding: 10px !important;
   border: none !important;
   color: var(--black) ;
   background-color: var(--background-terror)}
 table { color: inherit ;}
 .title {
  font-size: 28px;
  border-bottom: 2px solid #d1a347}
 .hdr,  .ihdr {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 24px;
  border-bottom: 1px solid var(--gold)}
 a { border-bottom: 1px solid var(--gold)}
 .hdr2,  .ihdr2 {
  margin-top: 1em;
  font-size: 20px;
  font-weight: 600}
 .lbl.table,  .ilbl.table {
  font-size: 16px;
  font-weight: 600}
 ul,  ol { padding-left: 30px}
 .of { overflow:auto}
 .od { background-color: var(--alternate)}
 .table-striped td,  .table-striped th { text-align: center}
 .table-striped tr:nth-of-type(odd) td,  .dummy { background-color: var(--alternate)}
 .artist-credits { text-align:center; font-size:12px}
 p.statblock-source,  p.statblock-source a {
  float: right;
  font-size: 0.7em;
  padding: 2px 8px 1px 8px;
  color: white !important;
  -webkit-text-fill-color: white !important;
  background: #1E4B7D;
  font-weight: 400}
 .trait {
  text-transform: uppercase;
  padding: 4px 10px 4px 10px;
  border: 2px solid #D9C484;
  margin: 10px 10px 15px 0px;
  background-color: #5E0000;
  color: white!important;
  line-height: 2.4em!important}
 .alignment { background-color: #576293}
 .size { background-color: #3B7B59;}
 .rarity { background-color: #98513D;}
 .r_common { background-color: #3B7B59}
 .r_uncommon { background-color: #98513D}
 .r_rare { background-color: #002664}
 .r_unique { background-color: #800080}
 .form-control,  .form-control:focus { font-size:16px !important; color: var(--white)!important}
 .description { font-size:12px; margin-top:0px}
 div.ilbl label { font-size:24px; margin-top:20px}
 h1,  h2,  h3,  h4 { margin-top:20px; margin-bottom:10px}
 hr { border: 1px solid var(--gold)}
 .form-control { margin-bottom: 0px !important}
 .label {
    font-size: 14px;}
 .label-roller {
    margin: 1px 0px;}
 .lbl1 { text-align: center}
 .att1 { background-color: #00000030; text-align: center; font-weight: bolder}
 .att2 { background-color: #00000030; text-align: center}
 .mod { background-color: #00000010; text-align: center}
 select,  input,  select:focus,  input:focus { background-color: #00000080 !important; border: 1px solid #808080 !important}
 select.form-control:not([size]):not([multiple]) { height: 2.6rem}
 input[required] { border: 2px solid #ff0000 !important}