{
    padding: 20px!important;
    color: #404040;
    background-color: #F5F0EC;
    font-family: "IM Fell Double Pica";
    font-size: 21px;}
 .title {  font-size: 32px; font-weight:700; color: #890E11}
 .header {  font-size: 24px; font-weight:700; font-style: italic; color: #890E11; margin-top:1em}
 .lbl,  ilbl { font-weight: 700}
 .lbl.att,  .ilbl.att { text-transform: uppercase; padding-right:5px; padding-left: 20px}
 .lbl.att2,  ilbl.att2 { text-transform: capitalize; padding-right:5px; padding-left: 20px}
 .artist-credits,  .artist-credits a { font-size:14px}
 .form-control,  .form-control:focus { font-size: 21px!important; background-color: #FFFFFF!important; -webkit-text-fill-color: #404040; border: 1px solid #808080}
input[required] { border: 2px solid red!important;}