<div class="container-fluid black">
    <div class="row">
        <div class="col-12 bg-light c">
            {{ variables.name|default }}<br/>
            <b>"{{variables.handle|default}}"</b><br/>
            {{ variables.primaryRole|default }}
        </div>
    </div>
</div>