{
  color: var(--dark) ;
  font-size:18px;
  font-family: PT Sans Narrow}
.logo {
  background: url(/images/rpgsrd/system-logos/cyber2020.png) center center no-repeat!important;
  height: 100px;
  background-size: contain!important;
  border: none}
.container-fluid {
background: url(/uploads/images/6bf2f566e2caa14aa471e803d0d9427d.webp) ;}
.cyber-card {
width: 33.3% !important}
.card {
background-color: transparent !important;
padding: 0px !important;
margin: 0px !important}
.cp2020-lifeevent-details {
min-height: 48px;
height: 48px;
max-height: 48px}
.cp2020-weapon-notes {
min-height: 36px;
height: 36px;
max-height: 36px}
.no-spinners::-webkit-outer-spin-button, .no-spinners::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0}
input.form-control {
background-color: var(--light) !important;
padding: 0px 0px;
margin: 0px 0xp}
.cp2020-bottom-white {
border-bottom: 1px solid var(--light)}
.black {
color: var(--dark)}
INPUT {
border:0;
outline:0}
.cp2020-field-title {
background-color: var(--dark) ;
color: var(--light) ;
font-weight: bold;
height: 28px;
min-height: 28px;
text-transform: capitalize;
display: inline-block;
padding-left: 3px;
padding-top: 4px;
padding-bottom: 5px;
margin: 0px, 0px;
margin-bottom: 5px;
border: 1px var(--dark) solid}
.sz-25 {
width: 25px;
min-width: 25px}
INPUT.sz-25 {
width: 23px}
.sz-40 {
width:40px;
min-width: 40px}
INPUT.sz-40 {
width: 38px}
.sz-50 {
width: 50px;
min-width: 50px}
INPUT.sz-50 {
width: 48px}
.sz-70 {
width: 70px;
min-width: 70px}
INPUT.sz-68 {
width: 70px}
.sz-100 {
width: 100px;
min-width: 100px}
.sz-130 {
width: 130px;
min-width: 130px}
.cp2020-field-input {
border: 1px black solid;
height: 28px;
display: inline-block;
padding: 0px, 0px;
margin: 0px, 0px;
margin-left: -4px}
.cp2020-field-input-sm {
border: 1px black solid;
height: 28px;
display: inline-block;
padding: 0px, 0px;
margin: 0px, 0px;
margin-left: -4px}
.cp2020-field-input INPUT {
margin: 0px 0px !important}
.cp2020-wound-track {
font-size: 9px}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0}
textarea, textarea:focus { min-height: 2em}
select { margin-top: 5px; padding: 2px;}
input, textarea, input:focus, textarea:focus {
  color: var(--dark) ;
  background-color: #00000015 !important;
  font-size: 18px !important;
  margin: 5px 0px}
.l { text-align: left;
padding-left: 10px}
.c { text-align: center}
.r { text-align: right;
padding-right: 10px}
.wound { font-size:18px; padding:0px; text-align:center; color:var(--dark)}
.card-header.wound { color:var(--light) !important; background-color:var(--dark) !important}
.card-body.wound { background-color:var(--light)}
.border-dark { border-color: var(--dark)!important; background: var(--light)}
.artist-credits, .artist-credits a { font-size:10px}
.btn { padding: 0px 5px 0px 5px}
.btn-link, .btn-dark { background-color: var(--dark) !important; color: var(--light) !important; border: 0}
.bg-black {
background-color: var(--dark) ;
color: var(--light) ;
font-weight: bold;
padding-left:4px;
padding-right:4px}
.bg-grey {
background-color: lightgrey;
color: var(--dark) ;
font-weight: bold}
div.bg-white {
background-color: var(--light) !important;
color: var(--dark)}
.of { overflow:hidden; font-size:16px}
::placeholder { color: red; opacity: 1}
::-ms-input-placeholder { color: red}
small,  small a { color: #000000 } 