@import url('https://fonts.googleapis.com/css?family=Orbitron|Raleway');

.test_spacer {
  max-width: 1170px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.swweg_page {
  font-family: Orbitron, cursive;
  font-size: 90.25%;
  -webkit-text-stroke: 1px rgba(0,0,0, 0.5);
  color: rgba(0,0,0, 0.8);
  border: 2px solid #000;
  border-radius: 15px;
  padding: 2em;
}

.swweg_page .skill_list {
  font-family: Raleway, Arial, cursive;
  font-size: 11pt;
}

.swweg_page .quick_stat {
  width: 100px;
}

.swweg_page .char_name {
  font-size: 20pt;
  margin-bottom: 1em;
}

.swweg_page .attribs {
  font-size: 12pt;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.swweg_page .marg_top_1em {
  margin-top: 1em;
}
.swweg_page .marg_top_p5em {
  margin-top: 0.5em;
}
.swweg_page .marg_btm_p5em {
  margin-bottom: 0.5em;
}
.swweg_page .marg_right_1em {
  margin-right: 1em;
}
.swweg_page .pad_btm_1em {
  padding-bottom: 1em;
}

.swweg_page .pts_circle {
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,0.8);
  width: 50px;
  height: 50px;
}

.swweg_page .cat-bar {
  border-bottom:2px dashed #033661;
}

.swweg_page .flex-base {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.swweg_page .flex-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.swweg_page .flex-col {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.swweg_page .flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swweg_page .flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.swweg_page .justify-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.swweg_page .justify-sp-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.swweg_page .flex-align-content-stretch {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.swweg_page .flex-align-content-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.swweg_page .flex-align-items-stretch {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.swweg_page .flex-align-items-cntr {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.swweg_page .flex-base-child {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.swweg_page .flex-base-child-stretch {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
