 .container-fluid {
   color: #000000 !important;
   background-color: #E0E0E0;
   font-size: 20px !important;
   font-family: PT Sans Narrow !important;
   padding-bottom:20px;}
 .form-control,  .form-control:focus {
   font-size: 20px !important;
   font-family: PT Sans Narrow !important;
   color: #000000 !important;
   background-color: #FFFFFF;}
 .card {
   background-color: #E9F7FC;
   margin: 5px;
   color: #202020!important;
   border-radius: 0
}
 .card-header {
   color: #000000;
   background-color: #E9F7FC!important;
   padding: 8px;
   margin: 0px;
   margin-bottom: 2px
}
 .card-body {
   background-color: #FFFFFF !important;
   padding: 10px;
   margin: 0px;
   font-family: PT Sans Narrow;
   font-weight: 400;
   font-size: 20px;
   color: #202020!important}
.lbl { font-weight:800; padding: 0px 3px; background-color:#E8E8E8 }
.var { padding: 0px 3px; background-color:#FFFFFF }
.table { width:100%; border-spacing: 2px; }
.table td { padding:2px }
.ev { background-color: #00000000 }
.od { background-color: #00000010 }
td.var { padding-left:10px}
td.lbl { padding-left:10px; padding-right:10px}
.table, .table>tbody>tr>td { border:none }
input[required] { border: 2px solid #FF0000 !important }
input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0 }
input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center }
input.form-control {
   background-color: white !important;
   border: 1px solid #202020 !important
}
.attributes .card-body { text-align:center; padding: 0 }
.attributes .var {
    line-height: .8em;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    border: 2px solid #808080;
    text-align: center;
    background: #FFFFFF;
    overflow: hidden;
    margin: 10px auto;
    color: #000000;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold
}
.data .var { text-align:center }
.personal td.lbl { width:30% }