 {
  background-color: #ffffff;
  padding: 20px;
}

.system-logo {
	max-width:200px;
}

.full-sheet {
	padding: 5px;
}
 

h2 {
    margin-top: 25px;
    color: #8a0d0d;
}

h2 small {
    font-size: 50%;
    font-weight: 400;
    display: block;
    color: #964444;
    margin-top: 5px;
}

.sheet-key-value {
    margin-bottom: 10px;
}

.sheet-key {
    font-size: 1.2em;
}

.sheet-value {
	font-size: 1.2em;
	font-weight: bold;
}

.box-extras {
	margin-top: 25px;
	border: 1px #000 solid;
	padding: 20px;
}

h4.trackable-header {
    color: #a7272b;
    font-size: 1.25em;
}