.rarity { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; margin-bottom:10px; background-color: #98513D; color: white; margin-top:10px } 
.alignment { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; background-color: #576293; color: white } 
.size { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; background-color: #3B7B59; color: white } 
.trait { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; background-color: #5E0000; color: white } 

.trait-form { padding:12px }

.level { float:right; }

 .pf2-monster-sheet {
    font-family: Tauri Regular;line-height: 1.6;
    font-size: 14px;
    background: #fffcf5;
    color: #27241f;
    flex-flow: row wrap;
    padding: 15px;}

 .pf-red-bg {
    background:#460606;
    color: #f6d49f;}

 .card {
    background-color: #fffcf5 !important;
    color: #27241f;
    border: #fffcf5;
    padding: 5px;}

 .card-header {
    font-family: Eczar Bold;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 20px 5px 20px;
    letter-spacing: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;}

 .card-body {
    color:#27241f;
    background:#fffcf5;
    padding: 10px;
    border: 1px solid;}

 .table>body>tr>th,  .table.table-striped th {
    background: transparent;
    color: #27241f;}
 .card-body .row {
    margin-left: -2px;
    margin-right: -2px;}

 .table {
    margin-bottom: 0px;
    width: 100%;}

 .table-responsive .table {
    min-width: 100% !important;}

.c { text-align:center }
.b { font-weight: 800 }

.form-control { display:inline-flex; width:95%; color:black }
.form-short { width:100px; margin-right:20px }
.form-medium { width:500px; margin-right:20px }