

 .pf2-rpg .logo {
  background: url(https://www.worldanvil.com/uploads/images/7cb71a2983656a54ec1c4ee84d28b186.png) center center no-repeat;
  background-size: contain;
  border:none;
  height:150px}
 .sheet-title { font-family: Eczar Bold; text-align:center; valign:center}
 .rolldice {
  width: 35px;
  height: 35px;
  text-align: center;
  background: #fd7f18;
  position: relative;
  color: black;
  font-size:2em;
  border-radius: 25%}
 .pf2-rpg {
  background: #fefeee;
  font-family: Tauri Regular;
  font-size: 12px;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  color: #3c3c3c}
 .pf2-rpg .card {
  font-family: Tauri Regular;
  padding: 5px;
  border: #6d3f20 !important;
  color: #3c3c3c !important;
  background-color: floralwhite !important}
 .pf2-rpg .card-header {
  color: floralwhite !important;
  background-color: #002664;
  font-family: Eczar Bold;
  font-size: 1.7em;
  font-weight: 700}
 .pf2-rpg .card-body { color: floralwhite !important; background-color: #98513D !important}
 .pf2-rpg .txt { background-color: floralwhite !important; color: #3c3c3c !important}
 .pf2-rpg .hdr { color: floralwhite !important; background-color: #5E0000 !important}
 .pf2-rpg .value-col { padding: 0px; margin:2px}
 .pf2-rpg .value-card .card-header { padding: 5px}
 .pf2-rpg .value-card .card-body { padding: 5px}
 .pf2-rpg .ability-modifier-label .upper-label { text-transform: uppercase; font-weight: 400}
 .pf2-rpg .ability-score-label { text-align:right; text-transform: uppercase; font-weight: 400}
 .pf2-rpg .upper-label { font-size:1.6em; text-transform: uppercase}
 .pf2-rpg .ability-score { font-size:2.2em}
 .pf2-rpg .ability-modifier { padding-top:12px; font-size:1.6em; text-align:left; padding-left:1px}
 .pf2-rpg .ability-roll { padding-right: 1px}
 .char-info-dd {
  font-family: Tauri Regular;
  font-size: 1.2em;
  background: #fff;
  color: #002664;
  margin: 0px;
  padding: 5px;
  border: 1px solid #5E0000}
 .char-info-dt { font-family: Eczar Bold; color: #002664; margin-top:3px; margin-bottom: 15px}
 .pf2-rpg .hero-points,  .pf2-rpg .level { padding-top:5px; border: 4px solid #5E0000; width:80px; height:60px; text-align:center; font-size: 2em}
 .pf2-rpg .xp { width:80px}
 .pf2-rpg .spell { margin-bottom:5px; border: 1px solid #5E0000}
 .pf2-rpg .spell th,  .pf2-rpg .spell td { padding:5px; border: 1px solid #5E0000}
 .pf2-rpg .spell th { height:50px}
 .pf2-rpg .of { overflow-y: auto; width:100%}
 .pf2-rpg .sstable td { border: 1px solid black; width:30px; padding:10px; text-align:center}
 .pf2-rpg .sstable th { border: 1px solid black; width:30px; padding:10px; font-weight:700; text-align:center}
 .proficiency-label-cell {
  color: #3c3c3c;
  font-size:  0.7em;
  font-weight: 900;
  padding: 0;
  text-align: center}
 .checkbox-empty { background-color: #e4e2e2; padding: 2px; border: 1.5px solid floralwhite}
 .checkbox-checked { background-color: #353535; border: 1.5px solid floralwhite; padding: 2px}
 