.col-lg-1,  .col-lg-10,  .col-lg-11,  .col-lg-12,  .col-lg-2,  .col-lg-3,  .col-lg-4,  .col-lg-5,  .col-lg-6,  .col-lg-7,  .col-lg-8,  .col-lg-9,  .col-md-1,  .col-md-10,  .col-md-11,  .col-md-12,  .col-md-2,  .col-md-3,  .col-md-4,  .col-md-5,  .col-md-6,  .col-md-7,  .col-md-8,  .col-md-9,  .col-sm-1,  .col-sm-10,  .col-sm-11,  .col-sm-12,  .col-sm-2,  .col-sm-3,  .col-sm-4,  .col-sm-5,  .col-sm-6,  .col-sm-7,  .col-sm-8,  .col-sm-9,  .col-xs-1,  .col-xs-10,  .col-xs-11,  .col-xs-12,  .col-xs-2,  .col-xs-3,  .col-xs-4,  .col-xs-5,  .col-xs-6,  .col-xs-7,  .col-xs-8,  .col-xs-9 {
   padding-left: 2px;
   padding-right: 2px;}
 .pf2-character-sheet .table-striped th, .pf2-character-sheet .table-striped td { color: var(--ef-dark)!important }
 .ibox-content { padding: 0!important}
 h1 small {
   font-size: 40%;}
 .trait {
  text-transform: uppercase;
  padding: 4px 10px 4px 10px;
  border: 2px solid #D9C484;
  margin: 10px 10px 15px 0px;
  background-color: #5E0000;
  color: white!important;
  line-height: 2.4em!important;}
 .alignment { background-color: #576293;}
 .size { background-color: #3B7B59;}
 .rarity { background-color: #98513D;}
 .r_common { background-color: #3B7B59}
 .r_uncommon { background-color: #98513D}
 .r_rare { background-color: #002664}
 .r_unique { background-color: #800080}
 textarea {
   min-height: auto !important;}
 .pf2-character-sheet,  .pf2-char-form {
   font-family: Tauri Regular;
   font-size: 14px;
   background: #fffcf5;
   color: #27241f;
   flex-flow: row wrap;}
 .pf2-logo {
   max-height: 100px;}
 .pf-red-bg {
   background:#460606;
   color: #f6d49f;}
 .btn-pathfinder {
   display:block;}
 .card {
   background-color: #fffcf5 !important;
   color: #27241f;
   border: #fffcf5;
   padding: 5px;}
 .card-header {
   font-family: Eczar Bold !important;
   font-size: 1.5em !important;
   font-weight: bold !important;
   font-variant: small-caps !important;
   padding: 2px;
   letter-spacing: 1px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   background: #771414 !important;}
 .card-body {
   color:#27241f;
   background:#fffcf5;
   padding: 10px;
   border: 1px solid;}
 .char-detail {
   padding: 1px;
   border: 0.5px solid;
   margin: 5px;
   text-align: center;}
 .char-detail-sm {
   padding:1px;
   margin: 5px;
   border: 0.5px solid;
   margin-top: 0px;
   margin-bottom: 0px;}
 .input-label {
   display: block;
   text-align: center;
   font-weight: 100;
   padding: 6px;
   font-size: 1.05em;}
 .input-content {
   padding: 10px;
   display: inline-block;
   margin-bottom: 5px;
   text-align: center !important;
   width: 100%;}
 .level {
   display: block;
   text-align: center;
   font-weight: bold;
   padding: 2px;
   font-size: 2em;}
 .inner-row {
   padding: 15px;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-right: 20px;}
 .of { overflow:scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;}
 .of::-webkit-scrollbar {
  display: none;}
 .total {
   font-weight: bold;
   font-size: 1.7em}
 .proficiency-label-cell {
   font-size:  0.9em;
   font-weight: bold;
   padding: 0;
   text-align: center;
   background-color: #460606;
   color:#f6d49f !important}
 .checkbox-empty {
   background-color: #e4e2e2;
   padding: 1px;
   border: 1.5px solid floralwhite;
   min-width: 10px;}
 .checkbox-checked {
   background-color: #353535;
   border: 1.5px solid floralwhite;
   padding: 1px;
   min-width: 10px;}
 .proftable {
   margin-top: 15px;}
 .proftable table {
   width: 100%;}
 .proftable .line-spacer {
   display: none !important;}
 .char-input {
   text-align:left;
   padding: 10px;
   display: block;
   margin-bottom: 5px;}
 .table-roll-label {
   font-size: 1.5em;
   background-color: #460606;
   color: #F6D49F !important;
   width: 30px;
   height: 30px;
   text-align: center;
   position: relative;
   border-radius: 25%;}
 .upper-label {
   text-transform: uppercase;
   font-weight: 400;}
 .under-label {
   font-weight: bold;}
 .ability-score-label {
   text-align:right;}
 .ability-score {
   font-size: 1.5em;}
 .ability-modifier {
   padding-top: 12px;
   font-size:1.5em;
   text-align:left;
   padding-left:1px;}
 .ability-modifier-label {
   text-align: left;}
 .table>body>tr>th,  .table.table-striped th {
   background: transparent;
   color: #27241f;}
 .card-body .row {
   margin-left: -2px;
   margin-right: -2px;}
 .armor-proficiency-label {
   text-transform: uppercase;
   display: block;
   text-align: left;
   margin-top: 2px;
   color: #27241f;}
 .table {
   margin-bottom: 0px;
   width: 100%;}
 .skillname {
   font-weight:bold;
   font-variant: small-caps;
   font-size: 1.2em;}
 .rolldice {
   background: #460606;
   color: #F6D49F;}
 .table-responsive .table {
   min-width: 100% !important;}
 .form-section {
   margin: 5px;}
 .form-section-content {
   padding: 10px;
   color: #27241f !important;}
 .pf2-char-form .label {
   color:#27241f !important;}
 .small-input { width: 70px!important; display: inline-flex!important; text-align:center!important}
 .text-center { text-align:center !important}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 .form-section-content .col-lg-1,  .form-section-content .col-lg-10,  .form-section-content .col-lg-11,  .form-section-content .col-lg-12,  .form-section-content .col-lg-2,  .form-section-content .col-lg-3,  .form-section-content .col-lg-4,  .form-section-content .col-lg-5,  .form-section-content .col-lg-6,  .form-section-content .col-lg-7,  .form-section-content .col-lg-8,  .form-section-content .col-lg-9,  .form-section-content .col-md-1,  .form-section-content .col-md-10,  .form-section-content .col-md-11,  .form-section-content .col-md-12,  .form-section-content .col-md-2,  .form-section-content .col-md-3,  .form-section-content .col-md-4,  .form-section-content .col-md-5,  .form-section-content .col-md-6,  .form-section-content .col-md-7,  .form-section-content .col-md-8,  .form-section-content .col-md-9,  .form-section-content .col-sm-1,  .form-section-content .col-sm-10,  .form-section-content .col-sm-11,  .form-section-content .col-sm-12,  .form-section-content .col-sm-2,  .form-section-content .col-sm-3,  .form-section-content .col-sm-4,  .form-section-content .col-sm-5,  .form-section-content .col-sm-6,  .form-section-content .col-sm-7,  .form-section-content .col-sm-8,  .form-section-content .col-sm-9,  .form-section-content .col-xs-1,  .form-section-content .col-xs-10,  .form-section-content .col-xs-11,  .form-section-content .col-xs-12,  .form-section-content .col-xs-2,  .form-section-content .col-xs-3,  .form-section-content .col-xs-4,  .form-section-content .col-xs-5,  .form-section-content .col-xs-6,  .form-section-content .col-xs-7,  .form-section-content .col-xs-8,  .form-section-content .col-xs-9 {
   padding-left: 15px;
   padding-right: 15px;}
 .pf2-character-sheet .form-control,  .form-control {
   background-color: floralwhite !important;
   color:#27241f !important;}
 .pf2-character-sheet .form-control {
   margin-top: -5px;}
 .pf2-char-form label {
   color: #27241f;}
 .pf2-character-sheet .text-muted,  .form-row .text-muted {
   color: #353535 !important;}
 .pf2-char-form .ability-form-label {
   color: #27241f !important;}
 .pf2-char-form .description {
   margin-bottom: 15px;
   margin-top: 2px;}
 .pf2-badge {
   background-color: #fffcf5;
   padding: 10px;}
 .pf2-badge .char-detail {
   margin: 25px;
   margin-bottom: 0;
   margin-top: 0;}
 .badge-bar {
   font-weight: bold;
   margin: 0px!important;
   padding: 5px;}
 .badge-bar .bar-label {
   color: black;
   text-align: center !important;
   font-size: 1em;
   padding: 5px;}
 .badge-bar .bar-value {
   font-size: 1em;
   text-align: center !important;}
 .character-badge-success {
   color: #009e42;}
 .character-badge-info {
   color: #61d2ff;}
 .character-badge-alert
{
   color: #ffb032;}
 .character-badge-danger
{
   color: #d80909;}
 .table-striped tbody tr:nth-of-type(odd)
{
   background-color: #7291AE14) ;}
 .pf2-badge .line-spacer {
   height: 0px;
   display: none !important;}
.card-header.btn { width:100% }
.proficiency-cell { color: #f6d49f; width:25% }