

.pf2-rpg
{
    background: #fefeee;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    color: #3c3c3c;
}

.pf2-rpg .rolldice
{
    width: 35px;
    height: 35px;
    text-align: center;
    background: #fd7f18;
    position: relative;
    color: black;
    border-radius: 25%;
}

.pf2-rpg .sheet-title
{
    font-family: Arial;
}

.pf2-rpg .card
{
    padding: 5px;
    border: #6d3f20 !important;
    color: #3c3c3c !important;
    background-color: floralwhite !important;
}

.pf2-rpg .card-header
{
    color: floralwhite !important;
    background-color: #6d3f20 !important;
    font-size: 1.3em;
    font-weight: 700;
}

.pf2-rpg .card-body
{
    color: #3c3c3c !important;
    background-color: floralwhite !important;
    padding: 12px;
}

.pf2-rpg .value-card .card-header
{
    padding: 5px;
}

.pf2-rpg .value-card .card-body
{
    padding: 5px;
}

.pf2-rpg .value-col
{
    padding: 0px;
}

.pf2-rpg .dual-value-col
{
    padding: 0px;
}

.pf2-rpg .shield-total-card
{
    height: 100%;
    width: 100%;
}

.pf2-rpg .char-info-dd
{
    background: #3c3c3c;
    margin: 0px;
    padding: 5px;
}
.pf2-rpg .char-info-dt
{
    border-top: 1px solid #55ccff;
    margin-bottom: 5px;
}

.pf2-rpg .proficiency-label-cell
{
    color: #3c3c3c;
    font-size:  0.7em;
    font-weight: 900;
    padding: 0;
    text-align: center;
}

.pf2-rpg .checkbox-empty
{ 
    background-color: #e4e2e2;
    padding: 2px;
    border: 1.5px solid floralwhite;
}


.pf2-rpg .checkbox-checked
{ 
    background-color: #353535;
    border: 1.5px solid floralwhite;
    padding: 2px;
}