@font-face {
    font-family: Skranji; font-style: normal; font-weight: 400; src: url(https://worldanvil-static.sfo2.cdn.digitaloceanspaces.com/fonts/Skranji-Regular.ttf)
}
@font-face {
    font-family: PT Sans Narrow; font-style: normal; font-weight: 400; src: url(https://worldanvil-static.sfo2.cdn.digitaloceanspaces.com/fonts/PTSansNarrow-Regular.ttf)
}