<div class="container-fluid sheet-fantasy-age-character">
	<div class="row">
        <div class="col-12">
            <div class="card personal">
                <div class="card-body c">
                {{ variables.name|default }}, {{ variables.class|default }} Level {{ variables.level|default }}<br>
                {{ variables.species|default }}
                </div>
            </div>
        </div>
    </div>
</div>