@font-face {
    font-family: PT Sans Narrow; font-style: normal; font-weight: 400; src: url(https://worldanvil-static.sfo2.cdn.digitaloceanspaces.com/fonts/PTSansNarrow-Regular.ttf)
}
@font-face {
    font-family: SvevaVersal; font-style: normal; font-weight: 400; src: url(https://rawcdn.githack.com/Timespool/Fonts/39ec531d9969e5965c0e6ad857ce9259a5760fbb/astype-SvevaVersal.woff2 )
}