<div class='container-fluid sheet-enshrounded-character-sheet'>
  <div class='row'>
    <div class='col-12'>
      <div class='card personal'>
        <div class='card-header personal'>{{variables.name|default}}></div>
        <div class='card-body c'>
              {{variables.race|default}}<br>
              {{variables.primary_class|default}} 
        </div>
      </div>
    </div>
  </div>
</div>