/*
   ()                              o     | |      /|/ \                    | |                
   /\_|_  __,   ,_    ,              _|_ | |       |   |          _  _  _  | |   _   ,_    ,  
  /  \|  /  |  /  |  / \_  |  |  |_|  |  |/ \      |   |  |   |  / |/ |/ | |/ \_|/  /  |  / \_
 /(__/|_/\_/|_/   |_/ \/    \/ \/  |_/|_/|   |_/   |   |_/ \_/|_/  |  |  |_/\_/ |__/   |_/ \/ 

Stars with Numbers; A theme by Oneriwien (Damion Otter)*/
/* ====== */
/* GLOBAL */
/* ====== */

* {
    --heading-font: StalinistOne;
    --primary-font: Raleway;
    --secondary-font: Roboto;
    
    --primary-color: RGB(190, 190, 190);
    --secondary-color: RGB(100, 100, 120);
    --highlight-color: RGB(120, 120, 140);
    --border-color: RGB(70, 70, 90);
    --gray-color: RGB(60, 60, 60);
    
    --heading-background:  -webkit-linear-gradient(RGB(110, 110, 110), RGB(80, 80, 80), RGB(60, 60, 60));
    --box-background: RGBA(80, 80, 90, 0.3);
}

/* ===== */
/* FONTS */
/* ===== */

@font-face {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: StalinistOne;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/stalinistone/v10/MQpS-WezM9W4Dd7D3B7I-UT7SZiePg.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ==== */
/* BODY */
/* ==== */

.page {
    background: RGBA(20, 20, 20, 0.8);
    background-image: none;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 16px;
}

.presentation-interface {
    background: RGB(0, 0, 0);
    background-image: url(https://worldanvil.com/uploads/images/55f2e02cdf1f5aaa22278d207fbea2cb.png);
}

/* ======== */
/* HEADINGS */
/* ======== */

.user-css h1, .user-css h2, .user-css h3 {
    font-family: var(--heading-font);
    background: var(--heading-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    size: 36px;
}

.user-css h4, .user-css h5, .user-css .details h5 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.user-css-extended h1, .user-css-extended h2, .user-css-extended h3 {
    font-family: var(--heading-font);
    background: var(--heading-background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.user-css-extended h4, .user-css-extended h5, .user-css-extended .details h5 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-transform: uppercase;
}

.user-css h1, .user-css-extended h1 {
    margin-top: 20px;
    font-size: 36px;
}

.user-css h2, .user-css-extended h2 {
    font-size: 17px;
    border-bottom: 2px var(--gray-color) solid;
}

.user-css h3, .user-css-extended h3 {
    font-size: 16px;
}

/* ==== */
/* TEXT */
/* ==== */

.user-css b, .user-css-extended b {
    color: RGB(190, 190, 210);
}

.user-css a, .user-css a:focus,
.user-css-extended a, .user-css-extended a:focus {
    color: var(--secondary-color);
    text-shadow: 0px 0px 0px var(--shadow-color);
    transition: color 0.4s;
}

.user-css a:hover,
.user-css-extended a:hover {
    color: var(--highlight-color);
	text-decoration: none;
}

.user-css .text-danger,
.user-css-extended .text-danger {
    color: var(--secondary-color);
}

/* ========= */
/* FORMATING */
/* ========= */
 
.user-css hr {
    border: 2px var(--gray-color) solid;
}
 
.user-css blockquote {
    background: var(--box-background);
    padding: 20px;
    margin: 10px;
    border-top: 1px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-left: 10px var(--border-color) solid;
    font-size: 20px;
    font-style: italic;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
}

.user-css blockquote .author {
    display: block;
    font-size: 14px;
    font-family: var(--secondary-font);
    font-style: normal;
    color: var(--secondary-color);
}

/* ========== */
/* SIDE PANEL */
/* ========== */

.user-css .panel {
    background: var(--box-background);
    border-top: 14px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-left: 1px var(--border-color) solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ============= */
/* ARTICLE PANEL */
/* ============= */

.user-css .article-panel {
    background: var(--box-background);
    border-top: 14px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-left: 1px var(--border-color) solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ======= */
/* MAP BOX */
/* ======= */

.user-css .map-box {
    background: var(--box-background);
    border-top: 14px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-left: 1px var(--border-color) solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--secondary-color);
}

/* ======= */
/* SECRETS */
/* ======= */

.user-css-secret {
    padding: 0px;
    background-color: transparent;
}

/* ======= */
/* SPOILER */
/* ======= */

.user-css .well, .user-css-extended .well {
    background: var(--box-background);
    background-color: transparent;
    border: 1px var(--border-color) solid;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ====== */
/* IMAGES */
/* ====== */

.user-css .artist-credits {
    background: transparent;
}

/* ====== */
/* TABLES */
/* ====== */

.user-css .table-striped tr:nth-child(odd) {
    background-color: RGBA(200, 200, 200, 0.3);
}

.user-css .table-striped tr:nth-child(even) {
    background-color: RGBA(200, 200, 200, 0.1);
}

/* ============ */
/* MENU CONTROL */
/* ============ */

.user-css .menu-control {
    height: 50px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--box-background);
    border-left: 1px var(--gray-color) solid;
    border-right: 1px var(--gray-color) solid;
    border-bottom: 2px var(--gray-color) solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: height 0.6s;
}

.user-css .menu-control:hover {
    height: 80px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--box-background);
    border-left: 1px var(--gray-color) solid;
    border-right: 1px var(--gray-color) solid;
    border-bottom: 2px var(--gray-color) solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* =========== */
/* BACKTOWORLD */
/* =========== */
 
.user-css div .backtoworld a {
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 0px black;
    transition: background 0.4s;
}

.user-css div .backtoworld a:hover {
    background: var(--highlight-color);
    border: none;
    box-shadow: 0px 0px 0px black;
}

/* ========= */
/* NAV STRIP */
/* ========= */

.user-css .nav-strip {
    background-color: var(--secondary-color);
    transition: background-color 0.4s;
}

.user-css .nav-strip:hover {
    background-color: var(--highlight-color);
}

.user-css .nav-strip a {
    color: var(--primary-color);
}

.user-css .nav-strip a:hover {
    border: none;
    color: var(--primary-color);
}

/* ============== */
/* COMMENT SECTION */
/* ============== */

.page textarea {
    color: black;
}

.page .btn-primary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-color: RGB(0, 0, 0);
}

.page .btn-primary:focus,
.page .btn-primary.focus {
  color: var(--primary-color);
  background-color: var(--highlight-color);
  border-color: RGB(0, 0, 0);
}

.page .btn-primary:hover {
  color: var(--primary-color);
  background-color: var(--highlight-color);
  border-color: RGB(0, 0, 0);
}

.page .comment-box {
    background: var(--box-background);
    border-top: 6px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-left: 1px var(--border-color) solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--secondary-color);
}


/* ========== */
/* BOOK COVER */
/* ========== */

.user-css .bookcover a .booktitle {
    color: var(--primary-color);
    background-color: var(--highlight-color);
    border-right: 8px var(--border-color) solid;
    transition: border-right 0.4s;
}

.user-css .bookcover a:hover .booktitle {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-right: 8px var(--border-color) solid;
}

.user-css .bookcover a img {
    opacity: 1;
    transition: opacity 0.4s, box-shadow 0.4s;
}

.user-css .bookcover a:hover img {
    opacity: 0.6;
}

/* ======== */
/* METADATA */
/* ======== */

.user-css-extended .nav-tabs li.active a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 0px -1px 11px 2px rgba(0, 0, 0, 0.28);
}

/* ======== */
/* TIMELINE */
/* ======== */

.page-timeline h1 {
    font-size: 35px;
}

.timeline .important {
    font-size: 12px;
}

.timeline li .timeline-panel {
    background: var(--box-background);
    border: 1px black solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.timeline .milestone {
    background: RGB(50, 50, 60);
    color: var(--primary-color);
    border-top: 14px var(--border-color) solid;
    border-bottom: 1px var(--border-color) solid;
    border-right: 1px var(--border-color) solid;
    border-left: 1px var(--border-color) solid;
    border-top-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.timeline:before {
    background-color: var(--border-color);
}

.timeline li .tl-circ {
    border: 3px solid var(--border-color);
}

.timeline hr {
    border: 1px var(--border-color) solid;
}

/* =============== */
/* TIMELINE ARROWS */
/* =============== */

.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid var(--border-color);
  border-right: 0 solid var(--border-color);
  border-bottom: 15px solid transparent;
}
 
.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid var(--border-color);
  border-right: 0 solid var(--border-color);
  border-bottom: 14px solid transparent;
}
 
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}
