table.system-shadowrun5 {
    background-color: #424949;
    border-spacing: 0px;
}

.system-shadowrun5 caption {
    font-weight: bold;
    font-size: large;
}

.system-shadowrun5 tr.attribute_header {
    background-color: #000;
}

.system-shadowrun5 tr.attribute_header > td {
    width: 42px;
    text-align: center;
    color: #F1C40F;
    font-weight: bold;
    border-top: 2px solid #F1C40F;
    border-bottom: 2px solid #F1C40F;
    background-color: #000;
}
.system-shadowrun5 tr.vehicles > td {
    width: 60px;
}

.system-shadowrun5 tr.attributes > td {
    text-align: center;
    border-bottom: 2px solid #F1C40F;
}

.system-shadowrun5 td {
    padding: 2px;
    color: #EEE;
    background-color: #424949;
}

.system-shadowrun5 td.table_header_left {
    background-color: #000;
    color: #F1C40F;
    font-weight: bold;
}
