caption {
	font-weight: bold;
	font-size: large;
}

table {
	background-color: #424949;
	border-spacing: 0px;
}

tr.attribute_header {
	background-color: #000;
}

tr.attribute_header > td {
	width: 42px;
	text-align: center;
	color: #F1C40F;
	font-weight: bold;
	border-top: 2px solid #F1C40F;
	border-bottom: 2px solid #F1C40F;
}
tr.vehicles > td {
    width: 60px;
}

tr.attributes > td {
	text-align: center;
	border-bottom: 2px solid #F1C40F;
}

td {
	padding: 2px;
	color: #EEE;
}

td.table_header_left {
	background-color: #000;
	color: #F1C40F;
	font-weight: bold;	
}
