{
  border: 0;
  position: relative;
  color: #23554D!important;
  -webkit-text-fill-color: #23554D;
  font-family: Teko Regular;
  font-weight: 400;
  font-size: 24px;
  padding:0px!important
}
 div.alien-sheet {
  -webkit-box-decoration-break: slice;
  -o-box-decoration-break: slice;
  box-decoration-break: slice;
  background-color: #222;
  background: url(https://www.worldanvil.com/uploads/images/4810b0297d667c1beb91d721a9c9eb61.jpg)
}
 body,  p,  div,  a,  span,  small,  strong,  h1,  h2,  h3,  h4,  b,  .small {
  font-family: Teko Regular!important;
  font-size: 16px;
  font-weight: 400;
  color: #23554D;}
 .contentContainer {
  border: 1px #23554D solid;
  padding: 2px 10px 4px 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;
  text-align: center;
  background: #D7DEE2;}
 .inputContainer {
  padding: 2px 10px 4px 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;}
 .headerContainer {
  padding: 2px 10px 4px 10px;
  position: relative;
  text-align: center;
  background: #D7DEE2;}
 .contentContainer { margin:8px}
 .textContainer { padding: 2px}
 .attributeContainer {
 background: #A7C2BF; padding: 5px 0px}
 .skillCard { padding:0px;}
 .skillContainer {
  border: 1px #A7D4BF solid;
  padding: 0px 0px;
  margin-bottom:10px;
  border-radius: 4px;
  background: #D7DEE2;}
 .skillContainer .badge { border:0;}
 .inputLabel {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  padding: 2px 8px;
  margin-top: 3px;}
 .contentContainer .inputLabel {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-align:left;
  text-transform: uppercase}
 .contentContainer .inputContent {
  font-size: 24px;
  color: #58180d;}
 .headerContainer {
  background: #A7C2BF;
  text-align: left;
  padding: 10px 20px;}
 .card,  .img-fluid {
  padding:0px;
  background: transparent;
  border: 1px solid #23554D;
  border-radius: 0px;}
 .headerContent {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #23554D;
  padding: 0px 0px 0px 10px}
 .headerContainer .headerContent {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #382F28;}
 .list {
  text-align:left;
  line-height:2em;}
 .c {
  text-align: center}
 .r {
  text-align: right}
 .l {
  text-align: left}
 .of {
    overflow-y: auto;
    width: 100%}
 .ev { background-color:#D7DEE2}
 .odd { background-color: #D7EEE2!important;}
 input[required] { border: 2px solid red!important;}
 .att { font-size: 24px; padding: 2px}
 .attf { font-size: 24px; background:#D7DEE2}
 .cond { font-size: 24px; padding: 2px}
 .txt { font-size: 24px}
 .lbl { font-size: 24px; font-weight:800; padding-left:10px}
 .lblf { font-size: 24px; font-weight:800}
 .hdr { font-size:16px; background-color: #D7DEE2}
 .alttable {
 padding-top:5px;
 border-spacing: 2px;
 border-collapse: separate;}
 .badge {
   font-size: 24px; background:#fff; padding: 5px 20px 1px 20px!important;
   border: 1px solid #23554D; float:right; letter-spacing: 0.1pt; margin-top: 3px; margin-right:10px}
 .float {
   font-size: 24px; padding: 1px 1px 5px 20px!important;
   float:right; letter-spacing: 0.1pt; margin-top: 3px}
 h1 { font-size:72px; text-align:center; font-weight:800}
 .bold { font-weight: bold}
 .rolldice {
   font-size: 24px!important;
   background: #A7C2BF!important;
   -webkit-text-fill-color: #23554D;
   padding: 6px 10px 1px 10px!important}
 .attributeContainer .rolldice {
   background: #e0d9d4!important;
   -webkit-text-fill-color: black!important;}
 .marked {
   font-weight:400;
   color:red!important;
   font-style:italic}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}
 h1,  .small,  .small a,  .artist-credits,  .artist-credits a { color: #A7C2BF; -webkit-text-fill-color: #A7C2BF;}
 .form-control,  .form-control:focus { font-size: 24px!important; padding:2px 2px 2px 4px}
 input.form-control { margin: 1px 1px 1px 1px}
 textarea.form-control { margin: 10px 1px 0px 0px}
 .sm { width:100px!important}
 .smf,  .smf:focus { font-size: 24px!important}
 ::-webkit-input-placeholder { opacity: .5}
 textarea.form-control { min-height: 3em!important;}
 select.form-control:not([size]):not([multiple]) { height: 2.45rem!important; width:150px; margin: 1px 1px 1px 1px; padding:0px 2px 0px 2px}
 