 /* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
    font-family: 'Genesys';
    src: url('/fonts/Genesys.ttf');
}

@font-face {
    font-family: 'Genesys1';
    src: url('/fonts/EotE_Symbol-Regular_v1.otf');
}

/* Main Background */
.system-genesys {
    text-align: justify;
    font-family: 'Crimson Text', serif;
    width: 329px;
}

.system-genesys h1, .system-genesys h2, .system-genesys h3, .system-genesys h4, .system-genesys h5, .system-genesys h6 { 
    letter-spacing: 0px;
    font-family: 'Oswald';
    margin: 0px;
    margin-bottom: 2%;
}

.system-genesys h1{
    color: #1ABEEF;
    font-weight:400;
    font-variant: uppercase;
    font-size:42pt;
    margin-bottom:30px;
}

/* Makes the bigger "first letter" in paragraphs under H1 and H2*/
.system-genesys h1 + p:first-letter, .system-genesys h2 + p:first-letter  {
    font-family: 'Crimson Text';
    color: #326DA1;
    font-size:32pt;    
    line-height:95%;
    margin-bottom:-9px;
    margin-right:2px;
    margin-top:-5px;
    float:left;
}

.system-genesys h2 {
    color: #1ABEEF;
    font-variant: small-caps;
    display:table;
    font-size:32pt;
    font-weight:300;
    column-span:all;
}

/* create the offset underline under h2s */
.system-genesys h2:after {
    content:"";
    border-bottom: 2px solid #CCCCCC;
    display: table;
    width:100%;
    margin-top:-5px;
    margin-left:20px;
}

.system-genesys h3 {
    color: #1ABEEF;
    font-variant: small-caps;
    font-size: 18pt;
    font-weight:1;
    border:none;
}

.system-genesys h4 {
    color: #ed9629;
    font-variant: small-caps;
    font-size: 16pt;
    text-align:center;
}

.system-genesys h5 {
    color: #326DA1;
    font-weight: 1;
    font-variant: small-caps;
    font-size: 16pt;
}

.system-genesys h6 {
    color: #ea702b;
    font-variant: small-caps;
    font-size: 16pt;
    display: table;
    border-bottom: 1px solid #ea702b;
}

.system-genesys p { 
    font-size: 15px; 
  	letter-spacing: -0.4px;
  	line-height:1.15em;
  	text-indent:0px !important;
  	font-weight:400;
  	padding-bottom:1px;
  	column-fill:balance;
}

.system-genesys ul li span {
    font-size: 15px; 
  	letter-spacing: -0.4px;
  	
}

.system-genesys p + p {
    margin-top:0px;  
}

.system-genesys wide {clear:both;}
.system-genesys .abilities {
    list-style: none;
    padding-left: 1.5em;
}
.system-genesys .abilities li::before {
    content: "•"; 
    color: #F69337;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.system-genesys .characteristics {
    background-image: url('https://i.imgur.com/wk1XTwj.png');
    height:62px;
    width:329px;
    background-size:100%;
    font-family: 'Oswald';
    font-size:14pt;
}

.system-genesys .characteristics .bra {
    position:relative;
    left:15.5px;
    top:5px;
    text-align:center;
    display:inline-block;
    width:25px;
}

.system-genesys .characteristics .agi {
    position:relative;
    left:41px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .characteristics .int {
    position:relative;
    left:66.5px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.system-genesys .characteristics .cun {
    position:relative;
    left:91px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .characteristics .wil {
    position:relative;
    left:117px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .characteristics .pre {
    position:relative;
    left:141.5px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}

/* Dice and Symbols */
.system-genesys .symbols {
    font-family: Genesys;
}

.system-genesys .dice {
    font-family: Genesys1;
}

.system-genesys .setback {
    font-family: Genesys1;
    color: black;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}


.system-genesys .boost {
    font-family: Genesys1;
    color: #76CDDB;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.system-genesys .challenge {
    font-family: Genesys1;
    color: #751317;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.system-genesys .proficiency {
    font-family: Genesys1;
    color: #FEF035;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.system-genesys .difficulty {
    font-family: Genesys1;
    color: #52287E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.system-genesys .ability {
    font-family: Genesys1;
    color: #46AC4E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

/* Adversaries */
.system-genesys .adversary {
    background-image: url('https://i.imgur.com/ks1JaPU.png');
    height:47px;
    width:329px;
    background-position: -3px 0px;
    background-size:102%;
    font-family: 'Bebas Neue';
    font-size:14pt;
}

.system-genesys .adversary .soak {
    position:relative;
    left:25px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .wound {
    position:relative;
    left:78px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .strain {
    position:relative;
    left:131px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .mdef {
    position:relative;
    left:171px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .rdef {
    position:relative;
    left:167px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}

/* MINION STAT BLOCK */
.system-genesys .minion {
    background-image: url('https://i.imgur.com/K1aEwZa.png');
    height:63px;
    width:329px;
    background-position: 42px 0px;
    background-repeat:no-repeat;
    background-size:75%;
    font-family: 'Bebas Neue';
    font-size:14pt;
}

.system-genesys .minion .soak {
    position:relative;
    left:71px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.system-genesys .minion .wound {
    position:relative;
    left:125px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.system-genesys .minion .mdef {
    position:relative;
    left:165px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .minion .rdef {
    position:relative;
    left:165px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
