 /* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,600i,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
    font-family: 'Genesys';
    src: url('/fonts/Genesys.ttf');
}

@font-face {
    font-family: 'Genesys1';
    src: url('/fonts/EotE_Symbol-Regular_v1.otf');
}

/* Main Background */
.system-genesys {
    background-image: url(https://i.imgur.com/5s6VJkT.png);
    text-align: justify;
    font-family: 'Crimson Text', serif;
    display: inline-block;
    border: 1px #b19f55 solid;
} 

.system-genesys h1, .system-genesys h2, .system-genesys h3, .system-genesys h4, .system-genesys h5, .system-genesys h6 { 
    letter-spacing: 0px;
    font-family: 'Oswald';
    margin: 0px;
    margin-bottom: 2%;
}

.system-genesys h1{
    color: #1ABEEF;
    font-weight:400;
    font-variant: uppercase;
    font-size:42pt;
    margin-bottom:30px;
}

/* Makes the bigger "first letter" in paragraphs under H1 and H2*/
.system-genesys h1 + p:first-letter, .system-genesys h2 + p:first-letter  {
    font-family: 'Crimson Text';
    color: #326DA1;
    font-size:32pt;    
    line-height:95%;
    margin-bottom:-9px;
    margin-right:2px;
    margin-top:-5px;
    float:left;
}

.system-genesys h2 {
    color: #1ABEEF;
    font-variant: small-caps;
    display:table;
    font-size:32pt;
    font-weight:300;
    column-span:all;
}

/* create the offset underline under h2s */
.system-genesys h2:after {
    content:"";
    border-bottom: 2px solid #CCCCCC;
    display: table;
    width:100%;
    margin-top:-5px;
    margin-left:20px;
}

.system-genesys h3 {
    color: #1ABEEF;
    font-variant: small-caps;
    font-size: 18pt;
    font-weight:1;
    border:none;
}

.system-genesys h4 {
    color: #ed9629;
    font-variant: small-caps;
    font-size: 16pt;
    text-align:center;
}

.system-genesys h5 {
    color: #326DA1;
    font-weight: 1;
    font-variant: small-caps;
    font-size: 16pt;
}

.system-genesys h6 {
    color: #ea702b;
    font-variant: small-caps;
    font-size: 16pt;
    display: table;
    border-bottom: 1px solid #ea702b;
}

.system-genesys p { 
    font-size: 15px; 
    letter-spacing: -0.4px;
    line-height:1.15em;
    text-indent:0px !important;
    font-weight:400;
    padding-bottom:1px;
    column-fill:balance;
}

.system-genesys ul li span {
    font-size: 15px; 
    letter-spacing: -0.4px;
    
}

.system-genesys .force-indent {
    text-indent: 1em !important;
}

.system-genesys p + p {
    margin-top:0px;  
}

.system-genesys wide {clear:both;}
.system-genesys .abilities {
    list-style: none;
    padding-left: 1.5em;
}
.system-genesys .abilities li::before {
    content: "•"; 
    color: #F69337;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.system-genesys .characteristics {
    background-image: url('https://i.imgur.com/wk1XTwj.png');
    height:62px;
    width:329px;
    background-size:100%;
    font-family: 'Oswald';
    font-size:14pt;
}

.system-genesys .characteristics .bra {
    position:relative;
    left:15.5px;
    top:5px;
    text-align:center;
    display:inline-block;
    width:25px;
}

.system-genesys .characteristics .agi {
    position:relative;
    left:41px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .characteristics .int {
    position:relative;
    left:66.5px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.system-genesys .characteristics .cun {
    position:relative;
    left:91px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .characteristics .wil {
    position:relative;
    left:117px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .characteristics .pre {
    position:relative;
    left:141.5px;
    top:5px;
    width:25px;
    text-align:center;
    display:inline-block;
}

/* Dice and Symbols */
.genesys-wrapper .symbols {
    font-family: Genesys;
}

.genesys-wrapper .dice {
    font-family: Genesys1;
}

.genesys-wrapper .setback {
    font-family: Genesys1;
    color: black;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}


.genesys-wrapper .boost {
    font-family: Genesys1;
    color: #76CDDB;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.genesys-wrapper .challenge {
    font-family: Genesys1;
    color: #751317;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.genesys-wrapper .proficiency {
    font-family: Genesys1;
    color: #FEF035;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.genesys-wrapper .difficulty {
    font-family: Genesys1;
    color: #52287E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.genesys-wrapper .ability {
    font-family: Genesys1;
    color: #46AC4E;
    text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.system-genesys .block {
    max-width: 369px;
    padding: 20px;
}

/* Adversaries */
.system-genesys .adversary {
    background-image: url('https://i.imgur.com/ks1JaPU.png');
    height:47px;
    width:329px;
    background-position: -3px 0px;
    background-size:102%;
    font-family: 'Bebas Neue';
    font-size:14pt;
}

.system-genesys .adversary .soak {
    position:relative;
    left:25px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .wound {
    position:relative;
    left:78px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .strain {
    position:relative;
    left:131px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .mdef {
    position:relative;
    left:171px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .adversary .rdef {
    position:relative;
    left:167px;
    top:15px;
    width:25px;
    text-align:center;
    display:inline-block;
}

/* MINION STAT BLOCK */
.system-genesys .minion {
    background-image: url('https://i.imgur.com/K1aEwZa.png');
    height:63px;
    width:329px;
    background-position: 42px 0px;
    background-repeat:no-repeat;
    background-size:75%;
    font-family: 'Bebas Neue';
    font-size:14pt;
}

.system-genesys .minion .soak {
    position:relative;
    left:71px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.system-genesys .minion .wound {
    position:relative;
    left:125px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.system-genesys .minion .mdef {
    position:relative;
    left:165px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}
.system-genesys .minion .rdef {
    position:relative;
    left:165px;
    top:13px;
    width:25px;
    text-align:center;
    display:inline-block;
}

.system-genesys .talent {
    line-height:1.04em;
    font-size: 15px; 
    letter-spacing: -0.4px;
    text-indent:0px !important;
    font-weight:400;
    padding-bottom:1px;
    column-fill:balance;
}

/* Charactet sheet */
.system-genesys .character-sheet {
    background-image: url("/images/rpgsrd/genesys/character-sheet.png");
    background-size: 1000px 1299px;
    width: 1000px;
    height: 1299px;
}

.system-genesys .character-sheet span {
    font-size: 15pt;
}

.system-genesys .character-name {
    margin-top: 45px !important;
}

.system-genesys .character-info {
    margin-left: 210px;
    margin-top: 5px;
    padding-bottom: 2px;
    display: inline-block;
}

.system-genesys .character-resources {
    margin-left: 105px;
    margin-top: 55px;
    display: flex;
}

.system-genesys .resource-block {
    padding: 0px;
    width: 200px;
    height: 42px;
}

.system-genesys .resource-block span {
    font-size: 32pt;
    text-align: center;
}

.system-genesys .character-resources .threshold {
    width: 55px;
    display: inline-block;
    margin-left: 35px;
}
.system-genesys .character-resources .current {
    width: 55px;
    display: inline-block;
}
.system-genesys .character-characteristics {
    display: flex;
    margin-top: 75px;
}
.system-genesys .character-characteristics .characteristic {
    width: 9px;
    display: flex;
    margin-left: 138px;
    margin-right: -8px;
}

.system-genesys .characteristic span {
    font-size: 32pt;
    text-align: center;
}

.system-genesys .character-skills {
    margin-top: 82px;
    margin-left: 96px;
    width: 808px;
    height: 569px;
    display: flex;
}

.system-genesys .character-skills .left-column {
    display: block;
    padding-right: 12px;
    width: 391px;
}

.system-genesys .character-skills .general-skills {
    width: 391px;
    height:468px;
}

.system-genesys .character-skills .magic-skills {
    margin-top: 26px;
    width: 391px;
    height:70px;
}

.system-genesys .character-skills .right-column {
    display: block;
    padding-left: 25px;
    width: 391px;
}

.system-genesys .character-skills .combat-skills {
    width: 391px;
    height: 188px;
}

.system-genesys .character-skills .social-skills {
    margin-top: 48px;
    width: 391px;
    height: 118px;
}

.system-genesys .character-skills .knowledge-skills {
    margin-top: 24px;
    width: 391px;
    height: 95px;
}

.system-genesys .character-skills .custom-skills {
    margin-top: 24px;
    width: 391px;
    height: 95px;
}

.system-genesys .skill-row {
    height: 23.35px;
    display: flex;
}

.system-genesys .skill-row .name {
    width: 130px;
    overflow: hidden;
    height: inherit;
    padding-left: 11px;
}

.system-genesys .skill-row .setting {
    width: 64px;
    overflow: hidden;
    height: inherit;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.system-genesys .skill-row .career {
    width: 66px;
    overflow: hidden;
    height: inherit;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.system-genesys .skill-row .rank {
    display: flex;
    width: 110px;
    overflow: hidden;
    height: inherit;
    padding-left: 10px;
    align-items: center; /* align vertical */
}

.system-genesys .skill-row .rank > span {
    margin: 0 6px;
}

.system-genesys .skill-row *:not(.rank) span {
    font-size: 12pt;
    padding-left: 12px;
}

.circle {
    background: #000;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.square {
    background: #000;
    width: 10px !important;
    height: 10px !important;
}

.oval {
    display: inline-block;
    background: #000;
    width: 12px !important;
    height: 6px !important;
    border-radius: 75%;
}

.center {
    margin: auto;
    width: 50%;
    display: block;
}

.system-genesys .character-resources .soak > span {
    font-size: 32pt;
    text-align: center;
}

.system-genesys .character-weapons {
    margin-top: 78px;
    margin-left: 96px;
    width: 808px;
    height:105px;
}

.system-genesys .weapon-row {
    height: 26.35px;
    display: flex;
}

.system-genesys .weapon-row .name {
    width: 133px;
    overflow: hidden;
    height: inherit;
}

.system-genesys .weapon-row .skill {
    width: 132px;
    overflow: hidden;
    height: inherit;
}

.system-genesys .weapon-row .damage {
    width: 132px;
    overflow: hidden;
    height: inherit;
}

.system-genesys .weapon-row .crit {
    width: 90px;
    overflow: hidden;
    height: inherit;
}

.system-genesys .weapon-row .range {
    width: 125px;
    overflow: hidden;
    height: inherit;
}

.system-genesys .weapon-row .special {
    width: 195px;
    overflow: hidden;
    height: inherit;
}

.system-genesys .weapon-row span:not(.center) {
    padding-left: 12px;
}

.system-genesys .character-total-xp {
    margin-top: 15px;
    margin-left: 117px;
    width: 110px;
    height: 50px;
}

.system-genesys .character-xp {
    margin-top: 15px;
    margin-left: 117px;
    display: flex;
}

.system-genesys .character-xp .total {
    display: flex;
    width: 110px;
    height: 50px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.system-genesys .character-xp .available {
    display: flex;
    margin-left: 545px;
    width: 110px;
    height: 50px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.dsts.system-genesys h4 {
    text-align: left;
}

.dsts.system-genesys {
    max-width: inherit;
}
