 { background: #ffffff; color: #222222; -webkit-text-fill-color: #222222 }
small, strong, em, span { color: #222222; ; -webkit-text-fill-color: #222222 }
 h4,  h5 { color: #6d562c}
 th { padding: 6px 6px 6px 6px!important; background-color: #FFF4D3!important; border: 2px solid white; color: #222222; -webkit-text-fill-color: #222222}
 td { padding: 6px 6px 6px 6px!important;}
 th,  td { border: 1px solid #666666}
 small { padding:15px}
 em {font-size:large}
 span.label.label-roller.rolldice,  .rolldice em { background: #f0daa0; color: #7c6439; -webkit-text-fill-color: #7c6439 }
 .mytable { width: 100%; background-color: white; margin-bottom: 20px; color: #796338; -webkit-text-fill-color: #796338 }
 .statblock p,  .list-group-item { color: #222222; ; -webkit-text-fill-color: #222222 }
 .logocontainer { height: 175px}
 .logo { background: url(https://www.worldanvil.com/i/1052301/render) center center no-repeat; background-size: contain; height: 170px; margin-top:20px}
 span.copyright { text-align: center; display: block; width: 100%; padding: 4px}
 .bg-simple { background-color: #FFF4D3!important; color: #222222; -webkit-text-fill-color: #222222 }
 .header { font-size:20px; color:#841C04; ; -webkit-text-fill-color: #841C04 }
 .padding-left { padding-left: 16px}
 .list-group { width:100%px!important}
 .list-group-item { text-align:left; border-radius:0px}
 .line-spacer { padding:none!important; margin:none!important}
 .card { margin:2px; border: 1px solid rgba(0,  0,  0,  .125)!important; border-radius: .25rem!important;}
 .card-header { padding: 6px; padding-left: 0.10em}
 .card-body,  .collapse { padding: 0px!important; width:100%; background: #fffbf1}
 .list-small li { padding: 0px 4px 0px 4px!important}
 .list-small { margin-top:15px; width:100%}
 .label-roller { position: relative; top: -3px}
 .skill,  .cypher,  .ability { margin-right:20px!important}
 .comment { font-style: italic}
 .badge-pill { float:right}
 .alert { float:right; padding: 5px 12px 5px 12px; margin: 0px}
 .alertlist { float:none; padding: 3px 12px 3px 12px; margin: -5px -5px -5px 12px!important}
 .form-header-title { text-transform:none}
 .form-control { width:auto; height:22px!important; padding: 2px 2px 2px 2px; margin: 1px 10px 0px 10px; display:inline}
 input[type=number],  .input-small { width: 60px!important}
 input { margin: 3px!important}
 textarea { width:95%!important}
 .form-wrapper .list-group-item { padding-top:0px; padding-bottom:0px}
 .weapontable { overflow-y: auto}
h3, h4 { padding-left: 5px!important; }
h3 { font-size:22px!important; background-color:#ffffff!important }