{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
<h1>{{variables.name}}</h1>
{% if variables.prerequisites is defined or variables.prerequisites %}
	<p class="subheading">{{variables.prerequisites }}</p> 
{% endif %}

<p>
	{{ variables.description }}
</p>

{% endblock %}