{
  border: 0;
  position: relative;
  color: #444444!important;
  /* -webkit-text-fill-color: #444444; */
  font-family: Teko Regular;
  font-weight: 400;
  font-size: 20px;
  padding:0px!important;
  font-family: Teko Regular!important;
  font-size: 20px;
  font-weight: 400;
  color: #23554D;}
div.ova-character-sheet {
  -webkit-box-decoration-break: slice;
  -o-box-decoration-break: slice;
  box-decoration-break: slice;
  background-color: #E9E1E1;}
.contentContainer {
  border: 1px #6A2323 solid;
  border-radius:15px;
  padding: 2px 10px 4px 10px;
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  background: #FFFFFF;}
.inputContainer {
  padding: 2px 10px 4px 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 15px}
.contentContainer { margin:8px}
.textContainer { padding: 2px}
.attributeContainer {
 background: #A7C2BF; padding: 5px 0px}
.skillCard { padding:0px;}
.skillContainer {
  border: 1px #A7D4BF solid;
  padding: 0px 0px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: #D7DEE2;}
.skillContainer .badge { border:0;}
.inputLabel {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  padding: 2px 8px;
  margin-top: 3px}
.contentContainer .inputLabel {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-align:left;
  color: #6A2323;
  text-transform: uppercase}
.contentContainer .inputContent {
  font-size: 20px;
  color: #444444}
.card {
  padding:0px;
  border: 3px solid #6A2323;
  border-radius: 15px}
.card-header {
  border-radius: 15px 15px 0px 0px;
  color: #FFFFFF;
  background: #6A2323;
  text-align: left;
  padding: 0px 20px;
  margin-top: -4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2px;}
.card-body {
  padding:0px;
  background-color:#FFFFFF;
  color:#444444;
  border-radius: 0px 0px 12px 12px;}
.headerContainer {
  color: #FFFFFF;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;}
.headercontent {
  color: #FFFFFF;}
.list {
  text-align:left;
  line-height:2em}
.c {
  text-align: center}
.r {
  text-align: right}
.l {
  text-align: left}
.of {
    overflow-y: auto;
    width: 100%}
.ofh {
    overflow: hidden;
    width: 100%}
.ev { /* background-color:#FFFFFF */}
.odd { /*background-color: #FAFAFA!important; */}
input[required] { border: 2px solid red!important;}
.att { font-size: 24px; padding: 0px 10px; font-style:italic }
.stat { font-size: 24px; padding: 0px 10px}
.bdr { border-bottom: 1px solid #6A2323}
.cond { font-size: 24px; padding: 2px}
.txt { font-size: 24px}
.lbl { font-size: 24px; font-weight:800; padding-left:10px; color: #6A2323}
.hdr { font-size:24px; background-color: #6A2323;}
.rounded { border-radius: 15px!important}
.inv {
  color: #FFFFFF;
  background: #6A2323;}
.uc { text-transform: uppercase}
.alttable {
 padding-top:5px;
 border-spacing: 2px;
 border-collapse: separate}
.badge {
   font-size: 24px; background:#fff; padding: 5px 20px 1px 20px!important;
   border: 1px solid #6A2323;; float:right; letter-spacing: 0.1pt; margin-top: 3px; margin-right:10px}
.float {
   font-size: 24px; padding: 1px 1px 5px 20px!important;
   float:right; letter-spacing: 0.1pt; margin-top: 3px}
h1 { font-size:72px; text-align:center; font-weight:800}
.bold { font-weight: bold}
.rolldice {
   font-size: 24px!important;
   background: #A7C2BF!important;
   -webkit-text-fill-color: #6A2323;
   padding: 6px 10px 1px 10px!important}
.attributeContainer .rolldice {
   background: #e0d9d4!important;
   -webkit-text-fill-color: #444444!important}
.marked {
   font-weight:400;
   color:red!important;
   font-style:italic}
input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0}
.roll { width:10%; font-size:64px; line-height: 1.0;}
.form-control,  .form-control:focus { font-size: 24px!important; padding:2px 2px 2px 4px; display: inline-flex; width: 80%}
input.form-control { margin: 1px 1px 1px 1px}
textarea.form-control { margin: 10px 1px 0px 0px}
.sm { width:100px!important}
.smf,  .smf:focus { font-size: 24px!important}
textarea.form-control { min-height: 3em!important;}
b { text-transform: capitalize; font-size:22px; color: #6A2323!important}
.p100,  .p100:focus { width:100%}
.nopd { padding:0px}
small,  small a,  .artist-credits,  .artist-credits a { color: #6A2323!important }
::-webkit-input-placeholder { opacity: .5}
select.form-control:not([size]):not([multiple]) { height: 2.45rem!important; width:150px; margin: 1px 1px 1px 1px }