.system-chroub .template-character_chroub {
	padding:20px;
	background-color: #e5dfc1;
	border: 1px solid #504717;
}

.system-chroub h1 p,
.system-chroub h2 p,
.system-chroub h3 p,
.system-chroub h4 p,
.system-chroub h5 p,
.system-chroub h6 p {
    margin:0;
}

.system-chroub div p {
    margin-top: 10px;
}

.system-chroub .sub-table-title,
.system-chroub .skill-table-header
{
    font-size: 1.1em;
    font-weight: 700;
}

.system-chroub .chroub-label {
	font-style: oblique;
    font-size: 1.5em;

}

.system-chroub .chroub-label-tiny {
    font-style: oblique;
    font-size: 1.2em;

}

.system-chroub .chroub-value {
	font-weight: bold;
	font-size: 1.5em;
}

.system-chroub .chroub-value-text {
    font-size: 1.5em;
}

.system-chroub .chroub-value-text-tiny {
    font-size: 1em;
}

.system-chroub .chroub-box {
	margin-top: 10px;
	margin-bottom: 20px;
	padding:10px;
	background-color: #f1ecd3;
	border: 1px solid #504717;
}

.system-chroub .attr-chroub-label {
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: middle;
}

.system-chroub .attr-score {
    font-size: 1.5em;
    font-weight: bold;
}

.system-chroub .skills-list .row {
	margin-bottom: 5px;
	padding:2px;
	background-color: #e0dbba;
}


/* DSTS FIX  + ADDING A BIT OF COLOR */

.dsts.system-chroub {
    background-image: url('/images/bg-dark.jpg');
}

.dsts.system-chroub .card {
    background-color: #ffffffba;
}
.system-chroub {
    background-image: url('/images/parchment.jpg');
    padding: 10px;
    border: 2px solid #58180d;
    display: block;
}

.system-chroub h1 {
    font-family: "Crimson Text";
    font-size: 4rem;
    font-weight: bold;
    color: #58180d;
    margin: 0;
    padding: 0;
}

.system-chroub h2 {
    font-family: "Crimson Text";
    font-style: oblique;
    font-size: 3rem;
    color: #58180d;
    border-bottom: 2px solid #c9ad6a;
}

.system-chroub h3 {
    margin: 0;
    margin-top: 15px;
    color: #7b2516;
    font-family: "Crimson Text";
    font-style: oblique;
    font-size: 2.5rem;
    border-bottom: 1px solid #c9ad6a;
}

.system-chroub h4 {
    margin: 0;
    color: #770808;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    text-transform: uppercase;
}

.system-chroub .header-table {
    background-color: #f1ecd3;
}
.system-chroub .title-table {
    background-color: #ececec;
}

.system-chroub .border-left {
    border-left: 2px solid #c9ad6a;
}

.system-chroub [class^="icon"] {
    align-self: flex-start;
    display: inline-flex;
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position-x: 50%;
    background-position-y: 50%;
    min-height: 25px;
    min-width: 25px;
    vertical-align: middle;
    border-radius: 2mm;
    border-top-left-radius: 2mm;
    border-top-right-radius: 2mm;
    border-bottom-right-radius: 2mm;
    border-bottom-left-radius: 2mm;

}

.system-chroub .icon-bordered-shield {
    background-image: url(../../images/rpgsrd/chroub/bordered-shield.png);
    background-color: deepskyblue;
}

.system-chroub .icon-comet-spark {
    background-image: url(../../images/rpgsrd/chroub/comet-spark.png);
    background-color: red;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.system-chroub .icon-dice-twenty-faces-twenty {
    background-image: url(../../images/rpgsrd/chroub/dice-twenty-faces-twenty.png);
    background-color: midnightblue;
}
.system-chroub .icon-hearts {
    background-image: url(../../images/rpgsrd/chroub/hearts.png);
    background-color: green;
}
.system-chroub .icon-pocket-bow {
    background-image: url(../../images/rpgsrd/chroub/pocket-bow.png);
    background-color: red;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.system-chroub .icon-pointy-sword {
    background-image: url(../../images/rpgsrd/chroub/pointy-sword.png);
    background-color: red;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.system-chroub .icon-shamrock {
    background-image: url(../../images/rpgsrd/chroub/shamrock.png);
    background-color: deepskyblue;
}

.system-chroub .icon-strong {
    background-image: url(../../images/rpgsrd/chroub/strong.png);
    background-color: midnightblue ;
}
.system-chroub .icon-swordwoman {
    background-image: url(../../images/rpgsrd/chroub/swordwoman.png);
    background-color: red;
}

.system-chroub .legal-mentions {
    font-size: 1rem;
}
