{% import _self as sheet %}
{# ---------------------------------------------- #}
<div class="container-fluid vaesen-sheet">
	<div class="row">
		<div class="col-12 col-md-5">
            <div class="card my-2">
                <div class="headerContainer">
                    <span class="headerContent">Conditions</span>
                </div>
                <div class="tableContainer">
                    <table width="100%" class="alttable">
                        <tr>
                            <td class="lblf l odd">Physical</td><td class="cond odd c" width="50%">
                                <input value="1" {% if variables.cond_exhausted|default > 0 %} checked="checked"{% endif %} id="cond_exhausted" name="cond_exhausted" type="checkbox" /> Exhausted<br>
                                <input value="1" {% if variables.cond_battered|default  > 0 %} checked="checked"{% endif %} id="cond_battered"  name="cond_battered"  type="checkbox" /> Battered<br>
                                <input value="1" {% if variables.cond_wounded|default   > 0 %} checked="checked"{% endif %} id="cond_wounded"   name="cond_wounded"   type="checkbox" /> Wounded<br>
                                <input value="1" {% if variables.cond_phbroken|default  > 0 %} checked="checked"{% endif %} id="cond_phbroken"  name="cond_phbroken"  type="checkbox" /> Broken
                            </td>
                        </tr>
                        <tr>
                            <td class="lblf l ev">Mental</td><td class="cond ev c">
                                <input value="1" {% if variables.cond_angry|default      > 0 %} checked="checked"{% endif %} id="cond_angry"      name="cond_angry"      type="checkbox" /> Angry<br>
                                <input value="1" {% if variables.cond_frightened|default > 0 %} checked="checked"{% endif %} id="cond_frightened" name="cond_frightened" type="checkbox" /> Frightened<br>
                                <input value="1" {% if variables.cond_hopeless|default   > 0 %} checked="checked"{% endif %} id="cond_hopeless"   name="cond_hopeless"   type="checkbox" /> Hopeless<br>
                                <input value="1" {% if variables.cond_mnbroken|default   > 0 %} checked="checked"{% endif %} id="cond_mnbroken"   name="cond_mnbroken"   type="checkbox" /> Broken
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="headerContainer">
                    <span class="headerContent">Experience</span>
                </div>
                <div class="inputContainer">
    				<div class="l"><input value="{{ variables.experience is defined ? variables.experience }}" class="form-control sm c" id="experience" name="experience" type="text" /></div>
                </div>
            </div>
        </div>
		<div class="col-12 col-md-7">
			<div class="card my-2">
                <div class="headerContainer">
                    <span class="headerContent">Notes</span>
                </div>
                <div class="inputContainer">
					<textarea class="form-control smf" id="notes" name="notes" rows="3" >{{ variables.notes is defined ? variables.notes }}</textarea>
    			</div>
			</div>
		</div>
    </div>
</div>