{% import _self as sheet %}
{# ---------------------------------------------- #}
<div class="container-fluid vaesen-sheet">
	<div class="row">
		<div class="col-12 col-md-4">
            <div class="card my-2">
                <div class="headerContainer of">
                    <span class="headerContent">Conditions</span>
                </div>
                <div class="tableContainer of">
                    <table width="100%" class="alttable">
                        <tr>
                            <td class="lblf l odd">Physical</td><td class="cond c" width="50%">
                                <select class="form-control" id="cond_physical" name="cond_physical">
                                    <option value="none" {% if variables.cond_physical is defined and variables.cond_physical == "none" %}selected="selected" {% endif %} >None</option>
                                    <option value="exhausted" {% if variables.cond_physical is defined and variables.cond_physical == "exhausted" %}selected="selected" {% endif %} >Exhausted</option>
                                    <option value="battered" {% if variables.cond_physical is defined and variables.cond_physical == "battered" %}selected="selected" {% endif %} >Battered</option>
                                    <option value="wounded" {% if variables.cond_physical is defined and variables.cond_physical == "wounded" %}selected="selected" {% endif %} >Wounded</option>
                                    <option value="broken" {% if variables.cond_physical is defined and variables.cond_physical == "broken" %}selected="selected" {% endif %} >Broken</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="lblf l ev">Mental</td><td class="cond c">
                                <select class="form-control" id="cond_mental" name="cond_mental">
                                    <option value="none" {% if variables.cond_mental is defined and variables.cond_mental == "none" %}selected="selected" {% endif %} >None</option>
                                    <option value="angry" {% if variables.cond_mental is defined and variables.cond_mental == "angry" %}selected="selected" {% endif %} >Angry</option>
                                    <option value="frightened" {% if variables.cond_mental is defined and variables.cond_mental == "frightened" %}selected="selected" {% endif %} >Frightened</option>
                                    <option value="hopeless" {% if variables.cond_mental is defined and variables.cond_mental == "hopeless" %}selected="selected" {% endif %} >Hopeless</option>
                                    <option value="broken" {% if variables.cond_mental is defined and variables.cond_mental == "broken" %}selected="selected" {% endif %} >Broken</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="lblf l ev">Mental</td><td class="cond c">
                                <select class="form-control" id="cond_mental" name="cond_mental">
                                    <option value="none" {% if variables.cond_mental is defined and variables.cond_mental == "none" %}selected="selected" {% endif %} >None</option>
                                    <option value="angry" {% if variables.cond_mental is defined and variables.cond_mental == "angry" %}selected="selected" {% endif %} >Angry</option>
                                    <option value="frightened" {% if variables.cond_mental is defined and variables.cond_mental == "frightened" %}selected="selected" {% endif %} >Frightened</option>
                                    <option value="hopeless" {% if variables.cond_mental is defined and variables.cond_mental == "hopeless" %}selected="selected" {% endif %} >Hopeless</option>
                                    <option value="broken" {% if variables.cond_mental is defined and variables.cond_mental == "broken" %}selected="selected" {% endif %} >Broken</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="headerContainer of">
                    <span class="headerContent">Experience</span>
                </div>
				<div class="l">Experience: <input value="{{ variables.experience is defined ? variables.experience }}" class="form-control sm c" id="experience" name="experience" type="text" /></div>
            </div>
        </div>
		<div class="col-12 col-md-8">
			<div class="card my-2">
				<div class="row">
					<div class="col-12 col-sm-12">
						<span class="headerContent">Notes</span>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-12">
						<div class="contentContainer list of">
							<span class="inputContent"><textarea class="form-control smf" id="notes" name="notes" rows="3" >{{ variables.notes is defined ? variables.notes }}</textarea></span>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>