{
   border: 0;
   position: relative;
   color: #404040!important;
   -webkit-text-fill-color: #404040;
   font-family: Alegreya Regular;
   font-weight: 400;
   font-size: 16px;
   padding:10px!important;
   background: #F5F5F5;}
 div.vaesen-sheet {
   -webkit-box-decoration-break: slice;
   -o-box-decoration-break: slice;
   box-decoration-break: slice;}
 body,  p,  div,  a,  span,  small,  strong,  h1,  h2,  h3,  h4,  b {
   font-family: Alegreya Regular!important;
   font-size: 16px;
   font-weight: 400;}
 .contentContainer,  .headerContainer {
   border: 1px #404040 solid;
   padding: 2px 10px 12px 10px;
   position: relative;
   margin-bottom: 10px;
   border-radius: 4px;
   text-align: center;
   background: #fff;}
 .inputLabel {
   display: block;
   border-top: 1px #404040 dotted;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 800;
   padding-top: 2px;
   padding-left: 2px;
   margin-top: 3px;}
 .contentContainer .inputLabel {
   border: 0;
   margin: 0;
   padding: 0;
   display: block;
   text-align:left;
   text-transform: uppercase}
 .contentContainer .inputContent {
   font-weight: bold;
   font-size: 20px;
   color: #58180d;}
 .headerContainer {
   background: #AF9C8E;
   text-align: left;
   padding: 10px 20px;}
 .card {
  padding:10px;
  background: #EBE6E2;
  border: 1px solid #222;
  border-radius: 0px;}
 .headerContent {
   font-weight: bold;
   font-size: 24px;
   letter-spacing: 4px;
   text-transform: uppercase;
   color: #202020;}
 .headerContainer .headerContent {
   font-weight: bold;
   font-size: 24px;
   letter-spacing: 4px;
   text-transform: uppercase;
   color: #382F28;}
 .list {
   text-align:left;
   line-height:2em;}
 .c {
   text-align: center}
 .r {
   text-align: right}
 .l {
   text-align: left}
 .of {
     overflow-y: auto;
     width: 100%}
 .contentContainer {
   -webkit-box-shadow: 0 8px 6px -6px #404040;
   -moz-box-shadow: 0 8px 6px -6px #404040;
   box-shadow: 0 8px 6px -6px #404040}
 .od {  background-color: #F5F3F2!important;}
 .ev {  background-color: #E0D9D4!important;}
 input[required] { border: 2px solid red!important;}
 .att { font-size:22px; background:#fff; padding: 2px; border: 1px solid black;}
 .cond { font-size:18x; background:#fff; padding: 2px; border: 1px solid black;}
 .txt { font-size:18px}
 .lbl { font-size:18px; font-weight:800; padding-left:10px}
 .lblf { font-size:18px; font-weight:800}
 .hdr { font-size:14px}
 .alttable {
  border-spacing: 2px;
  border-collapse: separate;}
 .badge { font-size:22px; background:#fff; padding: 6px 8px; border: 1px solid black; float:right; letter-spacing: 0.1pt}
 h1 { font-size:72px; text-align:center; font-weight:800}
 .rolldice {
   font-size: 22px!important;
   background: #AF9C8E!important;
   -webkit-text-fill-color: #fff;
   padding: 0px 10px 5px 10px!important}
 .form-control,  .form-control:focus { font-size: 22px!important; padding:2px 2px 2px 4px }
 input.form-control { margin: 1px 1px 1px 1px}
 textarea.form-control { margin: 10px 1px 0px 0px}
 select.form-control:not([size]):not([multiple]) { height: 2.45rem!important; width:150px; margin: 1px 1px 1px 1px; padding:0px 2px 0px 2px}
 .sm { width:100px!important }
.smf, .smf:focus { font-size:18px!important }
