{
  background: none!important;
  padding: 0!important;
  border: none!important;
  font-family: Tauri Regular;
  font-size: 16px
}
 .form-horizontal {
  background-image: url(https://www.worldanvil.com/i/5530250/render) !important
}
 .header-title {
  color: #822000
}
 .form-control-description {
  color: #4c0101
}
 input {
  background: #4a411f !important;
  color: #ffffff
}
 select {
  background: #4a411f !important;
  color: #ffffff
}
 textarea {
  background: #4a411f !important;
  color: #ffffff
}
 div,  p,  b,  em {
  color: black!important;
  font-family: Tauri Regular!important;
    letter-spacing: -0.05em
}
 .inside-content {
  font-family: Tauri Regular!important;
  overflow: hidden;
  padding: 20px;
  color: #33322b;
  background: #efeee5;
  background-color: #e3dbc6;
  border-left: 1px solid #822000;
  border-right: 1px solid #822000;
  margin-left: 3px;
  margin-right: 3px;
  background-image: url(https://www.worldanvil.com/i/5530250/render) }
 h1 {
  font-family: Eczar Bold!important;
  font-size: 36px !important;
  color: #822000!important;
  margin: 0 !important;
  padding: 0 !important
}
 h2 {
  border-bottom: 1px #822000 solid;
  font-size: 24px !important;
  color: #822000!important;
  background: none !important;
  margin: 0 !important;
  padding: 0 !important
}
 h3 {
  font-size: 22px !important;
  color: #822000!important;
  background: none !important;
  margin: 0 !important
}
 .control-label {
  color: #822000;
  font-size: 1.2em;
  margin-bottom: 1px;
  font-weight: 500;
  margin-top: 10px
}
 .subheading {
  font-family: Scala Sans Offc,  Roboto,  Helvetica,  sans-serif;
  font-size: 22px;
  font-style: italic;
  margin-bottom: 15px
}
 .text-muted {
  color: #615820 !important;
  margin-top: 5px !important;
  font-size: 0.9em
}
 h4 {
  color: #822000!important
}
 a {
  color: #822000 !important
}
 a:hover {
  color: #822000 !important;
  text-decoration: underline
}
 .ibox .ibox-content {
  padding: 0px;
  background: none;
  border: none
}
 .gold {
  height: 6px;
  width: 100%;
  border: 1px solid #2f2112;
  border-radius: 2px;
  margin: 0;
  background-image: url(https://www.worldanvil.com/i/5530268/render) }
.dndline {
    border-top: solid 3px transparent;
    border-left: solid 315px #a52a2a;
    border-bottom: solid 3px #a52a2a;
    border-right: solid 315px transparent;
    margin: 10px 0px 10px 0px
}
 .statblock-attribute {
  text-align: center
}
 .label-roller {
  background: #80000030;
  color: #822000!important;
  font-size:22px;
  margin: -2px 0px;
  padding: 0px 5px;
  vertical-align: text-top
}
h2 { border:none
}
h3 { border-bottom:none
}
h3 .label-roller { margin: 0px
}
 .lbl,  strong {
  font-weight: bolder;
  font-family: serif;
  color: #690101;
  font-size: 1.2em
}
 .no-border {
  border: 0px !important
}
 .form-horizontal {
  background: white;
  padding: 20px
}
 .artist-credits {
  display: none
}
 .contentContainer-attribute .inputLabel {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-size: 10px
}
 .contentContainer-attribute {
  text-align: center;
  font-size: 24px
}
 .contentContainer-attribute .rolldice {
  font-size: inherit }
 .contentContainer-attribute .subContainer {
  margin-top: .1em;
  font-size: 0.7em;
  display: block
}
 .in-sm {
  width: 50px;
  display: inline-flex;
  margin-right: 40px}
 .in-md {
  width: 100px;
  display: inline-flex;
  margin-right: 40px}
 .in-lg {
  width: 200px;
  display: inline-flex;
  margin-right: 40px}
 .in-xl {
  width: 300px;
  display: inline-flex;
  margin-right: 40px}
 textarea.form-control {
  min-height: 0!important}
 .c {
  text-align: center}
 .r {
  text-align: right}
 .l {
  text-align: left}
 .pb {
  width: 25px;
  height: 25px}
 input.form-control,  select.form-control {
  background-color: white !important;
  border: 1px solid #202020 !important;
  border-radius: 5px !important;
  color: #444 !important;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none
}
 .dnd-sheet-box .form-control:focus {
  background-color: white!important;
  color: #000!important
}
 textarea.form-control {
  background-color: white !important;
  border: 1px solid #202020 !important;
  border-radius: 5px !important;
  color: #444 !important;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none
}
 textarea.form-control:focus {
  background-color: white!important;
  color: #000!important;
  border: 1px solid #202020;
  border-radius: 5px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none
}
 input.form-control:focus {
  background-color: white!important;
  color: #000!important;
  border: 1px solid #202020;
  border-radius: 5px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none
}
 .form-control,  .form-control:focus,  select option {
  background-color: white !important;
  color: #000!important;
  border: 1px solid #202020;
  font-size: 16px!important;
  line-height: 1.6em;
  min-height: 40px
}
 p.statblock-source,  p.statblock-source a {
    float: right;
    font-size: 0.7em;
    padding: 4px 8px 4px 8px !important;
    color: white!important;
    -webkit-text-fill-color: white!important;
    background: #822000;
    font-weight:800}
 .statblock-stat .btn-primary {
  background-color: #00000020!important;
  border: 1px solid #212529!important;
  margin: 4px
}
 .table,  .table tr {
  color: #212529!important;
  background: none!important;
  background-color: none!important}
 .table-striped td { color: #212529!important}
 .table-striped th {
  color: #212529!important;
  background: #00000020!important
}
 .table-striped tbody tr:nth-of-type(odd  )  {
  color: #212529!important;
  background-color: #00000020!important
}
 .spoiler-content {
  background: #ffffff40!important
}
 .card {
  color: #212529!important;
  background-image: url(https://www.worldanvil.com/i/5530250/render)
}
 .desc { background-color:#ffffff60!important; padding:15px; margin: 10px 0px 10px 0px
}
 .trait {
  text-transform: uppercase;
  padding: 4px 10px 4px 10px;
  border: 2px solid #D9C484;
  margin: 10px 10px 10px 0px;
  margin-bottom: 10px;
  background-color: #98513D;
  color: white!important;
  margin-top: 10px
}
 .CodeMirror-buttonsPanel button {
  color: black!important;
  background-color: white!important
}
 .CodeMirror-buttonsPanel button::hover {
  color: white!important;
  background-color: black!important
}
 .CodeMirror-linenumber,  .CodeMirror pre.CodeMirror-line {
  color: white!important
}
 div,  p,  b,  em { font-family: Tauri Regular!important
}
 strong { text-transform: capitalize; color: #822000 !important; font-family: Tauri Regular!important
}
 b { font-style: italic
}
.col-md-12 { 
    background-color: inherit !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 0px !important;
    border-radius: 0px
}