.container-fluid {
color: #000000 !important;
font-size: 20px !important;
font-family: PT Sans Narrow !important;
padding: 20px}
.logo { width:100%}
.table td, .table th, .table>tbody>tr>td { border: none}
.table { width:100%; border-spacing: 2px; margin-bottom: 0}
.table td { padding:2px}
.form-control, .form-control:focus {
font-size: 20px !important;
font-family: PT Sans Narrow !important;
color: #000000;
background-color: #FFFFFF}
.card {
margin: 5px;
color: #202020!important;
border: 1px solid #251C11;
border-radius: 0}
.card-header {
color: #FFFFFF;
font-size: 24px;
text-align: center;
padding: 0px;
margin: 0px;
border-bottom: 0}
.card-body {
color: #202020;
 font-family: PT Sans Narrow;
font-weight: 400;
font-size: 20px;
padding: 0px;
margin: 0px}
.lbl, .ilbl { font-weight:800; padding: 0px 3px}
.ilbl-shadow, .lbl-shadow { margin-top:2px}
th.ilbl, .lbl, .ilbl { padding-left:10px; padding-right:10px}
.ilbl { padding-top:10px}
td.var, td.ivar { padding-left:10px}
.var, .ivar { padding: 0px 3px; color: #212529 !important}
.ivar { padding: 10px}
.pd2 { padding: 2px !important}
.c { text-align:center}
.l { text-align:left}
.of { overflow:auto}
small, .small, .small a { font-size:12px}
.attributes .card-body { text-align:center; padding: 0}
.data .var { text-align:center}
.lbl-att-value, .ilbl-att-value { text-align:left; text-transform: uppercase !important}
.var-att-value, .ivar-att-value { text-align:left}
.lbl-sk-value, .var-sk-value { text-align:right}
.fa-square { padding: 0px 1px!important}
.credit-artist-name, .credit-art-title, .credit-artist-name a, .credit-art-title a { font-size:12px}
input[required] { border: 2px solid #FF0000 !important}
select.form-control { padding: 0px 2px}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
input[type=number], input[type=number]:focus { -moz-appearance: textfield; text-align:center}
input.form-control, select.form-control {
 background-color: white !important;
 border: 1px solid #202020}
.card-header:first-child { border-radius: 0}
.user-css-image-thumbnail { padding:0px !important}
.lbl.ev, .ilbl.ev { background-color: #00000005 !important}
.lbl.od, .ilbl.od { background-color: #00000020 !important}
.var.ev, .ivar.ev { background-color: #00000000 !important}
.var.od, .ivar.od { background-color: #00000010 !important}
.ivar-status-check-lbl { width:120px; height:28px; display:inline}
.form-control { margin-bottom: 0px}
::-webkit-input-placeholder { opacity: .5; color: #202020}
.sheet-og, .sheet-og .table, .sheet-og .card, .sheet-og .card-body, table, .table, tr, th, td, .btn-link { background-color: #FEFCF8 !important}
.sheet-og .btn-link { border: none}
.sheet-og .card-header { background-color: #A53024!important; border: 1px solid #A53024}
.sheet-og small { color: #A53024 !important}
.sheet-og .var-att-value, .sheet-og .ivar-att-value, .sheet-og th.ilbl, .sheet-og .lbl, .sheet-og .ilbl { color: #A53024 }
.sheet-og .lbl-att-value, .sheet-og .ilbl-att-value { color: #FFFFFF !important; background-color: #A53024 !important}
.sheet-oga, .sheet-oga .table, .sheet-oga .card, .sheet-oga .card-body, table, .table, tr, th, td, .btn-link { background-color: #FCF7EB !important}
.sheet-oga .btn-link { border: none}
.sheet-oga .card-header { background-color: #5E4225!important; border: 1px solid #5E4225}
.sheet-oga small { color: #5E4225 !important}
.sheet-oga .var-att-value, .sheet-oga .ivar-att-value, .sheet-oga th.ilbl, .sheet-oga .lbl, .sheet-oga .ilbl { color: #5E4225 }
.sheet-oga .lbl-att-value, .sheet-oga .ilbl-att-value { color: #FFFFFF !important; background-color: #5E4225 !important}
.sheet-rd, .sheet-rd .table, .sheet-rd .card, .sheet-rd .card-body, table, .table, tr, th, td, .btn-link { background-color: #FCF7EB !important}
.sheet-rd .btn-link { border: none}
.sheet-rd .card-header { background-color: #3D7D34!important; border: 1px solid #3D7D34}
.sheet-rd small { color: #3D7D34 !important}
.sheet-rd .var-att-value, .sheet-rd .ivar-att-value, .sheet-rd th.ilbl, .sheet-rd .lbl, .sheet-rd .ilbl { color: #3D7D34 }
.sheet-rd .lbl-att-value, .sheet-rd .ilbl-att-value { color: #FFFFFF !important; background-color: #3D7D34 !important}