<div class="container-fluid sheet-blood-and-doom badge">
    <div class="row">
        <div class="col-12">
            <b>{{variables.name|default}}</b><br>
            {{variables.class|default}}, {{variables.archetype|default}}<br>
            Level {{variables.level|default}}
        </div>
    </div>
</div>