.container-fluid {
   font-family: PT Sans Narrow !important;
   font-size: 20px !important;
   color: #000000 !important;
   background: url(https://www.worldanvil.com/uploads/images/04d9d8801fd1487d0c4bc25aceeaa85c.jpg) ;
   background-size: contain;
   padding: 20px;}
  .logo {
     background: url(/uploads/images/20bb8928ced02bf1d30b61ddcdc97f0a.webp) center center no-repeat!important;
     height: 100px;
     background-size: contain!important;
     border: none}
  .table td,  .table th,  .table>tbody>tr>td { border: none}
  .table { width:100%; border-spacing: 2px; margin-bottom: 0}
  .table td { padding:2px; background-color:#F1E4D1 !important}
  .form-control,  .form-control:focus {
   font-size: 20px !important;
   font-family: PT Sans Narrow !important;
   color: #000000 !important;
   background-color: #F1E4D1}
  .card {
   background-color: #251C11;
   margin: 5px;
   color: #202020!important;
   border: 1px solid #251C11;
   border-radius: 0}
  .card-header {
   font-family: Skranji;
   font-size: 32px;
   -webkit-text-stroke: 1px black;
   color: #FFFFFF;
   background-color: #840013!important;
   text-align: center;
   padding: 2px;
   margin: 0px;
   border-radius: 0;}
  .card-body {
   font-family: PT Sans Narrow;
   font-weight: 400;
   font-size: 20px;
   color: #202020 !important;
   background-color: #F1E4D1 !important;
   padding: 0px;
   margin: 0px;
   border: none;}
  .lbl,  .ilbl { font-weight:800; padding: 0px 6px;}
  .ilbl-shadow,  .lbl-shadow { margin-top:2px}
  th.ilbl,  .lbl,  .ilbl { color: #212529 !important; background-color:#BDA178 !important; padding-left:10px; padding-right:10px}
  td.var,  td.ivar,  .cContainer .var { padding-left:10px}
  .var,  .ivar { padding: 0px 3px; color: #212529 !important; background-color:#F1E4D1}
  .ilbl.ev { background-color: #CFBA9C !important}
  .ilbl.od { background-color: #BDA178 !important}
  .var.ev { background-color: #00000000 !important}
  .var.od { background-color: #00000010 !important}
  th.lbl.ev,  th.ilbl.ev { background-color: #00000020 !important}
  th.lbl.od,  th.ilbl.od { background-color: #00000030 !important}
  .pd2 { padding: 2px !important}
  .c { text-align:center; padding: 2px}
  .l { text-align:left}
  .of { overflow:auto}
  .sm { width:50px;display: inline-flex;}
  .md { width:150px;display: inline-flex;}
  .small,  .small a { font-size:10px}
  .attributes .card-body { text-align:center; padding: 0}
  .attribute .var {
   font-family: Skranji;
    font-size: 50px;
    font-weight: xbold;
    background-color: #F0E8E3;
    color: #000000;
    line-height: .8em;
    text-align: center;
    overflow: hidden;
    border: 1px dotted #BDA178;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 10px auto;
    padding-top: 12px;}
  .data .var { text-align:center}
  .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a,  a { font-size:12px; color: #000000 !important}
  input[required] { border: 2px solid #FF0000 !important}
  input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
  input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
  input.form-control {
   background-color: white !important;
   border: 1px solid #202020;
   height: 30px;}
  ::-webkit-input-placeholder { opacity: .3 !important; color:  #000000 !important}
  .table.armour { margin-top:2px}
  .table { background: none!important}
  .table tr { background: none!important}
  .magic .ivar { padding-left:10px !important}
  .personal .lbl,  .personal .var,  .personal .ilbl,  .personal .ivar { font-size:24px}
  .personal .ilbl { padding-top:12px !important}
  .ilbl { padding-top:10px}
  .ilbl-max-init { padding-top:0px !important}
  .tracker .left .ilbl,  .tracker .left .ivar { height:30px}
  .tracker .left .ilbl { padding-top:12px}
  .magic .card { margin:1px}
  .user-css-image-thumbnail.padding-10 { padding:0px}
  .var-portrait { padding:0px}
  .artist-credits { text-align:center; padding:3px}
  .attribute .lbl { font-size:24px}
  textarea.form-control {
     min-height: 3em!important;}
  .gr { color: #909090!important}
  .rd { color: #840013!important} 