{ font-family: Amarante Regular; font-size:16px; color:#414E71; background: white }
.logocontainer { height: 175px }
.logo {
background: url(https://www.worldanvil.com/uploads/images/8a81cda52596fac5d96a5a29c6dcdf26.png) center center no-repeat; 
background-size: contain;
height: 150px }
.bg-simple { background-color: #FCF8EF!important; color: #222222 }
.header { font-size:20px; color: #414E71; text-transform: uppercase }
.padding-left { padding-left: 16px }
textarea .form-control,  .list-group { width:100%!important }
.form-control { height: 2.05em!important }
.list-group-item { text-align:left; border-radius:0px; color: #75221C; width:100%!important; padding-left:15px }
.list-group { margin-left:10px }
.line-spacer { padding:none!important; margin:none!important }
.form-control { width:auto!important; margin: 1px 10px 0px 10px; display:inline }
.card { margin:4px; border: 1px solid #414E71!important; border-radius:.25rem!important;background: white!important }
.card-header { padding: 4px; padding-left: 0.10em; color: #414E71}
.card-body,  .collapse { margin:1px; padding: 4px!important; width:95%!important; color: #75221C;background: white;border:none }
.collapse { margin-left:7px }
.label-roller { position: relative; top: -3px }
input[type=number],  .input-small { width: 60px!important }
input { margin: 3px!important }
th,  td { color: #75221C }
small { padding:15px }
.skill,  .cypher,  .ability { margin-right:20px!important }
.copyright { position:relative; top:-15px; left:15px }
.botrow { border-bottom: 2px solid #b0b0b0; margin-bottom: 7px }
