{
   padding: 0px!important;
   font-family: Amarante Regular!important;
   font-weight: 400}
.cypher-sheet,  a,  body,  .descriptor,  .type,  .focus,  small,  strong,  h1,  h2,  h3,  h4,  h5,  td,  th,  .btn {
   background-color: white;
   color: #4F2026;
   font-family: Amarante Regular!important;
   font-weight: 400;
   font-size: 18px}
.logocontainer {
   height: 175px;}
.logo {
   background: url(https://www.worldanvil.com/uploads/images/8a81cda52596fac5d96a5a29c6dcdf26.png) center center no-repeat;
   background-size: contain;
   height: 150px;}
.header {
   font-size: 18px;
   color: #414E71;
   text-transform: uppercase}
textarea .form-control,  .list-group {
   width: 100%!important}
.form-control { height: 2.05em!important}
.list-group-item {
   text-align: left;
   border-radius: 0px}
.line-spacer {
   padding: none!important;
   margin: none!important}
.form-control,  .control-label {
   padding: 2px 2px 2px 2px;
   margin: 1px 2px 0px 2px;
   display: inline}
.card {
   margin: 2px;
   border: 1px solid #00000040!important;
   border-radius: .25rem!important;}
.card-header {
   padding: 0px;
   padding-left: 0.10em}
.card-body,  .collapse {
   padding: 5px!important;
   width: 100%}
.label-roller {
   position: relative;
   top: -3px}
input[type=number],  .input-small {
   width: 40px!important }
.form-control#imageid { width:200px !important}
input[type=number].form-control { text-align:center }
input {
   margin: 3px!important}
small {
   padding: 5px;
   line-height: 1.8em;}
.skill,  .cypher,  .ability {
   margin-right: 20px!important}
.botrow {
   border-bottom: 2px solid #b0b0b0;
   margin-bottom: 7px}
.bg-simple {
   background-color: #FCF8EF!important;
   color: #222}
.bg-dark {
   background-color: #ECE8DF!important;
   color: #222}
.copyright,  .copyright a {
   color: #888;
   font-size:12px;}
th,  td {
   padding-left: 10px;
   padding-right: 10px}
h3 {
   font-size: 30px;}
.h3 {
  margin-top: 5px;
  margin-bottom: 5px;}
.table-striped {
   border: 1px solid #ccc}
table { width:100% }
.c { text-align:center}
.form-control,  .form-control:focus {
   font-size: 18px!important}
select.form-control { width:auto!important}
table.cypher { width:100%; border: 1px solid #00000040;margin-bottom:6px}
textarea.form-control-tracker { min-height: 13em!important; width:100%}
textarea.form-control { min-height: 3em!important; width:100%}
b { color:#222222!important}
th,  td { color:#222222!important; background:none!important; background-color:none!important}
th { font-weight: 800;}
.list-group-item { background:none!important; border:none!important}
.table-striped tr,  .table-striped tbody tr { border:none!important; background-color: #ECE8DF!important}
.table-striped th,  .table-striped td { border: none!important}
.table-striped tbody tr:nth-of-type(odd  )   {
   background-color: #00000010!important}
.table-striped tr { border:none!important}
.float-right { float:right; color:#222222}
.badge-danger { background-color: #ed5565; color:#fff; border-radius: 10rem;}
.badge-primary { background-color: #1ab394; color:#fff; border-radius: 10rem;}
input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0 }
.cypher th, .cypher td { padding:2px}
label { background-color: #FCF8EF!important; padding: 0px 4px!important }