 .logocontainer { height: 175px;}
 .logo {
  background: url(https://www.worldanvil.com/uploads/images/5d9e677a34d6c8507ebac5cb85a7a650.png) center center no-repeat; 
  background-size: contain; 
  height: 150px;}
 .bg-simple { background-color: #c0c0c0!important; color: #222222}
 .header { font-size:20px}
 .padding-left { padding-left: 16px}
 textarea .form-control,  .list-group { width:100%!important}
 .form-control { height:22px!important}
 .list-group-item { text-align:left; border-radius:0px}
 .line-spacer { padding:none!important; margin:none!important}
 .form-control { width:auto!important; padding: 2px 2px 2px 2px; margin: 1px 10px 0px 10px; display:inline}
 .card { margin:2px; border: 1px solid rgba(0,  0,  0,  .125)!important; border-radius: .25rem!important;}
 .card-header { padding: 0px; padding-left: 0.10em}
 .card-body,  .collapse { padding: 0px!important; width:100%}
 .label-roller { position: relative; top: -3px}
 input[type=number],  .input-small { width: 60px!important}
 input { margin: 3px!important}
 small { padding:15px}
 .skill,  .cypher,  .ability { margin-right:20px!important}
 .copyright { position:relative; top:-15px; left:15px}
 