.container-fluid {
  color: #000000 !important;
  background-color: #E0E0E0;
  background-image: url('/uploads/images/7b755242589892c6f34a843cb5b3f843.webp' ) ;
  font-size: 20px !important;
  font-family: PT Sans Narrow !important;
  padding: 20px;}
.form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: PT Sans Narrow !important;
  color: #000000 !important;
  background-color: #F1E4D1}
.card {
  background-color: #251C11;
  margin: 5px;
  color: #202020!important;
  border: 1px solid #251C11;
  border-radius: 0}
.card-header {
  color: #FFFFFF;
  background-color: #251C11!important;
  font-size: 30px;
  text-align: center;
  padding: 8px;
  margin: 0px;
  margin-bottom: 2px;
  border: 1px solid  #BDA178;
  border-bottom: 0}
.card-body {
  color: #202020 !important;
  background-color: #F1E4D1 !important;
  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  margin: 0px;}
.lbl { font-weight:800; padding: 0px 3px; color: #212529 !important; background-color:#BDA178 !important}
.var { padding: 0px 3px; color: #212529 !important; background-color:#F1E4D1}
.table { width:100%; border-spacing: 2px; margin-bottom: 0; border: 0!important}
.table td { padding:2px; background-color:#F1E4D1 !important}
.ev { background-color: #00000000 !important}
.od { background-color: #00000010 !important}
.pd2 { padding: 2px !important}
.c { text-align:center}
.l { text-align:left}
.of { overflow:auto}
th { border-top: 1px solid #F1E4D1 !important}
td.var { padding-left:10px; border:0 !important}
td.lbl { padding-left:10px; padding-right:10px}
.table,  .table>tbody>tr>td { border:0!important}
.small,  .small a { font-size:10px}
.ivar { padding: 10px}
.attributes .card-body { text-align:center; padding: 0}
.attributes .var {
   line-height: .8em;
   border-radius: 80px;
   width: 80px;
   height: 80px;
   border: 2px solid #808080;
   text-align: center;
   background-color: #F0E8E3;
   overflow: hidden;
   margin: 10px auto;
   color: #000000;
   padding-top: 20px;
   font-size: 40px;
   font-weight: bold}
.data .var { text-align:center}
.personal td.lbl { width:30%}
.credit-artist-name { font-size:12px}
input[required] { border: 2px solid #FF0000 !important}
input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
input.form-control {
  background-color: white !important;
  border: 1px solid #202020 !important}
