<div class='container-fluid sheet-shadowdark'>
  <div class='row'>
    <div class='col-12'>
      <div class='card personal' id='card-personal'>
        <div class='card-header personal'>{{variables.name|default}}</div>
        <div class='card-body of'>
          <table class='table'>
            <tr><th class='lbl ev lbl-class'> class </th><td class='var ev var-class'> {{variables.class|default}} Lvl {{variables.level|default}}</td></tr>
            <tr><th class='lbl od lbl-ancestry'> ancestry </th><td class='var od var-ancestry'> {{variables.ancestry|default}} </td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>