.container-fluid {
   font-family: IM Fell English SC;
   font-size: 24px !important;
   color: var(--dark) ;
   padding: 20px}
  .CodeMirror-buttonsPanel {
     font-size: 14px;}
  .table { margin-bottom: 0px}
  .table>tbody>tr>th,  .table>tbody>tr>td { border-top: none; padding: 0px 6px}
  .ilbl,  .lbl {
   font-size:14px;
   text-transform: uppercase;}
  .ivar,  .var {
   font-size: 24px;}
  .artist-credits,  .artist-credits a {
   font-size: 14px;
   text-align: center;
   padding-top: 3px}
  .card {
   border: none;
   margin-bottom:8px;}
  .card-header {
   border-radius: 0;}
  .card-body {
   border: 3px solid var(--dark) ;
  padding: 0px}
  .card-header, .ilbl-free-to-carry { text-align: center }
  .card-header, .lbl,  .ilbl-free-to-carry {
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 800;
     padding-top: 6px;
     padding-left: 6px;
     padding-bottom: 0px;
     margin: 0px }
  .attributes .ivar,  .ivar-portrait,  .ivar-hp,  .ivar-ac,  .ivar-gp,  .ivar-sp,  .ivar-cp { text-align: center}
  .lbl-hp,  .lbl-ac { padding-top:0px}
  th.lbl {
   vertical-align: middle}
  .var-talents,  .var-gear,  .var-notes,  .var-attacks,  .var-free-to-carry {
   padding:6px;
   font-size:16px;}
  :is(.hp,  .ac,  .attributes) .var { text-align: center; font-size:32px}
  .ilbl-free-to-carry,  .card-header,  :is(.hp,  .ac,  .attacks,  .talents,  .gear,  .notes) .lbl { font-size:22px; color: var(--light) ; background-color: var(--dark)}
 .c { text-align: center }
 .l { text-align: left }
 p { margin-bottom: 0px }
 ol { padding-left: 20px }