body,  div,  p { color: #404040; font-size:16px; word-break: keep-all}
a { color: #404040!important}
.dnd35-sheet { padding-bottom:20px; font-family: Alegreya Regular; font-weight:600; font-size: 18px; background: url(https://www.worldanvil.com/uploads/images/d653062d0f88879ccc1962405f3ad51d.jpg)}
.noback { background-color:transparent!important}
.card-header { padding:2px}
.card-body { background-color:#f0e8e0!important; padding:0px; background: #f00; margin:0px; font-family: Alegreya Regular; font-weight:400; font-size:16px; color: #404040!important}
.card { background-color:#f0e8e0; margin-top:20px; color: #404040!important}
.form-control { padding: 2px 2px 2px 4px; display: inline-flex; width: fit-content}
.btn { color: #404040!important; background:none!important; border:none!important}
.btn-dark.btn-block { color:#fff}
td { padding:0px}
th { height:20px; font-size:16px; text-align:center}
.l { text-align:left; padding-left:10px}
.c { text-align:center}
.r { text-align:right; padding-right:10px}
.pd10 { padding:10px}
.mt10 { margin-top:10px}
.head-bar { background: #FAF4DC; text-align:center; font-size:28px; font-weight:800; text-transform: uppercase}
.lbl { background: #FAF4DC; padding: 2px 10px 2px 10px; border: 1px solid #404040; font-size:16px}
.hdr { background: #E7D8B7; padding: 2px 10px 2px 10px; border: 1px solid #404040; font-size:16px}
.att { background: #DCA680; padding: 2px 10px 2px 10px; border: 1px solid #404040; font-size:16px}
.num { padding: 2px 15px 2px 10px; text-align:right; border: 1px solid #404040}
.txt { padding: 2px 5px 2px 10px; border: 1px solid #404040}
.tdr { padding: 2px 5px 2px 10px}
.ev { background-color:#e0d8d0}
.od { background-color:#f0e8e0}
.center { margin-left: auto; margin-right: auto}
.boxes { font-size:32px; margin:0px; padding: 0px 3px 0px 3px; text-align:center; border: 1px solid black}
.mx400 { max-width:400px; width:400px}
strong { font-size:16px; text-decoration:underline}
textarea.form-control { font-size:16px; min-height: 2em!important; color:black; background-color:white; width:100%!important }