{% extends 'RPGSRDBundle:Templates:base.html.twig' %}
{% block body %}
  <div class="dch_page">
    <div class="row stripe_hightlight mb-2em">
    	<div class="col-md-12">
    		<h1 class="hero_title">{{ variables.name }}</h1>
    	</div>
    </div>
    {% block dch_attributes %}{% endblock %}

    {% block dch_powers %}{% endblock %}

    {% block dch_bal %}{% endblock %}

    {% block dch_skills %}{% endblock %}

    {% block dch_ads %}{% endblock %}

    {% block dch_drawbacks %}{% endblock %}

    {% block dch_detail %}{% endblock %}

    {% block dch_attrib_benchmarks %}{% endblock %}
  </div>
{% endblock %}
