@font-face {
    font-family: Orbitron; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/orbitron-bold.otf)
}
@font-face {
    font-family: PT Sans Narrow; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/PTSansNarrow-Regular.ttf)
}