body,  div,  p { color: #404040; font-size:14px}
a { color: #404040!important}
.mgt2-sheet { background: url(https://www.worldanvil.com/uploads/images/2cc9ac3dd6b7ab1d8867a19f5a3b76d5.jpg)}
.noback { background-color:transparent!important}
.card-header { padding:2px}
.rolldice { padding:2px; font-family: Orbitron; font-weight:400; font-size:16px}
.card-body { background-color:#DBE6EB!important; padding:0px; margin:0px; font-family: Orbitron; font-weight:400; font-size:16px; color: #404040!important}
.card { background-color:#DBE6EB; margin-top:20px; color: #404040!important}
.form-control { padding: 2px 2px 2px 4px}
.sff { max-width:80px;}
.btn { color: #404040!important; background:none!important; border:none!important}
.btn-dark.btn-block { color:#fff}
td { padding:0px}
th { height:20px; font-size:16px; text-align:center; text-transform: uppercase}
.l { text-align:left; padding-left:10px}
.c { text-align:center}
.r { text-align:right; padding-right:10px}
.pd10 { padding:10px}
.mt10 { margin-top:10px}
.head-bar { background: #303030; color: #F3A61E; text-align:center; font-size:28px; font-weight:800; text-transform: uppercase; font-family: Orbitron}
.lbl { background: #EBF6FB; padding: 2px 10px 2px 10px; border: 1px solid #404040; font-family: Orbitron; font-weight:400; font-size:16px}
.hdr { background: #B9E1EF; padding: 2px 10px 2px 10px; border: 1px solid #404040; font-family: Orbitron; font-weight:400; font-size:14px}
.att { background: #1A3056; color: white; padding: 2px 10px 2px 10px; border: 1px solid #404040; font-family: Orbitron; font-weight:800; font-size:18px}
.num { padding: 2px 15px 2px 10px; text-align:right; border: 1px solid #404040}
.txt { padding: 2px 5px 2px 10px; border: 1px solid #404040}
.tdr { padding: 2px 5px 2px 10px}
.ev { background-color:#EBF6FB}
.od { background-color:#DBE6EB}
.red { color:#800000}
.center { margin-left: auto; margin-right: auto}
.boxes { font-size:32px; margin:0px; padding: 0px 3px 0px 3px; text-align:center; border: 1px solid black}
textarea.form-control { min-height: 2em!important;}
a { text-decoration: underline}
small,  small a { color:white!important}
.bonus { font-size: 24px}
