.dnd5e-2024-light {
  --black: #000000;
  --white: #ffffff;
  --lightgrey: #f0f0f0;
  --varod: #ffffff;
  --varev: #dff3ff;
  --lblod: #cbe1ef;
  --lblev: #acc9e0;
  --c4: #99bdde;
  --c5: #85aedc;
  --c6: #6b9ad7;
  --c7: #4a7eca;
  --c8: #295ba2;
  --darkblue: #18204A;
  --darkbluebg: #18204A;
  --labeltextdark: #18204A;
  --labeltextlight: #FFFFFF;
  --logo: #BE9D52;
  --border: #BE9D52;
  --f1: Grenze;
  --f2: IM Fell Great Primer SC;
  color: var(--darkblue) !important;
  font-size: 20px !important;
  font-family: var(--f1) !important;
  letter-spacing: -0.05em;
  word-spacing: 0.1em;
  padding: 20px;
  background-color: var(--white)}
 .dnd5e-2024-dark {
  --white: #000000;
  --lightgrey: #0f0f0f;
--varod: #373737;
    --varev: #2F2F2F;
    --lblod: #303030;
    --lblev: #282828;
  --c4: #99bdde;
  --c5: #85aedc;
  --c6: #6b9ad7;
  --c7: #4a7eca;
  --c8: #295ba2;
  --darkblue: #d1d1d1;
  --darkbluebg: #18204A;
  --labeltextdark: #BE9D52;
  --labeltextlight: #BE9D52;
  --logo: #BE9D52;
  --border: #BE9D52;
  --f1: Grenze;
  --f2: IM Fell Great Primer SC;
  color: var(--darkblue) !important;
  font-size: 20px !important;
  font-family: var(--f1) !important;
  letter-spacing: -0.02em;
  word-spacing: 0.1em;
  padding: 20px;
  background-color: var(--white)}
 .logo {
  border: none !important;
  font-size: 64px;
  text-align: center;
  width: 100%;
  margin-bottom: 1em !important;}
 table { line-height:1.5}
 .table td,  .table th,  .table > tbody > tr > td {
  border: none}
 .table {
  width: 100%;
  border-spacing: 2px;
  margin-bottom: 0}
 .table td {
  padding: 2px;
  background-color: var(--white) !important}
 th {
  letter-spacing: -0.01em;
  word-spacing: 0.1em;}
 .form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: var(--f1) !important;
  color: var(--darkblue) !important;
  background-color: var(--white)}
 .card {
  margin: 5px;
  color: var(--darkblue) !important;
  border-radius: 0;
  border: 1px solid var(--border) ;
  background-color: var(--white)}
 .card-header, .trackable-header {
  color: var(--labeltextlight) !important;
  background-color: var(--darkbluebg) !important;
  font-family: var(--f2) !important;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 0px;
  border-bottom: 0;
  border-radius: 0;
  border: 1px solid var(--border)}
 .card-body {
  color: var(--darkblue) !important;
  font-weight: 400;
  font-size: 20px;
  padding: 8px;
  margin: 0px;
  font-family: var(--f1)}
 .lbl,  .ilbl {
  font-weight: 800;
  letter-spacing: -0.01em;
  padding: 0px 3px;}
 .ilbl-shadow,  .lbl-shadow {
  margin-top: 2px}
 th.ilbl,  .lbl,  .ilbl {
  background-color: #BDA178 !important;
  padding-left: 10px;
  padding-right: 10px}
 td.lg { padding-left:5px}
 .ilbl {
  padding-top: 10px}
 td.var,  td.ivar {
  padding-left: 10px}
 .var,  .ivar {
  padding: 0px 3px;
  color: var(--darkblue) !important;
  background-color: var(--white)}
 .ivar {
  padding: 10px}
 .lbl.ev,  .ilbl.ev,  th.ev {
  background-color: var(--lblev) !important;
  color: var(--darkblue) !important;}
 .lbl.od,  .ilbl.od,  th.od {
  background-color: var(--lblod) !important;
  color: var(--darkblue) !important;}
 .var.ev,  .ivar.ev,  td.ev {
  background-color: var(--varev) !important;
  color: var(--darkblue) !important;}
 .var.od,  .ivar.od,  td.od {
  background-color: var(--varod) !important;
  color: var(--darkblue) !important;}
 .pd2 {
  padding: 2px !important}
 .npd {
  padding: 0px !important}
 .c {
  text-align: center}
 .l {
  text-align: left}
 .r {
  text-align: right}
 .of {
  overflow: auto}
 .ofh {
  overflow: hidden}
 .small,  .small a {
  font-size: 14px !important}
 .attributes .card-body {
  text-align: center;
  padding: 0}
 .attributes .var {
  line-height: .8em;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  border: 2px solid var(--border) !important;
  text-align: center;
  background-color: #F0E8E3;
  overflow: hidden;
  margin: 10px auto;
  padding-top: 20px;
  font-size: 40px;
  font-weight: bold;
  color: var(--darkblue)}
 .attributes .var.ev.var-defense {
  border-radius: 50% 50% 49% 51% / 0% 0% 100% 100%}
 .data .var {
  text-align: center}
 .fa-square {
  padding: 0px 1px !important;}
 .artist-credits { text-align: center}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a {
  font-size: 14px !important}
 input[required] {
  border: 2px solid #FF0000 !important}
 select.form-control {
  padding: 0px 2px}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0}
 input.form-control,  select.form-control {
  background-color: var(--white) !important;
  border: 1px solid var(--darkblue)}
 .label-roller,  .rolldice {
  font-size: 16px !important;
  background: var(--darkbluebg) !important;
  border: 2px solid var(--border) !important;
  border-radius: 0.25em !important;
  font-family: Helvetica;
  font-weight: 600;
  color: var(--labeltextlight)}
 .var-talent,  .var-talent-desc {
  letter-spacing: -0.04em;
  word-spacing: 0.1em}
 .btn-link,  .btn-link:hover {
  background: none;
  border: none;
  color: var(--darkblue)}
 .ac,  .hp { font-size: 48px; line-height: 59px}
 .w30 { width:30px}
 .w50 { width:50px}
 .w90 { width:90px}
 .description {
  color: var(--black)!important;
  background-color: #2d2dfa6c;
  padding-left: 10px;
  border-left: 3px #00f solid;
  border-right: 3px #00f solid;
  font-size: 0.9em;
  padding-top: 5px ;
  padding-bottom: 5px;
  margin:5px}
 .trackable-label { text-align: center; background-color: #80808020 }
 .description li { margin-left: 15px}
 .card-body { background-color: var(--lightgrey) !important}
 .card-body.nobg { background-color: var(--white) !important}
 .card-body li {
  margin-left: 15px}
 ul { list-style-type: square}
 .lbl .btn { font-weight: inherit}
 ::-webkit-input-placeholder {
  opacity: .5;
  color: var(--darkblue)}
 th.hdr { border-bottom: 1px solid var(--border)}
 hr { border-top: 2px solid var(--border)}
 .attmod .rolldice { font-size:48px !important}
 .spell-row h2 { font-size:36px; color: var(--gold)}
 .buttlight,  .buttlight:hover { color: var(--gold)}
 input[type=number],  input[type=number]:focus {
  -moz-appearance: textfield;
  text-align: center}
 select.form-control:not([size]):not([multiple]) { height: 3.05rem;}