.template-character_dnd35e {
	padding:20px;
	background-color: #e5dfc1;
	border: 1px solid #504717;
}

.system-dnd35e h1 p, 
.system-dnd35e h2 p, 
.system-dnd35e h3 p, 
.system-dnd35e h4 p,
.system-dnd35e h5 p, 
.system-dnd35e h6 p {
    margin:0;
}

.system-dnd35e .sub-table-title,
.system-dnd35e .skill-table-header
{
    font-size: 1.1em;
    font-weight: 700; 
}

.system-dnd35e .dnd35-label {
	font-style: oblique;

}

.system-dnd35e .dnd35-value {
	font-weight: bold;
	font-size: 1.5em;
}

.system-dnd35e .dnd35-box {
	margin-top: 10px;
	margin-bottom: 20px;
	padding:10px;
	background-color: #f1ecd3;
	border: 1px solid #504717;
}

.system-dnd35e .attr-dnd35-label {
    font-size: 1.5em;
}

.system-dnd35e .attr-score {
    font-size: 2em;
    font-weight: bold;
}

.system-dnd35e .skills-list .row {
	margin-bottom: 5px;
	padding:2px;
	background-color: #e0dbba;
}