.system-dnd35e h1 p, 
.system-dnd35e h2 p, 
.system-dnd35e h3 p, 
.system-dnd35e h4 p,
.system-dnd35e h5 p, 
.system-dnd35e h6 p {
    margin:0;
}
.system-dnd35e div 
{
    display: block;
    float: left;
    overflow: auto !important;
}
/* character info block table */
.system-dnd35e .char-info-table
{
    width: 100%;
}
.system-dnd35e .char-info-table .table-row
{
    height: 4%;
    padding-top: 1%;
    width: 100%;
}
.system-dnd35e .table-row .half-row-cell
{
    width: 50%;
}
.system-dnd35e .table-row .half-row-cell .input-label
{
    width: 20%;
}
.system-dnd35e .table-row .half-row-cell .input-value
{
    width: 80%;
}
.system-dnd35e .table-row .third-row-cell
{
    width: 33.3%;
}
.system-dnd35e .table-row .third-row-cell .input-label
{
    width: 30%;
}
.system-dnd35e .table-row .third-row-cell .input-value
{
    width: 70%;
}
.system-dnd35e .table-row .quarter-row-cell
{
    width: 25%;
}
.system-dnd35e .table-row .quarter-row-cell .input-label
{
    width: 30%;
}
.system-dnd35e .table-row .quarter-row-cell .input-value
{
    width: 70%;
}
/* column in table  */
.system-dnd35e .skill-table
{
    
}
.system-dnd35e .skill-table .table-row
{
    height: auto !important;
}
.system-dnd35e .table-row .table-col 
{
    width: 33.3%;
}
.system-dnd35e .table-row .table-col .table-col-cell
{
    width: 100%;
}
.system-dnd35e .table-row .table-col .skill-label
{
    width: 42%;
    height: 4%;
    padding-left: 2%;
    text-align: left;
}
.system-dnd35e .table-row .table-col .skill-value
{
    height: 4%;
    width: 23%;
    text-align: center;
}
.system-dnd35e .table-row .table-col .skill-total
{
    height: 4%;
    width: 31%;
    text-align: center;
}
/* Attributs table */
.system-dnd35e .char-attributs .spacer
{
    display: block;
    width: 100%;
}

.system-dnd35e .char-attr-table
{
    width: 30%;
    margin-right: 2%;
}
.system-dnd35e .char-attr-table .attr-table-row
{
    margin-top: 0.25%;
    height: 7%;
    width: 100%;
}
.system-dnd35e .char-attr-table .attr-table-row .attr-label
{
    width: 30%;
}
.system-dnd35e .char-attr-table .attr-table-row .attr-score
{
    width: 30%;
    text-align: center;
}
.system-dnd35e .char-attr-table .attr-table-row .attr-mod
{
    width: 40%;
    text-align: center;
}
/* char data speed table */
.system-dnd35e .char-data-table
{
    width: 67%;
    float: left;
}

.system-dnd35e .table-row
{
    margin-top: 0.25%;
    height: 4%;    
    width: 100%;
}
.system-dnd35e .char-data-table .table-row .sub-table-title
{
    margin-top: 0.5%;
    font-weight: bold;
    width: 100%;
}
