.system-dnd35e h1 p, 
.system-dnd35e h2 p, 
.system-dnd35e h3 p, 
.system-dnd35e h4 p,
.system-dnd35e h5 p, 
.system-dnd35e h6 p {
    margin:0;
}
.system-dnd35e div 
{
    display: block;
    float: left;
    overflow: auto !important;
}
.system-dnd35e .char-info-table
{
    width: 100%;
    background-color: aqua;
}
.system-dnd35e .char-info-table .table-row
{
    margin-top: 0.25%;
    width: 100%;
    background-color:burlywood;
}
.system-dnd35e .char-info-table .table-row .input-label
{
    width: 22%;
    background-color: aliceblue;
}
.system-dnd35e .char-info-table .table-row .input-value
{
    width: 78%;
}
.system-dnd35e .char-info-table .table-row .half-row-cell
{
    width: 50%;
    background-color: cadetblue;
}
.system-dnd35e .char-info-table .table-row .third-row-cell
{
    width: 33.3%;
    background-color: chartreuse;
}
.system-dnd35e .char-info-table .table-row .quarter-row-cell
{
    width: 25%;
    background-color: coral;
}