 {
  padding: 10px;
  border: 1px black solid;
  background: #fffcf5;
  color: #27241f;
  font-family: Cardo Regular !important;
}
table,
th,
th td {
  border: none;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: none;
}
.pathfinder-sheet-global-wrapper,
.label {
  font-family: Cardo Regular;
  font-size: 16px;
}
.pathfinder-logo {
  max-width: 250px;
}
.text-light {
  color: #cec1a1 !important;
}
.char-info-label {
  border-top: 1px solid #60606060;
  font-size: 0.6em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 2px;
}
.char-info-value {
  font-size: 1.2em;
}
.sheet-section {
  padding: 4px;
  background: #a9790914;
  border: 1px black solid;
  border-radius: 4px 4px;
  margin-left: 0px;
  margin-bottom: 10px;
}
.no-right-margin {
  margin-right: 0px !important;
}
.left-margin {
  margin-left: 7px;
}
.row-title {
  text-align: center;
  font-family: Cardo Regular !important;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8em;
  margin-bottom: 10px;
  color: #9e6c0073 !important;
}
.row.skill-row {
  border-bottom: 1px black solid;
  padding-top: 5px;
}
.ability-label {
  font-size: 1.6em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}
.ability-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}
.ability-value {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}
.ability-mod {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}
.ability-temp-value {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}
.skill-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.7em;
  margin-bottom: 9px;
  border-bottom: 1px black solid;
  padding-bottom: 3px;
}
.ability-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.7em;
  margin-bottom: 12px;
  border-bottom: 1px black solid;
  padding-bottom: 3px;
}
.ability-temp-mod {
  text-align: center;
  margin-top: 5px;
}
.spell-label-row {
  font-size: 0.9em;
  font-weight: 600;
}
.spell-value {
  text-align: center;
  font-size: 0.9em;
}
.control-label {
  color: #292723;
}
.trackable {
  background-color: #f0efe6;
  padding: 20px;
}
p.trackable-label {
  font-size: 0.8em;
  margin-top: 2px;
  color: #761a0e;
  text-align: right;
  margin-bottom: 15px;
}
h4.trackable-header {
  font-family: "Crimson Text";
}
.label-roller {
  background: #59190e;
  font-size: 20px;
}
.hpcontainer strong {
  font-size: 1.2em;
}
.form-control,
.form-control:focus {
  background: white !important;
  margin-bottom: 0px;
  padding: 2px 4px;
  border: 1px solid #463716;
  color: #463716 !important;
  font-size: 1em !important;
  display: inline;
}
.form-control-description {
  color: #8c1515;
  margin: 5px 10px 15px 10px;
  padding: 2px;
  border: 1px dashed #8c1515;
  opacity: 1;
}
.table th {
  color: #9e6c00db !important;
  -webkit-text-fill-color: #9e6c00db !important;
}
.table tr {
  background: #f7f1e4 !important;
  color: #9c721e !important;
}
.row-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.15em;
  margin-bottom: 10px;
  color: #9e6c00db !important;
  -webkit-text-fill-color: #9e6c00db !important;
}
.c,
.cs-label,
.attrib-mod-value,
.rank-value,
.skill-total {
  text-align: center;
}
.r {
  text-align: right;
}
.l {
  text-align: left;
}
.b {
  font-weight: 600;
}
.ability-row {
  margin-bottom: -10px;
  padding-bottom: 0px;
}
select.form-control {
  width: 90px;
}
.in-md {
  width: 100% !important;
}
.sm {
  width: 30px !important;
}
.md {
  width: 60px !important;
}
.card {
  width: 100%;
  background: none !important;
  background-color: transparent !important;
  border: none !important;
}
table,
th,
td {
  background-color: transparent !important;
  font-family: Cardo Regular !important;
}
.of {
  overflow-y: auto;
}
.nbg {
  background: none !important;
}
table th {
  -webkit-text-fill-color: #000000;
}
td {
  vertical-align: middle !important;
  padding: 0px 2px 0px 2px !important;
}
a {
  text-decoration: underline;
  color: #600000;
}
.req {
  background-color: #ffe0e0 !important;
}
.bs {
  border-collapse: separate;
  border-spacing: 6px 2px;
}
.wds {
  width: 60%;
}
.baseac {
  font-size: 1.6em;
  font-weight: 800;
  text-align: center;
  border: 1px solid black;
  background: white;
  padding: 0px 10px 0px 10px;
}
.va {
  padding-top: 0.5em;
}
.od {
  background-color: #fffcf5;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  width: 16px;
}
::placeholder {
  background-color: #fff0f0;
  color: red;
  opacity: 1;
}
:-ms-input-placeholder {
  background-color: #fff0f0;
}
::-ms-input-placeholder {
  background-color: #fff0f0;
}
