{
    padding: 10px;
    border: 1px black solid;
    background: #fffcf5;
    color: #27241f ;
}

.pathfinder-logo {
    max-width: 250px;
}

.text-light {
    color: #cec1a1!important;
}


.char-info-label {
    font-size: 0.6em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 2px
}

.char-info-value {
    font-size: 1.2em;
}

.sheet-section {
    padding: 12px;
    background: #a9790914;
    border: 1px black solid;
    margin-left: 0px;
    margin-bottom: 10px;
}

.no-right-margin {
	margin-right: 0px !important
}

.left-margin {
	margin-left: 7px;
}

.row-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8em;
    margin-bottom: 10px;
    color: #9e6c0073;
}

.row.skill-row {
    margin-bottom: 5px;
    border-bottom: 1px black solid;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ability-label {
    font-size: 2em;
    text-align: center;
    font-weight: 800;
}

.ability-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
}

.ability-value {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.ability-mod {
    font-size: 2em;
    font-weight: 800;
    text-align: center;

}

.ability-temp-value  {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.skill-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.7em;
    margin-bottom: 9px;
    border-bottom: 1px black solid;
    padding-bottom: 3px;
}

.ability-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.7em;
    margin-bottom: 9px;
    border-bottom: 1px black solid;
    padding-bottom: 3px;
}

.ability-temp-mod {
    text-align: center;
    margin-top: 5px;
}

.spell-label-row {
	font-size: 0.9em;
	font-weight: 600;
}

.spell-value {
	text-align: center;
	font-size: 0.9em;
}

.control-label {
    color: #292723;
}



.trackable {
  background-color: #f0efe6;
  padding: 20px;
}

p.trackable-label {
    font-size: 0.8em;
    margin-top: 2px;
    color: #761a0e;
    text-align: right;
    margin-bottom: 15px;
}

h4.trackable-header {
    font-family: "Crimson Text";
}

.label-roller {
    background: #59190e;
}

.hpcontainer strong {
    font-size: 1.2em;
}

.form-control {
    background: #463716!important;
    border: 0px;
    color: #f2f8fb;
}

.form-control-description{
  color: #8c1515;
}


.table th {
    background: #654d1b;
    color: #f1e3c6;
}

.table tr {
    background: #f7f1e4 !important;
    color: #9c721e;
}

.row-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.15em;
    margin-bottom: 10px;
    color: #9e6c00db;
}
