.character-info {
}

.char-info-value {
   font-size: 1.4em;
   margin-top: 7.5px;}
 .char-info-label {
   font-size: 1em;
   font-weight: bold;
   border-top: solid 0.5px black;
}
 .char-info-value-short {
   font-size: 1.4em;
   margin-top: 7.5px;
   margin-right: 15px;}
 .char-info-label-short {
   font-size: 1em;
   font-weight: bold;
   border-top: solid 0.5px black;
   margin-right: 15px;
}
 .character-attributs
{
   margin-top: 5px;}
 .ability-table
{
   margin-right: 0px;
   margin-left: 0px;
   text-align: center;}
 .ability-row
{
   margin-bottom: 2px;}
 .ability-header
{
   font-size: 0.8em;
   font-weight: 600;
   margin-left: 2px;
   margin-bottom: -2px;
   padding: 2px;}
 .ability-name-block
{
   background-color: #2c2c2c;
   color: #ffffff;}
 .ability-label
{
   font-size: 1.3em;
   font-weight: 700;}
 .ability-name
{
   font-size: 0.8em;}
 .ability-value,  .ability-mod,  .ability-temp-value
{
   border: solid #2c2c2c 1.5px;
   font-size: 1.4em;
   padding: 5px;
   margin-left: 4px;
   background-color: #ffffff25;}
 .ability-temp-mod
{
   background: #2c2c2c;
   border-radius: 30%;
   padding: 5px;
   margin-left: 4px;}
 .ability-temp-mod .label-roller
{
   font-size: 1.4em;
   background: none;}
 .ability-mod
{
   font-weight: 700;}
 .ability-temp-mod
{
   font-weight: 700;}
 .health-name-block
{
   background-color: #2c2c2c;
   color: #ffffff;
   text-align: center;
   padding-top: 7px;
   padding-bottom: 7px;}
 .health-label
{
   font-size: 1.3em;
   font-weight: 700;}
 .health-name
{
   font-size: 0.8em;}
 .health-max
{
   border: solid #2c2c2c 1.5px;}
 .health-hit-dice
{
   border: solid #2c2c2c 1.5px;
   margin-left:4px;}
 .health-max-label,  .health-hit-dice-label
{
   font-size: 0.8em;
   padding-left: 3px;}
 .health-max-value,  .health-hit-dice-value
{
   text-align: center;
   font-size: 1.5em;
   font-weight: 700;
   padding: 12px;
   background-color: #ffffff25;}
 .damage-reduction-label,  .spell-resistance-label
{
   background-color: #2c2c2c;
   color: #ffffff;
   text-align: center;
   padding: 5px;
   font-size: 1.4em;
   font-weight: 700;}
 .initiative-label
{
   background-color: #2c2c2c;
   color: #ffffff;
   text-align: center;
   padding: 8px;
   font-size: 1.3em;
   font-weight: 700;}
 .damage-reduction-value,  .spell-resistance-value
{
   text-align: center;
   font-size: 1.6em;
   font-weight: 700;
   padding: 14.5px;
   border: solid #2c2c2c 1.5px;
   background-color: #ffffff25;}
 .init-total-value
{
   text-align: center;
   font-size: 1.6em;
   font-weight: 700;
   border: solid #2c2c2c 1.5px;
   padding:4px;
   background-color: #ffffff25;}
 .init-dex-value,  .init-modifier-value
{
   text-align: center;
   font-size: 1.6em;
   font-weight: 700;
   border: solid #2c2c2c 1.5px;
   padding:4px;
   margin-left: 2px;}
 .health
{
   padding-top: 8px;}
 .damage-reduction,  .spell-resistance,  .initiative
{
   padding-top: 14px;}
 .left-collumn,  .right-collumn
{
   margin: 0px;}
 .ac-row
{
   padding-top: 10px;}
 .ac-label
{
   text-align: center;
   background-color: #2c2c2c;
   padding:6px;
   color: #ffffff;}
 .ac-label-short
{
   font-size: 1.3em;
   font-weight: 700;}
 .ac-label-long
{
   font-size: 0.8em;}
 .ac-total
{
   font-size: 1.7em;
   font-weight: 700;
   text-align: center;
   border: solid #2c2c2c 1.5px;
   padding:  8px;
   background-color: #ffffff25;}
 .ac-base
{
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   padding-top:  10px;
   padding-bottom:  10px;
   padding-left: 0px;
   padding-right: 0px;
   margin-left: 3px;}
 .ac-armor,  .ac-shield,  .ac-dex,  .ac-size,  .ac-natural,  .ac-deflection,  .ac-misc
{
   margin-left: 3px;
   border: solid #2c2c2c 1.5px;}
 .ac-value
{
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   padding-left:  10px;
   padding-right:  10px;
   padding-top:  6px;}
 .ac-name
{
   padding: 0px;
   font-size: 0.7em;
   text-align: center;}
 .main-row,  .save-row
{
   padding-top: 10px;}
 .save-label
{
   text-align: center;
   background-color: #2c2c2c;
   padding:6px;
   color: #ffffff;}
 .save-label-short
{
   font-size: 1.3em;
   font-weight: 700;}
 .save-label-long
{
   font-size: 0.8em;}
 .save-total
{
   font-size: 1.7em;
   font-weight: 700;
   text-align: center;
   border: solid #2c2c2c 1.5px;
   padding:  8px;
   background-color: #ffffff25;}
 .save-equal
{
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   padding-top:  10px;
   padding-bottom:  10px;
   padding-left: 0px;
   padding-right: 0px;
   margin-left: 3px;}
 .save-base,  .save-ability,  .save-magic,  .save-misc,  .save-temp
{
   margin-left: 3px;
   border: solid #2c2c2c 1.5px;}
 .save-value
{
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   padding-left:  10px;
   padding-right:  10px;
   padding-top:  6px;}
 .save-name
{
   padding: 0px;
   font-size: 0.7em;
   text-align: center;}
 .bba-label
{
   text-align: center;
   background-color: #2c2c2c;
   padding:12px;
   color: #ffffff;
   font-size: 1.3em;
   font-weight: 700;}
 .bba-value
{
   font-size: 1.7em;
   font-weight: 700;
   text-align: center;
   border: solid #2c2c2c 1.5px;
   padding:  7px;
   background-color: #ffffff25;}
 .cmd-label,  .cmb-label
{
   text-align: center;
   background-color: #2c2c2c;
   padding:12px;
   color: #ffffff;
   font-size: 1.3em;
   font-weight: 700;}
 .cmd-total,  .cmb-total
{
   font-size: 1.7em;
   font-weight: 700;
   text-align: center;
   border: solid #2c2c2c 1.5px;
   padding:  7px;
   background-color: #ffffff25;}
 .cmd-equal,  .cmb-equal
{
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   padding-top:  10px;
   padding-bottom:  10px;
   padding-left: 0px;
   padding-right: 0px;
   margin-left: 3px;}
 .cmd-base,  .cmb-base
{
   margin-left: 3px;
   border: solid #2c2c2c 1.5px;}
 .cmd-value,  .cmb-value
{
   font-size: 1.5em;
   font-weight: 700;
   text-align: center;
   padding-left:  10px;
   padding-right:  10px;
   padding-top:  6px;}
 .cmd-name,  .cmb-name
{
   padding: 0px;
   font-size: 0.7em;
   text-align: center;}
 .armor-table,  .weapon-table
{
   padding-right: 25px;}
 .armor-table-title,  .weapon-table-title
{
   text-align: center;
   background-color: #2c2c2c;
   padding:12px;
   color: #ffffff;
   font-size: 1.3em;
   font-weight: 700;}
 .armor-table-name,  .armor-table-bonus,  .armor-table-type,  .armor-table-check-pen,  .armor-table-spell-fail,  .armor-table-weight,  .weapon-table-name,  .weapon-table-attack,  .weapon-table-critical,  .weapon-table-type,  .weapon-table-range,  .weapon-table-damage
{
   background-color: #ffffff25;
   font-size: 1.3em;
   font-weight: 500;
   text-align: center;   
   padding: 10px;
   border: solid 1px #2c2c2c;}
 .weapon-table-label,  .armor-table-label
{
   border: solid 1px #2c2c2c;
   font-size: 0.9em;}
 .weapon-table-ammunition,  .armor-table-properties
{
   background-color: #ffffff25;
   font-size: 1em;
   font-weight: 500;
   text-align: center;   
   padding-bottom: 13px;
   padding-top: 13px;
   border: solid 1px #2c2c2c;}
 .skill-row-title
{
   background-color: #2c2c2c;
   color: #ffffff;
   font-size: 1.3em;
   font-weight: 700;
   padding: 10px;
   margin-bottom: 5px;
   text-align: center;}
 .skill-row
{
   background-color: #ffffff25;
   border-left: solid 1px #2c2c2c;
   border-right: solid 1px #2c2c2c;
   border-bottom: solid 1px #2c2c2c;}
 .skill-label {
   padding-top: 5px;
   font-size: 1.4em;
   font-weight: 700;}
 .skill-total
{
   background: #2c2c2c;
   border-radius: 30%;
   margin: 2px;
   padding: 1px;
   text-align: center;}
 .skill-total .label-roller
{
   font-size: 1.4em;
   background: none;}
 .skill-row .skill-header
{
   text-align: center;}
 .skill-row .attrib-label
{
   font-size: 1.4em;
   padding-top: 5px;
   padding-left: 4px;
   padding-right:0px;}
 .skill-row .attrib-mod-value,  .skill-row .rank-value,  .skill-row .attrib-mod-value{
   font-weight: 600;
   padding-top: 5px;
   font-size: 1.4em;
   padding-left: 2px;}
 .spell-title
{
   text-align: center;
   background-color: #2c2c2c;
   padding:12px;
   color: #ffffff;
   font-size: 1.3em;
   font-weight: 700;}
 .spell-label-row
{
   text-align: center;
   background-color: #2c2c2c;
   color: #ffffff;
   font-size: 1em;
   font-weight: 500;
   padding: 12px;}
 .spell-label
{
   border: solid 1px #2c2c2c;
   font-size: 0.9em;
   text-align: center;
   padding: 12px;}
 .spell-value
{
   font-size: 1.7em;
   font-weight: 700;
   text-align: center;
   border: solid #2c2c2c 1.5px;
   padding:  12px;
   background-color: #ffffff25;}
