/*
 * GalaxyAnvil - A theme for WorldAnvil, created by SierraKomodo
 * Version 1.0.0
 * https://github.com/SierraKomodo/worldanvil-templates/tree/GalaxyAnvil
 */

/* FONTS */
@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/mina/v1/-nFzOGc18vARnzhp7w.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsanscondensed/v2/Gg8lN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYapyK4.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* LAYOUT - MAIN */
.user-css.page, .user-css-extended .page, .user-css-worldmenu .worldmenu-inner {
    background-image: none;
    font-family: IBM Plex Sans Condensed, sans-serif;
    border: none;
    border-radius: 5px;
}

/* LAYOUT - HTML */
.user-css a, .user-css a:focus, .user-css-extended a, .user-css-extended a:focus {
    font-weight: bold;
}

/* I don't know why this is needed but apparently I broke article-panel and need to do this to fix it */
.user-css .article-panel a, .user-css-extended .article-panel a {
	display: inline-block;
}

.user-css b, .user-css-extended b {
    font-weight: bold;
}

.user-css blockquote, .user-css-extended blockquote {
    border-radius: 4px;
    border-left: 10 solid;
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-size: 16px;
}

.user-css blockquote .author, .user-css blockquote .author {
    font-size: 16px;
}

.user-css code, .user-css-extended code, .user-css pre, .user-css-extended pre {
    border: none;
    border-radius: 2px;
}

.user-css .panel dl {
    margin-bottom: 0;
}

.user-css h1, .user-css-extended h1, .user-css h1 a {
    font-size: 42px;
    font-family: Mina, serif;
}

.user-css h2, .user-css-extended h2 {
    font-size: 30px;
    font-family: Mina, serif;
    border-bottom: 1px solid;
    font-weight: 100;
    margin-top: 25px;
}

.user-css h3, .user-css-extended h3 {
    font-family: Mina, serif;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid;
}

.user-css h4, .user-css-extended h4 {
    font-family: Mina, serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}

.user-css h5, .user-css-extended h5 {
    font-family: Mina, serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}

.user-css h6, .user-css-extended h6 {
    font-family: Mina, serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}

.user-css img, .user-css-extended img {
    border-radius: 5px;
}

.user-css .user-css-image-thumbnail, .user-css-extended .user-css-image-thumbnail {
    border-radius: 5px;
	padding: 0;
	margin: 10px;
}

.user-css .user-css-image-thumbnail img, .user-css-extended .user-css-image-thumbnail img {
    border-radius: 5px 5px 0 0;
}

.user-css p, .user-css-extended p {
    font-weight: normal;
    line-height: 1.4em;
}

.user-css textarea, .user-css-extended textarea, .user-css .typeahead-input, .user-css-extended .typeahead-input {
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

/* LAYOUT - BOOTSTRAP CLASSES */
.user-css .alert, .user-css-extended .alert {
    border-radius: 4px;
    border: none;
    border-left: 34px solid;
    font-size: 85%;
    padding: 5px 10px;
    padding-left: 10px;
    text-align: justify;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 70px;
}

.user-css .alert h5:first-child, .user-css .alert h5:first-child {
    padding: 5px 10px;
    margin: 0 0 10px 0px;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.user-css .btn, .user-css-extended .btn {
    border: none;
    border-radius: 3px;
}

.user-css .breadcrumb {
	font-size: 80%;
}

.user-css .breadcrumb li .active {
	font-weight: bold;
	display: inline-block;
}

.user-css .spoiler-button, .user-css-extended .spoiler-button {
    margin-bottom: 10px;
}

.user-css .label, .user-css-extended .label {
    border: none;
    border-radius: 3px;
}

.user-css .nav-tabs, .user-css-extended .nav-tabs {
    border: none;
    border-bottom: 1px solid;
}

.user-css .nav-tabs li a, .user-css-extended .nav-tabs li a, .user-css .nav-tabs li a:hover, .user-css-extended .nav-tabs li a:hover {
    border-radius: 4px 4px 0 0;
    margin: 3px 3px 0 3px;
    border: none;
}

.user-css .nav-tabs li.active a, .user-css-extended .nav-tabs li.active a {
    border: 1px solid;
    border-bottom: none;
}

.user-css .panel, .user-css-extended .panel {
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    padding: 3px 5px;
}

.user-css .panel-heading, .user-css-extended .panel-heading {
    margin: -3px -5px 10px -5px;
    padding: 13px 20px 10px 20px;
    border: none;
    vertical-align: middle;
}

.user-css .panel-heading h3, .user-css-extended .panel-heading h3 {
    margin-top: 0;
    border: none;
}

.user-css .table {
    border: none;
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
}

.user-css .table tr {
    background: transparent !important;
}

.user-css .table td, .user-css .table th {
    border: none;
}

.user-css .well, .user-css-extended .well {
    border: none;
    border-radius: 4px;
}

/* LAYOUT - WORLDANVIL CLASSES */
.user-css .aloud {
    border-radius: 4px;
    border: none;
}

.user-css .artist-credits, .user-css-extended .artist-credits {
    border-radius: 5px;
}

.user-css .user-css-image-thumbnail .artist-credits, .user-css-extended .user-css-image-thumbnail .artist-credits {
    border-radius: 0 0 5px 5px;
}

.user-css .text-abbreviation, .user-css-extended .text-abbreviation {
    text-decoration: underline dashed;
    border: none;
    display: inline-block;
}

.user-css .article-panel, .user-css-extended .article-panel {
    border: none;
    border-radius: 5px;
    padding: 0;
}

.user-css .article-panel a, .user-css-extended .article-panel a {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.user-css .backtoworld a {
    left: -8px;
    border: none;
    border-radius: 0 3px 3px 0;
}

.user-css-extended .comment-box {
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user-css .cover, .user-css .cover img {
    border-radius: 5px 5px 0 0;
}

.user-css .dropcap, .user-css-extended .dropcap {
    font-family: Mina, serif;
}

.user-css .line-spacer, .user-css-extended .line-spacer {
    display: none;
}

.user-css-extended .comment-box .line-spacer {
    display: box;
}

.user-css .menu-control, .user-css-extended .menu-control {
    border: none;
    background-image: none;
    border-radius: 0 0 3px 3px;
    padding: 4px 0 0 0;
    height: 32px;
}

.user-css .phrase-key {
    display: block;
    padding-top: 10px;
}

.user-css .relation:first-child {
    border-top: none;
}

.user-css .relation .relationScore {
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

.user-css-secret {
    border: none;
    border-radius: 5px;
}

.user-css-secret .spoiler-content {
    background: transparent;
    border: none;
    color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.user-css .tag, .user-css-extended .tag {
    font-weight: normal;
    font-size: 11px;
}

.user-css .tag:hover, .user-css-extended .tag:hover {
    font-weight: normal;
    border: none;
    border-radius: 3px;
}

.user-css .timeline li .timeline-panel, .user-css-extended .timeline li .timeline-panel {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
}

.user-css .timeline li .timeline-panel .header-icon, .user-css-extended .timeline li .timeline-panel .header-icon {
    padding: 12.5px;
}

.user-css .tooltip {
    opacity: 1 !important;
}

.user-css .tooltip .tooltip-inner, .user-css-extended .tooltip .tooltip-inner {
    border: none;
    border-radius: 4px;
}

.user-css .user-box, .user-css-extended .user-box {
    padding: 8px;
    height: 76px;
}

/* LAYOUT - CUSTOM CLASSES */
.user-css .block, .user-css-extended .block {
    display: block;
}

.user-css .glossary-block, .user-css-extended .glossary-block {
    display: flex;
    flex-flow: row wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    text-align: center;
}

.user-css .glossary-block .article-panel, .user-css-extended .glossary-block .article-panel {
    flex-basis: 33.3%;
    margin-left: 7.5px;
    margin-right: 7.5px;
    flex: 0 1 calc(33.3% - 15px);
}

.user-css .glossary-block .article-panel a, .user-css-extended .glossary-block .article-panel a {
    height: 100%;
}

.user-css .glossary-block .article-panel .cover, .user-css-extended .glossary-block .article-panel .cover {
    display: none;
}

.user-css .row-border-group .user-row {
    display: flex;
}

.user-css .row-border-group .user-row .col-md-6 {
    border-left: 1px solid;
    border-right: 1px solid;
}

.user-css .row-border-group .user-row .col-md-6:first-child {
    border-left: none;
}

.user-css .row-border-group .user-row .col-md-6:last-child {
    border-right: none;
}

.user-css .row-border-group .user-row:first-child .col-md-6 {
    border: none;
}

.user-css .row-border-group .user-row:last-child .col-md-6 {
    border: none;
}

.user-css .row-border-group .user-row .col-md-6:after, .user-css .row-border-group .user-row .col-md-6:before {
    content: url(https://www.worldanvil.com/uploads/images/d4222ca4f7e45bb789519bd04deb8449.gif);
    position: absolute;
}

.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:after, /* 2-col Middle left cell, top border */
.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:after, /* 2-col Middle right cell, top border */
.user-css .row-border-group .user-row:last-child .col-md-6:first-child:before, /* 2-col Bottom left cell, top border */
.user-css .row-border-group .user-row:last-child .col-md-6:last-child:before /* 2-col Bottom right cell, top border */
{
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
}

.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:before, /* 2-col Middle left cell, bottom border */
.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:before, /* 2-col Middle right cell, bottom border */
.user-css .row-border-group .user-row:first-child .col-md-6:first-child:before, /* 2-col Top left cell, bottom border */
.user-css .row-border-group .user-row:first-child .col-md-6:last-child:before /* 2-col Top right cell, bottom border */
{
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
}

.user-css .row-border-group .user-row:first-child .col-md-6:first-child:after, /* 2-col Top left cell, right border */
.user-css .row-border-group .user-row:last-child .col-md-6:first-child:after /* 2-col Bottom left cell, right border */
{
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
}

.user-css .row-border-group .user-row:first-child .col-md-6:last-child:after, /* 2-col Top right cell, left border */
.user-css .row-border-group .user-row:last-child .col-md-6:last-child:after /* 2-col Bottom right cell, left border */
{
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
}

.user-css .row-border-group .user-row:only-child .col-md-6:first-child:after { /* 2-col Single row left cell, right border */
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
}

.user-css .row-border-group .user-row:only-child .col-md-6:first-child:before {
    display: none;
}

.user-css .row-border-group .user-row:only-child .col-md-6:last-child:after { /* 2-col Single row right cell, left border */
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    width: 1px;
}

.user-css .row-border-group .user-row:only-child .col-md-6:last-child:before {
    display: none;
}

/* THEME APPLICATION */
.presentation-interface {
    background-image: url(images/background.jpg);
    background-attachment: fixed;
}

.user-css.page::after {
    content: url(images/empty.gif);
    background: var(--default1);
    background: linear-gradient(to right, var(--primary3), var(--accent3), var(--default1), var(--default1), var(--default1), var(--accent3), var(--primary3));
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.user-css.page, .user-css-extended .page, .user-css-worldmenu .worldmenu-inner {
    background-color: var(--default3Transparent);
    color: var(--defaultDMuted);
    box-shadow: 0 0 11px 2px var(--default3Transparent);
}

.user-css-worldmenu .worldmenu-inner {
    background-color: var(--primary3Transparent) !important;
    color: var(--primaryDMuted);
    box-shadow: 0 0 11px 2px var(--primary3Transparent);
}

/* HEADINGS */
.user-css h1, .user-css-extended h1, .user-css h1 a {
    color: var(--primaryA);
    background: linear-gradient(var(--defaultA), var(--accentA), var(--primaryA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-css h1 small, .user-css-extended h1 small, .user-css h1 a small {
    color: var(--primary8);
    background: linear-gradient(var(--default8), var(--accent8), var(--primary8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-css h2, .user-css-extended h2 {
    color: var(--primaryA);
}

.user-css h2 small, .user-css-extended h2 small {
    color: var(--primary8);
}

.user-css h3, .user-css-extended h3 {
    color: var(--midPrimaryAccentA);
}

.user-css h3 small, .user-css-extended h3 small {
    color: var(--midPrimaryAccent8);
}

.user-css h4, .user-css-extended h4 {
    color: var(--accentA);
}

.user-css h4 small, .user-css-extended h4 small {
    color: var(--accent8);
}

.user-css h5, .user-css-extended h5 {
    color: var(--midDefaultAccentA);
}

.user-css h5 small, .user-css-extended h5 small {
    color: var(--midDefaultAccent8);
}

.user-css h6, .user-css-extended h6 {
    color: var(--defaultA);
}

.user-css h6 small, .user-css-extended h6 small {
    color: var(--default8);
}

/* HORIZONTAL RULES */
.user-css hr {
    border-color: var(--accentA);
}

/* LINKS */
.user-css a, .user-css a:focus, .user-css-extended a, .user-css-extended a:focus, .user-css .text-abbreviation, .user-css-extended .text-abbreviation {
    color: var(--primaryD);
}

.user-css a:hover, .user-css-extended a:hover, .user-css .text-abbreviation:hover, .user-css-extended .text-abbreviation:hover {
    color: var(--primaryDMuted);
}

.user-css .backtoworld a {
    background: var(--primary5Transparent);
    box-shadow: 0 0 1px 2px var(--primary5Transparent);
    color: var(--primaryD);
}

.user-css .backtoworld a:hover {
    background: var(--primaryDTransparent);
    box-shadow: 0 0 1px 2px var(--primaryDTransparent);
    color: var(--primary3);
}

/* BLOCKQUOTES */
.user-css blockquote, .user-css-extended blockquote, .user-css-worldmenu blockquote {
    background: var(--primary3Transparent);
    border-color: var(--primaryDTransparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primaryDTransparent);
}

.user-css blockquote .author, .user-css-extended blockquote .author, .user-css-worldmenu blockquote .author {
    color: var(--primaryAMuted);
}

.user-css blockquote small, .user-css-extended blockquote small, .user-css blockquote .author small, .user-css-extended blockquote .author small {
    color: var(--primary8Muted);
}

/* ALERTS */
.user-css .alert, .user-css-extended .alert {
    background-color: var(--default3Transparent);
    border-color: var(--default9Transparent);
    color: var(--defaultDMuted);
    box-shadow: 0 0 2px 2px var(--default9Transparent);
}

.user-css .alert h5:first-child, .user-css-extended .alert h5:first-child {
    color: var(--defaultDMuted);
}

.user-css .alert-primary, .user-css-extended .alert-primary {
    background-color: var(--primary3Transparent);
    border-color: var(--primary9Transparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primary9Transparent);
}

.user-css .alert-primary h5:first-child, .user-css-extended .alert-primary h5:first-child {
    color: var(--primaryDMuted);
}

.user-css .alert-secondary, .user-css-extended .alert-secondary {
    background-color: var(--accent3Transparent);
    border-color: var(--accent9Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accent9Transparent);
}

.user-css .alert-secondary h5:first-child, .user-css-extended .alert-secondary h5:first-child {
    color: var(--accentDMuted);
}

/* ALOUD */
.user-css .aloud {
    background: var(--accent5Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

/* ARTICLE PANEL */
.user-css .article-panel, .user-css-extended .article-panel {
    background-color: var(--accent3Transparent);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

.user-css .article-panel .details .heading, .user-css-extended .article-panel .details .heading {
    color: var(--primaryC);
}

.user-css .article-panel .details .subheading, .user-css-extended .article-panel .details .subheading {
    color: var(--primary8);
}

.user-css .article-panel .details .subheading .date, .user-css-extended .article-panel .details .subheading .date {
    color: var(--accent8Muted);
}

.user-css .article-panel .details .excerpt, .user-css-extended .article-panel .details .excerpt {
    color: var(--accentDMuted);
}

.user-css .article-panel:hover, .user-css-extended .article-panel:hover {
    background-color: var(--primary5Transparent);
    box-shadow: 0 0 2px 2px var(--primaryDTransparent);
}

.user-css .article-panel:hover .details .excerpt, .user-css-extended .article-panel:hover .details .excerpt {
    color: var(--primaryDMuted);
}

/* BREADCRUMB */
.user-css .breadcrumb {
	background: var(--accent5Transparent);
	color: var(--accentAMuted);
	box-shadow: 0 0 2px 2px var(--accent5Transparent);
}

.user-css .breadcrumb li .active {
	color: var(--accentA);
}

/* BUTTONS */
.user-css .btn-primary, .user-css-extended .btn-primary {
    color: var(--primaryDMuted) !important;
    background: var(--primaryATransparent);
}

.user-css .btn-primary:hover, .user-css-extended .btn-primary:hover {
    color: var(--primary3Muted) !important;
    background: var(--primaryDTransparent);
}

/* COMMENT BOX */
.user-css-extended .comment-box {
    background-color: var(--default3Transparent);
    box-shadow: 0 0 2px 2px var(--defaultATransparent);
}

/* NAV */
.user-css .nav-tabs li a, .user-css-extended .nav-tabs li a {
    background: var(--accentATransparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 1px 1px var(--accentATransparent);
}

.user-css .nav-tabs li a:hover, .user-css-extended .nav-tabs li a:hover {
    background: var(--primaryATransparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 1px 1px var(--primaryATransparent);
}

.user-css .nav-tabs li.active a, .user-css-extended .nav-tabs li.active a {
    background: var(--primaryD);
    border-color: var(--primaryD);
    color: var(--primary3Muted);
    box-shadow: 0 0 1px 1px var(--primaryDTransparent);
}

.user-css .menu-control, .user-css-extended .menu-control {
    background-color: var(--primaryATransparent);
    color: var(--primaryD);
    box-shadow: 0 0 1px 2px var(--primaryATransparent);
}

.user-css .menu-control:hover, .user-css-extended .menu-control:hover {
    background-color: var(--primaryDTransparent);
    color: var(--primary3);
    box-shadow: 0 0 1px 2px var(--primaryDTransparent);
}

.user-css .nav-strip {
    background: var(--primary3Transparent);
    color: var(--primaryD);
    box-shadow: 0 0 2px 1px var(--primary3Transparent);
}

/* PANELS */
.user-css .panel, .user-css-extended .panel {
    background-color: var(--default3Transparent);
    border-color: var(--defaultATransparent);
    color: var(--defaultDMuted);
    box-shadow: 0 0 2px 2px var(--defaultATransparent);
}

.user-css .panel .panel-heading, .user-css-extended .panel .panel-heading {
    background-color: var(--defaultATransparent);
}

.user-css .panel .panel-heading h3, .user-css-extended .panel .panel-heading h3 {
    color: var(--defaultDMuted);
}

.user-css .panel .panel-heading small, .user-css-extended .panel .panel-heading small, .user-css .panel .panel-heading .text-Muted, .user-css-extended .panel .panel-heading .text-Muted {
    color: var(--defaultBMuted);
}

.user-css .panel-default, .user-css-extended .panel-default {
    background-color: var(--accent3Transparent);
    border-color: var(--accentATransparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

.user-css .panel-default .panel-heading, .user-css-extended .panel-default .panel-heading {
    background-color: var(--accentATransparent);
}

.user-css .panel-default .panel-heading h3, .user-css-extended .panel-default .panel-heading h3 {
    color: var(--accentDMuted);
}

.user-css .panel-default .panel-heading small, .user-css-extended .panel-default .panel-heading small, .user-css .panel-default .panel-heading .text-Muted, .user-css-extended .panel-default .panel-heading .text-Muted {
    color: var(--accentBMuted);
}

.user-css .panel-primary, .user-css-extended .panel-primary {
    background-color: var(--primary3Transparent);
    border-color: var(--primaryATransparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primaryATransparent);
}

.user-css .panel-primary .panel-heading, .user-css-extended .panel-primary .panel-heading {
    background-color: var(--primaryATransparent);
}

.user-css .panel-primary .panel-heading h3, .user-css-extended .panel-primary .panel-heading h3 {
    color: var(--primaryDMuted);
}

.user-css .panel-primary .panel-heading small, .user-css-extended .panel-primary .panel-heading small, .user-css .panel-primary .panel-heading .text-Muted, .user-css-extended .panel-primary .panel-heading .text-Muted {
    color: var(--primaryBMuted);
}

/* RELATIONS */
.user-css .relation {
    border-top-color: var(--accentA);
}

.user-css .relation .relationScore {
    background: var(--primary5Transparent);
    box-shadow: 0 0 1px 1px var(--primary5Transparent);
}

/* ROW BORDER GROUP */
.user-css .row-border-group .user-row .col-md-6 {
    border-color: var(--defaultA);
}

.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:after,
.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:before,
.user-css .row-border-group .user-row:first-child .col-md-6:first-child:before,
.user-css .row-border-group .user-row:last-child .col-md-6:first-child:before {
    background-image: linear-gradient(to right, var(--defaultAFullTransparent), var(--defaultA));
}

.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:after,
.user-css .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:before,
.user-css .row-border-group .user-row:first-child .col-md-6:last-child:before,
.user-css .row-border-group .user-row:last-child .col-md-6:last-child:before {
    background-image: linear-gradient(to left, var(--defaultAFullTransparent), var(--defaultA));
}

.user-css .row-border-group .user-row:first-child .col-md-6:first-child:after,
.user-css .row-border-group .user-row:first-child .col-md-6:last-child:after {
    background-image: linear-gradient(to bottom, var(--defaultAFullTransparent), var(--defaultA));
}

.user-css .row-border-group .user-row:last-child .col-md-6:first-child:after,
.user-css .row-border-group .user-row:last-child .col-md-6:last-child:after {
    background-image: linear-gradient(to top, var(--defaultAFullTransparent), var(--defaultA));
}

.user-css .row-border-group .user-row:only-child .col-md-6:first-child:after,
.user-css .row-border-group .user-row:only-child .col-md-6:last-child:after {
    background-image: linear-gradient(to top, var(--defaultAFullTransparent), var(--defaultA), var(--defaultAFullTransparent));
}

/* SPOILERS */
.user-css .spoiler-content, .user-css-extended .spoiler-content {
    background-color: var(--accent3Transparent);
    border-color: var(--accentATransparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

/* TABLES */
.user-css .table {
    box-shadow: 0 0 2px 2px var(--default5Transparent);
}

.user-css .table tr td {
    background: var(--default3Transparent);
    color: var(--defaultDMuted);
}

.user-css .table tr th {
    background: var(--primary5Transparent);
    color: var(--primaryDMuted);
}

.user-css .table-striped tr:nth-child(odd) td {
    background: var(--accent4Transparent);
    color: var(--accentDMuted);
}

.user-css .table tr:hover td {
    background: var(--accentATransparent);
    color: var(--accentDMuted);
}

/* TAGS */
.user-css .tag, .user-css-extended .tag {
    background: var(--primaryATransparent);
    color: var(--primaryDMuted);
}

.user-css .tag:hover, .user-css-extended .tag:hover {
    background: var(--primaryDTransparent);
    color: var(--primary3Muted);
}

/* TEXT */
.user-css .text-primary, .user-css-extended .text-primary {
    color: var(--primaryA);
}

.user-css .text-secondary, .user-css-extended .text-secondary {
    color: var(--accentA);
}

.user-css .artist-credits {
    background: var(--primary3Transparent);
    color: var(--primaryDMuted);
}

/* TIMELINES */
.user-css .timeline:before, .user-css-extended .timeline:before {
    background: var(--accentA);
    box-shadow: 0 0 2px 1px var(--accentA);
}

.user-css .timeline li .tl-circ, .user-css-extended .timeline li .tl-circ {
    background: var(--accent2);
    border-color: var(--accentA);
    box-shadow: 0 0 2px 1px var(--accentA);
}

.user-css .timeline li .timeline-panel, .user-css-extended .timeline li .timeline-panel {
    background: var(--accent3Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accent3Transparent);
}

.user-css .timeline li .timeline-panel:before, .user-css-extended .timeline li .timeline-panel:before, .user-css .timeline li .timeline-panel:after, .user-css-extended .timeline li .timeline-panel:after {
    border-left-color: var(--accentA);
    border-right-color: var(--accentA);
}

.user-css .timeline li .timeline-panel .header-icon, .user-css-extended .timeline li .timeline-panel .header-icon {
    border-color: var(--accentA);
    color: var(--accentA);
    background: var(--accent1);
}

.user-css .timeline li .timeline-panel h4, .user-css-extended .timeline li .timeline-panel h4 {
    color: var(--accentA);
}

.user-css .timeline li .timeline-panel h4 small, .user-css-extended .timeline li .timeline-panel h4 small {
    color: var(--accent9);
}

/* TOOLTIPS */
.user-css .tooltip.top .tooltip-arrow, .user-css-extended .tooltip.top .tooltip-arrow {
    border-top-color: var(--primaryA);
}

.user-css .tooltip.left .tooltip-arrow, .user-css-extended .tooltip.left .tooltip-arrow {
    border-left-color: var(--primaryA);
}

.user-css .tooltip.bottom .tooltip-arrow, .user-css-extended .tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--primaryA);
}

.user-css .tooltip.right .tooltip-arrow, .user-css-extended .tooltip.right .tooltip-arrow {
    border-right-color: var(--primaryA);
}

.user-css .tooltip .tooltip-inner, .user-css-extended .tooltip .tooltip-inner {
    background: var(--primary1);
    border-color: var(--primaryA);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primaryATransparent);
}

/* CODE/PRE */
.user-css code, .user-css-extended code, .user-css pre, .user-css-extended pre, .user-css .panel code, .user-css-extended .panel pre {
    background-color: var(--defaultDMuted);
    color: var(--default2Muted);
}

.user-css blockquote code, .user-css-extended blockquote code, .user-css blockquote pre, .user-css-extended blockquote pre, .user-css .panel-primary code, .user-css-extended .panel-primary code, .user-css .panel-primary pre, .user-css-extended .panel-primary pre {
    background-color: var(--primaryE);
    color: var(--primary1Muted);
}

.user-css .panel-default code, .user-css-extended .panel-default code, .user-css .panel-default pre, .user-css-extended .panel-default pre {
    background-color: var(--accentE);
    color: var(--accent1Muted);
}

/* SMALL/TEXT_Muted */
.user-css small, .user-css-extended small, .user-css .text-Muted, .user-css-extended .text-Muted {
    color: var(--default8Muted);
}

.user-css .panel-default small, .user-css-extended .panel-default small, .user-css .panel-default .text-Muted, .user-css-extended .panel-default .text-Muted, .user-css .spoiler-content small, .user-css-extended .spoiler-content small, .user-css .spoiler-content .text-Muted, .user-css-extended .spoiler-content .text-Muted {
    color: var(--accent8Muted);
}

.user-css .panel-primary small, .user-css-extended .panel-primary small, .user-css .panel-primary .text-Muted, .user-css-extended .panel-primary .text-Muted {
    color: var(--primary8Muted);
}

/* WELLS */
.user-css .well, .user-css-extended .well {
    background-color: var(--accent5Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

/* FORM INPUTS */
.user-css textarea, .user-css-extended textarea, .user-css .typeahead-input, .user-css-extended .typeahead-input {
    background-color: var(--accent5Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accent5Transparent);
}

    box-shadow: 0 0 2px 2px var(--accentDTransparent);
.user-css textarea:focus, .user-css-extended textarea:focus, .user-css .typeahead-input:focus, .user-css-extended .typeahead-input:focus {
.user-css .btn-link, .user-css-extended .btn-link {
	color: var(--accentA);
}

.user-css .btn-link:hover, .user-css-extended .btn-link:hover {
	color: var(--accentD);
}


/* HARDCODED COLORS */
/* ALERTS */
.user-css .alert-success, .user-css-extended .alert-success {
    background-color: rgba(0, 66, 0, 0.5);
    border-color: rgba(0, 201, 0, 0.5);
    color: #DCEADC;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 201, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 201, 0, 0.5);
}

.user-css .alert-success h5:first-child, .user-css-extended .alert-success h5:first-child {
    color: #DCEADC;
}

.user-css .alert-info, .user-css-extended .alert-info {
    background-color: rgba(0, 66, 66, 0.5);
    border-color: rgba(0, 201, 201, 0.5);
    color: #DCEAEA;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 201, 201, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 201, 201, 0.5);
}

.user-css .alert-info h5:first-child, .user-css-extended .alert-info h5:first-child {
    color: #DCEAEA;
}

.user-css .alert-warning, .user-css-extended .alert-warning {
    background-color: rgba(66, 66, 0, 0.5);
    border-color: rgba(201, 201, 0, 0.5);
    color: #EAEADC;
    -webkit-box-shadow: 0 0 2px 2px rgba(201, 201, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(201, 201, 0, 0.5);
}

.user-css .alert-warning h5:first-child, .user-css-extended .alert-warning h5:first-child {
    color: #EAEADC;
}

.user-css .alert-danger, .user-css-extended .alert-danger {
    background-color: rgba(66, 0, 0, 0.5);
    border-color: rgba(201, 0, 0, 0.5);
    color: #EADCDC;
    -webkit-box-shadow: 0 0 2px 2px rgba(201, 0, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(201, 0, 0, 0.5);
}

.user-css .alert-danger h5:first-child, .user-css-extended .alert-danger h5:first-child {
    color: #EADCDC;
}

/* BUTTONS */
.user-css .btn-danger, .user-css-extended .btn-danger {
    color: #eddddd !important;
    background: rgba(202, 0, 0, 0.5);
}

.user-css .btn-danger:hover, .user-css-extended .btn-danger:hover {
    color: #430000 !important;
    background: rgba(237, 221, 221, 0.5);
}

/* SECRETS */
.user-css-secret {
    background-color: rgba(67, 0, 0, 0.5);
    color: #eddddd;
    -webkit-box-shadow: 0 0 2px 2px rgba(67, 0, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(67, 0, 0, 0.5);
}

.user-css-secret h5 {
    color: #caaaaa;
}

/* TIMELINES */
.user-css .timeline li.important .tl-circ, .user-css-extended .timeline li.important .tl-circ {
    background: #211911;
    border-color: #caca55;
    box-shadow: 0 0 2px 1px #caca55;
}

.user-css .timeline li.major .tl-circ, .user-css-extended .timeline li.major .tl-circ {
    background: #211111;
    border-color: #ca5555;
    box-shadow: 0 0 2px 1px #ca5555;
}

.user-css .timeline li.minor .tl-circ, .user-css-extended .timeline li.minor .tl-circ {
    background: #112111;
    border-color: #55ca55;
    box-shadow: 0 0 2px 1px #55ca55;
}

.user-css .timeline li.trivial .tl-circ, .user-css-extended .timeline li.trivial .tl-circ {
    background: #112121;
    border-color: #55caca;
    box-shadow: 0 0 2px 1px #55caca;
}

.user-css .timeline li.important .timeline-panel:before, .user-css-extended .timeline li.important .timeline-panel:before, .user-css .timeline li.important .timeline-panel:after, .user-css-extended .timeline li.important .timeline-panel:after {
    border-left-color: #caca55;
    border-right-color: #caca55;
}

.user-css .timeline li.major .timeline-panel:before, .user-css-extended .timeline li.major .timeline-panel:before, .user-css .timeline li.major .timeline-panel:after, .user-css-extended .timeline li.major .timeline-panel:after {
    border-left-color: #ca5555;
    border-right-color: #ca5555;
}

.user-css .timeline li.minor .timeline-panel:before, .user-css-extended .timeline li.minor .timeline-panel:before, .user-css .timeline li.minor .timeline-panel:after, .user-css-extended .timeline li.minor .timeline-panel:after {
    border-left-color: #55ca55;
    border-right-color: #55ca55;
}

.user-css .timeline li.trivial .timeline-panel:before, .user-css-extended .timeline li.trivial .timeline-panel:before, .user-css .timeline li.trivial .timeline-panel:after, .user-css-extended .timeline li.trivial .timeline-panel:after {
    border-left-color: #55caca;
    border-right-color: #55caca;
}

.user-css .timeline li.important .timeline-panel, .user-css-extended .timeline li.important .timeline-panel {
    border-top-color: #caca55;
    /* box-shadow: 0 0 2px 2px rgba(67, 59, 0, 0.5); */
    /* background: rgba(67, 59, 0, 0.5); */
    /* color: #ede5dd; */
}

.user-css .timeline li.important .timeline-panel .header-icon, .user-css-extended .timeline li.important .timeline-panel .header-icon {
    border-color: #caca55;
    color: #caca55;
    background: #211911;
}

.user-css .timeline li.important .timeline-panel h4, .user-css-extended .timeline li.important .timeline-panel h4 {
    /* color: #cabaaa; */
}

.user-css .timeline li.important .timeline-panel h4 small, .user-css-extended .timeline li.important .timeline-panel h4 small {
    /* color: #a9a199; */
}

.user-css .timeline li.major .timeline-panel, .user-css-extended .timeline li.major .timeline-panel {
    border-top-color: #ca5555;
    /* box-shadow: 0 0 2px 2px rgba(67, 0, 0, 0.5); */
    /* background: rgba(67, 0, 0, 0.5); */
    /* color: #eddddd; */
}

.user-css .timeline li.major .timeline-panel .header-icon, .user-css-extended .timeline li.major .timeline-panel .header-icon {
    border-color: #ca5555;
    color: #ca5555;
    background: #211111;
}

.user-css .timeline li.major .timeline-panel h4, .user-css-extended .timeline li.major .timeline-panel h4 {
    /* color: #caaaaa; */
}

.user-css .timeline li.major .timeline-panel h4 small, .user-css-extended .timeline li.major .timeline-panel h4 small {
    /* color: #a99999; */
}

.user-css .timeline li.minor .timeline-panel, .user-css-extended .timeline li.minor .timeline-panel {
    border-top-color: #55ca55;
    /* box-shadow: 0 0 2px 2px rgba(0, 67, 0, 0.5); */
    /* background: rgba(0, 67, 0, 0.5); */
    /* color: #ddeddd; */
}

.user-css .timeline li.minor .timeline-panel .header-icon, .user-css-extended .timeline li.minor .timeline-panel .header-icon {
    border-color: #55ca55;
    color: #55ca55;
    background: #112111;
}

.user-css .timeline li.minor .timeline-panel h4, .user-css-extended .timeline li.minor .timeline-panel h4 {
    /* color: #aacaaa; */
}

.user-css .timeline li.minor .timeline-panel h4 small, .user-css-extended .timeline li.minor .timeline-panel h4 small {
    /* color: #99a999; */
}

.user-css .timeline li.trivial .timeline-panel, .user-css-extended .timeline li.trivial .timeline-panel {
    border-top-color: #55caca;
    /* box-shadow: 0 0 2px 2px rgba(0, 67, 67, 0.5); */
    /* background: rgba(0, 67, 67, 0.5); */
    /* color: #ddeded; */
}

.user-css .timeline li.trivial .timeline-panel .header-icon, .user-css-extended .timeline li.trivial .timeline-panel .header-icon {
    border-color: #55caca;
    color: #55caca;
    background: #112121;
}

.user-css .timeline li.trivial .timeline-panel h4, .user-css-extended .timeline li.trivial .timeline-panel h4 {
    /* color: #aacaca; */
}

.user-css .timeline li.trivial .timeline-panel h4 small, .user-css-extended .timeline li.trivial .timeline-panel h4 small {
    /* color: #99a9a9; */
}

.user-css .timeline li.timeline-entry-milestone, .user-css-extended .timeline li.timeline-entry-milestone {
    border-color: #aaaaaa;
    background: #333333;
    box-shadow: 0 0 2px 2px #333333;
}

.user-css .timeline li.timeline-entry-milestone .milestone-panel, .user-css-extended .timeline li.timeline-entry-milestone .milestone-panel {
    color: #dddddd;
}

.user-css .timeline li.timeline-entry-milestone .milestone-panel .header-icon, .user-css-extended .timeline li.timeline-entry-milestone .milestone-panel .header-icon {
    border-color: #aaaaaa;
    color: #aaaaaa;
    background: #111111;
}

.user-css .timeline li.timeline-entry-milestone .milestone-panel h4, .user-css-extended .timeline li.timeline-entry-milestone .milestone-panel h4 {
    color: #aaaaaa;
}

.user-css .timeline li.timeline-entry-milestone .milestone-panel h4 small, .user-css-extended .timeline li.timeline-entry-milestone .milestone-panel h4 small {
    color: #999999;
}

/* TEXT */
.user-css .text-success, .user-css-extended .text-success {
    color: #55CA55;
}

.user-css .text-warning, .user-css-extended .text-warning {
    color: #caca55;
}

.user-css .text-info, .user-css-extended .text-info {
    color: #55caca;
}

.user-css .text-danger, .user-css-extended .text-danger {
    color: #ca5555;
}

/* Color Theme: Default (WA public) */
.article-ad9a6163-6cae-4cce-aca2-1273a8c2f379 {
    /* Default Color: Yellow-Green (Hue 65) */
    --default1: #1D1E0F;
    --default2: #2F3020;
    --default3: #414233;
    --default4: #505142;
    --default5: #626354;
    --default6: #747566;
    --default7: #838476;
    --default8: #959687;
    --default9: #A7A899;
    --defaultA: #B6B7A8;
    --defaultB: #C8C9BB;
    --defaultC: #DADBCB;
    --defaultD: #E9EADC;
    --defaultE: #FBFCED;

    --default1Muted: #1D1E0F;
    --default2Muted: #2F3020;
    --default3Muted: #414233;
    --default4Muted: #505142;
    --default5Muted: #626354;
    --default6Muted: #747566;
    --default7Muted: #838476;
    --default8Muted: #959687;
    --default9Muted: #A7A899;
    --defaultAMuted: #B6B7A8;
    --defaultBMuted: #C8C9BB;
    --defaultCMuted: #DADBCB;
    --defaultDMuted: #E9EADC;
    --defaultEMuted: #FBFCED;

    --default1Transparent: rgba(29, 30, 15, 0.5);
    --default2Transparent: rgba(47, 48, 32, 0.5);
    --default3Transparent: rgba(65, 66, 51, 0.5);
    --default4Transparent: rgba(80, 81, 66, 0.5);
    --default5Transparent: rgba(98, 99, 84, 0.5);
    --default6Transparent: rgba(116, 117, 102, 0.5);
    --default7Transparent: rgba(131, 132, 118, 0.5);
    --default8Transparent: rgba(149, 150, 135, 0.5);
    --default9Transparent: rgba(167, 168, 153, 0.5);
    --defaultATransparent: rgba(182, 183, 168, 0.5);
    --defaultBTransparent: rgba(200, 201, 187, 0.5);
    --defaultCTransparent: rgba(218, 219, 203, 0.5);
    --defaultDTransparent: rgba(233, 234, 220, 0.5);
    --defaultETransparent: rgba(251, 252, 237, 0.5);

    /* Primary Color: Red-Orange (Hue 10, Sat 100) */
    --primary1: #1C0500;
    --primary2: #2D0800;
    --primary3: #3F0700;
    --primary4: #4F0900;
    --primary5: #601300;
    --primary6: #720D00;
    --primary7: #821100;
    --primary8: #931100;
    --primary9: #A51300;
    --primaryA: #B52100;
    --primaryB: #C61A00;
    --primaryC: #D82700;
    --primaryD: #E52200;
    --primaryE: #F91D00;

    --primary1Muted: #1E120F;
    --primary2Muted: #302320;
    --primary3Muted: #423533;
    --primary4Muted: #514442;
    --primary5Muted: #635754;
    --primary6Muted: #756866;
    --primary7Muted: #847876;
    --primary8Muted: #968987;
    --primary9Muted: #A89B99;
    --primaryAMuted: #B7ABA8;
    --primaryBMuted: #C9BDBB;
    --primaryCMuted: #DBCECB;
    --primaryDMuted: #E8DEDC;
    --primaryEMuted: #FCEFED;

    --primary1Transparent: rgba(28, 5, 0, 0.5);
    --primary2Transparent: rgba(45, 8, 0, 0.5);
    --primary3Transparent: rgba(63, 7, 0, 0.5);
    --primary4Transparent: rgba(79, 9, 0, 0.5);
    --primary5Transparent: rgba(96, 19, 0, 0.5);
    --primary6Transparent: rgba(114, 13, 0, 0.5);
    --primary7Transparent: rgba(130, 17, 0, 0.5);
    --primary8Transparent: rgba(147, 17, 0, 0.5);
    --primary9Transparent: rgba(165, 19, 0, 0.5);
    --primaryATransparent: rgba(181, 33, 0, 0.5);
    --primaryBTransparent: rgba(198, 26, 0, 0.5);
    --primaryCTransparent: rgba(219, 39, 0, 0.5);
    --primaryDTransparent: rgba(229, 34, 0, 0.5);
    --primaryETransparent: rgba(249, 29, 0, 0.5);

    /* Accent Color: Teal (Hue 186) */
    --accent1: #0F1D1E;
    --accent2: #202F30;
    --accent3: #334142;
    --accent4: #425051;
    --accent5: #546263;
    --accent6: #667475;
    --accent7: #768384;
    --accent8: #879596;
    --accent9: #99A7A8;
    --accentA: #A8B6B7;
    --accentB: #BBC8C9;
    --accentC: #CBDADB;
    --accentD: #DCE9EA;
    --accentE: #EDFBFC;

    --accent1Muted: #0F1D1E;
    --accent2Muted: #202F30;
    --accent3Muted: #334142;
    --accent4Muted: #425051;
    --accent5Muted: #546263;
    --accent6Muted: #667475;
    --accent7Muted: #768384;
    --accent8Muted: #879596;
    --accent9Muted: #99A7A8;
    --accentAMuted: #A8B6B7;
    --accentBMuted: #BBC8C9;
    --accentCMuted: #CBDADB;
    --accentDMuted: #DCE9EA;
    --accentEMuted: #EDFBFC;

    --accent1Transparent: rgba(15, 29, 30, 0.5);
    --accent2Transparent: rgba(32, 47, 48, 0.5);
    --accent3Transparent: rgba(51, 65, 66, 0.5);
    --accent4Transparent: rgba(66, 80, 81, 0.5);
    --accent5Transparent: rgba(84, 98, 99, 0.5);
    --accent6Transparent: rgba(102, 116, 117, 0.5);
    --accent7Transparent: rgba(118, 131, 132, 0.5);
    --accent8Transparent: rgba(135, 149, 150, 0.5);
    --accent9Transparent: rgba(153, 167, 168, 0.5);
    --accentATransparent: rgba(168, 182, 183, 0.5);
    --accentBTransparent: rgba(187, 200, 201, 0.5);
    --accentCTransparent: rgba(203, 218, 219, 0.5);
    --accentDTransparent: rgba(220, 233, 234, 0.5);
    --accentETransparent: rgba(237, 251, 252, 0.5);

    /* Specialty Colors */
    --midPrimaryAccentA: #AF6C5C; /* Used for h3 */
    --midPrimaryAccent8: #8D534B; /* Used for h3 small */
    --midDefaultAccentA: #AFB7B0; /* Used for h5 */
    --midDefaultAccent8: #9FA69F; /* Used for h5 small */
    --defaultAFullTransparent: rgba(182, 183, 168, 0); /* Used for row border groups */
}