/*
 * GalaxyAnvil - A theme for WorldAnvil, created by SierraKomodo
 * Version 1.2.3
 * https://github.com/SierraKomodo/worldanvil-templates/tree/GalaxyAnvil
 */

/* FONTS */
@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/mina/v1/-nFzOGc18vARnzhp7w.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: IBM Plex Sans Condensed;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexsanscondensed/v2/Gg8lN4UfRSqiPg7Jn2ZI12V4DCEwkj1E4LVeHYapyK4.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* REMOVE BACKGROUND */
#full-layout div.user-css-viewer {
    background: none;
}

/* LAYOUT - MAIN */
.user-css-presentation .page, .user-css-presentation .worldmenu-inner {
    background-image: none;
    font-family: IBM Plex Sans Condensed, sans-serif;
    border: none;
    border-radius: 5px;
}

/* LAYOUT - HTML */
.user-css-presentation a, .user-css-presentation a:focus {
    font-weight: bold;
}

/* I don't know why this is needed but apparently I broke article-panel and need to do this to fix it */
.user-css-presentation .article-panel a {
    display: inline-block;
}

.user-css-presentation b {
    font-weight: bold;
}

.user-css-presentation blockquote {
    border-radius: 4px;
    border-left: 10px solid;
    font-family: IBM Plex Sans Condensed, sans-serif;
    font-size: 16px;
}

.user-css-presentation blockquote .author {
    font-size: 16px;
}

.user-css-presentation code, .user-css-presentation pre {
    border: none;
    border-radius: 2px;
}

.user-css-presentation .panel dl {
    margin-bottom: 0;
}

.user-css-presentation h1, .user-css-presentation h1 a {
    font-size: 42px;
    font-family: Mina, serif;
}

.user-css-presentation h2 {
    font-size: 30px;
    font-family: Mina, serif;
    border-bottom: 1px solid;
    font-weight: 100;
    margin-top: 25px;
}

.user-css-presentation h3 {
    font-family: Mina, serif;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid;
}

.user-css-presentation h4 {
    font-family: Mina, serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}

.user-css-presentation h5 {
    font-family: Mina, serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}

.user-css-presentation h6 {
    font-family: Mina, serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0;
}

.user-css-presentation img {
    border-radius: 5px;
}

.user-css-presentation .user-css-image-thumbnail {
    border-radius: 5px;
    padding: 0;
    margin: 10px;
}

.user-css-presentation .user-css-image-thumbnail img {
    border-radius: 5px 5px 0 0;
}

.user-css-presentation p {
    font-weight: normal;
    line-height: 1.4em;
}

.user-css-presentation textarea, .user-css-presentation .typeahead-input {
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

/* LAYOUT - BOOTSTRAP CLASSES */
.user-css-presentation .alert {
    border-radius: 4px;
    border: none;
    border-left: 34px solid;
    font-size: 13px;
    padding: 5px 10px;
    padding-left: 10px;
    text-align: justify;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 70px;
}

.user-css-presentation .alert h5:first-child {
    padding: 5px 10px;
    margin: 0 0 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.user-css-presentation .btn {
    border: none !important;
    border-radius: 3px;
    margin: 2px 1px;
}

.user-css-presentation .breadcrumb {
    font-size: 80%;
}

.user-css-presentation .breadcrumb li .active {
    font-weight: bold;
    display: inline-block;
}

.user-css-presentation .spoiler-button {
    margin-bottom: 10px;
}

.user-css-presentation .label {
    border: none;
    border-radius: 3px;
}

.user-css-presentation .nav-tabs {
    border: none;
    border-bottom: 1px solid;
}

.user-css-presentation .nav-tabs li a, .user-css-presentation .nav-tabs li a:hover {
    border-radius: 4px 4px 0 0;
    margin: 3px 3px 0 3px;
    border: none;
}

.user-css-presentation .nav-tabs li.active a {
    border: 1px solid;
    border-bottom: none;
}

.user-css-presentation .panel {
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    padding: 3px 5px;
}

.user-css-presentation .panel-heading {
    margin: -3px -5px 10px -5px;
    padding: 13px 20px 10px 20px;
    border: none;
    vertical-align: middle;
}

.user-css-presentation .panel-heading h3 {
    margin-top: 0;
    border: none;
}

.user-css-presentation .table {
    border: none;
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
}

.user-css-presentation .table tr {
    background: transparent !important;
}

.user-css-presentation .table td, .user-css-presentation .table th {
    border: none;
}

.user-css-presentation .well {
    border: none;
    border-radius: 4px;
}

/* LAYOUT - WORLDANVIL CLASSES */
.user-css-presentation .aloud, .user-css-presentation .panel-greatgm {
    border-radius: 4px;
    border: none;
}

.user-css-presentation .artist-credits {
    border-radius: 5px;
}

.user-css-presentation .user-css-image-thumbnail .artist-credits {
    border-radius: 0 0 5px 5px;
}

.user-css-presentation .text-abbreviation {
    text-decoration: underline dashed;
    border: none;
    display: inline-block;
}

.user-css-presentation .article-panel {
    border: none;
    border-radius: 5px;
    padding: 0;
}

.user-css-presentation .article-panel a {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.user-css-presentation .backtoworld a {
    left: -8px;
    border: none;
    border-radius: 0 3px 3px 0;
}

.user-css-presentation .comment-box {
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user-css-presentation .comment-box p {
    font-size: 1.2em;
}

.user-css-presentation .cover, .user-css-presentation .cover img {
    border-radius: 5px 5px 0 0;
}

.user-css-presentation .dropcap {
    font-family: Mina, serif;
}

.user-css-presentation .map-box {
    border-radius: 5px;
    padding: 0;
    margin: 10px;
}

.user-css-presentation .map-box img {
    border-radius: 5px 5px 0 0;
}

.user-css-presentation .map-box div {
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

.user-css-presentation .map-box div p:last-child {
    margin: 0;
}

.user-css-presentation .menu-control {
    border: none;
    background-image: none;
    border-radius: 0 0 3px 3px;
    padding: 4px 0 0 0;
    height: 32px;
}

.user-css-presentation .phrase-key {
    display: block;
    padding-top: 10px;
}

.user-css-presentation .relation:first-child {
    border-top: none;
}

.user-css-presentation .relation .relationScore {
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
}

.user-css-secret {
    border: none;
    border-radius: 5px;
}

.user-css-secret .spoiler-content {
    background: transparent;
    border: none;
    color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.user-css-presentation .statblock {
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    padding: 3px 5px;
}

/* Temporary hotfix for character shete readability */
.user-css-presentation .character-sheet {
    color: black;
}

.user-css-presentation .label {
    font-weight: normal;
    font-size: 11px;
}

.user-css-presentation  .label.tag:hover {
    font-weight: normal;
    border: none;
    border-radius: 3px;
}

.user-css-presentation .timeline li .timeline-panel {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 8px solid;
    border-radius: 4px;
}

.user-css-presentation .timeline li .timeline-panel .header-icon {
    padding: 12.5px;
}

.user-css-presentation .tooltip {
    opacity: 1 !important;
}

.user-css-presentation .tooltip .tooltip-inner {
    border: none;
    border-radius: 4px;
}

.user-css-presentation .user-box {
    padding: 8px;
    height: 76px;
}

.user-css-presentation .page-image .image-block p {
    font-size: inherit;
    color: inherit;
}

.user-css-presentation .page-image .artist-credits {
    font-size: inherit;
}

.user-css-presentation .page-image img {
    margin-left: auto;
    margin-right: auto;
}

/* LAYOUT - CUSTOM CLASSES */
.user-css-presentation .block {
    display: block;
}

.user-css-presentation .glossary-block {
    display: flex;
    flex-flow: row wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    text-align: center;
}

.user-css-presentation .glossary-block .article-panel {
    flex-basis: 33.3%;
    margin-left: 7.5px;
    margin-right: 7.5px;
    flex: 0 1 calc(33.3% - 15px);
}

.user-css-presentation .glossary-block .article-panel a {
    height: 100%;
}

.user-css-presentation .glossary-block .article-panel .cover {
    /* display: none; */
    min-height: 100px;
}

.user-css-presentation .row-border-group .user-row {
    display: flex;
}

.user-css-presentation .row-border-group .user-row .col-md-6 {
    border-left: 1px solid;
    border-right: 1px solid;
}

.user-css-presentation .row-border-group .user-row .col-md-4 {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.user-css-presentation .row-border-group .user-row .col-md-6:first-child {
    border-left: none;
}

.user-css-presentation .row-border-group .user-row .col-md-6:last-child {
    border-right: none;
}

.user-css-presentation .row-border-group .user-row:first-child .col-md-6,
.user-css-presentation .row-border-group .user-row:last-child .col-md-6,
.user-css-presentation .row-border-group .user-row .col-md-12 {
    border: none;
}

.user-css-presentation .row-border-group .user-row .col-md-4:first-child {
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.user-css-presentation .row-border-group .user-row .col-md-4:last-child {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.user-css-presentation .row-border-group .user-row:first-child .col-md-4 {
    border-top: none;
    border-left: none;
    border-right: none;
}

.user-css-presentation .row-border-group .user-row:last-child .col-md-4 {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.user-css-presentation .row-border-group .user-row .col-md-6:after, .user-css-presentation .row-border-group .user-row .col-md-6:before,
.user-css-presentation .row-border-group .user-row .col-md-4:after, .user-css-presentation .row-border-group .user-row .col-md-4:before,
.user-css-presentation .row-border-group .user-row .col-md-12:after
{
    content: url(https://www.worldanvil.com/uploads/images/d4222ca4f7e45bb789519bd04deb8449.gif);
    position: absolute;
}

.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:after, /* 2-col Middle left cell, top border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:after, /* 2-col Middle right cell, top border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-6:first-child:before, /* 2-col Bottom left cell, top border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-6:last-child:before, /* 2-col Bottom right cell, top border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:first-child:after, /* 3-col Middle left cell, top border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:last-child:after, /* 3-col Middle right cell, top border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:first-child:before, /* 3-col Bottom left cell, top border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:last-child:before, /* 3-col Bottom right cell, top border */
.user-css-presentation .row-border-group .user-row:not(:first-child) .col-md-12:after /* 1-col bottom cells, top border */
{
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
}

.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:before, /* 2-col Middle left cell, bottom border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:before, /* 2-col Middle right cell, bottom border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-6:first-child:before, /* 2-col Top left cell, bottom border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-6:last-child:before, /* 2-col Top right cell, bottom border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:first-child:before, /* 3-col Middle left cell, bottom border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:last-child:before, /* 3-col Middle right cell, bottom border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:first-child:before, /* 3-col Top left cell, bottom border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:last-child:before, /* 3-col Top right cell, bottom border */
.user-css-presentation .row-border-group .user-row:not(:last-child) .col-md-12:after /* 1-col upper cells, bottom border */
{
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
}

.user-css-presentation .row-border-group .user-row:first-child .col-md-6:first-child:after, /* 2-col Top left cell, right border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-6:first-child:after, /* 2-col Bottom left cell, right border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:not(:first-child):not(:last-child):before, /* 3-col Top middle cell, right border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:not(:first-child):not(:last-child):before, /* 3-col Bottom middle cell, right border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:first-child:after, /* 3-col Top left cell, right border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:first-child:after /* 3-col Bottom left cell, right border */
{
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
}

.user-css-presentation .row-border-group .user-row:first-child .col-md-6:last-child:after, /* 2-col Top right cell, left border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-6:last-child:after, /* 2-col Bottom right cell, left border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:not(:first-child):not(:last-child):after, /* 3-col Top middle cell, left border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:not(:first-child):not(:last-child):after, /* 3-col Bottom middle cell, left border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:last-child:after, /* 3-col Top right cell, left border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:last-child:after /* 3-col Bottom right cell, left border */
{
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
}

.user-css-presentation .row-border-group .user-row:only-child .col-md-6:first-child:after, /* 2-col Single row left cell, right border */
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:first-child:after, /* 3-col Single row left cell, right border */
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:not(:first-child):not(:last-child):after /* 3-col Single row middle cell, right border */
{
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
}

.user-css-presentation .row-border-group .user-row:only-child .col-md-6:last-child:after, /* 2-col Single row right cell, left border */
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:last-child:after, /* 3-col Single row right cell, left border */
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:not(:first-child):not(:last-child):before /* 3-col Single row middle cell, left border */
{
    left: 0;
    right: auto;
    top: 0;
    bottom: 0;
    width: 1px;
}

.user-css-presentation .row-border-group .user-row:only-child .col-md-6:first-child:before,
.user-css-presentation .row-border-group .user-row:only-child .col-md-6:last-child:before,
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:first-child:before,
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:last-child:before
{
    display: none;
}

/* THEME APPLICATION */
.user-css-presentation {
    background-color: black;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
}

.user-css-presentation .page::after {
    content: url(../images/empty.gif);
    background: var(--default1);
    background: linear-gradient(to right, var(--primary3), var(--accent3), var(--default1), var(--default1), var(--default1), var(--accent3), var(--primary3));
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.user-css-presentation .page, .user-css-presentation .worldmenu-inner {
    background-color: var(--default3Transparent);
    color: var(--defaultDMuted);
    box-shadow: 0 0 11px 2px var(--default3Transparent);
}

.user-css-presentation .worldmenu-inner {
    background-color: var(--primary3Transparent) !important;
    color: var(--primaryDMuted);
    box-shadow: 0 0 11px 2px var(--primary3Transparent);
}

/* HEADINGS */
.user-css-presentation h1, .user-css-presentation h1 a {
    color: var(--primaryA);
    background: linear-gradient(var(--defaultA), var(--primaryA), var(--accentA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-css-presentation h1 small, .user-css-presentation h1 a small, .user-css-presentation h4.article-subheading {
    color: var(--primary8);
    background: linear-gradient(var(--default8), var(--primary8), var(--accent8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-css-presentation h4.article-subheading {
    background: linear-gradient(var(--accent8), var(--primary8), var(--default8));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-css-presentation h2 {
    color: var(--primaryA);
}

.user-css-presentation h2 small {
    color: var(--primary8);
}

.user-css-presentation h3 {
    color: var(--midPrimaryAccentA);
}

.user-css-presentation h3 small {
    color: var(--midPrimaryAccent8);
}

.user-css-presentation h4 {
    color: var(--accentA);
}

.user-css-presentation h4 small {
    color: var(--accent8);
}

.user-css-presentation h5 {
    color: var(--midDefaultAccentA);
}

.user-css-presentation h5 small {
    color: var(--midDefaultAccent8);
}

.user-css-presentation h6 {
    color: var(--defaultA);
}

.user-css-presentation h6 small {
    color: var(--default8);
}

/* HORIZONTAL RULES */
.user-css-presentation hr {
    border-color: var(--accentA);
}

/* LINKS */
.user-css-presentation a, .user-css-presentation a:focus {
    color: var(--primaryD);
}

.user-css-presentation .text-abbreviation {
    color: var(--primaryC);
}

.user-css-presentation a:hover, .user-css-presentation .text-abbreviation:hover {
    color: var(--primaryDMuted);
}

.user-css-presentation .backtoworld a {
    background: var(--primary5Transparent);
    box-shadow: 0 0 1px 2px var(--primary5Transparent);
    color: var(--primaryD);
}

.user-css-presentation .backtoworld a:hover {
    background: var(--primaryDTransparent);
    box-shadow: 0 0 1px 2px var(--primaryDTransparent);
    color: var(--primary3);
}

/* BLOCKQUOTES */
.user-css-presentation blockquote {
    background: var(--primary3Transparent);
    border-color: var(--primaryDTransparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primaryDTransparent);
}

.user-css-presentation blockquote .author {
    color: var(--primaryAMuted);
}

.user-css-presentation blockquote small, .user-css-presentation blockquote .author small {
    color: var(--primary8Muted);
}

/* ALERTS */
.user-css-presentation .alert-default {
    background-color: var(--default3Transparent);
    border-color: var(--default9Transparent);
    color: var(--defaultDMuted);
    box-shadow: 0 0 2px 2px var(--default9Transparent);
}

.user-css-presentation .alert-default h5:first-child {
    color: var(--defaultDMuted);
}

.user-css-presentation .alert-primary {
    background-color: var(--primary3Transparent);
    border-color: var(--primary9Transparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primary9Transparent);
}

.user-css-presentation .alert-primary h5:first-child {
    color: var(--primaryDMuted);
}

.user-css-presentation .alert-secondary {
    background-color: var(--accent3Transparent);
    border-color: var(--accent9Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accent9Transparent);
}

.user-css-presentation .alert-secondary h5:first-child {
    color: var(--accentDMuted);
}

/* ALOUD */
.user-css-presentation .aloud {
    background: var(--default5Transparent);
    color: var(--defaultDMuted);
    box-shadow: 0 0 2px 2px var(--defaultATransparent);
}

/* ARTICLE PANEL */
.user-css-presentation .article-panel {
    background-color: var(--accent3Transparent);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

.user-css-presentation .article-panel .details .heading {
    color: var(--primaryC);
}

.user-css-presentation .article-panel .details .subheading {
    color: var(--primary8);
}

.user-css-presentation .article-panel .details .subheading .date {
    color: var(--accent8Muted);
}

.user-css-presentation .article-panel .details .excerpt {
    color: var(--accentDMuted);
}

.user-css-presentation .article-panel:hover {
    background-color: var(--primary5Transparent);
    box-shadow: 0 0 2px 2px var(--primaryDTransparent);
}

.user-css-presentation .article-panel:hover .details .excerpt {
    color: var(--primaryDMuted);
}

/* BREADCRUMB */
.user-css-presentation .breadcrumb {
    background: var(--accent3Transparent);
    color: var(--accentAMuted);
    box-shadow: 0 0 2px 2px var(--accentDTransparent);
}

.user-css-presentation .breadcrumb li .active {
    color: var(--accentA);
}

/* BUTTONS */
.user-css-presentation .btn-default {
    color: var(--defaultDMuted) !important;
    background: var(--defaultATransparent) !important;
}

.user-css-presentation .btn-default:hover {
    color: var(--defaultEMuted) !important;
    background: var(--defaultDTransparent) !important;
}

.user-css-presentation .btn-primary {
    color: var(--primaryDMuted) !important;
    background: var(--primaryATransparent) !important;
}

.user-css-presentation .btn-primary:hover {
    color: var(--primaryEMuted) !important;
    background: var(--primaryDTransparent) !important;
}

.user-css-presentation .btn-secondary {
    color: var(--accentDMuted) !important;
    background: var(--accentATransparent) !important;
}

.user-css-presentation .btn-secondary:hover {
    color: var(--accentEMuted) !important;
    background: var(--accentDTransparent) !important;
}

.user-css-presentation .btn-link {
    color: var(--primaryD);
}

.user-css-presentation .btn-link:hover {
    color: var(--primaryDMuted);
}

/* COMMENT BOX */
.user-css-presentation .comment-box {
    background-color: var(--default3Transparent);
    box-shadow: 0 0 2px 2px var(--defaultATransparent);
}

/* LABELS */
.user-css-presentation .label-default {
    background: var(--defaultAMuted);
    color: var(--default3Muted);
}

.user-css-presentation a.label-default:hover, .user-css-presentation a .label-default:hover {
    background: var(--defaultDMuted);
    color: var(--default3Muted);
}

.user-css-presentation .label-primary {
    background: var(--primaryAMuted);
    color: var(--primary3Muted);
}

.user-css-presentation a.label-primary:hover, .user-css-presentation a .label-primary:hover {
    background: var(--primaryDMuted);
    color: var(--primary3Muted);
}

.user-css-presentation .label-secondary {
    background: var(--accentAMuted);
    color: var(--accent3Muted);
}

.user-css-presentation a.label-secondary:hover, .user-css-presentation a .label-secondary:hover {
    background: var(--accentDMuted);
    color: var(--accent3Muted);
}

.user-css-presentation .label-info {
    background: #aababa;
    color: #334343;
}

.user-css-presentation a.label-info:hover, .user-css-presentation a .label-info:hover {
    background: #eeeded;
    color: #334343;
}

.user-css-presentation .label-success {
    background: #aabaaa;
    color: #334333;
}

.user-css-presentation a.label-success:hover, .user-css-presentation a .label-success:hover {
    background: #eeedee;
    color: #334333;
}

.user-css-presentation .label-warning {
    background: #babaaa;
    color: #434333;
}

.user-css-presentation a.label-warning:hover, .user-css-presentation a .label-warning:hover {
    background: #ededee;
    color: #434333;
}

.user-css-presentation .label-danger {
    background: #baaaaa;
    color: #433333;
}

.user-css-presentation a.label-danger:hover, .user-css-presentation a .label-danger:hover {
    background: #edeeee;
    color: #433333;
}

/* NAV */
.user-css-presentation .nav-tabs li a {
    background: var(--accentATransparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 1px 1px var(--accentATransparent);
}

.user-css-presentation .nav-tabs li a:hover {
    background: var(--primaryATransparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 1px 1px var(--primaryATransparent);
}

.user-css-presentation .nav-tabs li.active a {
    background: var(--primaryD);
    border-color: var(--primaryD);
    color: var(--primary3Muted);
    box-shadow: 0 0 1px 1px var(--primaryDTransparent);
}

.user-css-presentation .menu-control {
    background-color: var(--primaryATransparent);
    color: var(--primaryD);
    box-shadow: 0 0 1px 2px var(--primaryATransparent);
}

.user-css-presentation .menu-control:hover {
    background-color: var(--primaryDTransparent);
    color: var(--primary3);
    box-shadow: 0 0 1px 2px var(--primaryDTransparent);
}

.user-css-presentation .nav-strip {
    background: var(--primary3Transparent);
    color: var(--primaryD);
    box-shadow: 0 0 2px 1px var(--primary3Transparent);
}

/* PANELS */
.user-css-presentation .panel {
    background-color: var(--default3Transparent);
    border-color: var(--defaultDTransparent);
    color: var(--defaultDMuted);
    box-shadow: 0 0 2px 2px var(--defaultDTransparent);
}

.user-css-presentation .panel .panel-heading {
    background-color: var(--defaultDTransparent);
}

.user-css-presentation .panel .panel-heading h3 {
    color: var(--defaultDMuted);
}

.user-css-presentation .panel .panel-heading small, .user-css-presentation .panel .panel-heading .text-muted {
    color: var(--defaultCMuted);
}

.user-css-presentation .panel-default {
    background-color: var(--accent3Transparent);
    border-color: var(--accentDTransparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentDTransparent);
}

.user-css-presentation .panel-default .panel-heading {
    background-color: var(--accentDTransparent);
}

.user-css-presentation .panel-default .panel-heading h3 {
    color: var(--accentDMuted);
}

.user-css-presentation .panel-default .panel-heading small, .user-css-presentation .panel-default .panel-heading .text-muted {
    color: var(--accentCMuted);
}

.user-css-presentation .panel-primary {
    background-color: var(--primary3Transparent);
    border-color: var(--primaryDTransparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primaryDTransparent);
}

.user-css-presentation .panel-primary .panel-heading {
    background-color: var(--primaryDTransparent);
}

.user-css-presentation .panel-primary .panel-heading h3 {
    color: var(--primaryDMuted);
}

.user-css-presentation .panel-primary .panel-heading small, .user-css-presentation .panel-primary .panel-heading .text-muted {
    color: var(--primaryCMuted);
}

.user-css-presentation .panel-greatgm {
    background: var(--primary5Transparent);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primaryATransparent);
}

/* RELATIONS */
.user-css-presentation .relation {
    border-top-color: var(--accentA);
}

.user-css-presentation .relation .relationScore {
    background: var(--primary5Transparent);
    box-shadow: 0 0 1px 1px var(--primary5Transparent);
}

/* ROW BORDER GROUP */
.user-css-presentation .row-border-group .user-row .col-md-6,
.user-css-presentation .row-border-group .user-row .col-md-4
{
    border-color: var(--accentA);
}

.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:after,
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:first-child:before,
.user-css-presentation .row-border-group .user-row:first-child .col-md-6:first-child:before,
.user-css-presentation .row-border-group .user-row:last-child .col-md-6:first-child:before,
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:first-child:before, /* 3-col Top left cell, bottom border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:first-child:after, /* 3-col Middle left cell, top border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:first-child:before, /* 3-col Middle left cell, bottom border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:first-child:before /* 3-col Bottom left cell, top border */
{
    background-image: linear-gradient(to right, var(--defaultAFullTransparent), var(--accentA));
}

.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:after,
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-6:last-child:before,
.user-css-presentation .row-border-group .user-row:first-child .col-md-6:last-child:before,
.user-css-presentation .row-border-group .user-row:last-child .col-md-6:last-child:before,
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:last-child:before, /* 3-col Top right cell, bottom border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:last-child:after, /* 3-col Middle right cell, top border */
.user-css-presentation .row-border-group .user-row:not(:first-child):not(:last-child) .col-md-4:last-child:before, /* 3-col Middle right cell, bottom border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:last-child:before /* 3-col Bottom right cell, top border */
{
    background-image: linear-gradient(to left, var(--defaultAFullTransparent), var(--accentA));
}

.user-css-presentation .row-border-group .user-row:first-child .col-md-6:first-child:after,
.user-css-presentation .row-border-group .user-row:first-child .col-md-6:last-child:after,
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:first-child:after, /* 3-col Top left cell, right border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:not(:first-child):not(:last-child):after, /* 3-col Top middle cell, left border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:not(:first-child):not(:last-child):before, /* 3-col Top middle cell, right border */
.user-css-presentation .row-border-group .user-row:first-child .col-md-4:last-child:after /* 3-col Top right cell, left border */
{
    background-image: linear-gradient(to bottom, var(--defaultAFullTransparent), var(--accentA));
}

.user-css-presentation .row-border-group .user-row:last-child .col-md-6:first-child:after,
.user-css-presentation .row-border-group .user-row:last-child .col-md-6:last-child:after,
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:first-child:after, /* 3-col Bottom left cell, right border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:not(:first-child):not(:last-child):after, /* 3-col Bottom middle cell, left border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:not(:first-child):not(:last-child):before, /* 3-col Bottom middle cell, right border */
.user-css-presentation .row-border-group .user-row:last-child .col-md-4:last-child:after /* 3-col Bottom right cell, left border */
{
    background-image: linear-gradient(to top, var(--defaultAFullTransparent), var(--accentA));
}

.user-css-presentation .row-border-group .user-row:only-child .col-md-6:first-child:after,
.user-css-presentation .row-border-group .user-row:only-child .col-md-6:last-child:after,
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:first-child:after, /* 3-col Single row left cell, right border */
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:not(:first-child):not(:last-child):after, /* 3-col Single row middle cell, right border */
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:last-child:after, /* 3-col Single row right cell, left border */
.user-css-presentation .row-border-group .user-row:only-child .col-md-4:not(:first-child):not(:last-child):before /* 3-col Single row middle cell, left border */
{
    background-image: linear-gradient(to top, var(--defaultAFullTransparent), var(--accentA), var(--defaultAFullTransparent));
}

.user-css-presentation .row-border-group .user-row:not(:first-child) .col-md-12:after, /* 1-col upper cells, bottom border */
.user-css-presentation .row-border-group .user-row:not(:last-child) .col-md-12:after /* 1-col bottom cells, top border */
{
    background-image: linear-gradient(to left, var(--defaultAFullTransparent), var(--accentA), var(--defaultAFullTransparent));
}

/* SPOILERS */
.user-css-presentation .spoiler-content {
    background-color: var(--accent3Transparent);
    border-color: var(--accentATransparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

/* STATBLOCKS */
.user-css-presentation .statblock {
    background-color: var(--accent3Transparent);
    border-color: var(--accentDTransparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentDTransparent);
}

/* TABLES */
.user-css-presentation .table {
    box-shadow: 0 0 2px 2px var(--defaultDTransparent);
}

.user-css-presentation .table tr td {
    background: var(--default3Transparent);
    color: var(--defaultDMuted);
}

.user-css-presentation .table tr th {
    background: var(--primary5Transparent);
    color: var(--primaryDMuted);
}

.user-css-presentation .table-striped tr:nth-child(odd) td {
    background: var(--accent4Transparent);
    color: var(--accentDMuted);
}

.user-css-presentation .table tr:hover td {
    background: var(--primary8Transparent);
    color: var(--primaryDMuted);
}

/* TEXT */
.user-css-presentation .text-primary {
    color: var(--primaryA);
}

.user-css-presentation .text-secondary {
    color: var(--accentA);
}

/* IMAGES */
.user-css-presentation .artist-credits {
    background: var(--accent5Transparent);
    color: var(--accentDMuted);
}

.user-css-presentation .user-css-presentation-image-thumbnail {
    background: var(--accent5Transparent);
}

.user-css-presentation .user-css-presentation-image-thumbnail .artist-credits {
    background: var(--primary5Transparent);
    color: var(--primaryDMuted);
}

/* MAPS */
.user-css-presentation .map-box {
    background: var(--accent5Transparent);
}

.user-css-presentation .map-box div {
    background: var(--primary5Transparent);
    color: var(--primaryDMuted);
}

.user-css-presentation .map-box small {
    color: var(--primaryDMuted);
}

/* TIMELINES */
.user-css-presentation .timeline:before {
    background: var(--accentA);
    box-shadow: 0 0 2px 1px var(--accentA);
}

.user-css-presentation .timeline li .tl-circ {
    background: var(--accent2);
    border-color: var(--accentA);
    box-shadow: 0 0 2px 1px var(--accentA);
}

.user-css-presentation .timeline li .timeline-panel {
    background: var(--accent3Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accent3Transparent);
}

.user-css-presentation .timeline li .timeline-panel:before, .user-css-presentation .timeline li .timeline-panel:after {
    border-left-color: var(--accentA);
    border-right-color: var(--accentA);
}

.user-css-presentation .timeline li .timeline-panel .header-icon {
    border-color: var(--accentA);
    color: var(--accentA);
    background: var(--accent1);
}

.user-css-presentation .timeline li .timeline-panel h4 {
    color: var(--accentA);
}

.user-css-presentation .timeline li .timeline-panel h4 small {
    color: var(--accent9);
}

/* TOOLTIPS */
.user-css-presentation .tooltip.top .tooltip-arrow {
    border-top-color: var(--primaryA);
}

.user-css-presentation .tooltip.left .tooltip-arrow {
    border-left-color: var(--primaryA);
}

.user-css-presentation .tooltip.bottom .tooltip-arrow {
    border-bottom-color: var(--primaryA);
}

.user-css-presentation .tooltip.right .tooltip-arrow {
    border-right-color: var(--primaryA);
}

.user-css-presentation .tooltip .tooltip-inner {
    background: var(--primary1);
    border-color: var(--primaryA);
    color: var(--primaryDMuted);
    box-shadow: 0 0 2px 2px var(--primaryATransparent);
}

/* CODE/PRE */
.user-css-presentation code, .user-css-presentation pre, .user-css-presentation .panel code {
    background-color: var(--defaultDMuted);
    color: var(--default2Muted);
}

.user-css-presentation blockquote code, .user-css-presentation blockquote pre, .user-css-presentation .panel-primary code, .user-css-presentation .panel-primary pre {
    background-color: var(--primaryE);
    color: var(--primary1Muted);
}

.user-css-presentation .panel-default code, .user-css-presentation .panel-default pre {
    background-color: var(--accentE);
    color: var(--accent1Muted);
}

/* SMALL/TEXT_Muted */
.user-css-presentation small, .user-css-presentation .text-muted {
    color: var(--default8Muted);
}

.user-css-presentation .panel-default small, .user-css-presentation .panel-default .text-muted, .user-css-presentation .spoiler-content small, .user-css-presentation .spoiler-content .text-muted {
    color: var(--accent8Muted);
}

.user-css-presentation .panel-primary small, .user-css-presentation .panel-primary .text-muted {
    color: var(--primary8Muted);
}

/* WELLS */
.user-css-presentation .well {
    background-color: var(--accent5Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}

/* FORM INPUTS */
.user-css-presentation textarea, .user-css-presentation .typeahead-input {
    background-color: var(--accent5Transparent);
    color: var(--accentDMuted);
    box-shadow: 0 0 2px 2px var(--accent5Transparent);
}

.user-css-presentation textarea:focus, .user-css-presentation .typeahead-input:focus {
    box-shadow: 0 0 2px 2px var(--accentATransparent);
}


/* HARDCODED COLORS */
/* ALERTS */
.user-css-presentation .alert-success {
    background-color: rgba(0, 66, 0, 0.5);
    border-color: rgba(0, 201, 0, 0.5);
    color: #DCEADC;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 201, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 201, 0, 0.5);
}

.user-css-presentation .alert-success h5:first-child {
    color: #DCEADC;
}

.user-css-presentation .alert-info {
    background-color: rgba(0, 66, 66, 0.5);
    border-color: rgba(0, 201, 201, 0.5);
    color: #DCEAEA;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 201, 201, 0.5);
    box-shadow: 0 0 2px 2px rgba(0, 201, 201, 0.5);
}

.user-css-presentation .alert-info h5:first-child {
    color: #DCEAEA;
}

.user-css-presentation .alert-warning {
    background-color: rgba(66, 66, 0, 0.5);
    border-color: rgba(201, 201, 0, 0.5);
    color: #EAEADC;
    -webkit-box-shadow: 0 0 2px 2px rgba(201, 201, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(201, 201, 0, 0.5);
}

.user-css-presentation .alert-warning h5:first-child {
    color: #EAEADC;
}

.user-css-presentation .alert-danger {
    background-color: rgba(66, 0, 0, 0.5);
    border-color: rgba(201, 0, 0, 0.5);
    color: #EADCDC;
    -webkit-box-shadow: 0 0 2px 2px rgba(201, 0, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(201, 0, 0, 0.5);
}

.user-css-presentation .alert-danger h5:first-child {
    color: #EADCDC;
}

/* BUTTONS */
.user-css-presentation .btn-info {
    color: #ddeded !important;
    background: rgba(0, 186, 186, 0.5) !important;
}

.user-css-presentation .btn-info:hover {
    color: #eefefe !important;
    background: rgba(0, 237, 237, 0.5) !important;
}

.user-css-presentation .btn-success {
    color: #ddeddd !important;
    background: rgba(0, 186, 0, 0.5) !important;
}

.user-css-presentation .btn-success:hover {
    color: #eefeee !important;
    background: rgba(0, 237, 0, 0.5) !important;
}

.user-css-presentation .btn-warning {
    color: #ededdd !important;
    background: rgba(186, 186, 0, 0.5) !important;
}

.user-css-presentation .btn-warning:hover {
    color: #fefeee !important;
    background: rgba(237, 237, 0, 0.5) !important;
}

.user-css-presentation .btn-danger {
    color: #eddddd !important;
    background: rgba(186, 0, 0, 0.5) !important;
}

.user-css-presentation .btn-danger:hover {
    color: #feeeee !important;
    background: rgba(237, 0, 0, 0.5) !important;
}

/* SECRETS */
.user-css-secret {
    background-color: rgba(67, 0, 0, 0.5);
    color: #eddddd;
    -webkit-box-shadow: 0 0 2px 2px rgba(67, 0, 0, 0.5);
    box-shadow: 0 0 2px 2px rgba(67, 0, 0, 0.5);
}

.user-css-secret h5 {
    color: #caaaaa;
}

.user-css-secret small {
    color: #988888;
}

/* TIMELINES */
.user-css-presentation .timeline li.important .tl-circ {
    background: #211911;
    border-color: #caca55;
    box-shadow: 0 0 2px 1px #caca55;
}

.user-css-presentation .timeline li.major .tl-circ {
    background: #211111;
    border-color: #ca5555;
    box-shadow: 0 0 2px 1px #ca5555;
}

.user-css-presentation .timeline li.minor .tl-circ {
    background: #112111;
    border-color: #55ca55;
    box-shadow: 0 0 2px 1px #55ca55;
}

.user-css-presentation .timeline li.trivial .tl-circ {
    background: #112121;
    border-color: #55caca;
    box-shadow: 0 0 2px 1px #55caca;
}

.user-css-presentation .timeline li.no-importance .tl-circ {
    background: var(--accent1Muted);
    border-color: var(--accentA);
    box-shadow: 0 0 2px 1px var(--accentA);
}

.user-css-presentation .timeline li.important .timeline-panel:before, .user-css-presentation .timeline li.important .timeline-panel:after {
    border-left-color: #caca55;
    border-right-color: #caca55;
}

.user-css-presentation .timeline li.major .timeline-panel:before, .user-css-presentation .timeline li.major .timeline-panel:after {
    border-left-color: #ca5555;
    border-right-color: #ca5555;
}

.user-css-presentation .timeline li.minor .timeline-panel:before, .user-css-presentation .timeline li.minor .timeline-panel:after {
    border-left-color: #55ca55;
    border-right-color: #55ca55;
}

.user-css-presentation .timeline li.trivial .timeline-panel:before, .user-css-presentation .timeline li.trivial .timeline-panel:after {
    border-left-color: #55caca;
    border-right-color: #55caca;
}

.user-css-presentation .timeline li.no-importance .timeline-panel:before, .user-css-presentation .timeline li.no-importance .timeline-panel:after {
    border-left-color: var(--accentA);
    border-right-color: var(--accentA);
}

.user-css-presentation .timeline li.important .timeline-panel {
    border-top-color: #caca55;
    /* box-shadow: 0 0 2px 2px rgba(67, 59, 0, 0.5); */
    /* background: rgba(67, 59, 0, 0.5); */
    /* color: #ede5dd; */
}

.user-css-presentation .timeline li.important .timeline-panel .header-icon {
    border-color: #caca55;
    color: #caca55;
    background: #211911;
}

.user-css-presentation .timeline li.important .timeline-panel h4 {
    /* color: #cabaaa; */
}

.user-css-presentation .timeline li.important .timeline-panel h4 small {
    /* color: #a9a199; */
}

.user-css-presentation .timeline li.major .timeline-panel {
    border-top-color: #ca5555;
    /* box-shadow: 0 0 2px 2px rgba(67, 0, 0, 0.5); */
    /* background: rgba(67, 0, 0, 0.5); */
    /* color: #eddddd; */
}

.user-css-presentation .timeline li.major .timeline-panel .header-icon {
    border-color: #ca5555;
    color: #ca5555;
    background: #211111;
}

.user-css-presentation .timeline li.major .timeline-panel h4 {
    /* color: #caaaaa; */
}

.user-css-presentation .timeline li.major .timeline-panel h4 small {
    /* color: #a99999; */
}

.user-css-presentation .timeline li.minor .timeline-panel {
    border-top-color: #55ca55;
    /* box-shadow: 0 0 2px 2px rgba(0, 67, 0, 0.5); */
    /* background: rgba(0, 67, 0, 0.5); */
    /* color: #ddeddd; */
}

.user-css-presentation .timeline li.minor .timeline-panel .header-icon {
    border-color: #55ca55;
    color: #55ca55;
    background: #112111;
}

.user-css-presentation .timeline li.minor .timeline-panel h4 {
    /* color: #aacaaa; */
}

.user-css-presentation .timeline li.minor .timeline-panel h4 small {
    /* color: #99a999; */
}

.user-css-presentation .timeline li.trivial .timeline-panel {
    border-top-color: #55caca;
    /* box-shadow: 0 0 2px 2px rgba(0, 67, 67, 0.5); */
    /* background: rgba(0, 67, 67, 0.5); */
    /* color: #ddeded; */
}

.user-css-presentation .timeline li.trivial .timeline-panel .header-icon {
    border-color: #55caca;
    color: #55caca;
    background: #112121;
}

.user-css-presentation .timeline li.trivial .timeline-panel h4 {
    /* color: #aacaca; */
}

.user-css-presentation .timeline li.trivial .timeline-panel h4 small {
    /* color: #99a9a9; */
}

.user-css-presentation .timeline li.no-importance .timeline-panel {
    border-top-color: var(--accentA);
    /* box-shadow: 0 0 2px 2px var(--accent3Transparent); */
    /* background: var(--accent3Transparent); */
    /* color: var(--accentDMuted); */
}

.user-css-presentation .timeline li.no-importance .timeline-panel .header-icon {
    border-color: var(--accentA);
    color: var(--accentA);
    background: var(--accent1Muted);
}

.user-css-presentation .timeline li.no-importance .timeline-panel h4 {
    /* color: var(--accentA); */
}

.user-css-presentation .timeline li.no-importance .timeline-panel h4 small {
    /* color: var(--accent9Muted); */
}

.user-css-presentation .timeline li.timeline-entry-milestone {
    border-color: #aaaaaa;
    background: #333333;
    box-shadow: 0 0 2px 2px #333333;
}

.user-css-presentation .timeline li.timeline-entry-milestone .milestone-panel {
    color: #dddddd;
}

.user-css-presentation .timeline li.timeline-entry-milestone .milestone-panel .header-icon {
    border-color: #aaaaaa;
    color: #aaaaaa;
    background: #111111;
}

.user-css-presentation .timeline li.timeline-entry-milestone .milestone-panel h4 {
    color: #aaaaaa;
}

.user-css-presentation .timeline li.timeline-entry-milestone .milestone-panel h4 small {
    color: #999999;
}

/* TEXT */
.user-css-presentation .text-success {
    color: #55CA55;
}

.user-css-presentation .text-warning {
    color: #caca55;
}

.user-css-presentation .text-info {
    color: #55caca;
}

.user-css-presentation .text-danger {
    color: #ca5555;
}

/* Color Theme: Default (WA public) */
.user-css-presentation {
    /* Default Color: Yellow-Green (Hue 65) */
    --default1: #1D1E0F;
    --default2: #2F3020;
    --default3: #414233;
    --default4: #505142;
    --default5: #626354;
    --default6: #747566;
    --default7: #838476;
    --default8: #959687;
    --default9: #A7A899;
    --defaultA: #B6B7A8;
    --defaultB: #C8C9BB;
    --defaultC: #DADBCB;
    --defaultD: #E9EADC;
    --defaultE: #FBFCED;

    --default1Muted: #1D1E0F;
    --default2Muted: #2F3020;
    --default3Muted: #414233;
    --default4Muted: #505142;
    --default5Muted: #626354;
    --default6Muted: #747566;
    --default7Muted: #838476;
    --default8Muted: #959687;
    --default9Muted: #A7A899;
    --defaultAMuted: #B6B7A8;
    --defaultBMuted: #C8C9BB;
    --defaultCMuted: #DADBCB;
    --defaultDMuted: #E9EADC;
    --defaultEMuted: #FBFCED;

    --default1Transparent: rgba(29, 30, 15, 0.5);
    --default2Transparent: rgba(47, 48, 32, 0.5);
    --default3Transparent: rgba(65, 66, 51, 0.5);
    --default4Transparent: rgba(80, 81, 66, 0.5);
    --default5Transparent: rgba(98, 99, 84, 0.5);
    --default6Transparent: rgba(116, 117, 102, 0.5);
    --default7Transparent: rgba(131, 132, 118, 0.5);
    --default8Transparent: rgba(149, 150, 135, 0.5);
    --default9Transparent: rgba(167, 168, 153, 0.5);
    --defaultATransparent: rgba(182, 183, 168, 0.5);
    --defaultBTransparent: rgba(200, 201, 187, 0.5);
    --defaultCTransparent: rgba(218, 219, 203, 0.5);
    --defaultDTransparent: rgba(233, 234, 220, 0.5);
    --defaultETransparent: rgba(251, 252, 237, 0.5);

    /* Primary Color: Red-Orange (Hue 10, Sat 100) */
    --primary1: #1C0500;
    --primary2: #2D0800;
    --primary3: #3F0700;
    --primary4: #4F0900;
    --primary5: #601300;
    --primary6: #720D00;
    --primary7: #821100;
    --primary8: #931100;
    --primary9: #A51300;
    --primaryA: #B52100;
    --primaryB: #C61A00;
    --primaryC: #D82700;
    --primaryD: #E52200;
    --primaryE: #F91D00;

    --primary1Muted: #1E120F;
    --primary2Muted: #302320;
    --primary3Muted: #423533;
    --primary4Muted: #514442;
    --primary5Muted: #635754;
    --primary6Muted: #756866;
    --primary7Muted: #847876;
    --primary8Muted: #968987;
    --primary9Muted: #A89B99;
    --primaryAMuted: #B7ABA8;
    --primaryBMuted: #C9BDBB;
    --primaryCMuted: #DBCECB;
    --primaryDMuted: #E8DEDC;
    --primaryEMuted: #FCEFED;

    --primary1Transparent: rgba(28, 5, 0, 0.5);
    --primary2Transparent: rgba(45, 8, 0, 0.5);
    --primary3Transparent: rgba(63, 7, 0, 0.5);
    --primary4Transparent: rgba(79, 9, 0, 0.5);
    --primary5Transparent: rgba(96, 19, 0, 0.5);
    --primary6Transparent: rgba(114, 13, 0, 0.5);
    --primary7Transparent: rgba(130, 17, 0, 0.5);
    --primary8Transparent: rgba(147, 17, 0, 0.5);
    --primary9Transparent: rgba(165, 19, 0, 0.5);
    --primaryATransparent: rgba(181, 33, 0, 0.5);
    --primaryBTransparent: rgba(198, 26, 0, 0.5);
    --primaryCTransparent: rgba(219, 39, 0, 0.5);
    --primaryDTransparent: rgba(229, 34, 0, 0.5);
    --primaryETransparent: rgba(249, 29, 0, 0.5);

    /* Accent Color: Teal (Hue 186) */
    --accent1: #0F1D1E;
    --accent2: #202F30;
    --accent3: #334142;
    --accent4: #425051;
    --accent5: #546263;
    --accent6: #667475;
    --accent7: #768384;
    --accent8: #879596;
    --accent9: #99A7A8;
    --accentA: #A8B6B7;
    --accentB: #BBC8C9;
    --accentC: #CBDADB;
    --accentD: #DCE9EA;
    --accentE: #EDFBFC;

    --accent1Muted: #0F1D1E;
    --accent2Muted: #202F30;
    --accent3Muted: #334142;
    --accent4Muted: #425051;
    --accent5Muted: #546263;
    --accent6Muted: #667475;
    --accent7Muted: #768384;
    --accent8Muted: #879596;
    --accent9Muted: #99A7A8;
    --accentAMuted: #A8B6B7;
    --accentBMuted: #BBC8C9;
    --accentCMuted: #CBDADB;
    --accentDMuted: #DCE9EA;
    --accentEMuted: #EDFBFC;

    --accent1Transparent: rgba(15, 29, 30, 0.5);
    --accent2Transparent: rgba(32, 47, 48, 0.5);
    --accent3Transparent: rgba(51, 65, 66, 0.5);
    --accent4Transparent: rgba(66, 80, 81, 0.5);
    --accent5Transparent: rgba(84, 98, 99, 0.5);
    --accent6Transparent: rgba(102, 116, 117, 0.5);
    --accent7Transparent: rgba(118, 131, 132, 0.5);
    --accent8Transparent: rgba(135, 149, 150, 0.5);
    --accent9Transparent: rgba(153, 167, 168, 0.5);
    --accentATransparent: rgba(168, 182, 183, 0.5);
    --accentBTransparent: rgba(187, 200, 201, 0.5);
    --accentCTransparent: rgba(203, 218, 219, 0.5);
    --accentDTransparent: rgba(220, 233, 234, 0.5);
    --accentETransparent: rgba(237, 251, 252, 0.5);

    /* Specialty Colors */
    --midPrimaryAccentA: #AF6C5C; /* Used for h3 */
    --midPrimaryAccent8: #8D534B; /* Used for h3 small */
    --midDefaultAccentA: #AFB7B0; /* Used for h5 */
    --midDefaultAccent8: #9FA69F; /* Used for h5 small */
    --defaultAFullTransparent: rgba(182, 183, 168, 0); /* Used for row border groups */
}
