<div class="bar"></div>
<div class="inside-content">
	{% if (variables.source|default != '' and variables.source|length > 0) or meta.block.isSRD %}
	<p class="statblock-source" title="Source">
		{% if variables.source|default != '' and variables.source|length > 0 %}{{ variables.source }}{% endif %}
		{% if meta.block.isSRD %}SRD{% endif %}
	</p>
	{% endif %}
	<h1 class="valiant-sheet-header">
		{{ variables.name }}
	</h1>
	{% if variables.overview|default != '' %}
	<div class="statblock-stat desc">
	<span>{{ variables.overview}}</span></div>
	{% endif %}
</div>
<div class="bar"></div>