<div class="bar"></div>
<div class="inside-content">
	<div class="row">
		<div class="col-12 col-md-12">
			{% if (variables.source|default != "") or meta.block.isSRD %}
			<p class="statblock-source" title="Source">
				{% if variables.source|default != "" %}{{ variables.source }}{% endif %}
				{% if meta.block.isSRD %}SRD{% endif %}
			</p>
			{% endif %}
			<h1 class="valiant-sheet-header">
				{{ variables.name }}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-12">
			{% if variables.overview|default != '' %}
			<div class="statblock-stat desc">
			<span>{{ variables.overview}}</span></div>
			{% endif %}
		</div>
	</div>
</div>
<div class="bar"></div>