<div class="bar"></div>
<div class="inside-content">
	<div class="statblock-stat"><strong>Name</strong><br>
		<input value="{{ variables.name is defined ? variables.name }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the talent" type="text" />
	</div>
	<div class="col-12 col-md-12">
		<div class="statblock-stat" title="Short description of the class">
			<strong>overview</strong><br>
			<span><textarea class="form-control mention" id="overview" name="overview" rows="3">{{ variables.overview is defined ? variables.overview }}</textarea></span>
		</div>
		<br>
	</div>
    <div class="ibox">
        <div class="ibox-content">
            <label for="source" class="col-sm-2 control-label">
                <h4 class="header-title">Source</h4>
            </label>
            <div class="col-sm-12">
                <input  value="{{ variables.source is defined ? variables.source }}"  class="form-control mention" id="source" name="source" placeholder="SRD" type="text" />
                <p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
            </div>
        </div>
	</div>
</div>
<div class="bar"></div>