<div class="bar"></div>
<div class="inside-content">
    <div class="row">
        <div class="col-12">
			<div class="statblock-stat-form"><strong>Name</strong><br>
				<input value="{{ variables.name|default }}" required="required" class="form-control" id="name" name="name" placeholder="The name of the talent" type="text" />
			</div>
        </div>
		<hr>
        <div class="col-12">
			<div class="statblock-stat-form"><strong>overview</strong><br>
			<span><textarea class="form-control mention" id="overview" name="overview" rows="3" placeholder="Description of the talent">{{ variables.overview is defined ? variables.overview }}</textarea></span></div>
        </div>
		<hr>
		<div class="col-12">
			<div class="statblock-stat-form">
				<label for="source" class="control-label"><h4 class="header-title">source</h4></label>
				<input value="{{ variables.source|default }}"  class="form-control mention" id="source" name="source" placeholder="eg ORC" type="text" />
				<p class="description form-control-description">Where can this be found (ORC, SRD, Homebrew, etc.)</p>
			</div>
		</div>
	</div>
</div>
<div class="bar"></div>