{
    padding: 0px!important
}

body, div, p, small, strong, span {
    color: #404040!important;
    font-size: 14px
}

a {
    color: #404040!important
}

.conan-sheet {
    background: url(https://www.worldanvil.com/uploads/images/d653062d0f88879ccc1962405f3ad51d.jpg)
}

.noback {
    background-color: transparent!important
}

.logo {
    background: url(https://www.worldanvil.com/uploads/images/b89bd5e4975e6c3242acdd5bb25bc47b.png) center center no-repeat!important;
    height: 200px;
    background-size: contain!important;
    border: none
}

.card-header {
    padding: 2px
}

.rolldice {
    padding: 2px;
    font-family: Amarante Regular;
    font-weight: 400;
    font-size: 16px
}

.card-body {
    background-color: #f0e8e0!important;
    padding: 0px;
    background: #f00;
    margin: 0px;
    font-family: Amarante Regular;
    font-weight: 400;
    font-size: 16px;
    color: #404040!important
}

.card {
    background-color: #f0e8e0;
    margin-top: 20px;
    color: #404040!important
}

.form-control {
    padding: 2px 2px 2px 4px
}

.sff {
    max-width: 80px;
}

em, .btn, .far {
    color: #404040!important;
    background: none!important;
    border: none!important
}

.btn-dark.btn-block {
    color: #fff
}

td {
    padding: 0px
}

th {
    height: 20px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase
}

.l {
    text-align: left;
    padding-left: 10px
}

.c {
    text-align: center
}

.r {
    text-align: right;
    padding-right: 10px
}

.pd10 {
    padding: 10px
}

.mt10 {
    margin-top: 10px
}

.head-bar {
    background: #FAF4DC;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Skranji
}

.lbl {
    background: #FAF4DC;
    padding: 2px 10px 2px 10px;
    border: 1px solid #404040;
    font-family: Amarante Regular;
    font-weight: 400;
    font-size: 16px
}

.hdr {
    background: #E7D8B7;
    padding: 2px 10px 2px 10px;
    border: 1px solid #404040;
    font-family: Skranji;
    font-weight: 400;
    font-size: 14px
}

.att {
    background: #DCA680;
    padding: 2px 10px 2px 10px;
    border: 1px solid #404040;
    font-family: Skranji;
    font-weight: 800;
    font-size: 18px
}

.num {
    padding: 2px 15px 2px 10px;
    text-align: right;
    border: 1px solid #404040
}

.txt {
    padding: 2px 5px 2px 10px;
    border: 1px solid #404040
}

.tdr {
    padding: 2px 5px 2px 10px
}

.ev {
    background-color: #e0d8d0
}

.od {
    background-color: #f0e8e0
}

.weapontable, .of {
    overflow-y: auto
}

.red {
    color: #800000
}

.armortable {
    margin: 10px
}

.center {
    margin-left: auto;
    margin-right: auto
}

.boxes {
    font-size: 32px;
    margin: 0px;
    padding: 0px 3px 0px 3px;
    text-align: center;
    border: 1px solid black;
    color: #404040!important
}

textarea.form-control {
    min-height: 2em!important;
}

a {
    text-decoration: underline
}

.statblock {
    padding: 0px
}

.rolldice {
    padding: 2px!important;
    font-family: Amarante Regular!important;
    font-weight: 400!important;
    font-size: 16px!important;
}

.label-roller {
    background: #2e4051!important;
    border: 1px #000 solid!important;
    padding: 5px 6px!important;
    margin: 1px 3px!important;
    color: #fff!important;
}