{
   border: 0;
   position: relative;
   color: #404040!important;
   -webkit-text-fill-color: #404040;
   padding: 0px!important;
   font-family: Alegreya Regular;
   font-weight: 400;
   font-size: 16px }
label {
   color: #751c13 }
h1 {
   color: #751c13 }
h2 {
   color: #751c13 }
h3 {
   color: #751c13 }
h4 {
   color: #751c13 }
h5 {
   color: #751c13 }
h6 {
   color: #751c13 }
h1 {
   font-size: 1.6rem;
   color: #58180d;
   margin: 0;
   padding: 0 }
h2 {
   font-size: 20px;
   color: #58180d;
   border-bottom: 2px solid #c9ad6a }
h3 {
   margin: 0;
   margin-top: 15px;
   color: #7b2516;
   font-size: 20px }
h4 {
   margin: 0;
   color: #770808;
   font-family: 'Cinzel',  serif;
   font-size: 14px;
   text-transform: uppercase }
.Mythras-sheet {
   padding: 20px;
   background-color: #f0efe6;
   border: 1px solid #760809 }
h1.Mythras-sheet-header {
   font-size: 2.5rem }
.inputContent {
   font-weight: bold;
   font-size: 18px;
   padding-left: 5px;
   color: #58180d;
   line-height:1.8em;
}
.attlbl { background-color: #00000010; padding: 0px 10px; margin-bottom:5px }
.inputLabel {
   display: block;
   background-color: #00000020;
   border-top: 1px #404040 dotted;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 800;
   padding-top: 2px;
   padding-left: 2px }
.inputLabelTop 
{
   display: block;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 800;
   padding-top: 2px;
   padding-bottom: 1px;
   padding-left: 2px;
   margin-top: 8px;
   margin-bottom: 1px }
hr.hr-dark {
   border: 1px #58180d solid }
.contentContainer {
   border: 1px #493c23 solid;
   position: relative;
   margin-bottom: 10px;
   border-radius: 4px;
   background: #5a41250f }
.contentContainer {
   -webkit-box-shadow: 0 8px 6px -6px #404040;
   -moz-box-shadow: 0 8px 6px -6px #404040;
   box-shadow: 0 8px 6px -6px #404040}
.contentContainer-attribute .inputLabel {
   border: 0;
   padding: 0;
   display: block;
   text-transform: uppercase}
.contentContainer-attribute {
   text-align: center;
   font-size: 24px;
   padding-top:8px;
}
.contentContainer-attribute .subContainer {
   font-size: 0.7em;
   display: block }
.contentContainer-attribute .smallAttribute{
   text-align: center;
   font-size: 0.6em }
.contentContainer-standard .inputLabel {
   text-align: center;
   padding: 0;
   padding-top: 3px;
   display: block;
   text-transform: uppercase}
.contentContainer-standard td {
   border: 0;
   padding: 4px }
.contentContainer-side .inputLabel {
   text-align: left;
   border: 0;
   padding: 0;
   margin-top: 3px;
   display: block;
   text-transform: uppercase}
.listContainer {
   border: 1px #404040 solid;
   position: relative;
   margin-bottom: 10px;
   border-radius: 4px;
   background: #5a41250f }
.skilltable tr:nth-of-type(1n  ) 
{
   background-color: #ffffff70!important }
.skilltable tr:nth-of-type(2n  ) 
{
   background-color: #ffffff00!important }
.lh { line-height: 1.6em }
body,  p,  div,  a,  small,  strong,  h1,  h2,  h3,  h4,  b {
   font-family: Alegreya Regular!important;
   font-weight: 400}
.of {
   overflow-y: auto;
   width: 100%}
.of-x
{
   overflow-x: auto }
.of-x th.min-enforced,  .of-x td.min-enforced,  .of th.min-enforced,  .of td.min-enforced {
   min-width: 150px }
.of-x th.min-enforced-md,  .of-x td.min-enforced-md,  .of th.min-enforced-md,  .of td.min-enforced-md {
   min-width: 80px }
.of-x th.min-enforced-sm,  .of-x td.min-enforced-sm,  .of th.min-enforced-sm,  .of td.min-enforced-sm {
   min-width: 50px }
.strong,  b {
   font-weight: 800}
.c {
   text-align: center}
.r {
   text-align: right}
.l {
   text-align: left}
.calculator tr {
   display: table;  
   width:100% }
.calculator td {
   display: table-row }
.botRowBorder tr {
   border-bottom: 1px solid #202020 !important }
input::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0 }
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0 }
input[type=number] {
   -moz-appearance: textfield;
   font-size: 12px }
input.form-control,  select.form-control,  select.form-control option {
   background-color: white !important;
   border: 1px solid #202020 !important;
   border-radius: 5px !important;
   color: #444 !important;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none }
textarea.form-control {
   background-color: white !important;
   border: 1px solid #202020 !important;
   border-radius: 5px !important;
   color: #444 !important;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none }
textarea.form-control:focus {
   background-color: white!important;
   color: #000!important;
   border: 1px solid #202020;
   border-radius: 5px;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none }
input.form-control:focus {
   background-color: white!important;
   color: #000!important;
   border: 1px solid #202020;
   border-radius: 5px;
   max-width: 100%;
   -webkit-box-shadow: none;
   box-shadow: none }
textarea.form-control {
   min-height: 5em!important }
select.form-control {
   height: 2.6rem!important }
input.form-control,  textarea.form-control,  textarea.form-control:focus,  input.form-control:focus,  select.form-control,  select.form-control {
font-size: 16px!important }
tr { 
   background:none!important}
th {  
   background-color: #ffffffa0}
.top-row {
   padding: 0px 0px 0px 10px }
.top-row .col-md-3 .col-md-12 {
   padding: 0px 10px 0px 0px }
.top-row .col-md-3 .col-md-9 {
   padding: 0px 30px 0px 10px }
.top-row .col-md-3 .col-md-3 {
   padding: 0px 10px 0px 10px }
.top-row .col-md-2 {
   padding: 0px 20px 0px 20px }
.mainbox {
   padding: 20px 20px 10px 20px;
   background-color: #e0ded5;
   border-radius: 10px;
   border: 3px solid white;
   margin-bottom: 20px;
   text-align: center }
.mainbox .CodeMirror {
   text-align: left }
.Mythras-sheet-box .form-control:focus {
   background-color: white!important;
   color: #000!important }
.Mythras-sheet-box .form-group {
   padding: 0px 10px }
p.Mythras-sheet-description,  span.Mythras-sheet-description,  ul.Mythras-sheet-description {
   margin: 0 0 10px;
   color: #8e8d88;
   padding-left: 10px;
   border-left: 3px #c1c0bc solid;
   font-size: 0.9em;
   padding-top: 5px;
   padding-bottom: 5px }
.attacktable td,  .attacktable th {
   padding: 5px}
.in-sm {
   width: 50px;
   display: inline-flex }
.in-mx {
   width: 100%;
   display: inline-flex }
.od {  
   background-color: #ffffff70!important }
.ev {  
   background-color: #ffffff00!important }
.odStrong {  
   background-color: #ffffffb9!important }
.evStrong {  
   background-color: #ffffff00!important }
.CodeMirror-buttonsPanel button,  .button { 
   color:black!important; 
   -webkit-text-fill-color: black!important; 
   background-color:white!important; 
   text-shadow:none}
.btn-dark,  .block-form strong,  .cm-s-lesser-dark.CodeMirror { 
   color:#404040!important; 
   -webkit-text-fill-color: white!important; 
   background-color:#404040!important; 
   text-shadow:none}
.red
{
   color:#a72020;
   -webkit-text-fill-color: #a72020 }
.yellow
{
   color:#b88415;
   -webkit-text-fill-color: #b88415 }
.trackable {
   background-color: #f0efe6;
   padding: 20px }
p.trackable-label {
   font-size: 0.7em;
   margin-top: 2px;
   color: #761a0e;
   text-align: right;
   margin-bottom: 15px }
.badge { 
   background:#ffffff}
.pd10 { padding: 0px 10px }
.fr {
   float: right }
.ttip{
   position:relative }
.ttiptext{
   display:none;
   position:fixed; 
   z-index:100;
   border:1px;
   border-style:solid;
   border-width:2px;
   background-color: #cac7af;
   padding:3px;
   width: 200px;
   -webkit-box-shadow: 0 8px 6px -6px #404040;
   -moz-box-shadow: 0 8px 6px -6px #404040;
   box-shadow: 0 8px 6px -6px #404040}
.ttip:hover span.ttiptext{
   display:block }
.automatic-grade {color: #2597cc; -webkit-text-fill-color: #2597cc }
.very-easy-grade {color: #3ac9a5; -webkit-text-fill-color: #3ac9a5 }
.easy-grade {color: #72a133; -webkit-text-fill-color: #72a133 }
.hard-grade {color: #b9b033; -webkit-text-fill-color: #b9b033 }
.formidable-grade {color: #bd690a; -webkit-text-fill-color: #bd690a }
.herculean-grade {color: #c22409; -webkit-text-fill-color: #c22409 }
.hopeless-grade {color: #9c1067; -webkit-text-fill-color: #9c1067 }