{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
	<h3 class="m-b-0">{{variables.name|BBcode }}</h3>
	{% if variables.list %}
		<p>
			{{variables.list|ParseList|BBcode }}
		</p>
	{% endif %}
{% endblock %}