/*==========================
  GRID STYLES
 ========================== */

.system-dw .grid-container {
  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 2em;
  column: 1.5em;
}

/* Spans 4 columns */
.system-dw .four-container {
  grid-column: span 4;
}

/* Spans 3 columns */
.system-dw .three-container {
  grid-column: span 3;
}

/* ...guess. */
.system-dw .one-container {
  grid-column: span 1;
}

.system-dw .section-label {
  background-color: black;
  color: white;  
  font-size: 1.5em;
  padding: .2em 1.1em;
}

.system-dw .start-slant {
  /* Shamelessly stolen from 
  https://kilianvalkhof.com/2017/design/sloped-edges-with-consistent-angle-in-css/ */
  clip-path: polygon(
    calc(0% + 1.2vw) 0, /* left top */
    100% 0, /* right top */
    100% 100%, /* right bottom */
    0 100% /* left bottom */
  );  
}

.system-dw .end-slant {
  /* Shamelessly stolen from 
  https://kilianvalkhof.com/2017/design/sloped-edges-with-consistent-angle-in-css/ */
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */
    calc(100% - 1.2vw) 100%, /* right bottom */
    0 100% /* left bottom */
  );
}

.system-dw .pc-name, 
.system-dw .pc-class {
  grid-column: 1 / 7;    
  font-size: 1.8em;
  font-variant: small-caps;
}

.system-dw .look {
  grid-column: 7 / end;
  grid-row: 1;
  font-style: italic;
  text-align: right;
}

.system-dw .dw-stats, 
.system-dw .dw-stat-names {  
  border-radius: .35em;
  border: .2em;
  grid-column: span 2;    
  text-align: center;
  font-size: 2em;  
}

.system-dw .dw-stat-names {  
  background-color: black;
  color: white;  
  font-variant: small-caps;
  font-size: 1.5em;  
}

/* Border the top and sides */
.system-dw .dw-stats-top {
  border-style: solid solid none solid;
}

/* Border the bottom and sides */
.system-dw .dw-stats-bottom {
  border-style: none solid solid;
}

.system-dw .dw-stats-small {
  font-weight: bold;
  font-size: 1.8em;  
  text-align: center;
}

/* Border the top and right side, also some text styling */
.system-dw .dw-combat {    
  text-align: left;  
  border-radius: .35em;
  border: .2em;
  border-style: solid solid none none;
}

.system-dw .moves-container {
  grid-row: span 3;
  grid-column: span 9;  
}

.system-dw .move-text {
  margin-top: .25em;
  font-size: .8em;  
}

.system-dw .alignment, 
.system-dw .race {
  margin-left: .5em;
  font-size: 1.2em;
}

.system-dw .bond-text, 
.system-dw .gear-item {
  margin-left: .5em;
  margin-top: .5em;
}

.system-dw .gear-container {  
  grid-column: span 13;
  display: grid;
  grid-template-columns: auto repeat(5, 1fr);
  align-items: bottom;
}

.system-dw .gear-label {
  grid-column: span 6;
}

.system-dw .gear-item {    
  font-size: 1.1em;
}

.system-dw .class-container {
  grid-column: span 9;  
}


/*==========================
  OLD TABLE STYLES
 ========================== */

 /*--------------
Shared table styles
-----------------*/

.system-dw h1, 
.system-dw h2, 
.system-dw h3 {
  font-family:'Yanone Kaffeesatz',serif;
}

.system-dw h1 {
  font-size: 40px;
  font-variant: small-caps;
}

.system-dw h2 {
  font-size: 30px;
  font-variant: small-caps;
}

.system-dw h3 {
  font-size: 23px;
  font-weight: 200;
}
.system-dw body{
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 12px;
}

.system-dw .dw-box {
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(204, 204, 204);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 2px 4px 0px;
  padding: 20px;     
}

.system-dw .dw-table {
  font: serif; 
  width: 100%;   
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.system-dw .name {
    font-weight: bold;
    font-variant: small-caps;
    font-size: larger;
}

.system-dw .tags {
  font-style: italic;
  text-align: right;
  font-size: 12px;  
}

.system-dw .dw-armor {
  width: 20%;
  font-size: 14px;
  text-align: right;
}

 /*--------------
Item table styles
-----------------*/
.system-dw .dw-uses {
  padding-right: 2em;
}

 /*--------------
Monster table styles
-----------------*/
.system-dw .damage-tags {
  font-style: italic;
  font-size: 12px;
}

.system-dw .special-qualities {
  font-size: 14px;
}

.system-dw .dw-damage {
  width: 60%;
  font-size: 14px;
}

.system-dw .monster-hp {
  width: 20%;
  font-size: 14px;
  text-align: center;
}
