{ padding:0px!important}

 .pf2-feat-block {
    font-family: Tauri Regular;
        font-size: 14px;
        background: #fffcf5;
        color: #27241f;
        flex-flow: row wrap
}
 .feat-name {
    display: block;
    border-bottom: 1px solid;
    font-family: Eczar Bold;
        font-size: 1.5em;
        font-weight: bold;
        font-variant: small-caps;
        padding: 2px;
        letter-spacing: 1px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;}
 .descriptor {
    font-weight: bold;
    font-size: 1.1em;}
 .divider {
    border-top: 1px solid;}
 .itemtext {
    padding-left: 5px;}
 .pf-red-bg {
        background:#460606;
        color: #f6d49f!important;}
 .form-section-content {
    padding: 5px;
    padding-top: 10px;}
 .btn-link {
    margin-bottom: 5px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2em;}
 .pf2-item-block a {
    color: #460606;}
 .pf2-item-block.form-control {
    background: #fffcf5 !important;
    color: #27241f !important;
    border: 1px solid !important;}
 .pf2-item-block label {
    color: #27241f !important;
    font-weight: bold;
    padding-left: 10px;}
 .pf2-item-block .description,  .pf2-item-block .text-muted {
    color: #27241f !important;
    margin-top: -10px !important;
    margin-bottom: 5px !important;
    opacity: 0.5;}
 .rarity { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; margin-bottom:10px; background-color: #98513D; color: white!important; margin-top:10px}
 .alignment { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; background-color: #576293; color: white!important}
 .size { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; background-color: #3B7B59; color: white!important}
 .trait { text-transform: uppercase; padding:4px 10px 4px 10px; border:2px solid #D9C484; margin: 10px 10px 10px 0px; background-color: #5E0000; color: white!important}
 .trait-form { padding:12px}
 .level { float:right;}
 .table,  .table td,  .table th,  .table-striped,  .table-striped td,  .table-striped th {
      font-family: Tauri Regular!important;
      line-height: 1.6;
      font-size: 14px;
      background: #fffcf5!important;
      color: #27241f!important;
      flex-flow: row wrap;
      border:none!important;
      box-shadow:none;}
 span {
     font-family: Tauri Regular!important;
     line-height: 1.6;
     font-size: 14px;
     flex-flow: row wrap;}
 .pf2-monster-sheet {
      font-family: Tauri Regular!important;
      line-height: 1.6;
      font-size: 14px;
      background: #fffcf5!important;
      color: #27241f!important;
      flex-flow: row wrap;
      padding: 15px}
 .pf-red-bg,  span.level {
      background:#460606;
      color: #f6d49f!important;
      font-family: Eczar Bold!important;
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;}
 .card {
      background-color: #fffcf5 !important;
      color: #27241f;
      border: #fffcf5;
      padding: 5px}
 .card-header {
      font-family: Eczar Bold!important;
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 8px 20px 5px 20px;
      letter-spacing: 1px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;}
 .card-body {
      color:#27241f!important;
      background:#fffcf5!important;
      padding: 10px;
      border: 1px solid}
 .card-body .row {
      margin-left: -2px;
      margin-right: -2px}
 .table {
      margin-bottom: 0px;
      width: 100%;
      border: none;}
 .table-responsive .table {
      min-width: 100%!important}
 .c { text-align:center}
 .b { font-weight: 800; color:black!important}
 .form-control { display:inline-flex; width:95%; color:black}
 .form-short { width:100px; margin-right:20px}
 .form-medium { width:500px; margin-right:20px}
 .rolldice {
     background-color: #460606!important;
     color: #F6D49F!important;
     font-size:16px;}
 .label-roller { box-shadow: none}
 .user-css-image-thumbnail { width:200px; float:right}
 .credit-artist-website,  .artist-credits,  .artist-credits a { color:black!important; font-family: Tauri Regular!important; font-size: 12px; text-align:center; text-shadow:none; box-shadow:none}
 