{
  border: 0;
  position: relative;
  font-family: Alegreya Regular;
  font-weight: 400;
  font-size: 16px;
  padding:10px
}
div.storybook-sheet {
  background: #FFFFFF;
  -webkit-box-decoration-break: slice;
  -o-box-decoration-break: slice;
  box-decoration-break: slice
}
.card {
   margin: 1em;
   padding: 1em;
   background-color: #e4e4e4;
   border-radius: 10px;
   -webkit-box-shadow: 10px 10px 29px -15px #000000;
   -moz-box-shadow: 10px 10px 29px -15px #000000;
   box-shadow: 10px 10px 29px -15px #000000;
   color: black;
   border: 1px solid #c7c7c7
}
.titleContainer {
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 20px
}
.titleContent {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0px 0px 0px 10px
}
.atttext, .othertext {
  line-height:.8em;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  border: 3px solid #000000;
  text-align: center;
  background: #FFFFFF;
  overflow: hidden;
  margin: auto;
  color: #000000;
  padding-top:15px;
  font-size: 40px;
  font-weight: bold
}
.inputLabel {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  line-height:1.0em;
 border-bottom: 1px dotted black
}
.inputLabel.att,  .inputLabel.other { border: none; padding-top:5px }
.img-fluid {
  -webkit-box-shadow: 0 8px 6px -6px #000000;
  -moz-box-shadow: 0 8px 6px -6px #000000;
  box-shadow: 0 8px 6px -6px #000000;
 padding:0px;
 background: #E4E4E4;
 border: 1px solid #222;
 border-radius: 0px;}
.inputContent.speed { font-size:32px }
.contentContainerSmall, .contentContainerSpeed, .contentContainerAtt, .contentContainerOther {
  border: 1px #000000 solid;
  padding: 2px 10px 4px 10px;
  position: relative;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
  background: #FFFFFF
}
.contentContainerSpeed { height:70px }
.contentContainerSpeedlabel { padding-top: 20px; text-align:center }
.speedlabel { font-size:32px }
input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0 }
.form-control,  .form-control:focus { font-size: 20px!important; padding:2px 2px 2px 4px; color: #000000; background: #FFFFFF }
textarea.form-control { margin: 10px 1px 0px 0px  }
input.form-control { margin: 1px 1px 1px 1px; text-align:center }
::-webkit-input-placeholder { opacity: .5}
textarea.form-control { min-height: none }
.contentContainerAtt .form-control, .contentContainerOther .form-control { border:none }
.CodeMirror pre.CodeMirror-line { text-align:left }
.l { text-align:left }