@font-face {
    font-family: Abibas; font-style: normal; font-weight: 400; src: url(https://rawcdn.githack.com/DinosaurBob/WorldAtlas/6818838453812bcefab924a2cd3dde17c5ccf27f/fonts/Abibas.otf)
}
@font-face {
    font-family: Aquifer; font-style: normal; font-weight: 400; src: url(https://rawcdn.githack.com/DinosaurBob/WorldAtlas/9bd54485e09b6b50b52426a116c1dc77daf6d6dd/fonts/Aquifer.otf)
}