.sheet-laurels-and-loot-light {
  --light-color: #F8F7F5;
  --dark-color: #404040;
  --dark-color-40: #40404020;
  --dark-color-30: #40404010;
  --dark-color-20: #40404000;
  --dark-color-10: #40404000;
  --dark-color-00: #40404008;
  --header-bg-color: #404040;
  --header-color: #F8F7F5;
  --note-background: #E0E0FF;
  --alert-color: #FF0000;
  --grey: grey;
  --header-font: Abibas;
  --default-font: Aquifer;}
 .sheet-laurels-and-loot-dark {
  --light-color: #302d2d;
  --dark-color: #F8F7F5;
  --dark-color-20: #383838;
  --dark-color-00: #3f3f3f;
  --dark-color-40: #3f3f3f;
  --dark-color-30: #303030;
  --dark-color-10: #303030;
  --header-bg-color: #3f3f3f;
  --header-color: #F8F7F5;
    --note-background: #18185a;
  --alert-color: #c00404;
  --grey: grey;
  --header-font: Abibas;
  --default-font: Aquifer;}
 .container-fluid {
  color: var(--dark-color) ;
  background-color: var(--light-color) ;
  font-size: 20px;
  font-family: var(--default-font) ;
  padding: 20px}
 .var, .ivar {   font-size: 18px; }
 .logo { width:100%}
 .table td,  .table th,  .table>tbody>tr>td { border: none; vertical-align:middle}
 .table { width:100%; border-spacing: 2px; margin-bottom: 0}
 .form-control,  .form-control:focus {
  font-size: 20px !important;
  font-family: var(--default-font) !important;
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important}
 .card {
  background-color: var(--light-color) !important;
  margin: 5px;
  color: var(--dark-color)!important;
  border: 2px solid var(--dark-color) !important;
  border-radius: 0}
 .card-header {
  font-family: var(--header-font) !important;
  color: var(--header-color) !important;
  background-color: var(--header-bg-color) !important;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding: 8px 2px;
  margin: 0px;
  border-bottom: 2px solid var(--dark-color) !important;}
 .card-body {
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
  font-family: var(--default-font) ;
  font-weight: 400;
  font-size: 20px;
  padding: 0px;
  margin: 0px;}
 .hdr,  .ihdr,  .lbl,  .ilbl, .abibas {
  font-family: var(--header-font) !important;
  font-weight:800; padding: 0px 3px;}
 .ilbl-shadow,  .lbl-shadow { margin-top:2px}
 th.ilbl,  .lbl,  .ilbl { color: var(--dark-color) ; background-color:var(--light-color) ; padding-left:10px; padding-right:10px}
 td.var { padding-left:10px}
 th.lbl,  th.ilbl,  td.var,  td.ivar,  th.slbl,  td.svar,  th.svar { border-left: 1px solid var(--dark-color) !important}
 th.lbl:first-child,  th.slbl:first-child,  th.ilbl:first-child,  td.var:first-child,  td.svar:first-child,  td.ivar:first-child,  th.svar:first-child { border-left:0 !important}
 .var,  .ivar { padding: 0px 3px; color: var(--dark-color) ; background-color:var(--light-color)}
 .lbl.od,  .ilbl.od { background-color: var(--dark-color-40)}
 .lbl.ev,  .ilbl.ev { background-color: var(--dark-color-30)}
 .var.od,  .ivar.od { background-color: var(--dark-color-00)}
 .var.ev,  .ivar.ev { background-color: var(--dark-color-20)}
 .note { background: var(--note-background)}
 .pd2 { padding: 2px !important; margin-bottom: 0; padding-top: 8px !important}
 .c { text-align:center; padding-left:0 !important; padding-right: 0 !important}
 .l { text-align:left; padding-right: 0 !important}
 .r { text-align:right; padding-left: 0 !important}
 .of { overflow-y: auto; width: 100%}
 .small,  .small a, small { font-size:10px !important}
 .attributes .card-body { text-align:center; padding: 0}
 .attributes .lbl {
   font-size: 40px;}
 .attributes .var {
   line-height: .8em;
   width: 45px;
   height: 45px;
   text-align: center;
   overflow: hidden;
   xmargin: 20px auto;
   color: var(--dark-color) !important;
   padding: 15px 10px !important;
   font-size: 40px;
   font-weight: bold}
 .data .var { text-align:center}
 .fa-square { padding: 0px 1px!important;}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a { font-size:12px}
 input[required] { border: 2px solid var(--alert-color) !important}
 select.form-control { padding: 0px 2px}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control,  select.form-control {
  background-color: var(--light-color) !important;
  border: 1px solid var(--dark-color) !important}
 textarea.form-control { min-height: 3em!important}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control {
   background-color: var(--light-color) !important;
   border: 1px solid var(--dark-color) !important;
   height: 30px;
   margin: 6px 0px}
 input.form-control { min-width:30px; max-width: 90%; margin-left:4px}
 .float-right { float:right; background:none !important}
 .grey { color: var(--grey) !important; font-style:italic}
 .table.skills th { padding:2px 2px}
 .table.skills td { padding:2px}
 .table.skills .lbl,  .table.skills .var { padding-left:2px; padding-right:2px}
 .card-header:first-child { border-radius: 0}
 .vam { vertical-align: middle;}
 .marked { font-weight:800; text-decoration: underline}
 .personality-traits .form-control { width: 80px; display: inline}
 .tracker .ivar { padding: 2px 10px}
 .var-level { font-size:60px !important}
 .var-spell,  .ivar-spell { font-size:14px !important}
 .ivar-specialties, .ivar-abilities-01, .ivar-abilities-02, .ivar-notes,  .ivar-backstory,
 .var-specialties, .var-abilities-01, .var-abilities-02, .var-notes,  .var-backstory { font-size:16px !important}
 .card-header.abilities { border-bottom: 0 !important}
 .card.ability .card-body { height: 3em; min-height:3em}
 .lbsm { width:30%}
 .lbmd { width:40%}
 .lblg { width:70%}
 .row { margin-left: 0; margin-right: 0}
 .card.spellbooks .col-12,  .card.spellbooks .col-md-6,  .card.personal .col-12,  .card.personal .col-md-6  { padding-left: 0; padding-right: 0}
 .ui-resizable { height: auto !important}
 .form .card-header { font-size: 24px}
 .card.ability .card-body,  .var-abilities-01,  .var-abilities-02 { padding-top: 8px}
input[required] { border: 2px solid var(--alert-color) !important}
 ::-webkit-input-placeholder { opacity: .5; color: var(--dark-color) !important}
 tr:nth-of-type(odd ) td { background-color: var(--dark-color-00) !important}
 tr:nth-of-type(even ) td { background-color: var(--dark-color-20) !important}
 .table.skills tbody tr:nth-of-type(odd ) { background-color: var(--dark-color-10) !important}