 {
    padding: 10px;
    border: 1px black solid;
    background: #fffcf5;
    color: #27241f ;}
 .pathfinder-statblock-data {
	padding-left: 10px;}
 h2 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 800;
    color: #fffcf5;
    padding: 0;
    margin: 0;}
 h3 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
    border: 1px black solid;
    padding: 4px;
    border-left: 0;
    border-right: 0;
    margin-top: 20px !important;
    margin-bottom: 10px;}
 .pathfinder-header {
    padding: 10px 10px;
    background: #072505;
    margin-bottom: 10px;}
 span.pathfinder-cr {
    color: #fffcf5;
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;}
 .form-control {
    background: #eae5db !important;
    color: #800000 !important;
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 0.05em;}
 label {
    display: inline-block;
    margin-bottom: .25rem;
    color: maroon;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;}
 .text-muted {
    color: #a09a8d !important;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 8px;}
 .form-control::placeholder {
  color: #900c30 !important;
  opacity: 0.4 !important;}
 