.bg-white {
    background-color: white !important;
}

.bg-dark {
    background-color: black !important;
}

.dark-header-center {
    background-color: black !important;
    font-weight: bold !important;
    color: white !important;
    text-align: center !important;
    font-size: 2rem !important;
}

.dark-header {
    background-color: black !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 2rem !important;
}

.large-font {
    font-size: 2rem !important;
}

.bigger-font {
    font-size: 1.15rem !important;
}

.slightly-bigger-font {
    font-size: 1.05rem !important;
}

input[type="checkbox"] {
    appearance: initial;
    background: white;
    width: 1.2em;
    height: 1.2em;
    border: 3px;
}
input[type="checkbox"]:checked {
    background: red;
}
input[type="checkbox"]:checked:after {
    /* Heres your symbol replacement */
    content: "✗";
    color: #fff;
    position: absolute;
    left: .6em;
    top: .6em;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    /*
     * If you want to fully change the check appearance, use the following:
     * content: " ";
     * width: 100%;
     * height: 100%;
     * background: blue;
     * top: 0;
     * left: 0;
     */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}