{
  padding: 0px!important;
  background: white!important;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0%;
  margin-left: auto;
  margin-right: auto;
  word-break: normal;
  font-family: Baskervville!important;
  -webkit-text-fill-color: black!important
}

body, div, th, td, strong, small {
  font-family: Baskervville!important;
  color: black!important;
  text-transform: none!important
}

.fssheet {
  background: white;
  color: black!important;
  font-family: Baskervville;
  font-weight: 500;
  font-size: 16px;
  padding: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0%;
  margin-left: auto;
  margin-right: auto;
}

li.list-group-item {
  padding-top: 4px;
  padding-bottom: 4px;
}

td {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  margin: 0px;
  padding: 4px !important;
}

table, .table {
  border: none!important;
  padding-bottom: 0px !important;
  margin-bottom: 5px !important
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  margin: 0% auto;
}

.card_logo {
  background: white
}

.card-title {
  color: black!important;
  font-family: Baskervville;
}

.card {
  text-align: center;
  display: inline-block;
  margin: 5px;
  background: #F7F2EC;
  opacity: 0.8;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 1rem;
  color: black!important;
  font-family: Baskervville;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.card-body {
  padding: 10px 20px 10px 20px!important
}

h4 {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Baskervville;
  font-weight: bold;
  font-size: 24px!important
}

li {
  display: flow-root;
}

table th, .statblock table th {
  background-color: transparent !important;
  color: black !important;
}

.occult_line {
  text-align: center;
  border: 1px solid black;
  display: inline;
  min-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 20px !important;
  font-weight: bold !important;
  color: black;
}

.half_line {
  vertical-align: middle !important;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  display: inline-block;
  white-space: nowrap;
  font-size: 20px !important;
  font-weight: bold !important;
  color: black;
}

.name_left {
  vertical-align: middle !important;
  text-align: left;
  white-space: nowrap;
  font-size: 20px !important;
  font-weight: bold !important;
  color: black;
}

.name_right {
  vertical-align: middle !important;
  text-align: right;
  white-space: nowrap;
  font-size: 20px !important;
  font-weight: bold !important;
  color: black;
}

.value_center {
  margin-top: 5px;
  vertical-align: middle !important;
  padding: 0px;
  display: inline-block;
  text-align: center;
  width: 50px;
  white-space: nowrap;
  font-size: 20px !important;
  font-weight: bold !important;
  color: black;
}

.desc {
  vertical-align: middle !important;
  white-space: nowrap;
  color: black;
  font-size: 20px !important;
  font-weight: bold !important;
  height: auto;
}

span.desc {
  vertical-align: middle !important;
  width: 40%;
  float: left;
  white-space: nowrap;
  color: black;
  font-size: 20px !important;
  font-weight: bold !important;
  height: auto;
}

.descr {
  color: black;
  font-size: 20px !important;
  font-weight: bold !important;
}

.value {
  width: 50%;
  float: right;
  color: black;
  font-size: 20px !important;
  margin-right: 10px;
}

.number-value {
  vertical-align: middle;
  padding: 2px;
  width: 50px;
  min-width: 50px;
  text-align: center;
  color: black;
  font-size: 20px !important;
  font-weight: bold !important;
}

.number-value .form-control, .number-value .form-control:focus {
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  width: 50px;
  min-width: 50px;
  text-align: center;
  color: black;
  font-size: 20px !important;
  font-weight: bold !important;
}

.value_pad {
  text-align: center;
  padding: 0px 0px 0px 0px;
  color: black;
  font-weight: bold;
}

p.textarea {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left!important;
}

textarea.form-control, textarea.form-control:focus {
  border: 1px solid black;
  text-align: left!important;
  width: 100%;
  height: 3em;
  padding: 10px;
}

.list-group-item, td {
  border-color: black;
}

.stat_name {
  text-align: left;
  color: black;
  font-size: 20px !important;
}

.w50 {
  width: 50px;
  min-width: 50px;
  text-align: center;
  vertical-align: middle;
}

td.attribute-value.od, td.attribute-value.ev {
  width: 50px;
  min-width: 50px;
  text-align: center;
}

td.skill-name.od, td.skill-name.ev {
  width: 125px;
  min-width: 125px;
  text-align: left;
  color: black;
  font-size: 20px !important;
  white-space: nowrap;
}

td.attribute-name.od, td.attribute-name.ev {
  width: 250px;
  min-width: 250px;
  text-align: left;
}

td.attribute-features.od, td.attribute-features.ev {
  width: 250px;
  min-width: 250px;
  text-align: left;
}

.r {
  text-align: right;
  float: right;
}

.badge-pill {
  text-align: left;
  display: flow-root;
  border: 1px solid black;
  padding: 4px;
  padding-left: 10px;
  border-radius: 15px;
  width: 80px !important;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  margin: 0px;
}

.badge-pill-long {
  text-align: left;
  display: flow-root;
  border: 1px solid black;
  padding: 4px;
  padding-left: 10px;
  border-radius: 15px;
  width: 120px !important;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  margin: 0px;
}

.armor_value .form-control {
  width: 50px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

.od {
  background-color: #f0e8e0 !important;
}

.ev {
  background-color: #e0d8d0 !important;
}

.row_dark {
  background-color: #f0e8e0 !important;
}

.row_light {
  background-color: #e0d8d0 !important;
}

.form-control, .form-control:focus {
  font-size: 20px!important;
}

textarea {
  text-align: left!important
}

.in-md {
  width: 100px
}

.in-sm {
  width: 50px
}

.of {
  overflow-y: auto;
}

strong, th {
  color: black
}