.container {
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px -5px 5px 0 #848084;
    -webkit-box-shadow: 5px -5px 5px 0 #848084;
    margin: 10px 0;
    background: white;
}

h2 {
    font-size: 20pt;
    color: black !important;
}

strong {
    color: black !important;
}

p {
    color: black !important;
}

.col-md-1, .col-md-11 {
    padding: 0;
    min-height: 45px;
}

#overcome_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url("https://www.worldanvil.com/uploads/images/09500de94ab9e9fde3f12a98cf8402f1.png")
}

#create_an_advantage_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url("https://www.worldanvil.com/uploads/images/eb1f89c9a03406e3d81913a397703e61.png")
}

#attack_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url("https://www.worldanvil.com/uploads/images/fa65e25a120454f9551f74b4694093fe.png")
}

#defend_icon {
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url("https://www.worldanvil.com/uploads/images/17d56c6336f91237a99cf857732cc62b.png")
}