<div>
  <div class="ItemTitle">
    {{ variables.name|upper }}
  </div>
  <div class="TypeList">
  {% if variables.type !='Other' %}
    <dd> {% if variables.armor_type is not empty %} {{variables.armor_type}} {% endif %} {{variables.type}} </dd> 
  {% endif %}
  </div>
  <hr>
  <div class="MainInfo Infobox">
    {% if variables.availability is not empty %}
      <b>Availability:</b> {{variables.availability}}<br>
    {% endif %}
    {% if (variables.type == 'Melee Weapon' or variables.type == 'Melee Energy Weapon' or variables.type == 'Ranged Weapon' or variables.type == 'Firearm') %}
      <b>Skill Required:</b> {{ variables.skill_required}}<br>
    {% endif %}
    {% if (variables.type == 'Firearm') %}
      <b>Ammunition:</b> {{variables.ammunition_type}}<br>
    {% endif %}
    {% if variables.trader is not empty %}
      <b>Trader:</b> {{variables.trader}}<br>
    {% endif %}
    {% if variables.price is not empty %}
      <b>Price:</b> {{ variables.price }}<br>
    {% endif %}
    {% if variables.trade_group is not empty %}
      <b>Trade Group:</b> Group {{variables.trade_group}} (at normal quality)<br>
      {% if variables.quality != 'Normal' %}
        <b>Quality:</b> {{variables.quality}}<br>
      {% endif %}
    {% endif %}
    {% if variables.weight is not empty %}  
      <b>Weight:</b> {{variables.weight}}<br>
    {% endif %}
    {% if variables.type == 'Armor' %}
      <b>Protected Areas:</b> {{variables.protected_areas}}<br>
    {% elseif variables.type == 'Shield' %}
      <b>Defensive Value:</b> {{ variables.defensive_value}}<br>
      <b>Block Value:</b> {{variables.protection_value}}<br>
    {% elseif (variables.type == 'Melee Energy Weapon' or variables.type == 'Melee Weapon') %}
      <b>Parry Value:</b> {{ variables.protection_value}}<br>
      <b>Reach:</b> {{variables.reach}}<br>
    {% endif %}
    {% if variables.magazine is not empty %}
      <b>Magazine:</b> {{variables.magazine}}<br>
    {% endif %}
  </div>
  <br>
  {% if (variables.type == 'Melee Energy Weapon' or variables.type == 'Melee Weapon') %}
    <div class="col-xs-12 Title Infobox">
      Damage
    </div>
    {% if variables.type == 'Melee Energy Weapon' %}
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-6 Infobox RangeNameLeft">
            Energy
          </div>
          <div class="col-xs-6 Infobox RangeNameRight">
            Exertion
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-6 Infobox RangeValueLeft">
            {{variables.energy_damage}}
          </div>
          <div class="col-xs-6 Infobox RangeValueRight">
            {{variables.exertion_damage}}
          </div>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-xs-12">
          <div class="col-xs-3 Infobox RangeNameLeft">
            Slashing
          </div>
          <div class="col-xs-3 Infobox RangeName">
            Piercing
          </div>
          <div class="col-xs-3 Infobox RangeName">
            Bludgeoning
          </div>
          <div class="col-xs-3 Infobox RangeNameRight">
            Exertion
          </div>
        </div>
        <div class="col-xs-12">
          <div class="col-xs-3 Infobox RangeValueLeft">
            {{variables.slashing_damage}}
          </div>
          <div class="col-xs-3 Infobox RangeValue">
            {{variables.piercing_damage}}
          </div>
          <div class="col-xs-3 Infobox RangeValue">
            {{variables.bludgeoning_damage}}
          </div>
          <div class="col-xs-3 Infobox RangeValueRight">
            {{variables.exertion_damage}}
          </div>
        </div>
      </div>
    {% endif %}
  <br>
  {% endif %}
  {% if variables.type == 'Armor' %}
    <div class="col-xs-12 Title Infobox">
      Protections
    </div>
    <div class="row">
      <div class="col-xs-12">
        {% if variables.energy_protection is not empty %}
          <div class="col-xs-2 Infobox RangeNameLeft">
            Slashing
          </div>
          <div class="col-xs-2 Infobox RangeName">
            Piercing
          </div>
          <div class="col-xs-3 Infobox RangeName">
            Bludgeoning
          </div>
          <div class="col-xs-2 Infobox RangeName">
            Energy
          </div>
          <div class="col-xs-3 Infobox RangeNameRight">
            Exertion
          </div>
        {% else %}
          <div class="col-xs-3 Infobox RangeNameLeft">
            Slashing
          </div>
          <div class="col-xs-3 Infobox RangeName">
            Piercing
          </div>
          <div class="col-xs-3 Infobox RangeName">
            Bludgeoning
          </div>
          <div class="col-xs-3 Infobox RangeNameRight">
            Exertion
          </div>
        {% endif %}
      </div>
      <div class="col-xs-12">
        {% if variables.energy_protection is not empty %}
          <div class="col-xs-2 Infobox RangeValueLeft">
            {{variables.slashing_protection}}
          </div>
          <div class="col-xs-2 Infobox RangeValue">
            {{ variables.piercing_protection}}
          </div>
          <div class="col-xs-3 Infobox RangeValue">
            {{ variables.bludgeoning_protection}}
          </div>
          <div class="col-xs-2 Infobox RangeValue">
            {{ variables.energy_protection }}
          </div>
          <div class="col-xs-3 Infobox RangeValueRight">
            {{variables.exertion_protection}}
          </div>
        {% else %}
          <div class="col-xs-3 Infobox RangeValueLeft">
            {{variables.slashing_protection}}
          </div>
          <div class="col-xs-3 Infobox RangeValue">
            {{ variables.piercing_protection}}
          </div>
          <div class="col-xs-3 Infobox RangeValue">
            {{ variables.bludgeoning_protection}}
          </div>
          <div class="col-xs-3 Infobox RangeValueRight">
            {{variables.exertion_protection}}
          </div>
        {% endif %}
      </div>
    </div>
  <br>
  {% elseif variables.type == 'Ranged Weapon' %}
    <div class="col-xs-12 Title Infobox">
      Ranges (in paces)
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2 Infobox RangeNameLeft">
          Close (+3)
        </div>
        <div class="col-xs-3 Infobox RangeName">
          Normal (±0)
        </div>
        <div class="col-xs-2 Infobox RangeName">
          Long (+3)
        </div>
        <div class="col-xs-3 Infobox RangeName">
          Very Long (+6)
        </div>
        <div class="col-xs-2 Infobox RangeNameRight">
          Max (+6)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2 Infobox RangeValueLeft">
          {{variables.closerange}}
        </div>
        <div class="col-xs-3 Infobox RangeValue">
          {{variables.normalrange}}
        </div>
        <div class="col-xs-2 Infobox RangeValue">
          {{variables.longrange}}
        </div>
        <div class="col-xs-3 Infobox RangeValue">
          {{variables.verylongrange}}
        </div>
        <div class="col-xs-2 Infobox RangeValueRight">
          {{variables.max_range}}
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-12 Title Infobox">
      Damage ({{damtype}}) / Exertion {{variables.exertion_damage}}
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2 Infobox RangeNameLeft">
          Close (+2)
        </div>
        <div class="col-xs-3 Infobox RangeName">
          Normal (±0)
        </div>
        <div class="col-xs-2 Infobox RangeName">
          Long (-1)
        </div>
        <div class="col-xs-3 Infobox RangeName">
          Very Long (-3)
        </div>
        <div class="col-xs-2 Infobox RangeNameRight">
          Max (-3)
        </div>
      </div>
    <div class="col-xs-12">
      <div class="col-xs-2 Infobox RangeValueLeft">
        {{dam + 2}}
      </div>
      <div class="col-xs-3 Infobox RangeValue">
        {{dam}}
      </div>
      <div class="col-xs-2 Infobox RangeValue">
        {{longdamage}}
      </div>
      <div class="col-xs-3 Infobox RangeValue">
        {{vlongdamage}}
      </div>
      <div class="col-xs-2 Infobox RangeValueRight">
        {{vlongdamage}}
      </div>
    </div>
  </div>
  <br>
  {% elseif variables.type == 'Firearm' %}
    <div class="col-xs-12 Title Infobox">
      Range difficulty modifier
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2 Infobox RangeNameLeft">
          Close (+3)
        </div>
        <div class="col-xs-3 Infobox RangeName">
          Normal (±0)
        </div>
        <div class="col-xs-2 Infobox RangeName">
          Long (+3)
        </div>
        <div class="col-xs-3 Infobox RangeName">
          Very Long (+6)
        </div>
        <div class="col-xs-2 Infobox RangeNameRight">
          Max (+9)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2 Infobox RangeValueLeft">
          {{variables.closerange}}
        </div>
        <div class="col-xs-3 Infobox RangeValue">
          {{variables.normalrange}}
        </div>
        <div class="col-xs-2 Infobox RangeValue">
          {{variables.longrange}}
        </div>
        <div class="col-xs-3 Infobox RangeValue">
          {{variables.verylongrange}}
        </div>
        <div class="col-xs-2 Infobox RangeValueRight">
          {{variables.max_range}}
        </div>
      </div>
    </div>
    <br>
  {% elseif variables.type == 'Ammunition' %} 
    {% if variables.slashing_damage is not empty %}
      {% set damtype = 'Slashing' %}
      {% set damage = variables.slashing_damage %}
    {% elseif variables.piercing_damage is not empty %}
      {% set damtype = 'Piercing' %}
      {% set damage = variables.piercing_damage %}
    {% elseif variables.bludgeoning_damage is not empty %}
      {% set damtype = 'Bludgeoning' %}
      {% set damage = variables.bludgeoning_damage %}
    {% elseif variables.energy_damage is not empty %}
      {% set damtype = 'Energy' %}
      {% set damage = variables.energy_damage %}
    {% endif %}
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6 Infobox RangeNameLeft">
          {{damtype}}
        </div>
        <div class="col-xs-6 Infobox RangeNameRight">
          Exertion
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-6 Infobox RangeValueLeft">
          {{damage}}
        </div>
        <div class="col-xs-6 Infobox RangeValueRight">
          {{variables.exertion_damage}}
        </div>
      </div>
    </div>
  <br>
  {% endif %}
  <div class="MainInfo Infobox">
    {% if variables.description is not empty %}
      <b>Description</b><br>
      <div class="DescriptionText">
        {{ variables.description}}
      </div>
    {% endif %}
  </div>
</div>