.starfinder-rpg-character
{
    border-radius: 25px;
    background-color: #2a3b4b;
    padding:12px;
    padding-left: 20px;
    color: #e4e4e4;
}
/*-------------------------DISPLAY-CSS----------------------*/
.sheet-menu
{
    background-color: #141414;
    border-radius: 25px;
    padding:2px;
    padding-left: 30px;
    font-size: 1.3em;
}
.sheet-menu-item
{
    padding-right: 5px;
}
.nav-pills .nav-link.active
{
  background-color: #002164;   
}
.sheet-section
{
    padding: 3.5px;
}
.page-title
{
    color: white;}
.card
{
    padding: 3.5px;
    margin: 0px;
    margin-bottom: 10px;
    background-color: slategrey;
}
.card-header
{
    color:white;
    font-weight: bolder;
    font-size: 2em;
    font-family: Impact,  'Arial Narrow Bold',  sans-serif;
    background-color: #1a3772;
    padding-left: 20px;
}
.card-content
{
    padding: 15px;
    font-size: 1.3em;
    background:#141414;
    color: #e4e4e4;
}
.sheet-section th
{
    text-align: center;
    color: #9c9c9c;

}
 .sheet-section .table-roll-label
{
    background: #002164;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.15em;
    padding: 12px;
    border-radius: 10%/35%;
    cursor: pointer;
}
 .sheet-section .table-label,
 .sheet-section .dr-label
{
    text-align: left;
    font-weight: bold;
    font-size: 1.15em;
    color: #e4e4e4;
}
 .sheet-section .table-total
{
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
    width: 18%;
    color: #0967ff;
}
.sheet-section .dr-value
{
    text-align: left;
    font-weight: bolder;
    font-size: 1.4em;
    width: 18%;
    color: #0967ff;
}
 .sheet-section .table-value
{
    text-align: center;
    font-size: 1.2em;
    color: #e4e4e4;
}
 .class-level-value,  .info-value
{
    color: #e4e4e4;
    font-size: 1.2em;
}
.bba-label
{
    color: #e4e4e4;
    padding: 2px;
    font-size: 0.8em !important;}
 .info-label
{
    color: #1484ec;
    border-top: solid 1px #1484ec;}
/*-------------------------FORM-CSS----------------------*/
.form-section-header
 {
    font-size: 1.25em;
    font-weight: bold;
    color: #ffffff;
    background: #004e97;
 }
 .form-section-header .btn-link
 {
    font-size: 1.25em;
    font-weight: bold;
    color: #ffffff;
 }
 .form-section-header .btn-link:hover
 {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: chartreuse;
 }
 .form-section-header .btn-link:focus
 {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: #fff458;
 }
 .form-section-content
 {
     padding-top: 12px;
     font-size: 1.1em;
     color: #004e97;
     background: #3c3c3c;
 }
 .form-section
 {
     display: inline block;
 }
 .form-row
 {
     padding: 5px;
     background: #3c3c3c;
 }
 .form-row .form-control
 {
     margin: 0px!important;
 }
 .form-section-content label
 {
     font-weight: bold;
     padding: 5px;
     color: whitesmoke;
     text-align: center;
     margin: 0px!important;
 }
 .form-section-content input
 {
     font-size: 1.1em;
     background: #141414!important;
     color: #86adff!important;
     border-radius: 15px;
     padding-left: 12px;
 }
 .form-section-content input::placeholder
 {
     color: #976c6c!important;
     font-size: 1em;
 }
 .form-section-content textarea
 {
     font-size: 1.1em;
     background: #141414!important;
     color: #86adff!important;
     border-radius: 15px;
     padding-left: 12px;
 }
 .form-section-content textarea::placeholder
 {
     color: #976c6c!important;
     font-size: 1em;
 }
.description
{
    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;
}
.skill-table
{
    margin: 0px;
    width: 100%;
}
.skill-table th
{
    text-align: center;
}
.skill-table .skill-form-value
{
    padding-top: 12px;
}
.skill-table .skill-form-value input
{
    text-align: center;
}
.spell-table
{
    margin: 0px;
    width: 100%;
}
.spell-table th
{
    text-align: center;
}
.spell-table .spell-form-value
{
    padding-top: 12px;
}
.spell-table .spell-form-value input
{
    text-align: center;
}
/*-------------------------character-badge-CSS----------------------*/
.badge-bar
{
    font-weight: bold;
    margin: 0px!important;
    padding: 5px;
}
.badge-bar .bar-label
{   
    color: whitesmoke;
    text-align: center !important;
    font-size: 1.5em;
    padding: 5px;
}
.badge-bar .bar-value
{
    font-size: 2em;
    text-align: center !important;
}
.character-badge-sucess
{
    color: #009e42;
}
.character-badge-info
{
    color: #61d2ff;
}
.character-badge-alert
{
    color: #ffb032;
}
.character-badge-danger
{
    color: #d80909;
}
