.desc-box {
    border: #AD4420 solid 2px;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: 0 0 5px 1px #AD4420;
}

.hidden {
    display: none;
}

.margin-left {
    margin-left: 15px;
}
.margin-top {
    margin-top: 15px;
}

.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    padding: 2px 2px 2px 4px;
    display: inline-flex
}

.attribute-block {
    border: #AD4420 solid 2px;
    border-radius: 12px;
    box-shadow: 0 0 5px 1px #AD4420;
    margin-bottom: 10px;
    margin-top: 10px;
}

.attribute-header-row {
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}

.attribute-row {
    text-align: center;
    padding: 5px 0;
}

.move-value {
    text-align: center;
    border: #AD4420 solid 1px;
    border-radius: 200px;
    font-size: 2rem;
    font-weight: 900;
    box-shadow: 0 0 5px 1px #AD4420;
}

.move-text {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
}

h4 {
    text-transform: none;
}

.move-value-small {
    text-align: center;
    border: #AD4420 solid 1px;
    border-radius: 200px;
    font-size: 1.1rem;
    font-weight: 900;
    box-shadow: 0 0 5px 1px #AD4420;
}

.move-text-small {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 200;
}

.fullsheet {
    color: #404241;
    border: #AD4420 solid 10px;
    border-radius: 15px;
    padding: 20px;
}

.outside {
    padding: 10px;
    background-color: whitesmoke;
}

.sheet-text-box {
    border: #AD4420 solid 2px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 5px 1px #AD4420;
}