<div class="outside">
    <div class="fullsheet">
        <div class="move-value margin-top">
            <input value="{{ variables.hp_current is defined ? variables.hp_current }}"
                   class="number-form" id="hp_current" name="hp_current" placeholder=""
                   type="number" max={{ variables.hp_max }} min=0 /> / {{ variables.hp_max }}</div>
        <div class="move-text"><label for="hp_current"><h4>HP</h4></label></div>
        <div class="sheet-text-box">
            <div class="sheet-text-title">
                <label for="notes" class="sheet-text-heading">Notes</label>
            </div>
            <div class="sheet-text-content"><textarea class="form-control mention" id="notes" name="notes" rows="6"
                                                      placeholder="">{{ variables.notes is defined ? variables.notes }}</textarea>
            </div>
        </div>
    </div>
</div>