{
    border: none;
    padding: 0px!important;
}

body,
div,
p {
    background-color: white;
    color: black!important;
    font-size: 22px;
    font-family: PT Sans Narrow
}

em {
    color: black!important
}

a {
    color: #202020!important
}

.cyberpunkred-sheet {
    background-color: white
}

.noback {
    background-color: transparent!important
}

.noborder {
    border: none!important
}

.logo {
    background: url(https://www.worldanvil.com/i/2417599/render) center center no-repeat!important;
    height: 130px;
    background-size: contain!important;
    border: none
}

.card {
    background-color: #E9F7FC;
    margin-top: 20px;
    color: #202020!important;
    border: 0;
}

.card-header {
    background-color: #E9F7FC!important;
    padding: 2px;
    margin: 0px;
    margin-bottom: 2px;
    color: white;
}

.card-body {
    background-color: white!important;
    padding: 0px;
    margin: 0px;
    font-family: PT Sans Narrow;
    font-weight: 400;
    font-size: 22px;
    color: #202020!important
}

.form-control {
    margin-top: 1px;
    padding: 2px 2px 2px 4px
}

.sff {
    max-width: 80px;
}

.btn {
    color: #202020!important;
    background: none!important;
    border: none!important
}

.btn-dark.btn-block {
    color: white
}

td {
    padding: 0px
}

th {
    height: 20px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase
}

.l {
    text-align: left;
    padding-left: 10px
}

.c {
    text-align: center
}

.r {
    text-align: right;
    padding-right: 10px
}

.pd10 {
    padding: 10px
}

.pd {
    padding: 2px
}

.mt10 {
    margin-top: 10px
}

.lbl {
    background: #CAA0A0;
    padding: 2px 10px 2px 10px;
    font-family: PT Sans Narrow;
    font-weight: 400;
    font-size: 22px
}

.num {
    padding: 2px 15px 2px 10px;
    text-align: right;
}

.hdr {
    background-color: #E9F7FC;
    color: black;
    padding: 2px 10px 2px 10px;
    font-family: PT Sans Narrow;
    font-variant: small-caps;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 24px;
}

.att {
    margin-top: 5px;
    background-color: black;
    color: white;
}

.txt {
    background: white;
    color: black;
    padding: 2px 5px 2px 10px;
    border-left: 1px solid black;
}

.ev {
    background-color: white
}

.od {
    background-color: #E0EDF9
}

.tdr {
    padding: 2px 5px 2px 10px
}

.center {
    margin-left: auto;
    margin-right: auto
}

textarea.form-control {
    min-height: 2em!important;
}

a {
    text-decoration: underline
}

small,
small a {
    color: black!important
}

.inputLabel {
    display: block;
    border-top: 1px #0D4B64 dotted;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    padding: 2px 0px 2px 0px;
    margin-top: 3px;
}

.contentContainer {
    padding: 0;
    position: relative;
    margin-bottom: 10px;
    border: 0;
    background: white!important
}

.contentContainer-attribute .inputLabel {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    text-transform: uppercase
}

.contentContainer-attribute,
.contentContainer-attribute .rolldice {
    text-align: center;
    font-size: 24px;
}

.contentContainer-attribute .strong {
    font-family: Orbitron
}

.penalty {
    color: #0D4B64
}

small,
small a {
    color: black!important
}

.form-control,
.form-control:focus {
    font-size: 22px!important
}

.nb {
    border: 0
}

.head-bar {
    color: white!important;
    text-align: center;
    font-family: PT Sans Narrow!important;
    font-weight: 600!important;
    font-size: 28px!important;
    text-transform: uppercase;
}

.form-wrapper .head-bar {
    background-color: black!important
}