@font-face {
    font-family: PT Sans Narrow;
    font-style: normal;
    font-weight: 400;
    src: url(https://tillie-world.net/files/fonts/PTSansNarrow-Regular.ttf)
}

.head-bar {
    color: white!important;
    text-align: center;
    font-family: PT Sans Narrow!important;
    font-weight: 600!important;
    font-size: 28px!important;
    text-transform: uppercase;
    background: black;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(92, 2, 47, 1) 100%)
}