<div class="container-fluid bladerunner-sheet">
	<div class="row">
		<div class="col-12 col-xs-12">
			<div class="card my-2">
				<div class="contentContainer">
					<span class="inputContent">
                    {{ variables.name|default('') }}, {{ variables.archetype|default('') }}</span>
				</div>
            </div>
        </div>
    </div>
</div>