{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
	<div>
		<iframe src="{{ variables.url }}" style="width:100%; min-height: 500px; max-height:1200px; border: 1px #591717 solid;"></iframe>
	</div>
	<h3 class="m-b-0">{{variables.name|BBcode }}</h3>
	{% if variables.description %}
		<p>
			{{variables.description|BBcode|nl2br }}
		</p>
	{% endif %}
{% endblock %}