{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}
	<h3 class="m-b-0">{{variables.name|BBcode }}</h3>
	{% if variables.description %}
		<p>
			{{variables.description|BBcode|nl2br }}
		</p>
	{% endif %}
{% endblock %}