{% macro attrib_ux(dcode, pips) %}
  {{ atr_title }}D
  {% if pips is defined %}
    +{{pips}}
  {%endif%}
{% endmacro %}

{% macro quik_stat(qval, title) %}
<div class="quik_stat">
  <div class="flex-base flex-col flex-nowrap pts_group">
    <div id="force_points" class="pts_circle flex-base flex-col flex-nowrap justify-sp-around flex-align-content-center flex-align-items-cntr">
      {{ qval }}
    </div>
    <div class="marg_top_1em">
      {{ title }}
    </div>
  </div>
</div>
{% endmacro %}
