/*
  _                           _                     _             ____               _    _        
 (_|   |                     (_|   |   |_/         | |    |      (|   \             | |  | |       
   |   |  __          ,_       |   |   | __   ,_   | |  __|       |    | __,   ,_   | |  | |       
   |   | /  \_|   |  /  |      |   |   |/  \_/  |  |/  /  |      _|    |/  |  /  |  |/_) |/  |   | 
    \_/|/\__/  \_/|_/   |_/     \_/ \_/ \__/    |_/|__/\_/|_/o  (/\___/ \_/|_/   |_/| \_/|__/ \_/|/
      /|                                                     /                                  /| 
      \|                                                                                        \| 

Your World, Darkly; A theme by Oneriwien (Damion Otter)*/
/* ====== */
/* GLOBAL */
/* ====== */

* {
    --heading-font: Lora;
    --primary-font: Times;
    --secondary-font: SpecialElite;
    
    --primary-color: RGB(170, 170, 170);
    --header-color: RGB(120, 120, 120);
    --secondary-color: RGB(90, 100, 110);
    --highlight-color: RGB(100, 110, 130);
    --border-color: RGB(80, 80, 80);
    --lightborder-color: RGB(90, 90, 90);
    
    --heading1-background: -webkit-linear-gradient(RGB(170, 170, 170), RGB(150, 150, 150), RGB(130, 130, 130), RGB(110, 110, 110), RGB(90, 90, 90), RGB(90, 90, 90));
    --heading2-background:  -webkit-linear-gradient(RGB(110, 110, 110), RGB(90, 90, 90));
    
    --box-background: RGBA(140, 140, 140, 0.1);
}

/* ===== */
/* FONTS */
/* ===== */

@font-face {
	font-family: Lora;
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/lora/v12/4vqKRIwnQQGUQQh-PnvdMA.woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: SpecialElite;
  font-style: normal;
  font-weight: 400;
  src:url(https://fonts.gstatic.com/s/specialelite/v8/9-wW4zu3WNoD5Fjka35JmzxObtw73-qQgbr7Be51v5c.woff2);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* ==== */
/* BODY */
/* ==== */

.page {
    background: RGB(50, 50, 50);
    background-image: url(/themes/darkly/images/articlebackground.png);
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 14px;
}

.presentation-interface {
    background: RGB(0, 0, 0);
    background-image: url(/themes/darkly/images/background.jpg);
    background-attachment: fixed;
}

/* ======== */
/* HEADINGS */
/* ======== */

.user-css h1, .user-css-extended h1 {
    font-size: 500%;
    text-align: center;
    font-family: var(--heading-font);
    background: var(--heading1-background);
    margin-bottom: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-css h2, .user-css-extended h2 {
    font-size: 200%;
    font-family: var(--heading-font);
    background: var(--heading2-background);
    margin-bottom: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px RGB(150, 150, 150) solid;
}

.user-css h3, .user-css-extended h3 {
    font-size: 170%;
    border-bottom: 1px RGB(150, 150, 150) dotted;
}

.user-css h4, .user-css-extended h4 {
    font-size: 140%;
}

.user-css h4, .user-css-extended h4 {
    font-size: 110%;
}

.user-css h3, .user-css h4, .user-css h5, .user-css .details h5  {
    font-family: var(--heading-font);
    color: var(--header-color);
}

.user-css-extended h3, .user-css-extended h4, .user-css-extended h5 {
    font-family: var(--heading-font);
    color: var(--header-color);
}

/* ==== */
/* TEXT */
/* ==== */

.user-css b, .user-css-extended b {
    color: var(--secondary-color);
}

.user-css a, .user-css a:focus,
.user-css-extended a, .user-css-extended a:focus {
    color: var(--secondary-color);
    transition: color 0.4s;
}

.user-css a:hover,
.user-css-extended a:hover {
    color: var(--highlight-color);
	text-decoration: none;
}

.user-css .text-danger,
.user-css-extended .text-danger {
    color: var(--secondary-color);
}

/* ========= */
/* FORMATING */
/* ========= */
 
.user-css hr, .user-css-extended hr {
    border: 2px var(--border-color) solid;
}
 
.user-css blockquote {
    background: var(--box-background);
    padding: 20px;
    margin: 10px;
    border-left: 10px var(--border-color) solid;
    font-size: 20px;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}

.user-css blockquote a, .user-css blockquote a:hover, .user-css blockquote b {
    font-family: var(--secondary-font);
}

.user-css blockquote .author {
    display: block;
    font-size: 14px;
    font-family: var(--secondary-font);
    font-style: normal;
    color: var(--secondary-color);
}

/* ========== */
/* SIDE PANEL */
/* ========== */

.user-css .panel {
    background: var(--box-background);
    border-left: 8px var(--border-color) solid;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 0px;
}

/* ============= */
/* ARTICLE PANEL */
/* ============= */

.user-css .article-panel {
    padding: 10px;
    background-color: var(--box-background);
    margin-bottom: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border-radius: 0px;
    border: 1px 1px var(--border-color) solid;
    box-shadow: 3px 3px 3px RGB(30, 30, 30);

}

.user-css .article-panel:hover {
    box-shadow: 4px 4px 6px RGB(30, 30, 30);
}   
    
.user-css .article-panel img {
    border-radius: 0px;
    box-shadow: 2px 2px 2px RGB(30, 30, 30);
}

.user-css .divider {
    border-radius: 0px;
    box-shadow: none;
}

/* ======= */
/* MAP BOX */
/* ======= */

.user-css .map-box {
    padding: 10px;
    background-color: var(--box-background);
    margin-bottom: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    border-radius: 0px;
    border: 1px var(--border-color) solid;
    box-shadow: 3px 3px 3px RGB(30, 30, 30);
}

.user-css .map-box:hover {
    box-shadow: 4px 4px 6px RGB(30, 30, 30);
}

/* ======= */
/* SECRETS */
/* ======= */

.user-css-secret {
    padding: 0px;
    background-color: transparent;
}

/* ======= */
/* SPOILER */
/* ======= */

.user-css .well, .user-css-extended .well {
    background: var(--box-background);
    background-color: transparent;
    border: 1px var(--border-color) solid;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* ====== */
/* IMAGES */
/* ====== */

.user-css .artist-credits {
    background: transparent;
}

.page-article .cover img {
    box-shadow: 0px 0px 0px black;
}

.page-article .cover img:hover {
    box-shadow: 0px 0px 0px black;
}

.page-article img {
    box-shadow: 3px 3px 3px RGB(30, 30, 30);
    transition: box-shadow 0.4s;
}

.page-article img:hover {
    box-shadow: 4px 4px 8px RGB(30, 30, 30);
}

/* ====== */
/* TABLES */
/* ====== */

.page .table th {
    border-top: 6px var(--lightborder-color) solid;
}

.page .table td {
    border: none;
}

.user-css .table-striped tr:nth-child(odd) {
    background-color: RGBA(160, 160, 160, 0.2);
}

.user-css .table-striped tr:nth-child(even) {
    background-color: RGBA(160, 160, 160, 0.1);
}

/* ============ */
/* MENU CONTROL */
/* ============ */

.user-css .menu-control {
    height: 50px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--box-background);
    border-left: 1px var(--lightborder-color) solid;
    border-right: 1px var(--lightborder-color) solid;
    border-bottom: 2px var(--lightborder-color) solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: height 0.6s;
}

.user-css .menu-control:hover {
    height: 80px;
    width: 50px;
    right: 30px;
    top: 0px;
    background: var(--box-background);
    border-left: 1px var(--lightborder-color) solid;
    border-right: 1px var(--lightborder-color) solid;
    border-bottom: 2px var(--lightborder-color) solid;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* =========== */
/* BACKTOWORLD */
/* =========== */
 
.user-css div .backtoworld a {
    background: var(--border-color);
    color: var(--primary-color);
    box-shadow: 2px 1px 3px RGB(10, 10, 10);
    transition: background 0.4s;
}

.user-css div .backtoworld a:hover {
    background: var(--lightborder-color);
    border: none;
    box-shadow: 2px 1px 3px RGB(10, 10, 10);
}

/* ========= */
/* NAV STRIP */
/* ========= */

.user-css .nav-strip {
    background-color: var(--border-color);
    transition: background-color 0.4s;
}

.user-css .nav-strip:hover {
    background-color: var(--lightborder-color);
}

.user-css .nav-strip a {
    color: var(--primary-color);
}

.user-css .nav-strip a:hover {
    border: none;
    color: var(--primary-color);
}

/* ============== */
/* COMMENT SECTION */
/* ============== */

.page textarea {
    color: black;
}

.page .btn-primary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
    border-color: RGB(0, 0, 0);
    border-radius: 0px;
    box-shadow: 2px 2px 3px RGB(30, 30, 30);
}

.page .btn-primary:focus,
.page .btn-primary.focus {
  color: var(--primary-color);
  background-color: var(--highlight-color);
    border-color: RGB(0, 0, 0);
    border-radius: 0px;
    box-shadow: 2px 2px 3px RGB(30, 30, 30);
}

.page .btn-primary:hover {
  color: var(--primary-color);
  background-color: var(--highlight-color);
    border-color: RGB(0, 0, 0);
    border-radius: 0px;
    box-shadow: 2px 2px 3px RGB(30, 30, 30);
}

.page .comment-box {
    background: var(--box-background);
    padding: 20px;
    margin: 10px;
    border: 1px var(--border-color) solid;
    border-left: 6px var(--border-color) solid;
    font-size: 20px;
    color: var(--secondary-color);
}

/* ========== */
/* BOOK COVER */
/* ========== */

.user-css .bookcover a .booktitle {
    background-color: RGBA(230, 230, 230, 0.9);
    color: RGBA(60, 60, 60, 0.9);
    border-right: 8px RGB(30, 30, 30) solid;
    transition: background-color 0.4s,color 0.4s, border-right 0.4s;
}

.user-css .bookcover a:hover .booktitle {
    background-color: RGBA(60, 60, 60, 0.9);
    color: RGBA(230, 230, 230, 0.9);
    border-right: 8px RGB(90, 90, 90) solid;
}

.user-css .bookcover a img {
    opacity: 1;
    box-shadow: 3px 3px 3px RGB(30, 30, 30);
    transition: opacity 0.4s, box-shadow 0.4s;
}

.user-css .bookcover a:hover img {
    opacity: 0.35;
    box-shadow: 4px 4px 8px RGB(10, 10, 10);
}


/* ======== */
/* METADATA */
/* ======== */

.user-css-extended .nav-tabs li.active a {
    background-color: RGB(90, 90, 90);
    box-shadow: none;
}

/* ==== */
/* TAGS */
/* ==== */

.user-css a.tag, .user-css-extended a.tag {
    background: RGB(70, 70, 70);
    color: RGB(90, 100, 110);
    font-family: Times;
    border-radius: 0px;
 
}
 
.user-css a.tag:hover, .user-css-extended a.tag:hover {
    background: RGB(60, 60, 60);
    color: RGB(100, 110, 120);
    border: 0px;
}

/* ===== */
/* Rolls */
/* ===== */

.user-css .label-roller,
.user-css-extended .label-roller {
    background-color: RGB(90, 100, 110);
    padding: 5px;
    cursor: pointer;
    border-radius: 0px;
    box-shadow: 2px 2px 2px RGB(50, 50, 50); 
}

/* ========= */
/* FOLLOWERS */
/* ========= */

.user-css .followers-list a {
    border-bottom: 0px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-right: 10px;
}

.user-css .followers-list img {
	opacity: 0.6;
	transition: opacity 0.4s, box-shadow 0.4s;
    border-radius: 0px;
    box-shadow: 3px 3px 4px RGB(30, 30, 30);
}

.user-css .followers-list img:hover {
	opacity: 0.9;
    box-shadow: 4px 4px 6px RGB(30, 30, 30);
}

.user-css .followers-list [title]{
	position:relative;
	z-index: 5000;
	font-family: Lora;
	font-size: 12pt;
    color: RGB(190, 190, 190);
}

.user-css .followers-list [title]:after {
	content:attr(title);
	color:#fff;
	background: RGB(30, 30, 30);
	background: RGBA(20,20,20,0.8);
	padding:4px;
	position:absolute;
	left:-9999px;
	opacity:0.3;
	bottom:100%;
	white-space:nowrap;
	-webkit-transition:0.15s linear opacity;
	transition: opacity 0.15s linear;
}
.user-css .followers-list [title]:hover:after{
	left:5px;
	opacity:1;
}

/* ========== */
/* SEARCH BAR */
/* ========== */

/* THIS STUFF IS COMPLICATED IF YOU HAVE QUESTIONS, ASK ONERIWIEN. */

.user-css .search-form .typeahead-input {
    width: 250px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    background-color: rgba(190,190,190,0.7);
    background-image: none;
    border: 1px solid;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.user-css .typeahead  li .text-muted {
	color: #555;
}

.user-css .typeahead  li.active a {
	background: RGB(90, 100, 110);
	color: RGB(230, 230, 230);
}

.user-css .typeahead  li.active a {
	background: RGB(90, 100, 110);
	color: RGB(230, 230, 230);
}

/* ======== */
/* TIMELINE */
/* ======== */
 
.page-timeline h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: Lora;
    background: -webkit-linear-gradient(RGB(170, 170, 170), RGB(150, 150, 150), RGB(130, 130, 130), RGB(110, 110, 110), RGB(90, 90, 90), RGB(90, 90, 90));
    margin-bottom: 20px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timeline .important {
    font-size: 12px;
}

.timeline li .timeline-panel {
    border: none;
    border-radius: 0px;
    background: RGBA(130, 130, 130, 0.2);
}
 
.timeline .milestone {
    background: RGB(50, 50, 50);
}

.timeline .header-icon {
    font-size: 12px;
}

.timeline .milestone p {
    padding-top: 3px;
}
 
.timeline:before {
    background-color: RGB(80, 90, 100);
}
 
.timeline li .tl-circ {
    border: 3px solid RGB(80, 90, 100);
    background: RGB(50, 50, 50);
}
 
/* =============== */
/* TIMELINE COLORS */
/* =============== */
 
.timeline .timeline-entry-milestone {
    border: 8px RGB(110, 110, 110) solid;
}
 
.timeline .timeline-entry-milestone .header-icon {
    border: 8px RGB(80, 90, 100) solid;
    color: RGB(80, 90, 100);
    background-color: #ffffff;
}
 
.timeline .major .timeline-panel{
    border-top: 8px RGB(120, 50, 50) solid;
} /* RED COLOR */
 
.timeline .major .header-icon {
    border: 8px RGB(120, 50, 50) solid;
    color: RGB(120, 50, 50);
    background-color: #ffffff;
} /* RED COLOR */
 
.timeline .important .timeline-panel {
    border-top: 8px RGB(170, 120, 50) solid;
} /* YELLOW COLOR */
 
.timeline .important .header-icon {
    border: 8px RGB(170, 120, 50) solid;
    color: RGB(170, 120, 50);
    background-color: #ffffff;
} /* YELLOW COLOR */
 
.timeline .minor .timeline-panel {
    border-top: 8px RGB(50, 120, 50) solid;
} /* GREEN COLOR */
 
.timeline .minor .header-icon {
    border: 8px RGB(50, 120, 50) solid;
    color: RGB(50, 120, 50);
    background-color: #ffffff;
} /* GREEN COLOR */
 
.timeline .trivial .timeline-panel{
    border-top: 8px RGB(50, 50, 120) solid;
} /* TEAL COLOR */
 
.timeline .trivial .header-icon {
    border: 8px RGB(50, 50, 120) solid;
    color: RGB(50, 50, 120);
    background-color: #ffffff;
} /* TEAL COLOR */
 
.timeline .no-importance .timeline-panel{
    border-top: 8px #c0cbdc solid;
}
 
.timeline .no-importance .header-icon {
    border: 8px #c0cbdc solid;
    color: #c0cbdc;
    background-color: #ffffff;
}

/* =============== */
/* TIMELINE ARROWS */
/* =============== */

.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid RGBA(110, 110, 110, 0.2);
  border-right: 0 solid RGBA(110, 110, 110, 0.2);
  border-bottom: 15px solid transparent;
  content: " ";
}
 
.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid RGBA(110, 110, 110, 0.2);
  border-right: 0 solid RGBA(110, 110, 110, 0.2);
  border-bottom: 14px solid transparent;
  content: " ";
}
 
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.user-css .statblock {
    background: #2a2a2a;
    padding: 20px;
    border: 1px #000 solid;
}
