.template-character_actrein {
	padding:20px;
	background-color: #020f1b;
	border: 1px solid #06223c;
}

.system-actrein h1 p, 
.system-actrein h2 p, 
.system-actrein h3 p, 
.system-actrein h4 p,
.system-actrein h5 p, 
.system-actrein h6 p {
    margin:0;
}

.system-actrein .sub-table-title,
.system-actrein .skill-table-header
{
    font-size: 1.1em;
    font-weight: 700; 
}

.system-actrein .dnd35-label {
	font-style: oblique;

}

.system-actrein .dnd35-value {
	font-weight: bold;
	font-size: 1.5em;
}

.system-actrein .dnd35-box {
	margin-top: 10px;
	margin-bottom: 20px;
	padding:10px;
	background-color: #d99d57;
	border: 1px solid #a9610e;
}

.system-actrein .attr-dnd35-label {
    font-size: 1.5em;
}

.system-actrein .attr-score {
    font-size: 2em;
    font-weight: bold;
}

.system-actrein .skills-list .row {
	margin-bottom: 5px;
	padding:2px;
	background-color: #9b5d53;
}