@font-face {
    font-family: Alegreya Regular; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/Alegreya-Regular.otf)
}
@media print { @page { margin: 0.2 cm; } .pagebreak { page-break-after: always; } .uwy, .ibox-content.p-0.secondary-context-menu {display: none !important;} div, span, a, em, strong, .rolldice { color:black!important; } }
 @media print and (width: 21cm) and (height: 29.7cm) {
    @page {
       margin: .2cm;
    }
 }
@media print and (width: 8.5in) and (height: 11in) {
    @page {
        margin: .5in;
    }
 }