@import url(https://fonts.googleapis.com/css?family=Prosto+One|Sigmar+One|Bangers);

.attr_title {
  font-weight: 700;
  font-style: italic;
}

.page {
  padding: 0 .5em 0 .5em;
}

.fr-attrib {
  border-top: 2px solid #6d6d6d;
  border-left: 1px solid #6d6d6d;
  border-right: 1px solid #6d6d6d;
  border-bottom: 2px solid #6d6d6d;
  background: #fff;
}

.back_col {
  background: rgba(70, 130, 180, 0.6);
  position: absolute;
  z-index: -1;
  right:0;
  top:0;
  bottom:0;
  width: 60vw;
}

.stripe_hightlight {
  background: rgba(70, 130, 180, 0.6);
}
.stripe_hightlight_light {
  background: rgba(70, 130, 180, 0.25);
}

.mb-2em {
  margin-bottom: 2em;
}
.mb-1em {
  margin-bottom: 1em;
}

.cat-bar {
  border-bottom:2px dashed #033661;
}

.categories {
  font-family: Prosto One, cursive;
  font-style: italic;
  -webkit-text-stroke: 1px rgba(3, 54, 97, 0.5);
  color: rgba(3, 54, 97, 0.8);
}

.cat_val {
  background: #fff;
}

.fnote {
  font-style: italic;
  font-size: 10pt;
}

.hero_title {
  font-family: Sigmar One, cursive;
  font-style: italic;
  -webkit-text-stroke: 1px rgba(3, 54, 97, 0.5);
  color: rgba(3, 54, 97, 0.8);
}
