@import url(https://fonts.googleapis.com/css?family=Prosto+One|Sigmar+One|Bangers);

.system-dch .dch_page {
  padding: 0;
  padding-left: .5em;
}

.system-dch .fr-attrib {
  border-top: 2px solid #6d6d6d;
  border-left: 1px solid #6d6d6d;
  border-right: 1px solid #6d6d6d;
  border-bottom: 2px solid #6d6d6d;
  background: #fff;
}

.system-dch .back_col {
  background: rgba(70, 130, 180, 0.6);
  position: absolute;
  z-index: -1;
  right:0;
  top:0;
  bottom:0;
  width: 60vw;
}

.system-dch .stripe_hightlight {
  background: rgba(70, 130, 180, 0.6);
}
.system-dch .stripe_hightlight_light {
  background: rgba(70, 130, 180, 0.25);
}

.system-dch .mb-2em {
  margin-bottom: 2em;
}
.system-dch .mb-1em {
  margin-bottom: 1em;
}

.system-dch .cat-bar {
  border-bottom:2px dashed #033661;
}

.system-dch .dch_categories {
  font-family: Prosto One, cursive;
  font-style: italic;
  -webkit-text-stroke: 1px rgba(3, 54, 97, 0.5);
  color: rgba(3, 54, 97, 0.8);
}

.system-dch .cat_val {
  background: #fff;
}

.system-dch .dch_fnote {
  font-style: italic;
  font-size: 10pt;
}

.system-dch .hero_title {
  font-family: Sigmar One, cursive;
  font-style: italic;
  -webkit-text-stroke: 1px rgba(3, 54, 97, 0.5);
  color: rgba(3, 54, 97, 0.8);
}

.system-dch .dch_container-fluid .row:nth-child(1),
.system-dch .dch_container-fluid .row:nth-child(n+2) div:nth-child(1),
.system-dch .attr_title {
  font-weight: 700;
  font-style: italic;
}

.system-dch .dch_container-fluid .row:nth-child(n+2) div:nth-child(2) {
  font-style: italic;
}
