.sheet-mbti-light {
  --light-color: #F8F7F5;
  --dark-color: #63302C;
  --dark-color-40: #e2daca;
  --dark-color-30: #d2caba;
  --dark-color-20: #f2eada;
  --dark-color-10: #F8F7F5;
  --dark-color-00: #F8F7F5;
  --header-color: #d2caba;
  --note-background: #E0E0FF;
  --alert-color: #FF0000;
  --grey: grey;
  --default-font: PT Sans Narrow;
}
.sheet-mbti-dark {
  --light-color: #302d2d;
  --dark-color: #F8F7F5;
  --dark-color-40: #303030;
  --dark-color-30: #3f3f3f;
  --dark-color-20: #303030;
  --dark-color-10: #303030;
  --dark-color-00: #3f3f3f;
  --header-color: #3f3f3f;
  --note-background: #18185a;
  --alert-color: #c00404;
  --grey: grey;
  --default-font: PT Sans Narrow;
}
.container-fluid {
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
  font-size: 20px !important;
  font-family: var(--default-font) !important;
  padding: 20px;}
 .table td, .table th, .table>tbody>tr>td { border: none; vertical-align:middle}
 .table { width:100%; border-spacing: 2px; margin-bottom: 0}
 .form-control, .form-control:focus {
  font-size: 20px !important;
  font-family: var(--default-font) !important;
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important }
 .card {
  background-color: var(--light-color) !important;
  margin: 5px;
  color: var(--dark-color)!important;
  border: 2px solid var(--dark-color) !important;
  border-radius: 0}
 .card-header {
  color: var(--dark-color) !important;
  background-color: var(--header-color) !important;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  padding: 8px 2px;
  margin: 0px;
  border-bottom: 2px solid var(--dark-color) !important;}
 .card-body {
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
  font-family: var(--default-font) ;
  font-weight: 400;
  font-size: 20px;
  padding: 0px;
  margin: 0px;}
 .lbl, .ilbl { font-weight:800; padding: 0px 3px;}
 .ilbl-shadow, .lbl-shadow { margin-top:2px}
 th.ilbl, .lbl, .ilbl { color: var(--dark-color) !important; background-color:var(--light-color) !important; padding-left:10px; padding-right:10px}
 td.var { padding-left:10px}
 th.lbl,  th.ilbl,  td.var,  td.ivar,  th.slbl,  td.svar,  th.svar { border-left: 1px solid var(--dark-color) !important}
 th.lbl:first-child,  th.slbl:first-child,  th.ilbl:first-child,  td.var:first-child,  td.svar:first-child,  td.ivar:first-child,  th.svar:first-child { border-left:0 !important}
 .var, .ivar { padding: 0px 3px; color: var(--dark-color) !important; background-color:var(--light-color) !important }
 .lbl.od, .ilbl.od { background-color: var(--dark-color-40) !important}
 .lbl.ev, .ilbl.ev { background-color: var(--dark-color-30) !important}
 .var.od, .ivar.od { background-color: var(--dark-color-20) !important}
 .var.ev, .ivar.ev { background-color: var(--dark-color-00) !important}
 .note { background: var(--note-background) }
 .pd2 { padding: 2px !important; margin-bottom: 0; padding-top: 8px !important}
 .c { text-align:center; padding-left:0 !important; padding-right: 0 !important}
 .l { text-align:left; padding-right: 0 !important}
 .r { text-align:right; padding-left: 0 !important}
 .of { overflow-y: auto; width: 100%}
 .small, .small a { font-size:10px}
 .attributes .card-body { text-align:center; padding: 0}
 .attributes .var {
   line-height: .8em;
   border-radius: 80px;
   width: 80px;
   height: 80px;
   border: 2px solid var(--dark-color) !important;
   text-align: center;
   background-color: var(--light-color) !important;
   overflow: hidden;
   margin: 10px auto;
   color: var(--dark-color) !important;
   padding-top: 20px;
   font-size: 40px;
   font-weight: bold}
 .data .var { text-align:center}
 .fa-square { padding: 0px 1px!important;}
 .credit-artist-name, .credit-art-title, .credit-artist-name a, .credit-art-title a { font-size:12px}
 input[required] { border: 2px solid var(--alert-color) !important}
 select.form-control { padding: 0px 2px}
 input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number], input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control, select.form-control {
  background-color: var(--light-color) !important;
  border: 1px solid var(--dark-color) !important }
 textarea.form-control { min-height: 3em!important }
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0 }
 input[type=number], input[type=number]:focus { -moz-appearance: textfield; text-align:center }
 input.form-control {
   background-color: var(--light-color) !important;
   border: 1px solid var(--dark-color) !important;
   height: 30px;
   margin: 6px 0px }
 input.form-control { min-width:30px; max-width: 90%; margin-left:4px }
 .float-right { float:right }
 .grey { color: var(--grey) !important; font-style:italic }
 .table.skills th { padding:2px 2px }
 .table.skills td { padding:2px }
 .table.skills .lbl, .table.skills .var { padding-left:2px; padding-right:2px }
 .table.skills tbody tr:nth-of-type(odd ) { background-color: var(--dark-color-10) !important }
 .card-header:first-child { border-radius: 0 }
 .vam { vertical-align: middle; }
 .marked { font-weight:800; text-decoration: underline}
 .personality-traits .form-control { width: 80px; display: inline }
 .tracker .ivar { padding: 2px 10px }
 ::-webkit-input-placeholder { opacity: .5; color: var(--dark-color) !important }