    <div class="row do-not-print">
        <div class="col-12 c small">
            <br>
            Cosmere RPG Character Sheet &copy; 2024 <a href="https://www.brotherwisegames.com/">Brotherwise Games</a> - <a href="/w/sheet-creation/a/sheet-list">Sheet v1.00</a>, made by Tillerz - Updated: 2024-08-07</a><br>
        </div>
    </div>
