{ background-color: #fff}
body,  .head-bar,  .title,  strong,  .leftpill,  .leftpillpink,  .rightpill,  .rightpilllong,  div { text-transform: uppercase; font-family: "Yanone Kaffeesatz ExtraLight"}
.logocontainer { height:175px; width:240px}
.logo {
   width:240px; margin-left:0px;
   background: url(https://www.worldanvil.com/uploads/images/ab083a0e14e74a721a260f0a62d8da4c.png) center center no-repeat; 
   background-size: contain; height: 320px; margin-top:20px; background-color: #F89C24}
.ship {
   width:95%; margin-left:0px;
   background: url(https://www.worldanvil.com/uploads/images/58147ad7971981660c0456e0c3d97144.jpg) center center no-repeat; 
   background-size: contain; height: 218px; margin-top:20px; background-color: #fff}
span.copyright {
   text-align: center;
   display: block;
   width: 100%;
   padding: 4px}
.form-wrapper td { padding:3px}
.form-control { height:22px!important; padding: 4px 2px 0px 2px; margin: 1px 10px 0px 0px!important; display:inline; width:98%; border:none; font-size:20px!important}
input[type=number],  .input-small { width: 50px!important}
.rightpillform input[type=number] { width: 37px!important; border:none; background:white; margin-left:-2px!important}
input { margin: 3px!important}
textarea,  .myinputfield { width:95%!important}
.form-wrapper .list-group-item { padding-top:0px; padding-bottom:0px; font-size:18px!important}
.list-wide { font-size:20px; line-height:2.0!important}
.wbg {
   margin-left:10px;
   color: #9F4677!important;
   background:#fff;
   box-shadow: inset 0 0 0 10px #fff;
   -moz-box-shadow: inset 0 0 0 10px #fff;
   -webkit-box-shadow: inset 0 0 0 10px #fff;
   padding: 14px;
   font-weight: 700; font-size:32px}
p { margin-bottom:0px!important}
.card,  .card-header,  .card-body,  .list-group-item { border:none; background-color: #fff}
.card-body { padding: 10px 0px 10px 10px; line-height:1.6!important}
.title { color: #F89C24; font-size:28px; background:none}
.header { color: #9F4677}
.list-group-item,  strong { color: #8A70A6; padding: 0px 10px; line-height:1.6!important}
b,  .sta-sheet strong { font-size:24px; display: inline-block; color: #8A70A6!important; text-decoration: underline}
.light { color: #B6B2D7}
.itable { display:inline; width:auto; text-align:center }
small { color: #B6B2D7; font-size:14px}
.mdf { font-size:20px!important}
table { width:100%; color: #8A70A6}
tr,  th,  td { padding:0px; margin:0px}
td.tdbottom { border-bottom: 2px solid #D596B3}
.corner1-lightpurple {
   background: #B6B2D7;
   border: 2px solid #B6B2D7;
   border-top-left-radius: 40px 50%;
   width: 100%;
   height: 40px}
.corner2-yellow {
   background: #F89C24;
   border: 2px solid #F89C24;
   border-bottom-left-radius: 40px 50%;
   width: 100%;
   height: 40px;
   margin-bottom:20px}
.hbar1-lightpurple { margin-left:-20px; width:103%; height:40px; background-color: #B6B2D7}
.hbar2-purple { width:100%; height:40px; background-color: #8A70A6}
.hbar3-yellow { margin-left:-20px; width:103%; height:40px; background-color: #F89C24; margin-top:30px; margin-bottom:20px}
.hbar4-lightyellow { width:100%; height:40px; background-color: #F9AB75; margin-bottom:20px}
.ofa { overflow:auto }
.mysidebar { display: inline-block; max-height:100%; overflow:hidden}
.vbar1-lightpurple { width:100%; height:40%; min-height:500px; margin-top:-20px; background-color: #B6B2D7}
.vbar2-purple { width:100%; height:20%; min-height:300px; margin-top:10%; background-color: #8A70A6}
.vbar3-lightpurple { width:100%; height:30%; min-height:400px; margin-top:10%; background-color: #B6B2D7}
.vbar4-pink { width:100%; height:20%;min-height:200px; margin-top:10%; background-color: #D596B3}
.head-bar {
   font-size:28px;
   color: #9F4677!important;
   text-indent: 1rem;
   background-color: #F89C24;
   border-radius: 20px/50%;
   margin-top:30px;
   padding: 0px 10px 0px 10px}
.leftpill {
   display: inline-block;
   font-size:20px;
   color: white!important;
   border: 2px solid #8A70A6;
   background: #8A70A6;
   text-align: right;
   border-top-left-radius: 15px 50%;
   border-bottom-left-radius: 15px 50%;
   width:110px!important;
   max-width:none;
   height: 30px;
   margin: 10px 10px 10px 0px!important;
   padding-right:3px}
.leftpillpink {
   display: inline-block;
   font-size:20px;
   color: white!important;
   border: 2px solid #D596B3;
   background: #D596B3;
   text-align: right;
   border-top-left-radius: 15px 50%;
   border-bottom-left-radius: 15px 50%;
   width:80px!important;
   max-width:none;
   height: 30px;
   margin: 10px 10px 10px 0px!important;
   padding-left:10px;
   padding-right:3px}
.leftpillpinktiny {
   display: inline-block;
   font-size:16px;
   color: white;
   border: 2px solid #D596B3;
   background: #D596B3;
   text-align: left;
   border-top-left-radius: 15px 50%;
   border-bottom-left-radius: 15px 50%;
   width:40px!important;
   max-width:none;
   height: 30px;
   margin: 10px 10px 10px 0px!important;
   padding-left:10px;
   padding-right:3px}
.leftpilllong {
   display: inline-block;
   font-size:16px;
   color: #8A70A6;
   border: 2px solid #8A70A6;
   background: white;
   text-align: left;
   border-top-left-radius: 15px 50%;
   border-bottom-left-radius: 15px 50%;
   width:100%!important;
   max-width:none;
   height: 30px;
   margin: 10px 10px 10px 0px!important;
   padding-left:10px;
   padding-right:3px}
.rightpill {
   display: inline-block;
   font-size:16px;
   color: #8A70A6!important;
   border: 2px solid #8A70A6;
   border-top-right-radius: 15px 50%;
   border-bottom-right-radius: 15px 50%;
   text-align: center;
   min-width:60px;
   max-width:60px;
   height: 30px;
   margin: 9px 10px 10px 0px!important}
.rightpillpink {
   display: inline-block;
   font-size:16px;
   color: #D596B3!important;
   border: 2px solid #D596B3;
   border-top-right-radius: 15px 50%;
   border-bottom-right-radius: 15px 50%;
   text-align: center;
   min-width:30px;
   max-width:30px;
   height: 30px;
   margin: 10px 10px 10px 0px!important;}
.rightpillpink {
   display: inline-block;
   font-size:16px;
   color: #D596B3!important;
   border: 2px solid #D596B3;
   border-top-right-radius: 15px 50%;
   border-bottom-right-radius: 15px 50%;
   text-align: center;
   min-width:60px;
   max-width:60px;
   height: 30px;
   margin: 10px 10px 10px 0px!important;}
.rightpilllongpink {
   display: inline-block;
   font-size:16px;
   color: #D596B3!important;
   border: 2px solid #D596B3;
   background: white;
   text-align: left;
   border-top-right-radius: 15px 50%;
   border-bottom-right-radius: 15px 50%;
   width:80px!important;
   max-width:none;
   height: 30px;
   margin: 10px 10px 10px 0px!important;
  padding-left:5px;
   padding-right:3px}
.rightpilllong {
  display: inline-block;
 font-size:20px;
  color: #D596B3!important;
  border: 2px solid #D596B3;
  background: white;
  text-align: left;
  border-top-right-radius: 15px 50%;
  border-bottom-right-radius: 15px 50%;
  width:90%!important;
  max-width:none;
  height: 30px;
  margin: 10px 10px 10px 0px!important;
 padding-left:5px;
  padding-right:3px}
.rightpillform {
   display: inline-block;
   font-size:16px;
   color: #8A70A6!important;
   border: 2px solid #8A70A6;
   border-top-right-radius: 15px 50%;
   border-bottom-right-radius: 15px 50%;
   text-align: center;
   min-width:50px;
   max-width:50px;
   height: 30px;
  padding-left:5px;
   margin: 10px 10px 10px 0px!important;}
.emptypill {
   display: inline-block;
   font-size:18px;
   color: #8A70A6!important;
   border: 2px solid #8A70A6;
   border-top-left-radius: 15px 50%;
   border-bottom-left-radius: 15px 50%;
   border-top-right-radius: 15px 50%;
   border-bottom-right-radius: 15px 50%;
   width:60px;
   height: 30px;
   padding-left:20px;
   margin:5px 10px 5px 5px}
.solidpill {
   display: inline-block;
   font-size:18px;
   color: #8A70A6!important;
   border: 2px solid #8A70A6;
   background: #8A70A6;
   border-top-left-radius: 15px 50%;
   border-bottom-left-radius: 15px 50%;
   border-top-right-radius: 15px 50%;
   border-bottom-right-radius: 15px 50%;
   width:60px;
   height: 30px;
   padding-left:20px;
   margin:5px 10px 5px 5px}
.smemptypill {
   display: inline-block;
   font-size:6px;
   color: #8A70A6!important;
   border: 1px solid #8A70A6;
   border-top-left-radius: 6px 50%;
   border-bottom-left-radius: 6px 50%;
   border-top-right-radius: 6px 50%;
   border-bottom-right-radius: 6px 50%;
   width:20px;
   height: 10px;
   padding-left:1px;
   margin:0px 2px 0px 0px}
.smsolidpill {
   display: inline-block;
   font-size:6px;
   color: #8A70A6!important;
   border: 2px solid #8A70A6;
   background: #8A70A6;
   border-top-left-radius: 6px 50%;
   border-bottom-left-radius: 6px 50%;
   border-top-right-radius: 6px 50%;
   border-bottom-right-radius: 6px 50%;
   width:20px;
   height: 10px;
   padding-left:1px;
   margin:0px 2px 0px 0px}
.smpilllabel { 
  font-size:12px!important;
  font-weight:bold;
  color:#8A70A6;
  background: #fff;}
