
.pf2-rpg
{
    background: #fefeee;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    color: #3c3c3c;
}
.sheet-title
{
    font-family: Arial;
}
.card
{
    border: #a0522d;
    color: #3c3c3c;
}
.char-info-dd
{
    background: #3c3c3c;
    margin: 0px;
    padding: 5px;
}
.char-info-dt
{
    border-top: 1px solid #55ccff;
    margin-bottom: 5px;
}