{
    padding: 0px!important
}

body, div, p, a, strong, small, span {
    color: #222222!important;
    font-family: BebasNeue Regular!important;
    font-size: 16px
}

.bt3e-sheet {
    padding: 20px;
    color: #222222!important;
    font-size: 16px;
    background: url(https://www.worldanvil.com/uploads/images/a581d42a02233ab00866483dc5f168a7.jpg)
}

.col-12, .col-md-6 {
    background-color: transparent
}

.logo {
    background: url(https://www.worldanvil.com/uploads/images/e7e442981d4f88c877f4fe1767f6b937.png) center center no-repeat!important;
    height: 200px;
    background-size: contain!important;
    border: none
}

.noback {
    background-color: transparent!important
}

span.copyright {
    text-align: center;
    display: block;
    width: 100%;
    padding: 4px
}

h2, h4, h5 {
    color: #222222!important
}

.btn {
    color: #000!important;
    background: none!important;
    border: none!important
}

th {
    padding: 6px 6px 6px 6px!important;
    background-color: #B4D0DC!important;
    border: 2px solid #F8FBFF;
    color: #222222
}

td {
    padding: 0px 6px 0px 6px!important;
    word-break: normal!important
}

th, td {
    border: 1px solid #666666
}

b, small {
    color: #222222!important
}

small {
    padding: 15px;
}

span.label.label-roller.rolldice, .rolldice em {
    background: #B4D0DC;
    color: #84C1FF
}

.mytable {
    width: 100%;
    background-color: #F8FBFF;
    margin-bottom: 20px;
    color: #84C1FF
}

.statblock p, .list-group-item {
    color: #222222!important
}

.padding-left {
    padding-left: 16px
}

.list-group {
    width: 100%px!important
}

.list-group-item {
    text-align: left;
    border-radius: 0px;
    background: #F8FBFF
}

.line-spacer {
    padding: none!important;
    margin: none!important
}

.card {
    border: 1px solid #222!important;
    border-radius: .25rem!important;
    background-color: white;
    -webkit-box-shadow: 6px 8px 4px 1px #444;
    -moz-box-shadow: 6px 8px 4px 1px #444;
    box-shadow: 6px 8px 4px 1px #444;
}

.card-header {
    padding: 2px;
    padding-left: 0.10em;
    color: black;
    font-family: BlackOpsOne Regular!important;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
    background: url(https://www.worldanvil.com/uploads/images/302f095320ed4f9b11d9ac86794ddd9d.png) center center;
    text-shadow: 0px 0px 8px #f00;
    -webkit-text-stroke: 1px #f88;
}

.card-body, .collapse {
    padding: 0px!important;
    width: 100%;
    background: #F8FBFF;
    color: #222222
}

.red {
    color: #841C04
}

.hdr {
    background-color: #add6ef;
    font-weight: 400;
    box-shadow: inset 0 -.5em .5em #95b8cf
}

.list-small li {
    padding: 0px 4px 0px 4px!important
}

.list-small {
    margin-top: 15px;
    width: 100%
}

.label-roller {
    position: relative;
    top: -3px
}

.skill, .cypher, .ability {
    margin-right: 20px!important
}

.comment {
    font-style: italic;
    padding: 10px!important
}

.alert {
    float: none;
    padding: 5px 12px 5px 12px;
    margin: 10px
}

.alertlist {
    float: none;
    padding: 3px 12px 3px 12px;
    margin: -5px -5px -5px 12px!important
}

.form-header-title {
    text-transform: none
}

.form-control {
    width: 80%;
    height: 25px!important;
    padding: 2px 2px 2px 2px;
    margin: 1px 10px 0px 10px;
    display: inline;
    background-color: white!important;
    color: #222222!important
}

input[type=number] {
    width: 60px;
    padding-right: 0px;
    text-align: right
}

.input-small {
    width: 60px!important
}

.input-med {
    width: 120px!important
}

input {
    margin: 3px!important
}

textarea {
    width: 95%!important;
    height: 60px!important
}

.form-wrapper .list-group-item {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white
}

.weapontable {
    background: white;
    text-align: center;
    width: 100%
}

.weapontable td {
    padding: 4px!important
}

.of {
    overflow-y: auto;
    width: 100%
}

.txt, .die {
    background: white!important
}

.ev {
    background-color: white!important
}

.od {
    background-color: #c0c0c0!important
}

.num {
    background: white;
    text-align: right;
    font-size: 20px
}

.warn {
    background: #ffd0d0;
    text-align: right;
    font-size: 20px;
    color: black
}

.novpad {
    padding-top: 0px;
    padding-bottom: 0px
}

strong {
    font-weight: 800;
    font-size: 16px
}

.badge-pill {
    float: right;
    padding: 2px;
    margin-top: 3px
}

.rolldice {
    font-size: 20px!important;
    font-family: BebasNeue Regular!important;
    height: 40px;
    margin-top: 6px!important;
    background-color: white!important;
    color: black!important
}

em {
    font-size: 24px;
    padding: 2px;
    color: black!important;
    background: none
}

.pd10 {
    padding: 10px!important
}

.mg10 {
    margin: 10px!important
}

.c {
    text-align: center
}

.l {
    text-align: left
}

.r {
    text-align: right
}

.sk {
    text-transform: uppercase
}

.txt, .num {
    padding-top: 4px!important;
    padding-bottom: 4px!important
}

.bld {
    font-weight: 800;
    text-transform: uppercase
}

.label {
    line-height: unset
}

td, th {
    padding: 6px!important
}

.emptypill {
    display: inline-block;
    font-size: 14px;
    color: #404040;
    background: #f8f8f8;
    border: 1px solid #c0c0c0;
    border-top-left-radius: 15px 50%;
    border-bottom-left-radius: 15px 50%;
    border-top-right-radius: 15px 50%;
    border-bottom-right-radius: 15px 50%;
    text-align: center;
    width: 30px;
    height: 23px;
    margin: 2px 3px 2px 2px
}

.solidpill {
    display: inline-block;
    font-size: 14px;
    color: #404040!important;
    border: 1px solid #c0c0c0;
    background: #e0a0a0;
    border-top-left-radius: 15px 50%;
    border-bottom-left-radius: 15px 50%;
    border-top-right-radius: 15px 50%;
    border-bottom-right-radius: 15px 50%;
    text-align: center;
    width: 30px;
    height: 23px;
    margin: 2px 3px 2px 2px
}

.my-2 {
    margin: 20px 0px 20px 0px
}