@font-face {
    font-family: BlackOpsOne Regular; font-size: 16px; font-style: normal; font-weight: 400; src: url(https://worldanvil-static.sfo2.cdn.digitaloceanspaces.com/fonts/BlackOpsOne-Regular.ttf)
}
@font-face {
    font-family: BebasNeue Regular; font-size: 16px; font-style: normal; font-weight: 400; src: url(https://tillie-world.net/files/fonts/BebasNeue-Regular.ttf)
}