.sheet-nycosrpg {
  --light-color: #F8F7F5 !important;
  --dark-color: #404040 !important;
  --odd: #40404020;
  --even: #40404030;
  --border: #F8F7F5 !important;
  --highlight-color-one: #974BCC;
  --highlight-color-two: #511F6A;
  --header-bg-color: #404040;
  --header-color: #F8F7F5;
  --alert-color: #FF0000;
  --header-font: Bangers Regular;
  --default-font: Bangers Regular;
  font-size: 28px;
  font-family: var(--default-font) ;
  letter-spacing: 2px;
  color: var(--dark-color) ;
  background-color: var(--light-color) ;
  padding: 20px
}
h2 { color: var(--dark-color) !important }
.logo { width:100%; text-align: center}
.form-control,  .form-control:focus {
 font-size: 20px !important;
 font-family: var(--default-font) !important;
 color: var(--dark-color) !important;
 background-color: var(--light-color) !important
}
.card {
  background-color: var(--light-color) !important;
  color: var(--dark-color)!important;
  margin: 5px;
  padding:5px;
  border: 2px solid var(--border) !important;
  border-radius: 0
}
 .card-body {
  color: var(--dark-color) !important;
  background-color: var(--light-color) !important;
  font-family: var(--default-font) ;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  border: none !important
}
 .hdr,  .ihdr,  .lbl,  .ilbl,  .abibas {
  font-family: var(--header-font) !important;
  font-weight:800; padding: 0px 3px;}
 .ilbl-shadow,  .lbl-shadow { margin-top:2px}
 th.ilbl,  .lbl,  .ilbl { color: var(--dark-color) ; background-color:var(--light-color) ; padding-left:10px; padding-right:10px}
 td.var { padding-left:10px}
 th.lbl,  th.ilbl,  td.var,  td.ivar,  th.slbl,  td.svar,  th.svar { border-left: 1px solid var(--border) !important}
 th.lbl:first-child,  th.slbl:first-child,  th.ilbl:first-child,  td.var:first-child,  td.svar:first-child,  td.ivar:first-child,  th.svar:first-child { border-left:0 !important}
 .var,  .ivar { padding: 0px 3px; color: var(--dark-color) ; background-color:var(--light-color)}
 .c { text-align:center; padding-left:0 !important; padding-right: 0 !important}
 .l { text-align:left; padding-right: 0 !important}
 .r { text-align:right; padding-left: 0 !important}
 .of { overflow-y: auto; width: 100%}
 .small,  .small a,  small { font-size:10px !important}
 .attributes .card-body { text-align:center; padding: 0}
 .attributes .lbl {
   font-size: 40px;}
 .attributes .var {
   line-height: .8em;
   width: 45px;
   height: 45px;
   text-align: center;
   overflow: hidden;
   xmargin: 20px auto;
   color: var(--dark-color) !important;
   padding: 15px 10px !important;
   font-size: 40px;
   font-weight: bold}
 .data .var { text-align:center}
 .credit-artist-name,  .credit-art-title,  .credit-artist-name a,  .credit-art-title a { font-size:12px}
 input[required] { border: 2px solid var(--alert-color) !important}
 select.form-control { padding: 0px 2px}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control,  select.form-control {
  background-color: var(--light-color) !important;
  border: 1px solid var(--border) !important}
 textarea.form-control { min-height: 3em!important}
 input::-webkit-outer-spin-button,  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0}
 input[type=number],  input[type=number]:focus { -moz-appearance: textfield; text-align:center}
 input.form-control {
   background-color: var(--light-color) !important;
   border: 1px solid var(--border) !important;
   height: 30px;
   margin: 6px 0px}
 input.form-control { min-width:30px; max-width: 90%; margin-left:4px}
 .table,  .card-body,  .card,  .table tr,  .table th { background: var(--light-color) !important; color: var(--dark-color) !important}
 .card-header:first-child { border-radius: 0}
 .btn { background:none!important; border: 0 !important}
 h1 { font-size:64px; line-height:70px; color: var(--highlight-color-one)}
 h2 { font-size:42px; line-height:45px; margin-top: 15px}
 h3 { font-size:42px; line-height:45px; padding-top:10px;}
 h4 { font-size:28px;}
 .subtitle { color:var(--highlight-color-two)}
 .var.od,  .var.ev { font-size: 20px; letter-spacing:1px}
 .attlbl { color: #A4743A; background-color: #E5D9C2; margin-top:2px}
 .mainlbl { text-shadow: 2px 2px #A0A0A0}
 .sheet-form .bclbl h3 { font-size:30px; text-align:center}
 .bclbl h3 { font-size:38px; text-align:center}
 .bclbl { color: var(--highlight-color-one) ; background-color: #E5D9C2; border-left: 6px solid var(--light-color)}
 .attb .var.od,  .attc .var.od,  .attb .ivar.od,  .attc .ivar.od { background:none;}
 .attb,  .attc { height:46px; margin-top:2px; border-left: 6px solid var(--light-color)}
 .attb { background-color: #E5D9C2}
 .attc { background-color: #EEE494}
 .attb .var,  .attc .var{ font-size:28px; background: none;}
.attc .ivar { padding-top: 10px }
 .ivar-base-foundation,  .attc .ivar { font-size:14px}
 .box1 { border:2px solid #A4743A; background: var(--light-color)}
 .listhdr { font-size:20px; letter-spacing: 1px; padding: 5px 5px}
 .listhdr.place { background-color: #D1ABFA}
 .listhdr.race,  .listhdr.estate,  .listhdr.oskills,  .listhdr.tskills,  .listhdr.lskills,  .listhdr.stuff { background-color: #E5D9C2}
 .var-race,  .var-place,  .var-estate { font-size: 48px}
 .row { margin-left: 0; margin-right: 0}
 .ui-resizable { height: auto !important}
 .form .card-header { font-size: 24px}
 input[required] { border: 2px solid var(--alert-color) !important}
 ::-webkit-input-placeholder { opacity: .5; color: var(--dark-color) !important}