{
   padding: 0px!important
}

.container-fluid {
   padding: 10px
}

.bs-sheet {
   font-family: Alegreya Regular;
   font-weight: 400;
   font-size: 16px;
   word-break: keep-all;
   color: #404040!important;
   background: url(https://www.worldanvil.com/i/1262723/render)
}

body, p, div, a, small, strong, span, .card-text {
   color: #404040!important
}

.card {
   margin: 2px
}

.card-body {
   padding: 10px;
   background-color: white
}

.card-header {
   margin: 0px;
   background-color: darkseagreen;
   text-align: center;
   box-shadow: -5px 5px 5px blackgrey;
   border-radius: 5px 5px 5px 5px;
}

table {
   border-spacing: 2px;
   border-collapse: separate;
}

.desc td {
   padding: 5px 0px 5px 0px
}

.hdr {
   font-weight: 800
}

.txt {}

.num {
   background-color: lightgrey;
   border-radius: 5px 5px 5px 5px;
}

.c {
   text-align: center
}

.r {
   text-align: right
}

.l {
   text-align: left
}

.odd {
   background-color: lightgrey;
}

.of {
   overflow-y: auto
}

td {
   padding: 4px!important
}

.mx40 {
   max-width: 40px;
   width: 40px
}

.mx70 {
   max-width: 70px;
   width: 70px
}

.mx80 {
   max-width: 80px;
   width: 80px
}

.ap {
   font-size: small;
   color: grey
}

.btn-secondary {
   color: black
}

.rolldice {
   margin: 2px 5px 0px 5px;
   font-family: Alegreya Regular;
   font-weight: 400;
   font-size: 18px;
   color: white!important;
   background: #2e4051!important
}

.form-control {
   padding: 2px 6px
}