<div class="container-fluid bs-sheet">
	<div class="row">
		<div class="col-12 col-xs-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="card-header">STATS</div>
				<div class="card-body">
<table>
                    <tr><td width="55%">Life Points</td><td><input value="{{ variables.life_points is defined ? variables.life_points }}" class="form-control num r" id="life_points" name="life_points" type="text" /><td></tr>
                    <tr><td>Power Points</td><td><input value="{{ variables.power is defined ? variables.power }}" class="form-control num r" id="power" name="power" type="text" /><td></tr>
                    <tr><td>Fate Stones</td><td><input value="{{ variables.fate_stones is defined ? variables.fate_stones }}" class="form-control num r" id="fate_stones" name="fate_stones" type="text" /><td></tr>
</table>
				</div>
			</div>
		</div>
		<div class="col-12 col-xs-12 col-md-6 col-lg-6">
			<div class="card my-2">
				<div class="card-header">NOTES</div>
				<div class="card-body">
					<p class="card-text"><textarea class="form-control" id="notes" name="notes" rows="10" placeholder="Notes">{{ variables.notes is defined ? variables.notes }}</textarea></p>
				</div>
			</div>
		</div>
	</div>
</div>