{
   border: none;
   padding: 0px!important;
}

body, div, p {
   background-color: white;
   color: #202020;
   font-size: 18px;
   font-family: PT Sans Narrow
}

a {
   color: #202020!important
}

.cyberpunkred-sheet {
   background-color: white
}

.noback {
   background-color: transparent!important
}

.noborder {
   border: none!important
}

.logo {
   background: url(https://www.worldanvil.com/uploads/images/584ad691b4b1bb8d2529cafe4b657526.png) center center no-repeat!important;
   height: 200px;
   background-size: contain!important;
   border: none
}

.xmatrix {
   background: url(https://www.worldanvil.com/uploads/images/3a6864e04ba1f2d32c1552d4d441da92.jpg)
}

.rolldice {
   padding: 2px;
   width: 50px;
   font-family: Orbitron;
   font-weight: 400;
   font-size: 18px;
   background-color: #202020;
}

.basicroll .rolldice {
   background-color: #a0a0a0;
}

.card {
   background-color: #FFE8E8;
   margin-top: 20px;
   color: #202020!important;
   border: 1px solid #CA1920
}

.card-header {
   background-color: #FFE8E8!important;
   padding: 2px;
   margin: 0px;
   font-family: Orbitron;
   font-weight: 400;
   font-size: 18px;
   color: #202020!important
}

.card-body {
   background-color: white!important;
   padding: 0px;
   margin: 0px;
   font-family: PT Sans Narrow;
   font-weight: 400;
   font-size: 18px;
   color: #202020!important
}

.form-control {
   margin-top: 1px;
   padding: 2px 2px 2px 4px
}

.sff {
   max-width: 80px;
}

.btn {
   color: #202020!important;
   background: none!important;
   border: none!important
}

.btn-dark.btn-block {
   color: #fff
}

td {
   padding: 0px
}

th {
   height: 20px;
   font-size: 18px;
   text-align: center;
   text-transform: uppercase
}

.l {
   text-align: left;
   padding-left: 10px
}

.c {
   text-align: center
}

.r {
   text-align: right;
   padding-right: 10px
}

.pd10 {
   padding: 10px
}

.pd {
   padding: 2px
}

.mt10 {
   margin-top: 10px
}

.head-bar {
   background: #202020;
   color: #ffffff;
   text-align: center;
   font-size: 28px;
   font-weight: 800;
   text-transform: uppercase;
   font-family: Orbitron
}

.lbl {
   background: #CAA0A0;
   padding: 2px 10px 2px 10px;
   border: 1px solid #CA1920;
   font-family: PT Sans Narrow;
   font-weight: 400;
   font-size: 18px
}

.att {
   background: #CA1920;
   color: white;
   padding: 2px 10px 2px 10px;
   border: 1px solid #CA1920;
   font-family: PT Sans Narrow;
   font-weight: 800;
   font-size: 18px
}

.num {
   padding: 2px 15px 2px 10px;
   text-align: right;
   border: 1px solid #CA1920
}

.hdr {
   background-color: #FFE8E8;
   color: black;
   padding: 2px 10px 2px 10px;
   border: 1px solid #CA1920;
   font-family: PT Sans Narrow;
   font-variant: small-caps;
   font-weight: 600;
   font-size: 18px
}

.txt {
   background: white;
   color: black;
   padding: 2px 5px 2px 10px;
   border: 1px solid #CA1920
}

.ev {
   background-color: white
}

.od {
   background-color: #FFF0F0
}

.tdr {
   padding: 2px 5px 2px 10px
}

.center {
   margin-left: auto;
   margin-right: auto
}

textarea.form-control {
   min-height: 2em!important;
}

a {
   text-decoration: underline
}

small, small a {
   color: white!important
}

.inputLabel {
   display: block;
   border-top: 1px #CA1920 dotted;
   text-transform: uppercase;
   font-size: 18px;
   font-weight: 800;
   padding: 2px 0px 2px 0px;
   margin-top: 3px;
}

.contentContainer {
   border: 2px #CA1920 solid;
   padding: 0;
   position: relative;
   margin-bottom: 10px;
   border-radius: 4px;
   background: white!important
}

.contentContainer-attribute .inputLabel {
   border: 0;
   margin: 0;
   padding: 0;
   display: block;
   text-transform: uppercase
}

.contentContainer-attribute, .contentContainer-attribute .rolldice {
   text-align: center;
   font-size: 24px;
}

.contentContainer-attribute .strong {
   font-family: Orbitron
}

.penalty {
   color: #CA1920
}

small, small a {
   color: black!important
}

.w20 {
   width: 20%;
   display: inline
}

.w40 {
   width: 40%;
   display: inline
}

.w70 {
   width: 70%;
   display: inline
}

.form-control, .form-control:focus {
   font-size: 18px!important
}