{
  border: none;
  padding: 0px!important;}
 body,  div,  p {
  font-size: 18px;
  font-family: PT Sans Narrow;}
 .cpred-sheet-light,  .cpred-sheet-light p,  .cpred-sheet-light .card,  .cpred-sheet-light [class*=card-b],  .cpred-sheet-light .txt,  .cpred-sheet-light .ev,  .cpred-sheet-light .contentContainer,  .cpred-sheet-light .card-header2,  .cpred-sheet-light .contentContainer-attribute .inputLabel {
  background-color: white!important;
  color: black!important;}
 .cpred-sheet-light small,  .cpred-sheet-light small a {
  background-color: white!important;
  color: black!important;
  font-size:14px!import;}
 .cpred-sheet-light {
  background-color: white!important;
  color: black!important;}
 .cpred-sheet-light .hdr,  .cpred-sheet-light .contentContainer-attribute {
  background-color: #CA1920;
  color: white;}
 .cpred-sheet-light .card-header,  .cpred-sheet-light .card-header2 {
  background-color: #FFE8E8!important;
  color: black;}
 .cpred-sheet-light .contentContainer-attribute .strong {
  background-color: white;
  color: #111111;}
 .cpred-sheet-light .card,  .cpred-sheet-light .lbl,  .cpred-sheet-light .att,  .cpred-sheet-light .num,  .cpred-sheet-light .hdr,  .cpred-sheet-light .txt,  .cpred-sheet-light .contentContainer {
  border: 1px solid #CA1920;
  color: black;
  background-color: white!important;}
 .cpred-sheet-light .hdr {
  background-color: #CA1920!important;
  color:white;}
 .cpred-sheet-light .att {
  background-color: #CA1920!important;
  color:white;}
 .cpred-sheet-light .rolldice {
  background-color: #222222;
  color: white;}
 .cpred-sheet-light .basicroll .rolldice {
  background-color: #a0a0a0;}
 .cpred-sheet-light .od,  .cpred-sheet-light .lbl,  .cpred-sheet-light .sklbl {
  background-color: #FFF0F0!important}
 .cpred-sheet-light .btn {
  color: #111111}
 .cpred-sheet-light .form-control,  .cpred-sheet-light .form-control:hover {
  color:black!important;
  background:white!important;}
 .cpred-sheet-dark,  .cpred-sheet-dark .card,  .cpred-sheet-dark [class*=card-b] {
  background: #222222; color:white;}
 .cpred-sheet-dark p,  .cpred-sheet-dark .ev,  .cpred-sheet-dark .contentContainer,  .cpred-sheet-dark .card-header2 {
  background-color: #111111!important;
  color: #F6ED03!important;}
 .cpred-sheet-dark small,  .cpred-sheet-dark small a {
  color: white!important;
  font-size:14px!important;}
 .cpred-sheet-dark .txt {
  background-color: #111111!important;
  color: white!important;}
 .cpred-sheet-dark .card-header,  .cpred-sheet-dark .hdr,  .cpred-sheet-dark .contentContainer-attribute,  .cpred-sheet-dark .head-bar {
  background-color: #F6ED03;
  color: #111111;}
 .cpred-sheet-dark .contentContainer-attribute .strong {
  background-color: #111111;
  color: white;}
 .cpred-sheet-dark .card,  .cpred-sheet-dark .lbl,  .cpred-sheet-dark .att,  .cpred-sheet-dark .num,  .cpred-sheet-dark .hdr,  .cpred-sheet-dark .txt,  .cpred-sheet-dark .contentContainer,  .cpred-sheet-dark .sklbl {
  border: 1px solid #F6ED03;
  color: white;
  background-color: #111111!important;}
 .cpred-sheet-dark .hdr {
  background-color: #111111;
  color: #61D4F5;}
 .cpred-sheet-dark .att {
  background: #F6ED03}
 .cpred-sheet-dark .rolldice {
  background-color: #F6ED03;
  color: #111111!important;}
 .cpred-sheet-dark .contentContainer-attribute .inputLabel,  .cpred-sheet-dark .lbl {
  color: #61D4F5}
 .cpred-sheet-dark .btn {
  color: #111111}
 .cpred-sheet-dark .card-header2 {
  background-color: #111111!important;
  color: #61D4F5!important}
 .cpred-sheet-dark .form-control,  .cpred-sheet-dark .form-control:hover {
  color: white!important;
  background: #444444!important;}
 .noborder {
  border: none!important}
 .logo {
  background: url(https://www.worldanvil.com/uploads/images/584ad691b4b1bb8d2529cafe4b657526.png) center center no-repeat!important;
  height: 200px;
  background-size: contain!important;
  border: none}
 .xmatrix {
  background: url(https://www.worldanvil.com/uploads/images/3a6864e04ba1f2d32c1552d4d441da92.jpg)}
 .rolldice {
  padding: 2px!important;
  width: 50px!important;
  font-family: Orbitron!important;
  font-weight: 400!important;
  font-size: 18px!important;}
 .card {
  margin-top: 20px;}
 .card-header,  .card-header2 {
  padding: 2px 2px 2px 10px;
  margin: 0px;
  font-family: Orbitron;
  font-weight: 400;
  font-size: 18px;}
 [class*=card-b] {
  padding: 0px;
  margin: 0px;
  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 18px;}
 .form-control {
  margin-top: 1px;
  padding: 2px 2px 2px 4px}
 .sff {
  max-width: 80px;}
 .btn {
  background: none!important;
  border: none!important}
 .btn-dark.btn-block {
  color: #fff}
 td {
  padding: 0px}
 th {
  height: 20px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase}
 .l {
  text-align: left;
  padding-left: 10px}
 .c {
  text-align: center}
 .r {
  text-align: right;
  padding-right: 10px}
 .pd10 {
  padding: 10px}
 .pd {
  padding: 2px}
 .mt10 {
  margin-top: 10px}
 .head-bar {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Orbitron}
 .lbl,  .sklbl {
  background: #CAA0A0;
  padding: 2px 10px 2px 10px;
  font-family: PT Sans Narrow;
  font-weight: 400;
  font-size: 18px}
 .att {
  padding: 2px 10px 2px 10px;
  font-family: PT Sans Narrow;
  font-weight: 800;
  font-size: 18px}
 .num {
  padding: 2px 15px 2px 10px;
  text-align: right;}
 .hdr {
  padding: 2px 10px 2px 10px;
  font-family: PT Sans Narrow;
  font-variant: small-caps;
  font-weight: 600;
  font-size: 18px}
 .txt {
  padding: 2px 5px 2px 10px;}
 .tdr {
  padding: 2px 5px 2px 10px}
 .center {
  margin-left: auto;
  margin-right: auto}
 textarea.form-control {
  min-height: 2em!important;}
 a {
  text-decoration: underline}
 .inputLabel {
  display: block;
  border-top: 1px #CA1920 dotted;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  padding: 2px 0px 2px 0px;
  margin-top: 3px;}
 .contentContainer {
  padding: 0;
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;}
 .contentContainer-attribute .inputLabel {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-transform: uppercase}
 .contentContainer-attribute,  .contentContainer-attribute .rolldice {
  text-align: center;
  font-size: 24px;}
 .contentContainer-attribute .strong {
  font-family: Orbitron}
 .penalty {
  color: #CA1920}
 .w20 {
  width: 20%;
  display: inline}
 .w40 {
  width: 40%;
  display: inline}
 .w70 {
  width: 70%;
  display: inline}
 .form-control,  .form-control:focus {
  font-size: 18px!important}
 .credit-artist-name { padding-left:10px}
 