{
  border: none;
  position: relative;
  color: #404040!important;
  padding: 0px!important;
  font-family: "IM Fell Double Pica";
  font-weight: 800;
  font-size: 20px;
  box-shadow:none;
}
 body,  p,  div,  a,  span,  small,  strong,  h1,  h2,  h3,  h4,  b {
  font-family: "IM Fell Double Pica"!important;
  font-weight: 800;
  color: #404040!important;
}
 .logo {
  width: 100%;
  height: 100px;
  background: url(https://www.worldanvil.com/i/1650847/render) center center no-repeat;
  background-size: contain;
  border: none}
 .form-control {
  height: unset}
 a {
  color: #b32f2f;}
 a:hover {
  color: #000;
  text-decoration: underline;}
 input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;}
 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}
 input[type=number] {
  -moz-appearance: textfield;
  font-size: 20px;}
 input.form-control {
  background-color: white !important;
  border: 1px solid #202020 !important;
  border-radius: 5px !important;
  color: #444 !important;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;}
 .talisman-sheet-box .form-control:focus {
  background-color: white!important;
  color: #000!important;}
 textarea.form-control {
  background-color: white !important;
  border: 1px solid #202020 !important;
  border-radius: 5px !important;
  color: #444 !important;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;}
 textarea.form-control:focus {
  background-color: white!important;
  color: #000!important;
  border: 1px solid #202020;
  border-radius: 5px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;}
 input.form-control:focus {
  background-color: white!important;
  color: #000!important;
  border: 1px solid #202020;
  border-radius: 5px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;}
 .content .form-control {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 18px;
  overflow-y: auto!important;
  white-space: pre-wrap;
  word-wrap: break-word;}
 .talisman-sheet-container {
  background: #e0ded480;
  padding: 10px;
  margin-bottom: 1em;}
 .talisman-sheet-container .form-group {
  margin: 0;}
 .footer-row div {
  margin-bottom: 10px;}
 .full-sheet {
  background: #f0efe6;
  color: #282828;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;}
 .top-row {
  padding: 0px 0px 0px 10px;}
 .top-row .col-md-3 .col-md-12 {
  padding: 0px 10px 0px 0px;}
 .top-row .col-md-3 .col-md-9 {
  padding: 0px 30px 0px 10px;}
 .top-row .col-md-3 .col-md-3 {
  padding: 0px 10px 0px 10px;}
 .top-row .col-md-2 {
  padding: 0px 20px 0px 20px;}
 .talisman-sheet-box .form-group {
  padding: 0px 10px;}
 .mainbox {
  padding: 20px 20px 10px 20px;
  background-color: #e0ded5;
  border-radius: 10px;
  border: 3px solid white;
  margin-bottom: 20px;
  text-align: center;}
 .ac-hp-init-speed .talisman-sheet-box {
  margin-bottom: 1em;}
 .ac-hp-init-speed input {
  border-radius: 10px;
  width: 100%;
  height: 60px;
  text-align: center;
  background: white!important;
  overflow: hidden;
  margin: 0px auto;}
 .profbonus {
  text-align: center;}
 .profbonus .form-control {
  text-align: center;
  margin-bottom: 0px!important;}
 .main-content-row .mainstats .talisman-sheet-box {
  background-color: #e0ded5;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid white;
  margin-bottom: 1em;}
 .main-content-row .mainstats .talismansheet-box .form-control {
  border-radius: 10px;
  width: 100%;
  height: 60px;
  text-align: center;
  background: white !important;
  overflow: hidden;
  margin: auto;
  color: #000}
 .main-content-row .col-md-8 .col-md-12 {
  padding-left: 30px;}
 .skillslist .form-group {
  margin-bottom: 1em;}
 hr {
  margin: 0;
  color: #770808;
  border: 1px #c9ad6a solid;
  margin-top: 12px;
  margin-bottom: 12px;}
 hr.hr-dark {
  border: 1px #58180d solid;}
 h1 {
  font-size: 1.6rem;
  color: #58180d;
  margin: 0;
  padding: 0;
  text-align: center}
 h2 {
  font-size: 20px;
  color: #58180d;
  border-bottom: 2px solid #c9ad6a;}
 h3 {
  margin: 0;
  margin-top: 15px;
  color: #7b2516;
  font-size: 20px;}
 h4 {
  margin: 0;
  color: #770808;
  font-family: 'Cinzel',  serif;
  font-size: 18px;
  text-transform: uppercase;}
 .inputContent {
  display: block;
  font-size: 18px;
  color: #58180d;
  padding: 2px 2px 2px 8px;}
 .inputContentHidden {
  font-size: 18px;
  color: #58180d;}
 .inputContentList {
  font-size: 18px;
  color: #58180d;
  float: right;}
 .inputContentForm {
  display: block;
  font-size: 18px;
  color: #58180d;
  padding: 2px 2px 0px 8px;}
 .inputContentFormList {
  font-size: 18px;
  color: #58180d;
  float: right;}
 .inputLabel {
  display: block;
  border-top: 1px #404040 dotted;
  text-transform: uppercase;
  font-size: 16px;
  padding: 2px 2px 2px 8px;
  margin-top: 3px;}
 .inputLabelList {
  font-size: 20px;
  padding-right: 20px;
  margin-top: 3px}
 .inputLabelTop {
  display: block;
  border-bottom: 1px #404040 dotted;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 2px;
  padding-left: 2px;
  margin-bottom: 3px;}
 .inputLabelForm {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 2px 2px 2px 8px;
  margin-top: 3px;}
 .inputLabelFormList {
  font-size: 20px;
  padding-right: 20px;
  margin-top: 3px}
 .inputLabelFormTop {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 2px;
  padding-left: 2px;
  margin-bottom: 3px;}
 .contentContainer {
  border: 1px #404040 solid;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #5a41250f;}
 .contentContainer-attribute .inputLabel {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-size: 18px;}
 .contentContainer-block .inputLabel {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center}
 .contentContainer-side .inputLabel {
  text-align: left;
  border: 0;
  padding: 0;
  padding-left: 10px;
  margin-left: 25px;
  margin-top: 3px;
  display: block;
  text-transform: uppercase;
  font-size: 18px;}
 .contentContainer-standard .inputLabel {
  text-align: center;
  padding: 0;
  padding-top: 3px;
  display: block;
  text-transform: uppercase;
  font-size: 18px;}
 .contentContainer-standard td {
  border: 0;
  padding: 4px;}
 .contentContainer-attribute {
  text-align: center;
  font-size: 24px;
  background-color: #ffffff40;}
 .contentContainer-attribute .subContainer {
  margin-top: 1em;
  font-size: 0.7em;
  display: block;}
 label {
  color: #751c13;}
 h1 {
  color: #751c13;}
 h2 {
  color: #751c13;}
 h3 {
  color: #751c13;}
 h4 {
  color: #751c13;}
 h5 {
  color: #751c13;}
 h6 {
  color: #751c13;}
 h1 p {
  margin: 0;}
 h2 p {
  margin: 0;}
 h3 p {
  margin: 0;}
 h4 p {
  margin: 0;}
 h5 p {
  margin: 0;}
 h6 p {
  margin: 0;}
 h1.talisman-sheet-header {
  font-size: 3.5rem;}
 p.talisman-sheet-description {
  margin: 0 0 10px;
  color: #8e8d88;
  padding-left: 10px;
  border-left: 3px #c1c0bc solid;
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 5px;}
 .talisman-sheet {
  padding: 20px;
  background-color: #f0efe6;
  border: 1px solid #760809;
  background: url(https://www.worldanvil.com/i/1076966/render) }
 .trackable {
  font-size: 16px;
  background-color: #f0efe6;
  padding: 10px;}
 .label-roller {
  color:white!important;
  box-shadow:none;
  background: #59190e;}
 .in-sm {
  width: 50px;
  display: inline-flex;
  margin-left: 40px}
 .in-md {
  width: 100px;
  display: inline-flex;
  margin-left: 40px}
 .floatright {
  float: right}
 .pb {
  width: 25px;
  height: 25px}
 .of {
  overflow-y: auto}
 .ev {
  background-color: #e0d7d070}
 .od {
  background-color: #f0e8e080}
 .w90 {
  width: 90px}
 a {
  color: #404040!important}
 .contentContainer {
  -webkit-box-shadow: 0 8px 6px -6px #404040;
  -moz-box-shadow: 0 8px 6px -6px #404040;
  box-shadow: 0 8px 6px -6px #404040}
 .artist-credits {
  font-size: 14px}
 .rolldice {
  color:white;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  background: #59190e!important;
  padding: 4px 8px 4px 8px!important}
 h1,  h2,  h3,  h4,  h5,  small,  strong,  em,  b {
  -webkit-text-fill-color: #404040}
 .small,  .small a {
  font-size: 16px!important}
 .portrait {
  padding: 30px}
 .contentContainer-block {
  text-align: left;
  font-size: 20px;
  background-color: #ffffff40;}
 .c {
  text-align: center}
 .r {
  text-align: right}
 .l {
  text-align: left}
 .fr {
  float: right}
 .strong {
  font-size: 24px!important}
 .mb1 {
  margin-bottom: 10px}
 input.form-control,  textarea.form-control,  textarea.form-control:focus,  input.form-control:focus,  select.form-control {
  font-size: 20px!important;
  background-color: #f0eee5 !important;
  border: 1px solid #606060 !important;
  border-radius: 5px !important;
  color: #444 !important;
  max-width: 100%;}
 .br { border-right: 2px solid black; margin-right:10px}
 .trackable  .form-control { padding: 2px 2px;}
 .tb { border: 1px dotted black}
 .form-control {
  margin-bottom: 0px!important;}
 textarea.form-control {
    min-height: 3em!important;}
 select.form-control:not([size]):not([multiple]) {
  height: 2.65rem;}
.table-striped th { color:white!important; background: black;
border-bottom: 3px solid black!important;
}