 {
  background-color: #ffffff;
  padding: 20px;
  color: #313131;
}

.system-logo {
	max-width:250px;
}

.full-sheet {
	padding: 5px;
}

.character-subheader {
    color: #000;
}

.vmr-1 {
    margin-right: .1rem!important;
}
 
h1 {
    font-size: 28px;
    color: #8a0d0d;
}

h2 {
    font-size: 24px
    margin-top: 25px;
    color: #8a0d0d !important;
    border-bottom: 1px #8a0d0d solid;
}

h3 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 19px;
}

h4 {
    display: block;
    margin-top: 25px;
    text-transform: none;
    font-size: 18px;
    font-weight: 300;
    color: #8a0d0d;
}

h5 {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px dashed #566980;
}

.discipline-description {
    height: 100px;
    overflow: auto;
    padding:10px;
}

.sheet-key-value {
    margin-bottom: 10px;
}

.sheet-key {
    font-size: 1.2em;
}

.sheet-value {
	font-size: 1.2em;
	font-weight: bold;
}

.box-extras {
	margin-top: 25px;
	border: 1px #000 solid;
	padding: 20px;
}

h4.trackable-header {
    color: #a7272b;
    font-size: 1.25em;
}

/* Form */
.form-horizontal {

}


 input[type=number] {
    -moz-appearance:textfield;

  font-size: 12px;}
 input.form-control {
    background-color: #e0ded5 !important;
    border: 0px solid #c5c4bb !important;
    border-radius: 5px !important;
    color: #444 !important;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}

 textarea.form-control {
    background-color: #e0ded5 !important;
    border: 0px solid #c5c4bb !important;
    border-radius: 5px !important;
    color: #444 !important;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 textarea.form-control:focus{    
  background-color: #d6d4ca!important;
    border: 0px solid #c5c4bb;
    border-radius: 5px;
    color: #000!important;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 input.form-control:focus{    
  background-color: #d6d4ca!important;
    border: 0px solid #c5c4bb;
    border-radius: 5px;
    color: #000!important;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 .content .form-control {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
    overflow-y: auto!important;
    white-space: pre-wrap;
    word-wrap: break-word;
}


