.header-box {
    background-color: black;
    color: white;
    padding-left: 10px;
    border-radius: 4px;
}

.property-box {
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 5px 5px 0;
}

.bottom-margin {
    margin-bottom: 5px;
}

.skill-row {
    width: 100%;
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-left: 0;
    min-height: 55px;
}

.skill-level {
    display: flex;
    align-items: center;
    min-width: 80px;
    margin-left: 5px;
}

.fill-form .skill-level {
    min-width: 20px;
    padding: 0;
}

.skill-roll {
    display: flex;
    align-items: center;
    min-width: 20px;
}

.skill-name {
    display: flex;
    align-items: center;
    min-width: 12%;
    margin-left: 5px;
}

.fill-form .skill-name {
    padding: 0;
}


.full-text-field {
    min-height: 200px;
}

.hidden {
    display: none;
}

select.form-control {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    border-radius: 2px;
}

.consequence-label {
    padding-right: 5px;
    padding-left: 15px;
    font-weight: bold;
    width: 30%;
}

.consequence-text {
    padding-right: 5px;
    padding-left: 5px;
}

input.consequence-text {
    width: 50%;
}

.consequence-box-height {
    height: 225px;
}

.stress-column input[type=checkbox] {
    display: none;
}

.stress-column input[type=checkbox] + label {
    cursor: pointer;
    width: 73px;
    height: 62px;
    display: inline-block;
    margin-left: 10px;
    background-position: left 0 !important;
}

.stress-column input[type=checkbox]:checked + label {
    background-position: left -62px !important;
}

#input_box_label_1 {
    background: url('https://www.worldanvil.com/uploads/images/f121c92aacc4c6e0c09b81e4868b99a9.png') no-repeat 0 0;
}

#input_box_label_2 {
    background: url('https://www.worldanvil.com/uploads/images/0f0b870af2a34beb0f7cda5eabc22251.png') no-repeat 0 0;
}

#input_box_label_3 {
    background: url('https://www.worldanvil.com/uploads/images/fe841ccb834a3e530364a06d9a7130fb.png') no-repeat 0 0;
}

#input_box_label_4 {
    background: url('https://www.worldanvil.com/uploads/images/d18f5a87b23b28c08a66e3adbc473e25.png') no-repeat 0 0;
}

.checkbox-opacity {
    opacity: 50%;
}



