{
    padding: 0px!important
}

body, p div, small, h4, .card-text {
    color: #404040!important;
    -webkit-text-fill-color: #404040
}

.dishonored-sheet {
    background-color: transparent;
    background: url(https://www.worldanvil.com/i/1073214/render)
}

.logo-frame {
    padding-top: 30px
}

.logo {
    width: 100%;
    opacity: 0.8;
    margin: 10px;
    padding-top: 40px;
    background: url(https://www.worldanvil.com/i/1173550/render) center center no-repeat;
    background-size: contain;
    height: 300px;
}

body, b, p, h1, h2, h3, h4, h5, span {
    font-family: Helvetica!important;
    color: #404040!important
}

body {
    font-size: 1.8em
}

.form-control {
    color: black;
    background: white;
    font-size: 20px;
    height: 30px;
    padding: 1px 5px 1px 5px;
    display: inline
}

.form-wrapper {
    font-size: 10px
}

.card {
    background-color: white;
    padding: 0px;
    margin: 10px 0px 10px 0px;
    opacity: 0.9;
    border: 1px solid #008080!important;
    box-shadow: 5px 5px 5px #608080;
    border: none
}

.card-title {
    font-size: 1.2em!important;
    font-weight: 800;
    text-align: center
}

.card-body {
    background-color: white
}

.card-text {
    font-size: 1.2em!important;
    padding: 10px
}

h2 {
    font-size: 3em
}

.table-responsive {
    overflow: hidden
}

.table-borderless {
    width: 370px;
    min-width: 370px
}

.attribute-name {
    width: 310px;
    color: white;
    font-size: 1em;
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase
}

.attribute-value {
    width: 60px;
    color: white;
    font-size: 1.8em;
    text-align: right;
    padding-right: 17px
}

tr {
    background-image: url(https://www.worldanvil.com/i/1073210/render)!important;
    background-size: contain!important;
    background-position: right!important;
    background-repeat: space!important;
    height: 130px;
    min-height: 130px!important
}

span.value {
    font-weight: 800
}

.dishonored-character-trackable .card-body {
    padding: 2px!important
}

.dishonored-character-trackable .form-control.num {
    width: 40px
}