{% extends 'RPGSRDBundle:Templates:base.html.twig' %}

{% block body %}

<h4>{{ variables.name }}</h4>
<p>{{ variables.story }}</p>
<p>{{ variables.roleplay }}</p>
<p>{{ variables.benefits }}</p>

{% endblock %}
